{% if entityPath is not null %}
    <a href="{{ path(entityPath, {'id': entityId}) }}"
       class="d-inline-flex align-items-center origin"
       onclick="event.stopPropagation()"
       target="_blank">
        <i class='fas fa-share-square mr-2'></i>
        <span class="flex-fill">
            {% if fromLabel is defined %}
                <span>{{ fromLabel }}</span>
                <br/>
            {% endif %}
            <span>{{ from|escape('html')|raw }}</span>
        </span>
    </a>
{% elseif from is not null %}
    <span>{{ from }}</span>
{% endif %}
