{% extends 'layout.html.twig' %}

{% block title %}Anomalies{% endblock %}

{% block page_content %}
    <div class="m-4 datatable-container shadow-lg">
        <div class="row">
            <h1 class="col align-self-start ml-2">Anomalies</h1>
            <div class="col-auto">
                <a href="{{ path ('inventory_mission_index') }}" class="btn btn-primary btn-ripple">
                    Retour aux missions
                </a>
            </div>
            <div class="col-12">
                <table id="tableAnomalies" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    {% include 'inventaire/modalTreatAnomaly.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/anomalie-inventaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
