{% extends 'layout.html.twig' %}

{% block title %}Anomalies{% endblock %}

{% block page_content %}
    <h1 class="mb-5">Anomalies</h1>

    <table id="tableAnomalies" class="table table-striped table-bordered w-100">
    </table>

    <a href="{{ path ('inventory_mission_index') }}" class="btn btn-action">
        Retour aux missions
    </a>

    {% include 'inventaire/modalTreatAnomaly.html.twig' %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/anomalie-inventaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}