{% extends 'layout.html.twig' %}

{% block title %}Stock | Inventaire | Anomalies{% endblock %}

{% block page_content %}
    <div class="m-4 datatable-container">
        <div class="row datatable-header">
            <div class="col-auto ml-auto">
                <a href="{{ path ('inventory_mission_index') }}" class="btn btn-primary btn-ripple">
                    Retour aux missions
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableAnomalies" class="table w-100"></table>
            </div>
        </div>
    </div>
    {% include 'inventaire/modalTreatAnomaly.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/anomalie-inventaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
