{% extends 'layout.html.twig' %}

{% block title %}Stock | Inventaire | Anomalies{% endblock %}
{% block titleLink path('inventory_mission_index') %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row">
            <div class="col-12">
                <table id="tableAnomalies" class="table w-100"></table>
            </div>
        </div>
    </div>
    {% include 'inventaire/modalTreatAnomaly.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/anomalie-inventaire.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
