<div class="d-flex">
    <div>
        <a href="{{ path('entry_index', {'id': missionId}) }}">
            <div class="btn btn-col-action">
                <i class='fas fa-eye'></i>
            </div>
        </a>
    </div>

    <div>
        <a href="{{ path('inventory_entry_index', {'id': missionId}) }}">
            <div class="btn btn-col-action">
                <i class='fas fa-clipboard-list'></i>
            </div>
        </a>
    </div>
</div>
