<div class="d-flex">
    <div class="dropdown dropright">
        {{ include('datatable/dotsRow.html.twig') }}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div class="dropdown-item d-flex align-items-center"
                 data-id="{{ id }}"
                 onclick="openShowScannedArticlesModal($(this))">
                {{ trans('Général', null, 'Modale', 'Voir articles') }}
            </div>
        </div>
        <div class="d-none">
            <a href='' class="d-none action-on-click" data-id="{{ id }}" onclick="openShowScannedArticlesModal($(this))"></a>
        </div>
    </div>
</div>
