<form  class="modal fade" id="modalTreatAnomaly" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Traiter une anomalie"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group d-flex flex-column col-12 col-md-6">
                        <span class="wii-field-name ref-title">Code barre</span>
                        <span class="wii-field-text barcode"></span>
                    </div>
                    <div class="form-group d-flex flex-column col-12 col-md-6">
                        <span class="wii-field-name">Référence article</span>
                        <span class="wii-field-text reference"></span>
                    </div>
                    <div class="form-group d-flex flex-column col-12 col-md-6">
                        <span class="wii-field-name">Quantité</span>
                        <span class="wii-field-text quantity"></span>
                    </div>
                    <div class="form-group d-flex flex-column col-12 col-md-6">
                        <span class="wii-field-name">Emplacement</span>
                        <span class="wii-field-text location"></span>
                    </div>

                    <div class="col-12 form-group">
                        <label class="wii-field-name">Quantité relevée*</label>
                        <input type="number" class="form-control data needed" name="newQuantity" min="0">
                    </div>

                    <div class="form-group col-12">
                        <label class="wii-field-name">Commentaire</label>
                        <textarea class="form-control data" name="comment" id="comment" rows="3"></textarea>
                    </div>
                </div>
                <input class="isRef data" name="isRef" hidden>
                <input class="idEntry data" name="id" hidden>
                <input class="data" name="barcode" hidden>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Valider', id: 'submitTreatAnomaly'}
                ],
            } %}

        </div>
    </div>
</form>
