<form class="modal fade" id="modalNewMission" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Ajouter une mission"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-12">
                        <label class="wii-field-name">Libellé*</label>
                        <input type="text" class="form-control data needed" name="name">
                    </div>

                    <div class="mb-3 form-group col-12">
                        <label class="wii-field-name">Date prévue de début*</label>
                        <input type="date" class="data form-control needed" name="startDate">
                    </div>

                    <div class="mb-3 form-group col-12">
                        <label class="wii-field-name">Date prévue de fin*</label>
                        <input type="date" class="data form-control needed" name="endDate">
                    </div>
                </div>
            </div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitNewMission" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
