<form class="modal fade" id="modalDeleteRefFromMission" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer la référence de la mission"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette reference de la mission ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteRefFromMission" name='missionData' data-dismiss="modal" class="btn btn-danger data">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</form>
