<form method="" class="modal fade" id="modalTreatAnomaly" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Traiter une anomalie"
            } %}

            <div class="modal-body modal-input container-fluid row">
                <div class="form-group col-12">
                    <span class="ref-title">Code barre</span>&nbsp;<input class="barCode data no-disabled" name="barCode" disabled>
                </div>
                <div class="form-group col-12 mt-2 mb-4">
                    Référence article&nbsp;:&nbsp;<span class="reference bold"></span>
                </div>
                <div class="form-group col-12">
                    Quantité&nbsp;:&nbsp;<span class="quantity bold"></span>
                </div>
                <div class="form-group col-12 mt-2 mb-4">
                    Emplacement&nbsp;:&nbsp;<span class="location"></span>
                </div>

                <div class="form-group col-12">
                    <div class="input-group radio-btn">
                        <div class="form-group">
                            <label hidden>Quantité</label>
                            <span class="btn h-100" data-toggle="choice"
                                         data-title="confirm">Saisir la quantité
                                <input type="number" class="form-control inline data pr-0 needed" name="newQuantity" min="0">
                            </span>
                        </div>
                        <div class="form-group w-100 comment">
                            <label for="comment">Commentaire</label>
                            <textarea class="form-control data" name="comment" id="comment" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <input class="isRef data" name="isRef" hidden>
                <input class="idEntry data" name="id" hidden>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Valider', id: 'submitTreatAnomaly'}
                ],
            } %}

        </div>
    </div>
</form>
