<div class="modal fade" id="modalNewMission" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter une mission"
            } %}

            <div class="modal-body modal-input container-fluid">
                {% include 'inventaire/formInventoryMission.html.twig' with { mission : newMission } %}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewMission', type: 'submit'}
                ],
            } %}

        </div>
    </div>
</div>
