<form class="modal fade" id="modalDeleteRefFromMission" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer la référence de la mission"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette reference de la mission ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', dismiss: true, name: 'missionData',
                          id: 'submitDeleteRefFromMission', text: 'Supprimer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
