<div class="modal fade" id="modalAddLocationToMission" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter des emplacements"
            } %}

            <input type="text" class="data" value="{{ missionId }}" name="missionId" hidden>
            <div class="modal-body modal-input container-fluid">
                <label class="wii-field-name" for="">Choix des emplacements : </label>
                <select class="ajax-autocomplete w-100 data form-control wii-field-text"
                        name="emplacements"
                        multiple
                        data-s2="location">
                </select>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitAddLocationToMission'}
                ],
            } %}
        </div>
    </div>
</div>
