<form method="" class="modal fade" id="modalAddToMission" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter des références et des articles"
            } %}

            <input type="text" class="data" value="{{ missionId }}" name="missionId" hidden>
            <div class="modal-body modal-input container-fluid">
                <label for="">Codes barre articles/références : </label>
                <input type="text" name="articles" class="form-control data">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitAddToMission'}
                ],
            } %}

        </div>
    </div>
</form>
