<form method="" class="modal fade" id="modalAddToMission" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter des références et des articles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="text" class="data" value="{{ missionId }}" name="missionId" hidden>
            <div class="modal-body modal-input container-fluid">
                <label for="">Articles : </label>
                <select name="articles" class="form-control ajax-autocomplete-article data select2 w-100" id="articlesSelect" multiple="multiple">
                </select>
            </div>
            <div class="modal-body modal-input container-fluid">
                <label for="">Références articles : </label>
                <select name="refArticles" class="form-control ajax-autocomplete-refArticle data select2 w-100" id="refArticlesSelect" multiple="multiple">
                </select>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitAddToMission" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
