{% extends 'layout.html.twig' %}

{% block title %}Références et articles de la mission{% endblock %}

{% block page_content %}
    {#fermeture de la div de layout pour fermer le container et ne pas avoir de bordure#}
    </div>

    {% include 'filters/filtersMissionInv.html.twig' with {'btnName' : 'submitSearchMissionRef'} %}

    <div class="container-fluid">

        <h1>Références et articles de la mission</h1>

        <div class ="row">
            <a href="" data-toggle="modal" data-target="#modalAddToMission" class="btn btn-primary" onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete-refArticle')), ajaxAutoArticlesInit($('.ajax-autocomplete-article'))">
                <span class="fa fa-plus mr-2"></span>Ajouter des références ou des articles
            </a>
            <div class="btn btn-primary" onclick='generateCSVMission()'>
                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
            </div>
        </div>

        <table id="tableMissionInv" class="table table-striped table-bordered w-100">
        </table>

        <input value="{{ missionId }}" id="missionId" hidden>
    </div>

    <a href="{{ path('inventory_mission_index') }}" class="btn btn-action">
        Retour à la liste
    </a>

    {% include 'inventaire/modalAddToMission.html.twig' %}
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/mission-inventaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}