{% extends 'layout.html.twig' %}

{% block title %}Références et articles de la mission{% endblock %}

{% block page_content %}
    <h1 class="mb-5">Références et articles de la mission</h1>

    <input value="{{ missionId }}" id="missionId" hidden>
    <table id="tableMissionInv" class="table table-striped table-bordered w-100">
    </table>

    <a href="{{ path('inventory_mission_index') }}" class="btn btn-action">
        Retour à la liste
    </a>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/mission-inventaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}