<div class="modal fade" id="modalCancelReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Ordre', 'Réception', 'Annuler la réception', false)
            } %}

            <div class="modal-body">
                <p>
                    Voulez-vous réellement annuler <span title="cette réception">{{ trans('Ordre', 'Réception', 'cette réception', false) }}</span> ?
                </p>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {input: true, classes: 'data', name: 'receptionId',  value: reception.id},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Retour'},
                    {classes: 'btn btn-danger data', text: 'Confirmer', id: 'submitCancelReception', dismiss: true}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
