<div class="modal fade" id="modalFinishReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Valider <span title="la réception">' ~ trans('Ordre', 'Réception', 'la réception', false) ~ '</span>'
            } %}

            <div class="modal-body">
                {{ trans('Ordre', 'Réceptions', 'Cette réception contient des articles à finir de réceptionner.', false) }}<br>{{ trans('Ordre', 'Réceptions', 'Êtes-vous sûr de vouloir la finir ?', false) }}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'},
                    {classes: 'btn btn-success', text: 'Valider', dismiss: true, event: "finishReception(" ~ reception.id ~ ", true, $('#finishReceptionButton'))"}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
