<div class="row allow-expand">
    <div class="col-4">Source : <span class="bold">{{ source }}</span></div>
    <div class="col-4">Date et heure <span class="bold">{{ triggered | date('d/m/Y H:i:s') }}</span></div>
</div>
<div class="mt-4 allow-expand no-ellipsis">
    <div class="bg-lightGrey bold p-2" style="white-space: break-spaces">{{ content }}</div>
</div>
