<div class="notification-modal" style="display: none;" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl shadow-lg" role="document">
        <div class="modal-content pointer p-2"  onclick="clickNotification(event)">
            <div class="row">
                <div class="col-2 text-center">
                    <div class="d-flex align-items-center h-100">
                        <img src="" class="notification-image" alt="" width="50px" height="50px"
                             style="margin: auto">
                    </div>
                </div>
                <div class="col-10 pl-0">
                    {% include('utils/modal/header.html.twig') with {
                        headerClasses: 'py-0 border-bottom-0',
                        titleClasses: 'notification-title'
                    } %}
                    <div class="modal-body py-0" style="border-top: 0 none;">
                        <p class="notification-content"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
