<div class="frequency every-week-frequency">
    <div class="col-12 p-3 form-inline form-group">
        <label class="wii-field-name">Démarrer le*</label>
        <input type="datetime-local"
               class="form-control form-control-sm ml-2 frequency-data"
               name="weekly-start-on"
               title="Démarrer le"
               placeholder="jj/mm/aaaa"
               min="now"
               value=""/>
    </div>

    <div class="form-inline">
        <div class="col-12 p-3">
            Répéter toutes les
            <input type="number"
                   name="weekly-frequency-interval"
                   class="form-control form-control-sm mx-2 w-px-50 mb-2 frequency-data"
                   data-label="Intervalle de jours"
                   value=""
                   min="1">
            semaines à
            <input type="time"
                   name="weekly-frequency-time"
                   class="form-control form-control-sm mx-2 w-px-100 mb-2 frequency-data"
                   data-label="Heures et minutes"
                   value="">
            le :
            <select name="weekly-frequency-days-week"
                    class="form-control select2 w-100 mt-2 frequency-data"
                    multiple
                    data-label="Jours de la semaine">
                {% set day = date('monday this week') %}
                {% for dayIndex in 1..7 %}
                    {% set dayLabel = day %}
                    <option value="{{ dayIndex }}">
                        {{ dayLabel | format_date('none', 'EEEE', null, 'gregorian', 'fr') | capitalize }}
                    </option>
                    {% set day = day | date_modify('+1 day') %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
