<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div class="d-none">
                <div class="action-on-click" data-id='{{ statusId }}' data-toggle='modal' data-target='#modalEditStatus'
                     onclick="clearErrorMsg($('#submitEditStatus')), editRow($(this), Routing.generate('status_api_edit', true), $('#modalEditStatus'), $('#submitEditStatus'), false, '.editor-container-edit', false, () => {hideOptionOnChange($('#modalEditStatus'), false)})">
                    <i class='fas fa-pencil-alt'></i>
                </div>
            </div>
            <div onclick="checkAndDeleteRow($(this), '#modalDeleteStatus', 'status_check_delete', '#submitDeleteStatus')"
                 data-id='{{ statusId }}' data-target='#modalDeleteStatus' data-toggle='modal' class="dropdown-item">
                    <i class='fas fa-trash mr-2'></i>Supprimer
            </div>
        </div>
    </div>
</div>
