{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | statuts litiges{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row">
            <h1 class="col align-self-start ml-2"></h1>
            <div class="col-auto mb-3">
                <a href="" data-toggle="modal" data-target="#modalNewStatus" class="btn btn-primary btn-ripple">
                    <span class="fa fa-plus mr-2"></span>Nouveau statut
                </a>
            </div>

            <div class="col-12">
                <table id="tableStatus" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include 'status/modalNewStatus.html.twig' %}
    {% include 'status/modalEditStatus.html.twig' %}
    {% include 'status/modalDeleteStatus.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/status.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
