{% set show = show is defined and show ? '' : 'd-none' %}

<div class="sa bookmark-icon bookmark-question m-auto {{ show }}">
    <div class="sa-wrapper sa-info">
        <div class="sa-info-body"></div>
        <div class="sa-info-mark"></div>
    </div>
</div>
