{% set show = show is defined and show ? '' : 'd-none' %}

<div class="sa bookmark-icon bookmark-warning m-auto {{ show }}">
    <div class="sa-wrapper sa-warning">
        <div class="sa-warning-body"></div>
        <div class="sa-warning-dot"></div>
    </div>
</div>
