{% extends 'layout.html.twig' %}

{% block title %}Panier{% endblock %}

{% block page_content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 50px;">
        <div class="row wii-large-column">
            <div class="col-12 col-md-4">
                <div class="wii-box">
                    <div class="header wii-title">Demande</div>
                    <div class="content">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="wii-box">
                    <div class="header wii-title">Références</div>
                    <div class="content">
                    </div>
                </div>
                <button class="btn btn-success float-right mt-3" onclick="validateCart()">
                    Valider mon panier
                </button>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{ app.user.cart.references | length }}" id="cart-refs-count"/>
    {% include 'cart/modalAddToRequest.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/cart.js') }}?v={{ web_version }}"></script>
{% endblock %}
