{% extends 'layout.html.twig' %}

{% block title %}Panier{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-ripple d-none add-cart-to-request" data-target='#modalAddToRequest' data-toggle='modal'>
                        <i class="fa fa-plus mr-2"></i>
                        Ajouter à une demande
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="cartTable" class="table w-100"></table>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ app.user.cart.references | length }}" id="cart-refs-count"/>
    {% include 'cart/modalAddToRequest.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/cart.js') }}?v={{ web_version }}"></script>
{% endblock %}
