{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <div id="app">
        <div class="error_wrapper">
            <h1 class="glitch" data-text="ERROR">ERROR</h1>
            <div class="sub">INTERNAL SERVER ERROR</div>
            <a href="{{ path('check_last_login') }}">Retour</a>
        </div>
    </div>
{% endblock %}