{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <h1>Page not found 500</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('check_last_login') }}">return to the homepage</a>.
    </p>
{% endblock %}