<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Bon de surconsommation pied de page</title>
        <meta charset="UTF-8"/>
        <style>

            * {
                font-family: Arial, sans-serif;
            }

            .footer {
                width: 34.4cm;
                height: 4cm;
            }

            .footer .left-footer {
                float: left;
                width: 50%;
            }

            .footer .right-footer {
                float: right;
                width: 50%;
            }

            .bigger {
                font-size: 1.5rem;
            }

            .warning {
                display: block;
                margin-top: 3mm;
                font-weight: bold;
                font-size: 1.4rem;
                color: red;
                text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        <div class="footer">
            <div class="left-footer">
                <span class="warning">Document à ne pas dissocier de l'OF</span><br/><br/>

                <b>Rappel :</b><br/>
                1 à 5 lignes : service sous 15 minutes après demande aux équipes GT<br/>
                6 lignes et + : demande sous OF, service dans l'heure (fonction du nb de ligne)
            </div>
            <div class="right-footer bigger">
                Visa et nom opérateur magasin :<br/>
                Date :
            </div>
        </div>
    </body>
</html>
