<div class="d-none">
    <div class="action-on-click"
         data-id='{{ lineId }}'
         data-target='#modalEditPurchaseRequestLine'
         data-toggle='modal'
         onclick="editRow($(this), Routing.generate('purchase_request_line_edit_api', true), $('#modalEditPurchaseRequestLine'), $('#modalEditPurchaseRequestLine').find('.submit-button'), false, '.editor-container-edit', false, callbackEditLineLoading)">
        <i class='fas fa-eye'></i>
    </div>
</div>
