<div method="" class="modal fade" id="modalDeletePurchaseRequestLine" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer cette référence"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette référence ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {input: true, classes: 'data', name: 'request', value: request.id},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn data btn-danger submit-button', text: 'Suprimer', name: 'lineId'}
                ],
                renderErrorContainer: false
            } %}
        </div>
    </div>
</div>
