<div method="" class="modal fade" id="modalDeletePurchaseRequestLine" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer cette référence"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette référence ?
            </div>
            <div class="modal-footer">
                <input type="hidden" class="data" name="request" value="{{request.id}}">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button name="lineId" type="button" class="btn data btn-danger submit-button" value="">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>
