<!-- Modale Modification de quantité à collecter d'un article -->
<div method="" class="modal fade" id="modalEditPurchaseRequestLine" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier une ligne de demande d'achat"
            } %}

            <div class="modal-body">
            </div>
            <div class="pl-2 error-msg"></div>
            <div class="modal-footer">
                <div class="btn btn-outline-secondary" data-dismiss="modal">Annuler</div>
                <button name="lineId" type="button" class="btn data btn-success submit-button" value="">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
