<!-- Modale Modification de quantité à collecter d'un article -->
<div method="" class="modal fade" id="modalEditPurchaseRequestLine" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier une ligne de demande d'achat"
            } %}

            <div class="modal-body">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn data btn-success submit-button', text: 'Enregistrer', name: 'lineId'}
                ],
            } %}

        </div>
    </div>
</div>
