<div class="modal fade" id="modalAddPurchaseRequestLine" role="dialog" aria-hidden="true" >
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter une référence"
            } %}

            <div class="modal-body modal-input container-fluid">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label class="wii-field-name" for="add-article-reference" title="référence">
                                {{ trans('Stock', 'Références', 'référence', false) }}*
                            </label>
                            <div class="w-100">
                                <select class="ajax-autocomplete form-control data needed" name="reference"
                                    onchange="onReferenceChange($(this))" id="add-article-reference">
                                </select>
                            </div>
                        </div>
                        <div id="add-article-code-selector" class="col-12 clear"></div>
                    </div>
                    <div class="row line-form-following-container d-none">
                        <div class="form-group col-6">
                            <label class="wii-field-name">Libelle</label>
                            <input type="text" disabled class="w-100 form-control" name="label" title="Libellé">
                        </div>
                        <div class="form-group col-6">
                            <label class="wii-field-name">Emplacement</label>
                            <select class="ajax-autocomplete data w-100 form-control" name="location" data-s2 data-parent="body"></select>
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label class="wii-field-name">Quantité en stock</label>
                            <input type="text" disabled class="w-100 form-control" name="stockQuantity" title="Quantité en stock">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label class="wii-field-name">Acheteur</label>
                            <input type="text" disabled class="w-100 form-control" name="buyer" title="Acheteur">
                        </div>
                        <div class="form-group col-12">
                            <label class="wii-field-name">Quantité demandée*</label>
                            <input type="number" class="w-100 form-control data needed" min="1" name="requestedQuantity" title="Quantité demandée">
                        </div>
                    </div>
                </form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn data btn-success submit-button', text: 'Ajouter', value: request.id, disabled: true, name: 'request'}
                ],
            } %}

        </div>
    </div>
</div>
