{% extends 'layout.html.twig' %}

{% block title %}Dimensionnement{% endblock %}

{% block page_content %}

	<div class="row page-title">
		DIMENSIONNEMENT
	</div>

	<div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="input-group">
                    <label class="input-group-addon">
                        Entrepôt
                    </label>
                    <select name="Ordre" class="form-control" required>
                        <option value="Préparation">Entrepôt 1</option>
                        <option value="Réception">Entrepôt 2</option>
                    </select>
                </div>
            </form>
        </div>
    </div>		

    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Allées</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 1</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 2</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 3</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 4</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 5</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 6</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 7</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 8</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 9</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 10</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 11</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 12</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 13</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 14</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 15</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 16</h3>
                                </div>        
                            </a>
                        </div>
                        <a class="list-footer" href="#" data-toggle="modal" data-target="#ajoutAlleeModal">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvelle allée
                        </a>
                    </div>
                </div>
                <div class="list-wrapper-rack">
                    <div class="list">
                        <div class="list-header">Travées</div>
                        <div class="list-cards-row workflow-sidebar-row">
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 1</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 2</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 3</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 4</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 5</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 6</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 7</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                     <h3>Travée 8</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 9</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 10</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 11</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 12</h3>
                                </div>
                            </a>
                        </div>
                        <a class="list-footer" href="#" data-toggle="modal" data-target="#ajoutTraveeModal">
                            <span class="fa fa-plus"></span>
                                Ajouter une nouvelle travée
                        </a>
                    </div>
                </div>
                <div class="list-wrapper-rack">
                    <div class="list">
                        <div class="list-header">Racks</div>
                            <div class="list-cards-rack workflow-sidebar">
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 1</h3>
                                        4 emplacements
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 2</h3>
                                        4 emplacements                                                    
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 3</h3>
                                        4 emplacements                                                   
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 3</h3>
                                        4 emplacements
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 4</h3>
                                        4 emplacements
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 4</h3>
                                        4 emplacements                                                    
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 4</h3>
                                        4 emplacements
                                    </div>
                                </a>
                            </div>
                            <a class="list-footer" href="#" data-toggle="modal" data-target="#ajoutRackModal">
                                <span class="fa fa-plus"></span>
                                    Ajouter un nouveau rack
                            </a>                                        
                        </div>
                    </div>
                </div>                
            </div>
		</div>
	</div>
    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">            
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Zones</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Zone 1</h3>
                                </div>        
                            </a>                            
                        </div>
                        <a class="list-footer" data-toggle="modal" data-target="#ajoutZoneModal">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvelle zone
                        </a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Quais</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Quai 1</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Quai 2</h3>
                                </div>        
                            </a>
                        </div>
                        <a class="list-footer" data-toggle="modal" data-target="#ajoutQuaiModal">
                            <span class="fa fa-plus"></span>
                            Ajouter un nouveau quai
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modals-->
    <div id="ajoutAlleeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Nouvelle allée</h4>
                </div>
                <div class="modal-body">
                    <p>Sélectionnez vos caractéristiques :</p>
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Dimensions</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre de travées</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre de racks par travée</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre d'emplacements par racks</label>
                                <input type="number" class="form-control">
                            </div>                            
                            <button type="submit" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-check"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler</button>
                </div>
            </div>

        </div>
    </div>

    <div id="ajoutTraveeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Nouvelle travée</h4>
                </div>
                <div class="modal-body">
                    <p>Sélectionnez vos caractéristiques :</p>
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Dimensions</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre de racks</label>
                                <input type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre d'emplacements par rack</label>
                                <input type="number" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-check"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler</button>
                </div>
            </div>

        </div>
    </div>


    <div id="ajoutRackModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Nouveau rack</h4>
                </div>
                <div class="modal-body">
                    <p>Sélectionnez vos caractéristiques :</p>
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Dimensions</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre d'emplacements</label>
                                <input type="number" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-check"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler</button>
                </div>
            </div>

        </div>
    </div>

    <div id="ajoutZoneModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Nouvelle zone</h4>
                </div>
                <div class="modal-body">
                    <p>Sélectionnez vos caractéristiques :</p>
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Dimensions</label>
                                <input type="text" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-check"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler</button>
                </div>
            </div>

        </div>
    </div>

    <div id="ajoutQuaiModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Nouveau quai</h4>
                </div>
                <div class="modal-body">
                    <p>Sélectionnez vos caractéristiques :</p>
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Dimensions</label>
                                <input type="text" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">
                                <span class="glyphicon glyphicon-check"></span>
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
