{% extends 'layout.html.twig' %}

{% block title %}Dimensionnement{% endblock %}

{% block page_content %}

	<div class="row page-title">
		DIMENSIONNEMENT
	</div>

	<div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="input-group">
                    <label class="input-group-addon">
                        Entrepôt
                    </label>
                    <select name="Ordre" class="form-control" required>
                        <option value="Préparation">Entrepôt 1</option>
                        <option value="Réception">Entrepôt 2</option>
                    </select>
                </div>
            </form>
        </div>
    </div>		

    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Allées</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 1</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 2</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 3</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 4</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 5</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 6</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 7</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 8</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 9</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 10</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 11</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 12</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 13</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 14</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 15</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 16</h3>
                                </div>        
                            </a>
                        </div>
                        <a class="list-footer" href="#">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvelle allée
                        </a>
                    </div>
                </div>
                <div class="list-wrapper-rack">
                    <div class="list">
                        <div class="list-header">Travées</div>
                        <div class="list-cards-row workflow-sidebar-row">
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 1</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 2</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 3</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 4</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 5</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 6</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 7</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                     <h3>Travée 8</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 9</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 10</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 11</h3>
                                </div>
                            </a>
                            <a class="card card-row card-a">
                                <div class="card-details">
                                    <h3>Travée 12</h3>
                                </div>
                            </a>
                        </div>
                        <a class="list-footer" href="#">
                            <span class="fa fa-plus"></span>
                                Ajouter une nouvelle travée
                        </a>
                    </div>
                </div>
                <div class="list-wrapper-rack">
                    <div class="list">
                        <div class="list-header">Racks</div>
                            <div class="list-cards-rack workflow-sidebar">
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 1</h3>
                                        4 emplacements
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 2</h3>
                                        4 emplacements                                                    
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 3</h3>
                                        4 emplacements                                                   
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 3</h3>
                                        4 emplacements
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 4</h3>
                                        4 emplacements
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 4</h3>
                                        4 emplacements                                                    
                                    </div>
                                </a>
                                <a class="card card-a">
                                    <div class="card-details">
                                        <h3>Rack 4</h3>
                                        4 emplacements
                                    </div>
                                </a>
                            </div>
                            <a class="list-footer" href="#">
                                <span class="fa fa-plus"></span>
                                    Ajouter un nouveau rack
                            </a>                                        
                        </div>
                    </div>
                </div>                
            </div>
		</div>
	</div>
    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">            
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Zones</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Zone 1</h3>
                                </div>        
                            </a>                            
                        </div>
                        <a class="list-footer">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvelle zone
                        </a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Quais</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Quai 1</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Quai 2</h3>
                                </div>        
                            </a>
                        </div>
                        <a class="list-footer">
                            <span class="fa fa-plus"></span>
                            Ajouter un nouveau quai
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
