{% extends 'layout.html.twig' %}

{% block title %}Saisie d'inventaire{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersEntryInv.html.twig' with {
        'page': 'PAGE_INV_ENTRIES',
        'tableSelector': '#tableMissionEntries'
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 datatable-container">
        <div class="row">
            <h1 class="col align-self-start ml-2">Saisies d'inventaire</h1>
            <div class="col-auto">
                <div class="btn btn-primary btn-ripple" onclick="generateCSV('get_entries_for_csv', 'saisies-inv')">
                    <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="d-none justify-content-center" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <table id="tableMissionEntries" class="table w-100">
                </table>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/inventory-entries.js') }}?{{ date().timestamp }}"></script>
    {% endblock %}
