{% extends 'layout.html.twig' %}

{% block title %}Saisie d'inventaire{% endblock %}

{% block page_content %}
    {#fermeture de la div de layout pour fermer le container et ne pas avoir de bordure#}
    </div>

    {% include 'filters/filtersEntryInv.html.twig' with {'btnName' : 'submitSearchEntry'} %}

    <div class="container-fluid">

        <h1>Saisies d'inventaire</h1>

        <div class="btn btn-primary" onclick='generateCSVEntries()'>
            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
        </div>

        <table id="tableMissionEntries" class="table table-striped table-bordered w-100">
        </table>
    </div>

    <a href="{{ path('inventory_mission_index') }}" class="btn btn-action">
        Retour à la liste
    </a>
{% endblock %}

{% block javascript %}
<script src="{{ asset('js/inventory-entries.js') }}?{{ date().timestamp }}"></script>
{% endblock %}