<select class="form-control data needed" id="value" name="value">
    <option disabled selected> </option>
    {% for option in options %}
        {% set label = isType ? option.label : option %}
        <option value="{{ label }}">{{ label }}</option>
    {% endfor %}
</select>