<form method="" class="modal fade" id="modalDeleteUser" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer l'utilisateur"
            } %}

            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteUser" name='user' value='' type="button" data-dismiss="modal"
                    class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
