<div class="d-flex">
    <div class="dropdown dropright">
        {{ include('datatable/dotsRow.html.twig') }}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            {% if hasPairing
                and hasRight(constant('App\\Entity\\Menu::IOT'), constant('App\\Entity\\Action::DISPLAY_SENSOR')) %}
                <a class="dropdown-item"
                   href="{{ path('show_data_history', {id: group.id, type: constant('App\\Entity\\IOT\\Sensor::LOCATION_GROUP')}) }}">
                    <span class="wii-icon wii-icon-pairing"></span>
                    Historique des données
                </a>
            {% endif %}
            {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::EDIT')) %}
                <div class="d-none">
                    <div class="action-on-click"
                         data-toggle="modal"
                         data-target="#modalEditLocationGroup"
                         data-id="{{ group.id }}"
                         onclick="editRow($(this), Routing.generate('location_group_edit_api', true), $('#modalEditLocationGroup'), $('#submitEditLocationGroup'))">
                        Modifier
                    </div>
                </div>
            {% endif %}
            {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::DELETE')) %}
                <div class="dropdown-item d-flex align-items-center"
                     data-toggle="modal"
                     data-target="#modalDeleteLocationGroup"
                     data-id="{{ group.id }}"
                     onclick="editRow($(this), Routing.generate('location_group_delete_api', true), $('#modalDeleteLocationGroup'), '#submitDeleteLocationGroup')">
                    <span class="wii-icon wii-icon-trash-black mr-2"></span>Supprimer
                </div>
            {% endif %}
        </div>
    </div>
</div>
