{% include 'utils/modal/header.html.twig' with {
    title: "Supprimer le groupe d'emplacements"
} %}

<div class="modal-body modal-input container-fluid">
    <div class="row">
        <div class="col-12">
            {% if group.activePairings is not empty %}
                Ce groupe d'emplacement spossède une association active, vous ne pouvez pas le supprimer.
            {% else %}
                Vous êtes sur le point de supprimer le groupe d'emplacements <strong>{{ group.label }}</strong>.
            {% endif %}
        </div>
    </div>
</div>
{% set elements = [
    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'}
] %}
{%  set elements = group.activePairings is empty ? elements | merge(
    [
        {classes: 'btn btn-danger data', text: 'Supprimer', id: 'submitDeleteLocationGroup', name: 'id', value: group.id}
    ]
) %}
{% include 'utils/modal/footer.html.twig' with {
    elements: elements
} %}
