<div class="modal fade" id="modalDeleteLocationGroup" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content to-replace">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer le groupe"
            } %}

            <div class="modal-body modal-input"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', name: 'id', id: 'submitDeleteLocationGroup'}
                ],
            } %}

        </div>
    </div>
</div>
