{% include('utils/modal/header.html.twig') with {
    title: "Supprimer le groupe d'emplacements"
} %}

<div class="modal-body modal-input container-fluid">
    <div class="row">
        <div class="col-12">
            {% if group.activePairings is not empty %}
                Ce groupe d'emplacement spossède une association active, vous ne pouvez pas le supprimer.
            {% else %}
                Vous êtes sur le point de supprimer le groupe d'emplacements <strong>{{ group.label }}</strong>.
            {% endif %}
        </div>
    </div>
</div>
<div class="error-msg"></div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
    {% if group.activePairings is empty %}
        <button id="submitDeleteLocationGroup" name="id" value="{{ group.id }}" class="btn btn-danger data">Supprimer</button>
    {% endif %}
</div>
