<div class="form-group">
    <label>Nom du groupe*</label>
    <input type="text" class="form-control data needed" name="name" value="{{ group.name }}"/>
</div>

<div class="form-group">
    <label>Description*</label>
    <textarea class="form-control data needed" name="description">{{ group.description }}</textarea>
</div>

<div class="form-group">
    <label>Emplacements*</label>
    <select name="locations" class="form-control data needed w-100" data-s2="location" multiple>
        {% for location in group.locations %}
            <option value="{{ location.id }}" selected>{{ location.label }}</option>
        {% endfor %}
    </select>
</div>
