<div class="modal fade" id="modalNewLocationGroup" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau groupe"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label>Nom du groupe*</label>
                    <input type="text" class="form-control data needed" name="label"/>
                </div>

                <div class="form-group">
                    <label>Description*</label>
                    <textarea type="text" class="form-control data needed" name="description">
                    </textarea>
                </div>

                <div class="form-group">
                    <label>Statut*</label><br>
                    <div class="wii-switch needed" data-title="Statut">
                        <input type="radio" name="active" value="1" content="Actif">
                        <input type="radio" name="active" value="0" content="Inactif">
                    </div>
                </div>

                <div class="form-group">
                    <label>Emplacements*</label>
                    <select name="locations" class="form-control data needed w-100" data-s2="location" multiple>
                    </select>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewLocationGroup'}
                ],
            } %}

        </div>
    </div>
</div>
