{% extends 'base.html.twig' %}

{% block title %}New DemandesLivraisons{% endblock %}

{% block body %}
    <h1>Create new DemandesLivraisons</h1>

    {{ include('demandes_livraisons/_form.html.twig') }}

    <a href="{{ path('demandes_livraisons_index') }}">back to list</a>
{% endblock %}