<div class="form-group">
    <label>Type de demande/ordre</label>
    <input type="text" class="form-control" value="{{ constant('App\\Entity\\NotificationTemplate::READABLE_TYPES')[notification_template.type] }}" readonly/>
</div>

<div class="form-group">
    <label>Notification</label>
    <input class="comment form-control data"
           name="content" type="hidden"
           value="{{ notification_template.content }}">
    <div class="editor-container">
        {{ notification_template.content |raw }}
    </div>
</div>
