<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label>Type de demande/ordre</label>
            <input type="text" class="form-control" value="{{ constant('App\\Entity\\NotificationTemplate::READABLE_TYPES')[notification_template.type] }}" readonly/>
        </div>

        <div class="form-group">
            <label>Notification</label>
            <textarea class="form-control data" name="content" rows="4">{{ notification_template.content }}</textarea>
        </div>

        {% include 'variables_dictionary.html.twig' %}
    </div>
    <div class="col-6">
        Exemple de notification<br>
        <div class="phone-example">
            <div class="notification"></div>
        </div>
    </div>
</div>
