<div class="d-flex allow-expand">
    <div class="mr-2" style="flex: 1 1 auto;background:#F8F8F8;border-radius:4px;padding:4px 16px">
        {{ content | replace({'\n': '<br>'}) | raw }}
    </div>
    <div class="m-auto">
        <button class="btn btn-primary" data-id="{{ id }}"
                data-toggle="modal" data-target="#modalEditNotification"
                onclick="editRow($(this), Routing.generate('notification_template_edit_api', true), $('#modalEditNotification'), $('#submitEditNotification'));">
            <i class="fas fa-edit"></i>
        </button>
    </div>
</div>
