parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''

doctrine:
    dbal:
        # configure these for your database server
        driver: 'pdo_mysql'
        server_version: '8.0'
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci

        url: '%env(resolve:DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        dql:
            string_functions:
                JSON_SEARCH: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonSearch
                JSON_EXTRACT: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonExtract
                JSON_UNQUOTE: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonUnquote
                JSON_REMOVE: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonRemove
                JSON_CONTAINS: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonContains
                REPLACE: DoctrineExtensions\Query\Mysql\Replace
                CAST: DoctrineExtensions\Query\Mysql\Cast
                DATE_FORMAT: DoctrineExtensions\Query\Mysql\DateFormat
                UNIX_TIMESTAMP: DoctrineExtensions\Query\Mysql\UnixTimestamp
                TIMESTAMPDIFF: DoctrineExtensions\Query\Mysql\TimestampDiff
                FIELD: DoctrineExtensions\Query\Mysql\Field
                GROUP_CONCAT: DoctrineExtensions\Query\Mysql\GroupConcat
                REGEXP: DoctrineExtensions\Query\Mysql\Regexp
                IFNULL: DoctrineExtensions\Query\Mysql\IfNull
                NOW: DoctrineExtensions\Query\Mysql\Now
                STR_TO_DATE: DoctrineExtensions\Query\Mysql\StrToDate
                IF: DoctrineExtensions\Query\Mysql\IfElse
                DATEDIFF: DoctrineExtensions\Query\Mysql\DateDiff
