nelmio_cors:
    defaults:
        origin_regex: true
        allow_origin: ['%env(CORS_ALLOW_ORIGIN)%']
        allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE']
        allow_headers: ['Content-Type', 'Authorization']
        max_age: 3600
    paths:
        '^/': ~
#        '^/api/':
#            allow_origin: ['http://localhost:8100']
#            allow_headers: ['origin', 'content-type', 'authorization']
#            allow_methods: ['POST', 'PUT', 'GET', 'DELETE']
#            max_age: 3600
###            TODO CG
