twig:
    paths: ['%kernel.project_dir%/templates']
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    form_themes: ['bootstrap_4_layout.html.twig']
    exception_controller: null
    globals:
        web_version: '%web_version%'
        dashboardToken: '%env(APP_DASHBOARD_TOKEN)%'
        app_locale: '%env(APP_LOCALE)%'
        app_url: '%env(APP_URL)%'
        app_forbidden_phones: '%env(APP_FORBIDDEN_PHONES)%'
        app_last_cache_clear: '%env(APP_LAST_CACHE_CLEAR)%'
