{% extends 'base.html.twig' %}

{% block title %}New ChampPersonnalise{% endblock %}

{% block body %}
    <h1>Create new ChampPersonnalise</h1>

    {{ include('champ_personnalise/_form.html.twig') }}

    <a href="{{ path('champ_personnalise_index') }}">back to list</a>
{% endblock %}