<form method="post" action="{{ path('sites_delete', {'id': site.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce site ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site.id) }}">
    <button class="button btn-left pull-right">Supprimer</button>
</form>
