{% extends 'layout.html.twig' %}

{% block title %}Liste des fournisseurs{% endblock %}

{% block page_content %}

    <div class="row backgray filter-wrapper">
        <form class="form-inline">
            <div class="input-group">
                <label class="input-group-addon">
                    Société
                </label>
                <select name="Societe" class="form-control">
                    <option>Apple</option>
                    <option>Microsof</option>
                </select>
            </div>
            <div class="input-group">
                <label class="input-group-addon">
                    Catégorie
                </label>
                <select class="form-control">
                    <option>Catégorie1</option>
                    <option>Catégorie2</option>
                    <option>Catégorie3</option>
                </select>
            </div>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Nom">
            </div>
            <a class="btn more-filter">Plus de filtres</a>
            <a href="#" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </form>
    </div>

    <div class="row page-title">
        RÉFÉRENTIEL FOURNISSEURS
    </div>

    <div class="row btn-grp">
        <button class="button btn-left">
            <span class="fa fa-upload"></span>Importer
        </button>
        <a href={{path("fournisseur_new")}} class="button btn-left">
            <span class="fa fa-plus"></span>Ajouter un fournisseur
        </a >
    </div>

    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="nom">Nom</th>
                <th data-column-id="codeReference">code de référence</th>
                <th data-colun-id="commands" data-formatter="commands">Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for item in fournisseurs %}   
            <tr>
                <td>{{ item.nom }}</td>
                <td>{{ item.codeReference}}</td>
                <td> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal Confirmation-->
    <div id="supprModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-warning"></span>
                        Suppression</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
                    <form>
                        <button type="submit" class="btn btn-success btn-block">
                            
                            Oui</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left pull-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var grid = $("#grid-data").bootgrid({
            ajax: false,
            /*
            post: function ()
            {
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            */
            
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><span class=\"fas fa-pencil-alt fa-2x\"></span></button> " + "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fas fa-trash-alt fa-2x\"></span></button>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-delete").on("click", function (e) {
                $("#supprModal").modal();
            })
        });
    </script>
{% endblock %}