<div class="modal fade" id="modalNewPairing" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouvelle association"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-md-4 col-12">
                        <label class="wii-field-name">Nom capteur*</label>
                        <div class="w-100">
                            <select class="form-control data input" name="sensorWrapper" data-s2="sensorWithoutPairing" data-placeholder="Sélectionner un capteur..."
                                    onchange="onDeviceChanged($(this))">
                            </select>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center my-auto">
                        <label>OU</label>
                    </div>
                    <div class="form-group col-md-4 col-12">
                        <label class="wii-field-name">Code capteur*</label>
                        <div class="w-100">
                            <select class="form-control data" name="sensor" data-s2="sensorCodeWithoutPairing" data-placeholder="Sélectionner un code capteur..."
                                    onchange="onDeviceChanged($(this))">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <label class="wii-field-name" for="date-pairing">Date de fin d'association</label>
                        <input type="datetime-local" class="form-control data w-100" name="date-pairing" id="datePairing">
                    </div>
                    <label class="wii-field-name col-12 mt-2">Element*</label>
                    <div class="col-12 d-flex">
                        <div class="d-flex justify-content-center mr-2">
                            <button type="button"
                                    class="btn btn-primary button-location data d-flex align-items-center"
                                    onclick="visible($('.location'))">
                                <span class="wii-icon wii-icon-iot-location mr-2"></span>
                                Emplacement
                            </button>
                        </div>
                        <div class="d-flex justify-content-center mr-2">
                            <button type="button"
                                    class="btn btn-primary button-pack data d-flex align-items-center"
                                    onclick="visible($('.pack'))">
                                <span class="wii-icon wii-icon-iot-pack mr-2"></span>
                                Colis
                            </button>
                        </div>
                        <div class="d-flex justify-content-center mr-2">
                            <button type="button"
                                    class="btn btn-primary button-article data d-flex align-items-center"
                                    onclick="visible($('.article'))">
                                <span class="wii-icon wii-icon-iot-article mr-2"></span>
                                Article
                            </button>
                        </div>
                        <div class="d-flex justify-content-center mr-2">
                            <button type="button"
                                    class="btn btn-primary button-vehicle data d-flex align-items-center"
                                    onclick="visible($('.vehicle'))">
                                <span class="wii-icon wii-icon-iot-vehicle mr-2"></span>
                                Véhicule
                            </button>
                        </div>
                    </div>

                    <div class="col-12 mt-2 container location d-none">
                        <div class="row">
                            <label class="wii-field-name col-12">Emplacement*</label>
                            <div class="form-group col-md-4 col-12">
                                <select class="form-control data w-100" name="locations" data-s2="locationWithoutPairing"
                                        data-placeholder="Sélectionnez un emplacement"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2 container pack d-none">
                        <div class="row">
                            <label class="wii-field-name col-12">Colis*</label>
                            <div class="form-group col-md-4 col-12">
                                <select class="form-control data w-100" name="pack" data-s2="packWithoutPairing"
                                        data-placeholder="Sélectionnez un code colis">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2 container article d-none">
                        <div class="row">
                            <label class="wii-field-name col-12">Code-barre article*</label>
                            <div class="form-group col-md-4 col-12">
                                <select class="form-control data w-100" name="article" data-s2="articleWithoutPairing"
                                        data-placeholder="Sélectionnez un code barre">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2 container vehicle d-none">
                        <div class="row">
                            <label class="wii-field-name col-12">Véhicule*</label>
                            <div class="form-group col-md-4 col-12">
                                <select class="form-control data w-100" name="vehicle" data-s2="vehicles"
                                        data-placeholder="Sélectionnez une immatriculation">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% include 'utils/modal/footer.html.twig' with {
                classes: 'd-none',
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', text: 'Enregistrer', id: 'submitNewPairing'}
                ],
            } %}

        </div>
    </div>
</div>
