{% import 'form.html.twig' as form %}
{% set defaultDate = 'tomorrow' | date('Y-m-d') %}

<div class="modal fade" role="dialog" id="modalRoundPlan">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Planifier une tournée"
            } %}

            <div class="modal-body">
                <form>
                    <input type="hidden" name="request" value="10" class="data"/>
                    <div class="row">
                        <div class="col-auto">
                            {{ form.radio('roundInfo', null, true, [
                                {label: 'Créer une nouvelle tournée pour le', value: 'newRound' },
                            ]) }}
                        </div>
                        <div class="col-5">
                            {{ form.input('date', null, true, defaultDate, {
                                type: 'date',
                                min: defaultDate | date_modify('-1 day') | date('Y-m-d'),
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-auto">
                            {{ form.radio('roundInfo', null, true, [
                                {label: 'Ajouter à la tournée', value: 'editRound'},
                            ]) }}
                        </div>
                        <div class="col-5">
                            {{ form.select('round', null, false, {
                                inline: true,
                                disabled: true,
                                type: 'roundsDelivererPending',
                            }) }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Suivant</button>
            </div>
        </div>
    </div>
</div>
