{% import 'form.html.twig' as form %}
 {% set defaultDate = 'tomorrow' | date('Y-m-d') %}
<form>
    <input type="hidden" name="request" value="10" class="data"/>
    <div class="row">

        <div class="col-12 my-2">
            <div class="form-inline">
                <div class="mr-3">
            {{ form.radio('roundInfo', null, true, [
                {label: 'Créer une nouvelle tournée pour le', value: 'newRound'},
            ]) }}
                </div>
            {{ form.input('date', null, true, defaultDate, {
                type: 'date',
                min: defaultDate | date('Y-m-d'),
                widthInput : 0
            }) }}
            </div>
            <br>
            <br>
            <div class="form-inline">
                <div class="mr-3">
                    {{ form.radio('roundInfo', null, true, [
                        {label: 'Ajouter à la tournée', value: 'editRound'},
                    ]) }}
                </div>
            {{ form.select('rounds', null, true, {
                items: ['cat', 'dog'],
                widthInput : 50
            }) }}
            </div>
        </div>
    </div>
</form>
