{% import 'form.html.twig' as form %}
 {% set defaultDate = 'tomorrow' | date('Y-m-d') %}
<form>
    <input type="hidden" name="request" value="10" class="data"/>
    <div class="row">

        <div class="col-12 my-2">
            <div class="row">
                <div class="col-auto">
                    {{ form.radio('roundInfo', null, true, [
                        {label: 'Créer une nouvelle tournée pour le', value: 'newRound', inputClass:'roundInfo-date' },
                    ]) }}
                </div>
                <div class="col-5">
                    {{ form.input('date', null, true, defaultDate, {
                        type: 'date',
                        min: defaultDate | date('Y-m-d'),
                    }) }}
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-auto">
                    {{ form.radio('roundInfo', null, true, [
                        {label: 'Ajouter à la tournée', value: 'editRound', inputClass:'roundInfo-number'},
                    ]) }}
                </div>
                <div class="col-5">
                    {{ form.select('round', null, false, {
                        inline: true,
                        disabled: true,
                        type: 'roundsDelivererPending',
                    }) }}
                </div>
            </div>
        </div>
    </div>
</form>
