{% extends 'layout.html.twig' %}

{% block title %}Ordre | Tournée | Détails{% endblock %}
{% block titleLink path('transport_round_index') %}

{% block page_content %}
    <div class="d-flex justify-content-center align-items-center h-100">
        <strong class="text-white h1">Prochainement</strong>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
