{% extends 'base.html.twig' %}

{% block title %}New ChampsPersonnalises{% endblock %}

{% block body %}
    <h1>Create new ChampsPersonnalises</h1>

    {{ include('champs_personnalises/_form.html.twig') }}

    <a href="{{ path('champs_personnalises_index') }}">back to list</a>
{% endblock %}