###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> wiilog/wiistock ###
/.vs-code/
/.idea/
/public/uploads/attachements/
/public/generated/
/config/generated.yaml
/SnoreToast.lnk
/desktop.ini
###< wiilog/wiistock ###

/local-php-security-checker.exe
/local-php-security-checker
/cache

###> phpstorm run configurations ###
/.run
###< phpstorm run configurations ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/config/fcm-config.json
/certs/
/config/packages/google_apiclient.yaml
/rector.php
