{% extends 'base.html.twig' %}

{% block title %}New Entrees{% endblock %}

{% block body %}
    <h1>Create new Entrees</h1>

    {{ include('entrees/_form.html.twig') }}

    <a href="{{ path('entrees_index') }}">back to list</a>
{% endblock %}