<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::DELETE')) %}
                <div data-id='{{ recep.id }}' data-target='#modalDeleteRecepTraca' data-toggle='modal'
                     class='dropdown-item'
                     onclick="deleteRow($(this), $('#modalDeleteRecepTraca'), $('#submitDeleteRecepTraca'))">
                    <i class='fas fa-trash mr-2'></i>Supprimer
                </div>
            {% endif %}
        </div>
    </div>
</div>
