<div class="d-flex">

    <div data-id='{{ serviceId }}' data-target='#modalEditService' data-toggle='modal'
        class='btn-xs btn-default command-edit'
        onclick="editRow($(this), Routing.generate('service_edit_api', true), $('#modalEditService'), $('#submitEditService'), true)">
        <i class='fas fa-eye '></i>
    </div>
</div>