<div data-id='{{ serviceId }}' data-target='#modalEditService' data-toggle='modal' class='btn-xs btn-default command-edit'
    onclick="editRow($(this), Routing.generate('service_edit_api', true), $('#modalEditService'), $('#submitEditService'))">
    {#<a href='{{ url.edit }}' class='command-edit'></a>#}
        <i class='fas fa-eye '></i>

</div>


