doctrine:
    dbal:
        options:
            !php/const:PDO::MYSQL_ATTR_SSL_CA: '/etc/ca-certificates/cert.pem'
            !php/const:PDO::MYSQL_ATTR_SSL_VERIFY_SERVER_CERT: false
    orm:
        auto_generate_proxy_classes: false
        metadata_cache_driver:
            type: pool
            pool: doctrine.system_cache_pool
        query_cache_driver:
            type: pool
            pool: doctrine.system_cache_pool
        result_cache_driver:
            type: pool
            pool: doctrine.result_cache_pool

framework:
    cache:
        pools:
            doctrine.result_cache_pool:
                adapter: cache.app
            doctrine.system_cache_pool:
                adapter: cache.system
