<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div class="dropdown-item" onclick="openEditArticleModal($(this))" data-id="{{ line.id }}">
                <i class="fas fa-edit mr-2"></i>Modifier
            </div>
            <div class="dropdown-item" onclick="openRemoveArticleModal({{ line.id }})">
                <i class="fas fa-trash mr-2"></i>Supprimer
            </div>
        </div>
    </div>
</div>

