{% extends 'base.html.twig' %}

{% block title %}Edit Inventaires{% endblock %}

{% block body %}
    <h1>Edit Inventaires</h1>

    {{ include('inventaires/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('inventaires_index') }}">back to list</a>

    {{ include('inventaires/_delete_form.html.twig') }}
{% endblock %}