{% extends 'layout.html.twig' %}

{% block title %}New Collecte{% endblock %}

{% block page_content %}
    <h1>Create new Collecte</h1>

    {{ dump(form) }}

    {{ dump(collecte) }}
    {{ include('collecte/_form.html.twig') }}

    <a href="{{ path('collecte_index') }}">back to list</a>
{% endblock %}
