<form method="post" action="{{ path('livraison_delete', {'id': livraison.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la réception ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livraison.id) }}">
    <button class="btn btn-danger float-right">Supprimer</button>
</form>
