{% extends 'layout.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block page_content %}
    <h1>Livraison</h1>
    <table id="table_id" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Numro</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Operateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>
  

   {% include "livraison/modalLivraison.html.twig" %}

<script>
        var table = $('#table_id').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            ajax: {
                'url':"{{path('livraison_api')}}",
                "type": "POST"
            },
            columns: [
                { "data": 'Numero' },
                { "data": 'Statut' },
                { "data": 'Date' },
                { "data": 'Operateur' },
                { "data": 'Actions' },
            ],
        });
        
</script>

{% endblock %}