{% extends 'utils/show-header.html.twig' %}

{% block showTitle ('Ordre de livraison') %}
{% block showSubtitle ('n°' ~ livraison.numero) %}

{% block showActions %}
    <div class="btn-group">
        {% if livraison.statut.nom == constant('App\\Entity\\Livraison::STATUT_A_TRAITER') %}
            {% if not finished %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <button
                       data-id="22"
                       id="delete-delivery-button"
                       class="btn btn-primary split-button"
                       onclick="endLivraison($(this))">
                        <i class="fa fa-check mr-2"></i>
                        Finir la livraison
                    </button>
                {% endif %}
            {% endif %}
        {% endif %}
        <button type="button"
                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
            {% if (livraison.preparation.pairings is not empty)
                and hasRight(constant('App\\Entity\\Menu::IOT'), constant('App\\Entity\\Action::DISPLAY_SENSOR')) %}
                <a class="dropdown-item"
                   href="{{ path('show_data_history', {id: livraison.preparation.demande.id, type: constant('App\\Entity\\IOT\\Sensor::DELIVERY_REQUEST')}) }}">
                    <span class="wii-icon wii-icon-pairing"></span>
                    Historique des données
                </a>
            {% endif %}
            {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                <a class="dropdown-item pointer d-flex align-items-center"
                   onclick="askForDeleteDelivery()">
                    <span class="wii-icon wii-icon-trash-black mr-2"></span>Supprimer
                </a>
            {% endif %}
            {% if not livraison.preparation.demande.manual %}
                <a href="{{ path('demande_show', {'id': demande.id}) }}" class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Retourner à la demande de livraison
                </a>
                <a href="{{ path('preparation_show', {'id': preparation.id}) }}"
                   class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Retourner à la préparation
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
