{% extends 'utils/show-header.html.twig' %}

{% block showTitle ('Ordre de livraison n°' ~ livraison.numero) %}

{% block showActions %}
    <div class="btn-group">
        {#Bouton rajouté pour la validation#}
        {% if livraison.statut.nom == constant('App\\Entity\\Livraison::STATUT_A_TRAITER') %}
            {% if not finished %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <button
                       data-id="22"
                       id="delete-delivery-button"
                       class="btn btn-primary btn-ripple split-button"
                       onclick="endLivraison({{ livraison.id }}, $(this))">
                        <i class="fa fa-check mr-2 button-icon"></i>
                        Finir la livraison
                    </button>
                {% endif %}
            {% endif %}
        {% endif %}
        {#Fin bouton rajouté pour la validation#}

        <button type="button"
                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>

        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
            {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                <a class="dropdown-item pointer"
                   onclick="askForDeleteDelivery()">
                    <i class="fa fa-trash mr-2"></i>Supprimer
                </a>
            {% endif %}
            <a href="{{ path('demande_show', {'id': demande.id}) }}" class="dropdown-item">
                <i class="mr-2 fas fa-external-link-alt"></i>Retourner à la demande de livraison
            </a>
            <a href="{{ path('preparation_show', {'id': preparation.id}) }}"
               class="dropdown-item">
                <i class="mr-2 fas fa-external-link-alt"></i>Retourner à la préparation
            </a>
        </div>
    </div>
{% endblock %}
