{% extends 'layout.html.twig' %}

{% block title %}Ordre | Livraison | Détails{% endblock %}
{% block titleLink path('livraison_index') %}

{% block page_content %}
    <input type="hidden" name="delivery-id" value="{{ livraison.id }}"/>
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include 'livraison/livraison-show-header.html.twig' with {
                        livraison: livraison,
                        showDetails: headerConfig,
                        finished: finished,
                        demande: demande,
                        preparation: preparation,
                        titleLogo: preparation.pairings|length>=1 ? 'pairing' : null,
                        titleLogoTooltip: "Cette livraison est liée à un capteur"
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="wii-box mt-0">
                    <div class="header wii-title">Liste des articles</div>
                    <div class="content">
                        <table id="tableArticle_id" class="table w-100"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}
    {% include 'emplacement/modal-select-location.html.twig' with {type: 'delete-delivery'} %}
    {% include "dispatch/modalPrintDeliveryNote.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/livraison-show.js') }}?v={{ web_version }}"></script>
{% endblock %}
