
{# Alert modal #}
<div class="modal fade"
     id="alert-modal"
     tabindex="-1"
     role="dialog"
     data-backdrop="false"
     data-keyboard="false"
     aria-labelledby="alert-modal-title"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alert-modal-title"></h5>
            </div>
            <div class="modal-body">
                <div class="modal-body-wrapper">
                    <div class="modal-body-icon">
                        {% include 'global/alert/success-check.html.twig' %}
                        {% include 'global/alert/error-check.html.twig' %}
                    </div>
                    <div class="modal-body-main"></div>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-center"></div>
        </div>
    </div>
</div>
