{% extends 'base.html.twig' %}

{% block title %}Edit Quais{% endblock %}

{% block body %}
    <h1>Edit Quais</h1>

    {{ include('quais/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quais_index') }}">back to list</a>

    {{ include('quais/_delete_form.html.twig') }}
{% endblock %}