{% extends 'base.html.twig' %}

{% block title %}Edit Entrepots{% endblock %}

{% block body %}
    <h1>Edit Entrepots</h1>

    {{ include('entrepots/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entrepots_index') }}">back to list</a>

    {{ include('entrepots/_delete_form.html.twig') }}
{% endblock %}
