<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <a class="dropdown-item"
               href="{{ path('pairing_show', {pairing: pairingId}) }}">
                <i class="fas fa-wifi mr-2"></i>Voir l'historique des données
            </a>
        </div>
    </div>
</div>

