{% extends 'base.html.twig' %}

{% block title %}New ReferencesFournisseurs{% endblock %}

{% block body %}
    <h1>Create new ReferencesFournisseurs</h1>

    {{ include('references_fournisseurs/_form.html.twig') }}

    <a href="{{ path('references_fournisseurs_index') }}">back to list</a>
{% endblock %}