{% import 'form.html.twig' as form %}

<div class="row">
    <div class="col-12">
        {{ form.checkbox(setting('SEND_MAIL_MANAGER_SECURITY_THRESHOLD'), 'Envoi de mail au gestionnaire de la référence si seuil de sécurité atteint', false, setting_value('SEND_MAIL_MANAGER_SECURITY_THRESHOLD')) }}
    </div>

    <div class="col-12">
        {{ form.checkbox(setting('SEND_MAIL_MANAGER_WARNING_THRESHOLD'), "Envoi de mail au gestionnaire de la référence si seuil d'alerte atteint", false, setting_value('SEND_MAIL_MANAGER_WARNING_THRESHOLD')) }}
    </div>

    <div class="col-12">
        {{ form.input(setting('STOCK_EXPIRATION_DELAY'),
            '<span class="wii-field-name">Délais alerte de péremption&nbsp;</span><span class="wii-medium-text">(jours)</span>',
            false,
            setting_value('STOCK_EXPIRATION_DELAY')
        ) }}
    </div>
</div>
