{% import 'form.html.twig' as form %}
{% set defaultLocation = setting_value('DEFAULT_LOCATION_REFERENCE','App\\Entity\\Emplacement') %}
<section>Références</section>
<div class="row">
    <div class="col-md-6 col-12">
        {{ form.select(setting('DEFAULT_LOCATION_REFERENCE'), 'Emplacement par défaut pour les Références en gestion quantité par référence à la création en Brouillon', false, {
            labelClass: 'wii-field-name w-100',
            type: 'location',
            dataAttributes: {
                'nullable': true,
            },
            value: defaultLocation ? defaultLocation.id : null,
            items: defaultLocation ? {
                (defaultLocation.id): defaultLocation.label,
            } : null,
        }) }}
    </div>
</div>
