{% import 'form.html.twig' as form %}

<div class="row">
    <div class="form-group col-6">
        {# TODO Ajouter le paramétrage présent sur le devis du CEA concernant l'emplacement par défaut pour les références créées au statut brouillon #}
    </div>
</div>
