<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Ce paramètre permet de donner accès aux utilisateurs seulement à certaines références du stock en
            fonction du groupe de visibilité attribué. Vous pouvez les modifier et en ajouter. La suppression est autorisée si le groupe n'est
            attribué ni à un utilisateur ni à une référence.
        </div>
    </div>
    <div class="row wii-page-card-header">
        <div class="col-auto ml-auto">
            {% if can_edit %}
                <button class="btn btn-primary d-none add-row-button">
                    <span class="fa fa-plus mr-2"></span>Ajouter
                </button>
            {% endif %}
        </div>
    </div>

    <table id="table-visibility-group" data-table-processing="visibilityGroup"></table>
</div>
