{% extends 'layout.html.twig' %}

{% block title %}ReferencesArticles{% endblock %}

{% block page_content %}
    <h1>Articles de référence</h1>

    <div class='row btn ' >
        <a href={{ path('references_articles_new') }} class="button btn-left">
            <span class="fa fa-plus"></span>Nouvelle article de référence
        </a >
    </div>

    <table  id="table_id" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Référence</th>
                <th>Quantité</th>
                <th>actions</th>
            </tr>
        </thead>   
    </table>
{% endblock %}
{% block javascript %}

<script>
    var table = $('#table_id').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        ajax: "{{path('ref_article_api')}}",
        columns: [
            { "data": 'Libelle' },
            { "data": 'Référence' },
            { "data": 'Quantité' },
            { "data": 'actions' },
        ],
    });

</script>
{% endblock %}