{% extends 'layout.html.twig' %}

{% block title %}New ReferencesArticles{% endblock %}

{% block page_content %}
    <h1>Nouvelle article de référence</h1>

    {{ include('references_articles/_form.html.twig') }}

    <a href="{{ path('references_articles_index') }}"class='button btn-left'>retour</a>
{% endblock %}