{% import 'form.html.twig' as form %}

<div class="wii-section">
    {{ form.select('temperatureRanges', 'Plages de température', false, {
        labelClass: 'wii-field-name w-100',
        type: null,
        editable: true,
        multiple: true,
        items: temperatureRanges,
        placeholder: 'Ajoutez des températures',
    }) }}
</div>
