<div class="modal fade" id="modalEditNotification" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier le modèle de notification"
            } %}

            <div class="modal-body modal-input container-fluid"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data submit-button', text: 'Enregistrer', name: 'id', id: 'submitEditNotification'}
                ],
            } %}

        </div>
    </div>
</div>
