<div class="row new-container">
    <div class="col-md-4 col-12 form-group">
        <label class="wii-field-name">Type d'alerte*</label>
        <select name="type" class="form-control data needed w-100" onchange="onTemplateTypeChange($(this))" data-s2>
            {% for index, type in templateTypes %}
                <option value="{{ index }}">{{ type }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12">
        <div class="wii-section-title alert-title d-none">Contenu de l'alerte</div>
    </div>

    <div class="col-12">
        <div class="row template-container mt-2">
        </div>
    </div>
</div>
