<div class="row wii-section">
    <div class="col-12 notificationsTableContainer">
        <table id="notificationsTable" class="table w-100"></table>
    </div>
</div>

{% include 'notification_template/edit.html.twig' %}
