<div class="row wii-section">
    <div class="col-12 mb-3 wii-describe">
        Les notifications push se déclenchent sur le terminal mobile.
        Elles sont activées suivant le paramétrage du type. Un texte de base vous est proposé, vous pouvez le modifier.
        En fonction de la demande, des variables vous sont proposées pour avoir les informations contextuelles de la
        demande qui a déclenché la notification.
    </div>
    <div class="col-12 notificationsTableContainer">
        <table id="notificationsTable" class="table w-100"></table>
    </div>
</div>

{% include 'notification_template/edit.html.twig' %}
