.accueil-back
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover

#alerts
    position: absolute
    z-index: 10000
    top: 0
    left: 0
    right: 0

.alert-danger
    padding: 10px
    text-align: center

.dashboard-item
    min-width: 50%
    min-height: 40%
.dashboard-box-wrapper
    margin-top: 8px
    margin-bottom: 8px
    &:not(:first-child)
        padding-left: 16px
    .dashboard-box
        border-radius: 8px
        display: flex
        flex-direction: column
        box-shadow: 2px 2px 5px grey
        .title
          margin-bottom: .5rem
          color: $blackDashboard
        .label
          color: $greyDashboard
          font-size: .8em
        .points
          position: absolute
          right: 28px
          top: 15px
        .arrow-chart
          color: $blueGT
          font-weight: bold
          display: inline-block
          margin: 0 10px
        .range-buttons
          text-align: center
          span
            font-size: .8em
        .dataTables_wrapper, span
          font-size: .8em
        .dashboard-box-content
            height: 325px
            padding: 10px
            @media (max-width: $breakpointSmallScreen)
              height: 220px
            //&.dashboard-box-content-small
            //    height: 220px
            .range-buttons
                position: absolute
                margin-left: auto
                margin-right: auto
                left: 0
                right: 0
                bottom: 20px
            .spinner-container
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                align-items: center
                display: flex
                justify-content: center

.figure
  font-weight: bold
  font-size: 1.2em !important
  color: $blueNeon

.home-card
    background-color: $lightGrey
    border-radius: 8px
    display: flex
    margin: 8px 0
    .home-card-content
        margin-bottom: 9px
    h2
        margin: 9px 0

.page-item.active .page-link
    background-color: #130078 !important
    border-color: #130078 !important
    color: #fff !important

.page-link
    color: #130078 !important

.chart
    height: 70%
    width: 99%

#chart-assoc
    height: 70%

#chart-arrival
    height: 70%

.fournisseurFilterContainer
    .select2-selection
        overflow: auto