.accueil-back
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover

#alerts
    position: absolute
    z-index: 10000
    top: 0
    left: 0
    right: 0

.alert-danger
    padding: 10px
    text-align: center

.dashboard-item
    min-width: 50%
    min-height: 40%

.dashboard-box-wrapper
    &.side-panels
        height: 15vh

    &.fourth-height
        height: 18vh

    &.third-height
        height: 33vh

    &.half-height
        height: 41vh

    &:not(:first-child)
        padding-left: 16px

    .dashboard-box
        border-radius: 8px
        display: flex
        flex-direction: column
        justify-content: center
        box-shadow: 2px 2px 3px grey
        height: 100%
        position: relative
        background: $white
        padding: .5rem

        .dashboard-box-ext
            padding: 1rem

        &.dashboard-box-list
            .title
                margin-bottom: 1.5rem
            li
                line-height: 1.5

        .title
            line-height: 1
            font-size: 1.35rem
            margin-bottom: .5rem
            padding: 0px
            color: $blackDashboard

        .location-label
            line-height: 1

        .label
            color: $greyDashboard
            font-size: .8em

        .points
            position: absolute
            right: .5rem
            top: .5rem

        .arrow-chart
            color: $blueGT
            font-weight: bold
            display: inline-block
            margin: 0 10px

        .range-buttons
            text-align: center

            span
                font-size: .8em

        .dataTables_wrapper, span
            font-size: .8em

        .dashboard-box-content
            height: 325px
            padding: 10px
            @media (max-width: $breakpointSmallScreen)
                height: 220px
            //&.dashboard-box-content-small
            //    height: 220px
            .range-buttons
                position: absolute
                margin-left: auto
                margin-right: auto
                left: 0
                right: 0
                bottom: 20px

            .spinner-container
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                align-items: center
                display: flex
                justify-content: center

.figure
    font-weight: bold
    color: $blueNeon
    cursor: default
    font-size: 3rem
    line-height: 0.8

.home-card
    background-color: $lightGrey
    border-radius: 8px
    display: flex
    margin: 8px 0

    .home-card-content
        margin-bottom: 9px

    h2
        margin: 9px 0

.page-item.active .page-link
    background-color: #130078 !important
    border-color: #130078 !important
    color: #fff !important

.page-link
    color: #130078 !important

.chart
    height: 70%
    width: 99%

#chart-assoc
    height: 70%

#chart-arrival
    height: 70%

.fournisseurFilterContainer
    .select2-selection
        overflow: auto

.plus-btn
    display: inline-block
    padding: 8px
    border-radius: 5px
    cursor: pointer

    &:hover
        background-color: $white

        svg > path
            fill: $backgroundBodyColorDark

.indicators
    position: absolute
    z-index: 1
    width: 25vw
    font-weight: bold

    .card-body
        padding: .2rem 1.2rem !important

.indicator-row
    padding: 0.2rem
    font-size: .8rem

    &:hover
        background-image: linear-gradient(to right, #2e3192, #1b1464)
        border-radius: 5px
        color: white
        cursor: pointer !important

.degrade
    background-image: linear-gradient(-15.7deg, #1b1464, #2e5492)

.space
    @media (max-height: 1800px)
        margin-top: 1rem
    @media (min-height: 1801px)
        margin-top: 2.1rem


.lh
    line-height: 1em
    margin-bottom: 0

#statistics-arrival-carriers
    p
        font-size: 1vw

