.accueil-back
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.big-font
    font-size: 3rem

#alerts
    position: absolute
    z-index: 10000
    top: 0
    left: 0
    right: 0

.alert-danger
    padding: 10px
    text-align: center

.curve_chart_line
    height: 75px
    width: 300px

.dashboard-container
    height: 90vh

.dashboard-item
    min-width: 50%
    min-height: 40%

.dashboard-box
    background-color: rgba(255, 255, 255, 0.7) !important
    text-align: center
    border-radius: 8px
    margin: 0px 10px 10px 10px
    display: flex
    flex-direction: column
    height: 45vh

.home-card
    background-color: rgba(255, 255, 255, 0.7) !important
    border-radius: 8px

.page-item.active .page-link
    background-color: #130078 !important
    border-color: #130078 !important
    color: #fff !important


.page-link
    color: #130078 !important


.retard
    padding: 10px

.chart
    height: 70%
    width: 99%

.range-buttons
    text-align: center

#chart-assoc
    height: 70%

#chart-arrival
    height: 70%

.fournisseurFilterContainer
    .select2-selection
        overflow: auto


