// boutons de type Annuler, Retour
.btn
  text-decoration: none
  background-color: $grey
  color: $white
  border-radius: 50px
  margin: .5rem
  &:hover
    background-color: $white
    color: $grey
    border-color: $grey
  &:focus
    box-shadow: none

// boutons de type Ajouter, Modifier...
.btn-primary
  background-color: $blueGT
  border-color: $blueGT
  &:hover
    background-color: $white
    color: $blueGT
    border-color: $blueGT
  &:focus
    background-color: $white
    color: $blueGT
    border-color: $blueGT

// boutons de type Valider, Enregistrer
.btn-success
  background-color: $blueGT
  border-color: $blueGT
  &:hover
    background-color: $white
    color: $blueGT
    border-color: $blueGT

// boutons de type Supprimer
.btn-danger
  background-color: $red
  border-color: $red
  &:hover
    background-color: $white
    color: $red
    border-color: $red

.btn-action
  min-width: 172px

// boutons de la colonne Actions
.btn-col-action
  background-color: $greyDark
  &:hover
    color: $greyDark

.btn-icon
  width: 50px
  padding: 4px !important
  margin: 0 !important

.btn-disabled
  background-color: $greyDark
  border-color: $greyDark
  pointer-events: none

button:focus
  outline: 0 !important

.btn-check
  background: white !important
  border-color: $greyDark !important
  i
    color: $greyDark
  &:hover
    background: $greenDark !important
    border-color: $greenDark !important
    i
      color: white
  &.active
    background: $greenDark !important
    border-color: $greenDark !important
    i
      color: white

.btn-check-reverse
  background: $greenDark !important
  i
    color: white
  &:hover
    background: white !important
    border-color: $greenDark !important
    i
      color: $greenDark
