@font-face
  font-family: "Montserrat"
  src: url('../../public/font/Montserrat-Regular.ttf')

@font-face
  font-family: "Montserrat"
  src: url('../../public/font/Montserrat-Bold.ttf')
  font-weight: bold

@font-face
  font-family: "Montserrat"
  src: url('../../public/font/Montserrat-Italic.ttf')
  font-style: italic

@font-face
  font-family: "Tahoma"
  src: url('../../public/font/Tahoma-Regular.ttf')

@font-face
  font-family: "Tahoma"
  src: url('../../public/font/Tahoma-Bold.ttf')
  font-weight: bold

@font-face
  font-family: "Tahoma"
  src: url('../../public/font/Tahoma-Italic.ttf')
  font-style: italic

@font-face
  font-family: "Myriad"
  src: url('../../public/font/MyriadPro-Regular.otf')

@font-face
  font-family: "Myriad"
  src: url('../../public/font/MyriadPro-Bold.otf')
  font-weight: bold

*, *::after, *::before
  box-sizing: border-box
  margin: 0
  padding: 0

html
  height: 100%
  overflow: auto

body
  font-family: $mainFont, Helvetica, Arial, sans-serif
  line-height: 20px
  font-weight: 400
  -webkit-font-smoothing: antialiased
  font-size: 1em
  color: $bodyColor
  &.new-body
    background-image: linear-gradient(to right, $backgroundBodyColorLight, $backgroundBodyColorDark)
  background-repeat: no-repeat
  background-size: 100% 40%
  overflow-x: hidden
  height: 100%

p
  padding: 10px

h1, h2
  color: #000
  line-height: initial
  margin: 20px 0

h1
  font-size: 1.5em

td
  font-size: 0.8em

a, a:link, a:visited
  text-decoration: none
  &:hover
    color : inherit

.container-fluid
  padding-left: 20px
  padding-right: 20px
  flex: 1

.datepicker
  z-index: 1 !important

.hide
  display: none !important

input:-webkit-autofill
  box-shadow: 0 0 0 30px white inset !important

.wrapper
    padding-left: 130px
    height: 100%
    display: flex
    flex-direction: column

.page-title
  font-size: 32px
  margin: 30px 0px

//// FONTS ////
.bold
  font-weight: 700

.italic
  font-style: italic

.underlined
  text-decoration: underline !important

.font-size-100
  font-size: 100% !important

.tahoma
  font-family: Tahoma !important

.montserrat
  font-family: Montserrat !important

.myriad
  font-family: "Myriad" !important

.big-font
  font-size: 4em !important
  @media (min-width: 3800px)
      font-size: 12em !important

.spec-font
    font-size: 4.5rem !important

.medium-font
  font-size: 1.5rem !important
  @media (max-height: 950px)
    font-size: 1rem !important
  @media (min-width: 3800px)
    font-size: 3em !important
    margin-bottom: 20px

.display-font
    font-size: 5rem !important

.little-font
  font-size: .8rem

a
  color: unset
  &:hover
    color: white

.alert
  position: unset
  text-align: center

.pointer
  cursor: pointer

.cursor-default
	cursor: default

.select2-container
  .select2-selection--single, .select2-selection--multiple
    cursor: inherit !important
    input
      cursor: inherit !important

.mtb-auto
  margin-top: auto
  margin-bottom: auto

//// COLORS ////

.backDarkRed
  background-color: $redDark !important

.backgreen
  background-color: $green !important

.backblue
  background-color: $blueGT !important

.backgrey
  background-color: $grey !important

.backGreyFormLight
  background-color: $greyFormLight !important

.red
  color: $red !important

.green
  color: $green

.white
  color: $white

.bg-grey-transparent
  background-color: rgba(0,0,0,0.5)

.no-padding
  p
    padding: 0 !important


//// HEIGHT ////
.h-54px
  height: 54px

.h-fit-content
  height: fit-content

.h-90
  height: 90%

.mh-60px
  min-height: 60px

//// WIDTH ////
.minw-105px
  min-width: 105px

.maxw-250px
  max-width: 250px

.minw-300px
  min-width: 300px !important

.minw-100px
  min-width: 100px !important

.minw-200px
  min-width: 200px !important

.minw-450px
  min-width: 450px !important

.w-120px
  width: 120px

.w-49
  width: 49%

.w-22
  width: 22% !important

.w-fit-content
  width: fit-content

.w-100
  + .select2-container
    width: 100% !important
  .select2-container
    width: 100% !important
    .select2-selection
      font-size: 1rem !important
      font-weight: 400 !important
      line-height: 1.5 !important
      color: #495057 !important
      border: 1px solid #ced4da
      border-radius: 0.25rem !important

.border-radius-light
  border-radius: 10px !important

//  reprise du form-control.is-invalid de bootstrap
.is-invalid
  border-color: #dc3545 !important
  background-repeat: no-repeat
  background-position: center right calc(2.25rem / 4)
  background-size: calc(2.25rem / 2) calc(2.25rem / 2)
  .select2-selection
    border: 1px solid red !important
  &:not(.select2-container)
    padding-right: 2.25rem

.label
  color: $greyForm

.no-disabled
  background-color: white
  border: none

.progress-bar
  background-color: $blueGT
  font-family: $mainFont, Helvetica, Arial, sans-serif

.sizeLoader
  width: 5rem
  height: 5rem
  &.mini-loader
    width: 1.5rem
    height: 1.5rem

.checkbox-filter
  border-radius: 3px
  background-color: white
  padding: 7px

.logo-wrapper
  padding: 25px

#modalShowRefArticle #input-group-nomenclature
  height: 150px

.w-450px
  .select2-container
    width: 450px !important

.w-211px
  .select2-container
    width: 211px !important

.z-index-back
  z-index: -1

.ellipsis
  word-break: break-all
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.user-select-none
    user-select: none
