.select2-selection
    min-height: calc(2.25rem + 2px)
    &:not(.is-invalid)
        border: 1px solid #ced4da !important
    &:not(.select2-selection--multiple) .select2-selection__rendered
        line-height: calc(2.25rem + 2px) !important
    &.select2-selection--multiple
        min-height: calc(2.25rem + 2px)
        max-height: 60px
        overflow-y: auto
        .select2-selection__rendered
            display: flex
            flex-wrap: wrap
            overflow-y: auto
            .select2-selection__choice
                display: flex
                align-items: center
                margin-top: .340rem
            .select2-search.select2-search--inline
                margin-top: .1rem
    .select2-selection__clear
        margin-right: 15px

.select2-fit-content + .select2 .select2-selection--multiple
    max-height: none
    overflow-y: hidden

.select2-container--default
    .select2-selection--single
        .select2-selection__arrow
            height: initial
            top: 0
            bottom: 0

