.d-flex .main-header
    flex: 1

.header-container
    background-repeat: no-repeat
    padding-bottom: 1%
    padding-left: 1rem
    padding-right: 1rem

    &.header-ext
        .page-title
            font-size: 3vh

    &:not(.header-ext)
        @extend .bg-primary-followgt
        padding-bottom: 6%

    .web-version
        color: white
        bottom: 5px
        position: absolute
        right: 35px

    &.header-ext
        .web-version
            font-size: 2.5vh
            right: 3rem

    & ~ .container-fluid
        margin-top: -6%

    .main-header
        margin: 1rem 1.5rem 0 1.5rem

        nav#main-nav
            .menu-button
                display: inline-block
                cursor: pointer
                padding: 1rem .5rem

                .icon-menu
                    background-color: $white
                    width: 50px
                    height: 24px
                    display: block
                    -webkit-mask: url('../../public/svg/menu.svg') no-repeat center
                    mask: url('../../public/svg/menu.svg') no-repeat center

                &:hover
                    background-color: $white

                    .icon-menu
                        background-color: $backgroundBodyColorDark !important

            .dropdown-menu
                padding-right: .2rem
                padding-left: .2rem

                .dropdown-item
                    display: flex
                    align-items: center
                    padding-top: .7rem
                    padding-bottom: .7rem
                    color: $greyDashboard
                    &:active,
                    &:hover,
                    &:focus,
                    &.active
                        @extend .bg-primary-followgt
                        .label, .arrow-container
                            color: $white
                            font-weight: bold
                        .icon-container .wii-icon
                            background-color: $white

                    .arrow-container
                        width: 10px
                        margin-right: 4rem
                        color: $greyDashboard

                    .label
                        font-size: 1rem
                        color: $greyDashboard
                    .icon-container
                        display: inline-flex
                        margin-right: 1rem
                        .wii-icon
                            height: 23px
                            width: 23px
                            background-color: $greyDashboard

                .dropdown-menu-sub
                    margin-right: 3px


