<form method="" class="modal fade" id="modalDeleteTriggerAction" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer l'actionneur"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette actionneur ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', dismiss: true, name: 'request', id: 'submitDeleteTriggerAction'}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</form>
