<form method="" class="modal fade" id="modalDeleteTriggerAction" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer l'actionneur"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette actionneur ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteTriggerAction" name='request' value='' type="button" data-dismiss="modal"
                    class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
