{% extends 'layout.html.twig' %}

{% block title %}{{ trans('IoT',  '', 'IoT')}}| Actionneurs{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            {% if hasRight(constant('App\\Entity\\Menu::IOT'), constant('App\\Entity\\Action::CREATE')) %}
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-primary split-button d-flex align-items-center"
                            data-toggle="modal"
                            data-target="#modalNewTriggerAction"
                            data-backdrop="static"
                            data-keyboard="false"
                            onclick="clearNewModal()">
                        <span class="wii-icon wii-icon-plus mr-2"></span>
                        <span>Nouvel actionneur</span>
                    </button>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-12">
                <table id="tableTriggerAction" class="table w-100"></table>
            </div>
        </div>
    </div>

    {% include "trigger_action/new.html.twig" %}
    {% include "trigger_action/delete.html.twig" %}
    {% include "trigger_action/edit.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/trigger_action/index.js') }}?v={{ web_version }}"></script>
{% endblock %}
