{% set config = triggerAction is defined and triggerAction ? triggerAction.config : [] %}
<div class="form-group col-12 col-md-6">
    <label class="wii-field-name">Température*</label>
    <div class="d-flex align-items-center">
        <label style="white-space: nowrap">Si température</label>
        <select class="form-control data needed mx-2" style="flex: 1 1 auto" name="borneTemperature">
            {% for templateTemperature, index in templateTemperatures %}
                <option {{ config is not empty and config['limit'] == index ? 'selected' }} value="{{ index }}">{{ templateTemperature }}</option>
            {% endfor %}
        </select>
        <label>à</label>
        <input type="number" class="data form-control needed w-120px mx-2" value="{{ config is not empty ? config['temperature'] }}"
               name="sensorTemperatureLimit">
        <label>°C</label>
    </div>
</div>
