{% import 'form.html.twig' as form %}

{% set config = triggerAction is defined and triggerAction ? triggerAction.config : [] %}
<div class="col-12">
    <div class="row">
        {% include 'trigger_action/modalMultipleHygrometry.html.twig' %}
    </div>
</div>
