{% set config = triggerAction is defined and triggerAction ? triggerAction.config : [] %}
<div class="form-group col-12">
    <div class="form-group col-12 col-md-6 p-0">
        <label class="wii-field-name">{{ 'IoT.Fonction/Zone' | trans }}</label>
        <input type="text" class="data w-100 form-control" value="{{ config is not empty ? config['zone'] }}" name="zone" title="Fonction/Zone">
    </div>
    {% if profile is defined and profile == constant('App\\Service\\IOT\\IOTService::SYMES_ACTION_MULTI') %}
        <div class="form-group col-12 col-md-6 p-0">
            <label class="wii-field-name">Numéro de bouton</label>
            <input type="number" class="data w-100 form-control needed" max="4" value="{{ config is not empty and config['buttonIndex'] is defined ? config['buttonIndex'] }}" name="buttonIndex" title="Numéro de bouton">
        </div>
    {% endif %}
</div>
