<div class="modal fade" id="modalNewTriggerAction" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouvel actionneur"
            } %}

            <div class="modal-body modal-input container-fluid">
                <form>
                    <div class="row align-items-center">
                        <div class="form-group col-12 col-md-5">
                            <label for="sensorWrapperList" title="sensorWrapper">
                                Capteur*
                            </label>
                            <div class="w-100">
                                <select class="form-control data needed" name="sensorWrapper" data-s2="triggerSensorWithoutPairing"
                                        onchange="onDeviceChanged($(this), true)" data-placeholder="selectionner un nom de capteur">
                                </select>
                            </div>

                        </div>
                        <div class="col-auto m-auto">
                            <label> OU </label>
                        </div>
                        <div class="form-group col-12 col-md-5">
                            <label>Code</label>
                            <div class="w-100">
                                <select class="form-control data" name="sensor" data-s2="triggerSensorCodeWithoutPairing"
                                        onchange="onDeviceChanged($(this), true)" data-placeholder="selectionner un code de capteur">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row sensor-details-container d-none">
                        <div class="col-12 pl-0">
                            <div class="d-flex sensor-type">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success submit-button data', text: 'Ajouter', name: 'request'}
                ],
            } %}

        </div>
    </div>
</div>
