<div class="modal fade" id="modalDeleteReceiptAssociation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Association BR', "Supprimer l'association BR")
            } %}

            <div class="modal-body">
                {{ trans('Traçabilité', 'Association BR', "Voulez-vous réellement supprimer cette association BR ?") }}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-danger data', text: trans('Général', null, 'Modale', 'Supprimer'), id: 'submitDeleteReceiptAssociation', name: 'id', dismiss: true}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</div>
