{% import 'form.html.twig' as form %}

<div class="row">
    <div class="col-12">
        <label class="wii-field-name mb-1">Unité(s) logistique(s)<span class="required-mark">*</span></label>
        <div class="d-flex justify-content-between logistic-unit-container"
             data-multiple-key="logisticUnits"
             data-multiple-object-index="1">
            {{ form.input("logisticUnit", null, true, null, {
                width: "w-75",
                attributes: {
                    "data-global-error": "Unité(s) logistique(s)",
                }
            }) }}
            <button class="btn btn-outline-primary d-flex align-items-center add-logistic-unit">
                <span class='wii-icon wii-icon-plus'></span>
            </button>
        </div>
    </div>
    <div class="col-12 mt-3">
        <label class="wii-field-name mb-1">Numéro(s) de réception*</label>
        <div class="d-flex justify-content-between reception-number-container"
             data-multiple-key="receptionNumbers"
             data-multiple-object-index="1">
            {{ form.input("receptionNumber", null, true, null, {
                width: "w-75",
                attributes: {
                    "data-global-error": "Numéro(s) de réception",
                }
            }) }}
            <button class="btn btn-outline-primary d-flex align-items-center add-reception-number">
                <span class='wii-icon wii-icon-plus'></span>
            </button>
        </div>
    </div>
    <div class="col-12 mt-3">
        {{ form.switch('existingLogisticUnits', "Unité(s) logistique(s) existante(s)", true, [
            {label: 'Oui', value: '1', checked: true},
            {label: 'Non', value: '0'},
        ]) }}
    </div>
</div>

{{ form.hidden("limit", 10) }}
