{% import "form.html.twig" as form %}

<div class="modal fade" id="modalNewReceiptAssociation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Association BR', 'Enregistrer une réception')
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="col-12">
                        {{ form.switch('existingLogisticUnits', "Unité(s) logistique(s) existante(s)", true, [
                            {label: 'Oui', value: '1', checked: true},
                            {label: 'Non', value: '0'},
                        ]) }}
                    </div>
                </div>
                <div class="row logistic-units-container">
                    <div class="col-12 mt-3">
                        <label class="wii-field-name mb-1">Unité(s) logistique(s) *</label>
                        <div class="row logistic-unit-field-container"></div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-outline-primary d-flex align-items-center add-logistic-unit ml-auto mt-2"
                                data-container-selector=".logistic-unit-field-container"
                                data-template-selector=".logistic-unit-wrapper-template">
                            <span class='wii-icon wii-icon-plus'></span>
                        </button>
                    </div>
                </div>
                <div class="row reception-number-container">
                    <div class="col-12 mt-3">
                        <label class="wii-field-name mb-1">Numéro(s) de réception *</label>
                        <div class="row reception-number-field-container"></div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-outline-primary d-flex align-items-center add-reception-number ml-auto mt-2"
                                data-container-selector=".reception-number-field-container"
                                data-template-selector=".reception-number-wrapper-template">
                            <span class='wii-icon wii-icon-plus'></span>
                        </button>
                    </div>
                </div>
                {{ form.hidden("limit", 10) }}
            </div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: "submit"}
                ],
            } %}
        </div>
    </div>

    <template class="logistic-unit-wrapper-template">
        <div class="logistic-unit-wrapper col-12 mt-2">
            <div class="d-flex">
                {{ form.input("logisticUnit", null, true, null, {
                    width: "",
                    attributes: {
                        "data-global-error": "Unité(s) logistique(s)",
                        "data-multiple-key": "logisticUnits"
                    },
                }) }}
                <button class="btn delete-line d-flex align-items-center"
                        data-field-selector=".logistic-unit-wrapper">
                    <i class="wii-icon wii-icon-trash bg-primary"></i>
                </button>
            </div>
        </div>
    </template>

    <template class="reception-number-wrapper-template">
        <div class="reception-number-wrapper col-12 mt-2">
            <div class="d-flex">
                {{ form.input("receptionNumber", null, true, null, {
                    width: "",
                    attributes: {
                        "data-global-error": "Numéro(s) de réception",
                        "data-multiple-key": "receptionNumbers"
                    },
                }) }}
                <button class="btn delete-line d-flex align-items-center"
                        data-field-selector=".reception-number-wrapper">
                    <i class="wii-icon wii-icon-trash text-primary"></i>
                </button>
            </div>
        </div>
    </template>
</div>

