<form class="modal fade" id="modalNewReceiptAssociation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Enregistrer une réception"
            } %}

            <div class="modal-body modal-input container-fluid text-center">
                <div class="form-group text-center packs-wrapper">
                    <label class="mr-2">Association colis</label>
                    <span class="btn btn-primary" onclick="newLine($(this))">
                        <span class="wii-icon wii-icon-plus align-middle"></span>
                    </span>
                    <div class="d-flex pack-code-container my-2">
                        <input type="text" class="form-control data-array pack-code-input" name="packCode">
                    </div>
                </div>

                <div class="form-group text-center receptions-wrapper">
                    <label class="mr-2">Numéro de réception</label>
                    <span class="btn btn-primary" onclick="newLine($(this))">
                      <span class="wii-icon wii-icon-plus align-middle"></span>
                    </span>
                    <div class="d-flex reception-number-container my-2">
                        <input type="text" class="form-control data-array" name="receptionNumber">
                    </div>
                </div>
                <div class="text-center">
                    <div class="btn btn-primary toggle-arrival" onclick="toggleArrivage($(this))" data-arrival="true">Sans arrivage</div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewReceiptAssociation'}
                ],
            } %}

        </div>
    </div>
</form>
