{% extends 'layout.html.twig' %}

{% block title %}New Fournisseurs{% endblock %}

{% block page_content %}
    <h1>Nouveau fournisseur</h1>

    {{ include('fournisseurs/_form.html.twig') }}

    <a href="{{ path('referentiel_fournisseurs') }}">retour</a>
{% endblock %}