.accueil-back
   
    width: 100%
    height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.logoGt
    width: 50%
    height: 40%
    padding: 0
    margin: 0