.btn
  text-decoration: none
  background-color: $grey
  color: $white
  border-radius: 50px
  margin: .5rem
  &:hover
    background-color: $white
    color: $grey
    border-color: $grey
  &:focus
    box-shadow: none

.btn-primary
  background-color: $blueGT
  border-color: $blueGT
  &:hover
    background-color: $white
    color: $blueGT
    border-color: $blueGT

.btn-secondary
  background-color: $green
  border-color: $green
  &:hover
    background-color: $white
    color: $green
    border-color: $green

.btn-danger
  background-color: $red
  border-color: $red
  &:hover
    background-color: $white
    color: $red
    border-color: $red

//.btn-right .fa
//  font-size: 20px
//  padding-left: 10px
//  vertical-align: top
//
//.btn-left .fa
//  font-size: 20px
//  padding-right: 10px
//  vertical-align: top

//.btn-grp .button
//  margin-right: 20px
//  margin-bottom: -50px
//  float: right
//
//.btn-row
//  margin: 15px 0