.dt-buttons
	background-image: none !important
	.dt-button
		font-size: 1rem
	.buttons-colvis
		background: $grey
		border-radius: 50px
		border: none
		color: white
		&:hover
			background: $greyDark
			background-image: none !important
		&:before
			font-family: 'FontAwesome'
			content: "\f013"
		span
			display: none
