.modal-body
  label
    color: $greyForm

.error-msg, .password-error-msg, .row-error-msg
  color: $red
  //font-size: .9rem

.w-100
  .select2-container
    width: 100% !important
    // bootstrap .form-control style
    .select2-selection
      font-size: 1rem !important
      font-weight: 400 !important
      line-height: 1.5 !important
      color: #495057 !important
      border: 1px solid #ced4da !important
      border-radius: 0.25rem !important

.w-50
  .select2-container
    width: 50% !important

.comment
  height: auto
  min-height: 45px
  max-height: 25vh
  overflow: auto