.radio-btn
  .btn
    color: white
    background-color: $blueGT
    border-radius: 0
    margin: 0
    border: 1px solid $blueGT
    &:first-child
      border-bottom-left-radius: .25rem
      border-top-left-radius: .25rem
    &:last-child
      border-bottom-right-radius: .25rem
      border-top-right-radius: .25rem
    &:hover
      background-color: $blueGT
      color: white
  .not-active
    color: $blueGT
    background-color: white
  .active
    &:hover
      background-color: white
      color: $blueGT