html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Italic.ttf");
  font-style: italic;
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  color: #383838;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

p {
  padding: 10px;
}

h1, h2 {
  color: #000;
  margin: 20px 0;
}

h1 {
  font-size: 1.5em;
}

td {
  font-size: 0.8em;
}

a, a:hover, a:link, a:visited {
  text-decoration: none;
}

button:focus {
  outline: 0 !important;
}

.datepicker {
  z-index: 1 !important;
}

.hide {
  display: none !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset !important;
}

.wrapper {
  margin-left: 130px;
  margin-bottom: 30px;
}

.page-title {
  font-size: 32px;
  margin: 30px 0px;
}

.bold {
  font-weight: 700;
}

a {
  color: unset;
}
a:hover {
  color: white;
}

.alert {
  position: unset;
  text-align: center;
}

.backDarkRed {
  background-color: #970000 !important;
}

.backgreen {
  background-color: #00b31e !important;
}

.backblue {
  background-color: #130078 !important;
}

.backgrey {
  background-color: #c6c6c6 !important;
}

.red {
  color: #cc0000;
}

.green {
  color: #00b31e;
}

.modal-body label {
  color: #b2b2b2;
}

.error-msg {
  color: #cc0000;
  font-size: 0.9rem;
}

.accueil-back {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoGt {
  width: 50%;
  height: 40%;
  padding: 0;
  margin: 0;
}

.btn {
  text-decoration: none;
  background-color: #c6c6c6;
  color: #fcfcfc;
  border-radius: 50px;
  margin: 0.5rem;
}
.btn:hover {
  background-color: #fcfcfc;
  color: #c6c6c6;
  border-color: #c6c6c6;
}
.btn:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: #130078;
  border-color: #130078;
}
.btn-primary:hover {
  background-color: #fcfcfc;
  color: #130078;
  border-color: #130078;
}

.btn-success {
  background-color: #00b31e;
  border-color: #00b31e;
}
.btn-success:hover {
  background-color: #fcfcfc;
  color: #00b31e;
  border-color: #00b31e;
}

.btn-danger {
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-danger:hover {
  background-color: #fcfcfc;
  color: #cc0000;
  border-color: #cc0000;
}

.sidemenu-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 99;
}

.sidemenu {
  padding-top: 0%;
  padding-bottom: 0%;
  position: fixed;
  top: 0;
  display: table;
  background-color: #c6c6c6;
  z-index: 100;
  height: 100%;
  width: 130px;
}
.sidemenu .version {
  font-size: 0.8rem;
}
.sidemenu .menu-item {
  display: table-row;
}
.sidemenu .menu-item:hover {
  background-color: #cc0000;
}
.sidemenu .menu-item.active {
  background-color: #cc0000;
}

.sidemenu > li.active .sidemenu-sub {
  display: table-cell;
}

.sidemenu > li.full-height {
  height: 100%;
}

.sidemenu > li.full-height > a {
  vertical-align: middle;
}

.sidemenu > li > a, .sidemenu .menu-header {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  width: 130px;
  color: #fcfcfc;
  text-align: center;
}

.sidemenu > li .sidemenu-sub {
  display: none;
  list-style-type: none;
  background-color: #CC0000;
  width: 200px;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 101;
}

.sidemenu > li .sidemenu-sub > li.text, .sidemenu > li .sidemenu-sub > li > a {
  padding: 10.65px 17.75px;
}

.sidemenu > li .sidemenu-sub > li.text > h4 {
  color: #fcfcfc;
  margin-top: 8px;
  text-align: center;
  font-size: 30px;
}

.sidemenu > li .sidemenu-sub > li.text > p {
  color: #fcfcfc;
}

.sidemenu > li .sidemenu-sub > li.pull-down > a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 71px;
}

.sidemenu > li .sidemenu-sub > li > a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #fcfcfc;
}

.sidemenu > li .sidemenu-sub > li > a:hover {
  color: #424242;
  background-color: #dbdbdb;
}

.sidemenu > li .sidemenu-sub > li > a > .fa {
  margin-top: 2px;
}

.sidemenu > li .fa {
  margin: 10px 0;
}

.sidemenu .username {
  /* text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; */
  font-size: 16px;
  font-weight: 700;
  padding: 0 5px;
  width: 130px;
  /* word-wrap: break-word; * */
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidemenu .logout {
  padding: 0 5px;
  font-size: 16px;
  font-weight: 700;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e9e9e9;
}

.table thead {
  background-color: #130078;
  color: white;
}

.table-hover thead > tr > th:hover {
  background-color: #130078;
}

.table .text, .table .glyphicon {
  color: #fcfcfc;
}

.table > thead > tr > th, .table tbody > tr > td {
  border: none;
}

.table tr:hover td {
  background-color: #14007894;
  color: white;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
}

.table .progress {
  width: 75%;
  margin: auto 0;
  border: #130078 1px solid;
}

.table .progress-blue {
  background-color: #130078;
}

.table .qty {
  width: 200px;
}

.table input {
  max-width: 150px;
}

.table .fa {
  font-size: 25px;
  vertical-align: sub;
  cursor: pointer;
  transition: 0.2s;
}

.table .fa:hover {
  color: white;
}

.table-auto td {
  white-space: unset !important;
}

.fas:hover {
  color: black;
}

/*# sourceMappingURL=style.css.map */
