{% import 'form.html.twig' as form %}

{% set label_logo = setting_value('LABEL_LOGO') %}

<div class="wii-section">
    <div class="row">
        <div class="col-12">
            {% set qr = constant('App\\Entity\\Setting::QR_CODE') %}
            {% set ean = constant('App\\Entity\\Setting::CODE_128') %}
            {{ form.switch(setting('BARCODE_TYPE_IS_128'), 'Type d\'étiquette', false, [
                {label: {text: ean['label']}, value: ean['value'] ? 1 : 0, checked: setting_value('BARCODE_TYPE_IS_128') == ean['value'] },
                {label: {text: qr['label']}, value: qr['value'] ? 1 : 0, checked: setting_value('BARCODE_TYPE_IS_128') == qr['value'] },
            ], {labelClass: "wii-field-name"}) }}
        </div>

        <div class="col-md-6 col-12 d-flex mt-3">
            {{ form.number(setting('LABEL_HEIGHT'), 'Hauteur (mm)', false, setting_value('LABEL_HEIGHT'), {
                labelClass: 'wii-field-name mr-2',
                buttons: false,
            }) }}

            {{ form.number(setting('LABEL_WIDTH'), 'Largeur (mm)', false, setting_value('LABEL_WIDTH'), {
                labelClass: 'wii-field-name',
                buttons: false,
            }) }}
        </div>

        <div class="form-group d-flex flex-column col-12 mt-3">
            {{ form.image(setting('LABEL_LOGO'), 'Logo sur étiquette', false, setting_value('LABEL_LOGO'), {
                labelClass: 'w-100 wii-field-name',
                formats: 'image/png, image/jpeg, image/jpg',
                tooltip: 'Logo visible sur les étiquettes de colis d’arrivage, sur le bon d\'acheminement ainsi que sur le bon de surconsommation (acheminement)',
            }) }}
        </div>
    </div>
</div>
