<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-describe">
            Le paramétrage des heures travaillées a une incidence sur le calcul des en-cours et du délai sur emplacement.
            En l'occurrence le délai positionné sur les emplacements sera en heures ouvrées en fonction de ces plages horaires.
        </div>
    </div>
    <table id="table-working-hours" data-table-processing="workingHours"></table>
</div>
