<div class="row wii-page-card-header">
    <div class="col-auto ml-auto">
        <button class="btn btn-primary add-row-button">
            <span class="fa fa-plus mr-2"></span>Ajouter
        </button>
    </div>
</div>

<table id="table-off-days" data-table-processing="offDays"></table>
