{% extends 'mails/template.html.twig' %}

{% block content %}
    <p>Bonjour,</p>
    <p>Votre object {{ sensorName }} code {{ sensorCode }} n'a pas envoyé de données depuis plus de {{ inactivityAlertThreshold }} minutes.</p>
    <br>
{% endblock %}
