{% extends 'base.html.twig' %}

{% block title %}New Entrepots{% endblock %}

{% block body %}
    <h1>Create new Entrepots</h1>

    {{ include('entrepots/_form.html.twig') }}

    <a href="{{ path('entrepots_index') }}">back to list</a>
{% endblock %}
