{% extends 'base.html.twig' %}

{% block title %}Edit Racks{% endblock %}

{% block body %}
    <h1>Edit Racks</h1>

    {{ include('racks/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('racks_index') }}">back to list</a>

    {{ include('racks/_delete_form.html.twig') }}
{% endblock %}