{% extends 'base.html.twig' %}

{% block title %}New Racks{% endblock %}

{% block body %}
    <h1>Create new Racks</h1>

    {{ include('racks/_form.html.twig') }}

    <a href="{{ path('racks_index') }}">back to list</a>
{% endblock %}