<!-- Modal -->
<form method="" class="modal fade" id="ajoutLigneModalCenter" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une ligne</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">

                <div class="mb-3">
                    <label for="reference">Référence</label>
                    <select type="text" class="data form-control select2" name="reference" id="reference" value="" required="true">
                    {% for reference in references %}
                        <option value="{{ reference.id }}">{{ reference.reference }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="quantite">Quantité</label>
                    <input type="number" class="data form-control" name="quantite" id="quantite" value="" placeholder="Quantité" min="1" required="true">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="ajoutsubmitButton" type="button" data-dismiss="modal" class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>

{% block javascript %}
<script>
    var dataModal2 = document.getElementById("ajoutLigneModalCenter");
    var ButtonSubmit2 = document.getElementById("ajoutsubmitButton");

    ButtonSubmit2.addEventListener("click", function () {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                table.ajax.reload(function ( json ) {
                    $('#myInput').val( json.lastInput );
                });
            }   
        };

        let inputs = dataModal2.querySelectorAll(".data"); // On récupère tout les inputs qui nous intéresse avec le querySelectorAll
        let Data = []; // Tableau de données

        inputs.forEach(input => { // Pour chaque input on fait un tableau avec pour clé son nom et comme valeur la valeur dans l'input
            Data.push({
                [input.name]: input.value
            });
            console.log(input);
        });

        Json = JSON.stringify(Data); // On transforme les données en JSON
        xhttp.open("POST", "{{ path('ajoutArticle', { 'id' : demande.id }) }}", true);
        xhttp.send(Json);
    });
</script>
{% endblock %}