<div class="form-group mt-2">
    <label class="wii-field-name" for="quantity-to-deliver">Quantité à livrer*</label>
    <input class="form-control data needed"
           type="number"
           min=1
           {% if not setting_value('MANAGE_PREPARATIONS_WITH_PLANNING') %}max="{{ maximum }}"{% endif %}
           id="quantity-to-deliver-with-choice"
           name="quantity-to-pick"
           value="0">
</div>

{% if showTargetLocationPicking is defined and showTargetLocationPicking %}
    <div class="form-group mt-2">
        <label class="wii-field-name">Emplacement cible picking</label>
        <select data-s2="location" class="form-control data" name="target-location-picking"></select>
    </div>
{% endif %}
<div class="form-group mt-2">
    <label class="wii-field-name">Quantité disponible</label>
    <input class="form-control" value="{{ maximum }}" disabled>
</div>
