<div class="form-group col-12 d-flex  mb-3">
    <label for="quantity-to-deliver">Quantité à livrer*</label>
    <input class="form-control data needed" id= "quantity-to-deliver-with-choice" name="quantitie" value="0"
           type="number" min=1 max={{ maximum }}>
</div>
<div class="form-group col-12 d-flex  ">
    <label>Quantité en stock*</label>
    <input class="form-control" value="{{ maximum }}" disabled>
</div>