<div class="form-group mt-2">
    <label class="wii-field-name" for="quantity-to-deliver">Quantité à livrer*</label>
    <input class="form-control data needed"
           type="number"
           min=1
           {# Si le paramétrage "Ne pas gérer les quantités en stock" est coché, on ne prend pas en compte la quantité disponible #}
           {% if not setting_value('MANAGE_PREPARATIONS_WITH_PLANNING') and  needStockQuantityManaging %}
                max="{{ maximum }}"
           {% endif %}
           id={{ needStockQuantityManaging ? "needStockQuantityManaging" : "noNeedStockQuantityManaging" }}
           name="quantity-to-pick"
           value="1">
</div>

{% if showTargetLocationPicking is defined and showTargetLocationPicking %}
    <div class="form-group mt-2">
        <label class="wii-field-name">Emplacement cible picking</label>
        <select data-s2="location" class="form-control data" name="target-location-picking"></select>
    </div>
{% endif %}
{% if needStockQuantityManaging %}
    <div class="form-group mt-2">
        <label class="wii-field-name">Quantité disponible</label>
        <input class="form-control" value="{{ maximum }}" disabled>
    </div>
{% else %}
    <input type="hidden" class="form-control" value="{{ maximum }}">
{% endif %}
