<div class="d-flex">
    {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_LIVR')) %}
        <a href='{{ url }}'>
            <div class="btn btn-col-action">
                <i class='fas fa-eye'></i>
            </div>
        </a>
    {% endif %}
</div>