<div class="d-flex">
    {% if modifiable %}
        {% if name == reference %}
            <div class="d-none">
                <div class="btn btn-col-action action-on-click" data-id='{{ id }}' data-target='#modalEditArticle' data-toggle='modal'
                     onclick="editRow($(this), Routing.generate('demande_article_api_edit', true), $('#modalEditArticle'), $('#submitEditArticle'), true)">
                </div>
            </div>
        {% endif %}
        <span class="wii-icon wii-icon-trash"
              onclick="deleteRowDemande($(this))"
              data-id='{{ id }}'
              data-name='{{ name }}'>
        </span>
    {% else %}
        {% set path = refArticleId is defined ? path('reference_article_show_page', {id: refArticleId}) : path('article_show_page', {id: articleId}) %}
        <div class="d-none">
            <a class="action-on-click" href="{{ path }}" target="_blank"></a>
        </div>
    {% endif %}
</div>

