<div onclick='editRow($(this))' data-toggle='modal' data-target='#modalModifyLigneArticle' data-name='{{ ligneArticle.reference.libelle }}' data-quantity='{{ ligneArticle.quantite }}' data-id='{{ ligneArticle.id }}'>
    <i class='fas fa-pencil-alt fa-2x'></i>
</div>
<a href='{{ url.delete }}' class='btn btn-xs btn-default delete '><i class='fas fa-trash fa-2x'></i></a>