{% extends 'layout.html.twig' %}

{% block title %}Demandes de livraison{% endblock %}

{% block page_content %}
</div>
{% include 'filters/filtersWithoutLocation.html.twig' with {'btnName' : 'submitSearchDemandeLivraison'} %}
{#fermeture des filtres#}
{#ouverture d'un nouveau container pour aligner sur tableau#}

    <input type="text" value="" id="dateMinFilter" hidden>
    <input type="text" value="" id="dateMaxFilter" hidden>
    <input type="text" value="" id="statutFilter" hidden>
    <input type="text" value="" id="userFilter" hidden>
    <input type="text" value="" id="typeFilter" hidden>

<div class="container-fluid">

    <h1>Demandes de livraison</h1>
    <div class="row">
        {% if hasRight(constant('App\\Entity\\Menu::DEM_LIVRAISON'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
        <div href="" data-toggle="modal" data-target="#modalNewDemande" class="btn btn-primary"
            onclick='initNewLivraisonEditor("#modalNewDemande")'>
            <span class="fa fa-plus mr-2"></span>Nouvelle demande
        </div>
        {% endif %}
        {% if hasRight(constant('App\\Entity\\Menu::DEM_LIVRAISON'), constant('App\\Entity\\Action::EXPORT')) %}
        <div class="btn btn-primary" onclick='generateCSVDemande()'>
            <span class="fa fa-file-csv mr-2"></span>Exporter au format CSV
        </div>
        {% endif %}
    </div>
    <div class="d-none justify-content-center" id="spinnerlivrai">
        <div class="spinner-border sizeLoader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="error-msg p-4"></div>
    </div>
    <div>
        <table id="table_demande" class="table table-striped table-bordered w-100">
        </table>
    </div>



</div>
{% include "demande/modalNewDemande.html.twig" %}
{% include "demande/modalShowDemande.html.twig" %}

{% if filterStatus is defined and filterStatus is not null %}
    <input hidden id="filterStatus" value="{{ filterStatus }}"
{% endif %}
{% endblock %}

{% block javascript %}
<script>
    const id = 0;
</script>
<script src="{{ asset('js/demande-livraison.js')}}?{{ date().timestamp }}"></script>
{% endblock %}