<div class="modal fade" id="modalEditDemande" role="dialog" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier la demande"
            } %}

            <div class="modal-body modal-input container-fluid">
            </div>
            <div class="modal-footer">
                <input type="hidden" class="data" name="demandeId" value="{{ demande.id }}">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitEditDemande" type="button" class="btn btn-success data">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
