<form method="" class="modal fade" id="modalDeleteDemande" role="dialog" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer la demande"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette demande ?
            </div>
            <div class="modal-footer">
                <input type="hidden" class="data" name="demandeId" value="{{ demande.id }}">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteDemande" type="button" data-dismiss="modal" class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
