<form method="" class="modal fade" id="modalNegativStock" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Erreur de stock"
            } %}

            <div class="modal-body">
                La quantité demandée d'un des articles excède la quantité disponible
                (<span id="restantQuantite"></span>).
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-success', dismiss: true, text: 'Fermer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
