<form method="" class="modal fade" id="modalNegativStock" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Erreur de stock"
            } %}

            <div class="modal-body">
                La quantité demandée d'un des articles excède la quantité disponible
                (<span id="restantQuantite"></span>).
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</form>
