<form method="" class="modal fade" id="modalDeleteArticle" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer l'article"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cet article ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', dismiss: true, name: 'ligneArticle', id: 'submitDeleteArticle'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
