<div class="form-group col-12 d-flex  mb-3">
    <label for="quantity-to-deliver">Quantité à livrer*</label>
    <input class="form-control data needed" type="number" min=1 id="quantity-to-deliver" name="quantity-to-pick" value="0" max="{{ maximum }}">
</div>
