<div class="form-group col-12 d-flex  mb-3">
    <label for="quantity">Quantité à livrer</label>
    <input onkeypress='setMaxQuantityByArtRef($(this))' class="form-control data needed" type="number" min="1" id="quantity" name="quantitie" value="0">
    
</div>