<div class="form-group col-12 d-flex  mb-3">
    <label for="quantity">Quantité à collecter</label>
    <input class="form-control data" type="number" min=1 id="quantity" name="quantite" value="0">
</div>
{% if modifieRefArticle %}
    {% include "demande/modalNewArticleContent.html.twig" %}
{% endif %}