<form method="post" action="{{ path('emplacement_delete', {'id': emplacement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l'emplacement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplacement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
