<div class="d-flex">
    <div data-id='{{ emplacementId }}' data-target='#modalEditEmplacement' data-toggle='modal'
        class='command-edit'
        onclick="editRow($(this), Routing.generate('emplacement_api_edit', true), $('#modalEditEmplacement'), $('#submitEditEmplacement'))">
        <i class='fas fa-pencil-alt'></i>
    </div>
    <div class='emplacement-delete'
        onclick="deleteRow($(this), $('#modalDeleteEmplacement'), $('#submitDeleteEmplacement'))"
        data-id='{{ emplacementId }}' data-target='#modalDeleteEmplacement' data-toggle='modal'>
        <i class='fas fa-trash'></i>
    </div>
</div>