<div class="row">
    <div data-id='{{ emplacementId }}' data-target='#modalEditEmplacement' data-toggle='modal'
        class='col-2 command-edit'
        onclick="editRow($(this), Routing.generate('emplacement_edit_api', true), $('#modalEditEmplacement'), $('#submitEditEmplacement'))">
        <i class='fas fa-pencil-alt'></i>
    </div>
    <div class='col-2 emplacement-delete'
        onclick="deleteRow($(this), $('#modalDeleteEmplacement'), $('#submitDeleteEmplacement'))"
        data-id='{{ emplacementId }}' data-target='#modalDeleteEmplacement' data-toggle='modal'>
        <i class='fas fa-trash'></i>
    </div>
</div>