{% import 'form.html.twig' as form %}

{% extends 'layout.html.twig' %}

{% block title %}Référentiel | Emplacements{% endblock %}

{% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}

{% block page_content %}
    <input type="hidden" id="listEmplacementIdToPrint">
    <div class="m-4 wii-page-card">
        <ul class="nav nav-pills location-tabs">
            <li class="nav-item">
                <a href="#emplacements" class="nav-link active">Emplacements</a>
            </li>
            <li class="nav-item">
                <a href="#groupes" class="nav-link">Groupes</a>
            </li>
            <li class="nav-item">
                <a href="#zones" class="nav-link">Zones</a>
            </li>
        </ul>

        <hr>

        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                <button type="button"
                        data-toggle="modal"
                        data-target="#modalNewLocationGroup"
                        class="btn btn-primary d-none"
                        onclick="clearModal('#modalNewLocationGroup')">
                    <div class="d-flex align-items-center ">
                        <span class="wii-icon wii-icon-plus mr-2 align-middle"></span>
                        Nouveau groupe
                    </div>
                </button>
                <button type="button"
                        data-toggle="modal"
                        data-target="#modalNewZone"
                        class="btn btn-primary d-none newZoneButton"
                        onclick="clearModal('#modalNewZone')">
                    <div class="d-flex align-items-center ">
                        <span class="wii-icon wii-icon-plus mr-2 align-middle"></span>
                        Nouvelle zone
                    </div>
                </button>
                {% endif %}
                <div class="btn-group dispatch-button-container filters-container new-location">
                    {% include "utils/action-buttons/header-buttons.html.twig" with {
                        actions: [
                            {
                                hasRight : hasRightToCreate,
                                title: "Nouvel Emplacement",
                                icon : "fa fa-plus",
                                class : "btn btn-primary split-button d-none",
                                attributes: {
                                    "data-toggle": "modal",
                                    "data-cy-name": "new-location-button",
                                    "data-target": "#modalNewLocation",
                                },
                            },
                            {
                                title: trans('Général', '', 'Zone liste', 'Gestion des colonnes'),
                                icon: "fa fa-cog",
                                attributes: {
                                    "data-toggle": "modal",
                                    "data-target": "#modalFieldModes",
                                },
                            },
                            {
                                title: "Imprimer les étiquettes",
                                icon: "fa fa-print",
                                class: "dropdown-item printButton user-select-none disabled has-tooltip  d-flex align-items-center",
                                attributes : {
                                    "title": "Veuillez faire une recherche pour imprimer.",
                                    "onclick": "printLocationsBarCodes($(this), event)",
                                    "tabindex": "0"
                                }
                            },
                            {
                                title: form.checkbox('statut', 'Statut emplacement actif', false, active, {
                                    inputClass: 'filter-checkbox',
                                    attributes: {
                                        onchange: 'saveFilters(PAGE_EMPLACEMENT, "#locationsTable")',
                                    },
                                }),
                                class: "statut dropdown-item",
                            }
                        ]
                    } %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 locationsTableContainer">
                <table id="locationsTable" data-initial-visible="{{ fields | json_encode }}" class="table w-100"></table>
            </div>
            <div class="col-12 groupsTableContainer">
                <table id="groupsTable" class="table w-100"></table>
            </div>
            <div class="col-12 zonesTableContainer">
                <table id="zonesTable" class="table w-100"></table>
            </div>
        </div>
    </div>

    {% include 'utils/modal/empty-modal.html.twig' with {
        id: 'modalNewLocation',
        size: 'modal-lg',
        header: {
            title: "Nouvel emplacement",
        },
        footer: {
            elements: [
                {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                {classes: 'btn btn-success', text: 'Enregistrer', type: 'submit'},
            ],
        }
    } %}

    {% include 'utils/modal/empty-modal.html.twig' with {
        id: 'modalEditLocation',
        size: 'modal-lg',
        header: {
            title: "Modifier un emplacement"
        },
        footer: {
            elements: [
                {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                {classes: 'btn btn-success', text: 'Enregistrer', type: 'submit'}
            ],
        }
    } %}

    {% include "utils/fields-modes.html.twig" with {
        fields,
        table: 'locationsTable',
        page: constant('App\\Controller\\FieldModesController::PAGE_EMPLACEMENT'),
        config: {
            columns: [
                {
                    label: "Visible",
                    type: "checkbox",
                    name: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE'),
                },
            ],
        }
    } %}

    {% include "location_group/new.html.twig" %}
    {% include "location_group/edit.html.twig" %}
    {% include "location_group/delete.html.twig" %}

    {% include "zone/new.html.twig" %}
    {% include "zone/edit.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('location-index') }}
{% endblock %}
