{% extends 'layout.html.twig' %}

{% block title %}Stock / Emplacements{% endblock %}

{% block page_content %}
<h1>Emplacements</h1>

<div class='row btn '>
    <a href="" data-toggle="modal" data-target="#dataModalCenter" class="button btn-left">
        <span class="fa fa-plus"></span>Nouvel emplacement
    </a>
</div>

<table id="table_id" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

    {% include "emplacement/modalEmplacement.html.twig" %}

{% endblock %}

{% block javascript %}
<script src="{{ asset('js/emplacement.js') }}"></script>
{% endblock %}