{% extends 'layout.html.twig' %}

{% block title %}Référentiel | Emplacements{% endblock %}

{% block page_content %}
    <div class="m-4 datatable-container">
        <input type="hidden" id="listEmplacementIdToPrint">
        <div id="alerts">
            <div class="alert alert-danger text-center d-none">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <span class="error-msg"></span>
            </div>
        </div>
        <div class="row align-items-center datatable-header">
            <div class="col-auto ml-auto">
                <div class="btn-group split-button-container">
                    {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                        <button type="button" data-toggle="modal" data-target="#modalNewEmplacement" class="btn btn-primary btn-ripple split-button"
                                onclick="clearModal('#modalNewEmplacement')">
                            <span class="fa fa-plus mr-2"></span>Nouvel emplacement
                        </button>
                    {% endif %}
                    <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu mr-5">
                    <span class="d-inline-block ml-2" tabindex="0" title="Veuillez faire une recherche pour imprimer.">
                        <div data-toggle="modal" id="btnPrint" class="dropdown-item btn-disabled printButton"
                             onclick="printLocationsBarCodes()">
                            <i class="fas fa-print"></i> Imprimer les étiquettes
                        </div>
                    </span>
                        <div class="statut dropdown-item">
                            <div class="checkbox pl-0 pointer filters-container">
                                {% set checked = active ? 'checked' : '' %}
                                <input onchange="saveFilters(PAGE_EMPLACEMENT, '#tableEmplacement_id')"
                                       class="styled filter-checkbox"
                                       id="actifInactif" name="statut"
                                       type="checkbox" {{ checked }}>
                                <label for="actifInactif" class="pointer">
                                    Statut emplacement actif
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableEmplacement_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include "emplacement/modalDeleteEmplacement.html.twig" %}
    {% include "emplacement/modalEditEmplacement.html.twig" %}
    {% include "emplacement/modalNewEmplacement.html.twig" %}
    <div class="d-none" id="barcodes"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/emplacement.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
