{% extends 'layout.html.twig' %}

{% block title %}Emplacement{% endblock %}

{% block page_content %}
<h1>Emplacement</h1>

<div class='row btn '>
    <a href="{{ path('emplacement_new') }}" class="button btn-left">
        <span class="fa fa-plus"></span>Nouveau emplacement
    </a>
</div>

<table id="table_id" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

    {% include "emplacement/modalEmplacement.html.twig" %}

{% endblock %}

{% block javascript %}

<script>
    var table = $('#table_id').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        ajax: "{{path('emplacement_api')}}",
        columns: [
            { "data": 'Nom' },
            { "data": 'Description' },
            { "data":'actions' }
        ],
        buttons: [
            'copy', 'excel', 'pdf'
        ]
    });
</script>

{% endblock %}