{% extends 'layout.html.twig' %}

{% block title %}Stock / Emplacements{% endblock %}

{% block page_content %}
<h1>Emplacements</h1>

<div class='emplacement row d-flex justify-content-between'>
    {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
        <a href="" data-toggle="modal" data-target="#modalNewEmplacement" class="btn btn-primary"
            onclick="clearModal('#modalNewEmplacement')">
            <span class="fa fa-plus mr-2"></span>Nouvel emplacement
        </a>
    {% endif %}
    <div class="d-flex">
        <button data-toggle="modal" id="btnPrint" class="btn btn-disabled printButton"
             onclick="getDataAndPrintLabels()">
            <i class="fas fa-print"></i> Imprimer les étiquettes
        </button>
        <div class="dropright">
            <div class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </div>
            <div class="dropdown-menu filters-container" aria-labelledby="dropdownMenuButton">
                <div class="statut dropdown-item" >
                    Statut emplacement actif
                    <label class="switch">
                        {% set checked = active ? 'checked' : '' %}
                        <input class="checkbox filter-checkbox" id="actifInactif" name="statut" type="checkbox" onchange="saveFilters(PAGE_EMPLACEMENT, '#tableEmplacement_id')" {{ checked }}>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="listEmplacementIdToPrint">
<div id="alerts">
    <div class="alert alert-danger text-center d-none">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span class="error-msg"></span>
    </div>
</div>

<table id="tableEmplacement_id" class="table table-striped table-bordered w-100">
</table>

{% include "emplacement/modalDeleteEmplacement.html.twig" %}
{% include "emplacement/modalEditEmplacement.html.twig" %}
{% include "emplacement/modalNewEmplacement.html.twig" %}
<div class="d-none" id="barcodes"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/emplacement.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
