{% extends 'layout.html.twig' %}

{% block title %}Stock / Emplacements{% endblock %}

{% block page_content %}
<h1>Emplacements</h1>

<div class='emplacement row'>
    {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
    <a href="" data-toggle="modal" data-target="#modalNewEmplacement" class="btn btn-primary"
        onclick="clearModal('#modalNewEmplacement')">
        <span class="fa fa-plus mr-2"></span>Nouvel emplacement
    </a>
    {% endif %}
        <button data-toggle="modal" id="btnPrint" class="btn btn-disabled printButton"
             onclick="getDataAndPrintLabels()">
            <i class="fas fa-print"></i> Imprimer les étiquettes
        </button>
</div>

<input type="hidden" id="listEmplacementIdToPrint">

<table id="tableEmplacement_id" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
   
    
</table>
{% include "emplacement/modalDeleteEmplacement.html.twig" %}
{% include "emplacement/modalEditEmplacement.html.twig" %}
{% include "emplacement/modalNewEmplacement.html.twig" %}
<div class="d-none" id="barcodes"></div>

{% endblock %}

{% block javascript %}
<script src="{{ asset('js/emplacement.js') }}?{{ date().timestamp }}"></script>
{% endblock %}