<p class='error-msg'>
    Cet emplacement est utilisé par un(e) ou plusieurs
    {% for entity in isUsedBy %}
    <span class="bold">{{ entity }}</span>{% if not loop.last %},{% endif %}{% endfor %}.
    Vous ne pouvez pas le supprimer.
</p>