<div class="modal fade" id="modalDeleteEmplacement" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer l'emplacement"
            } %}

            <div class="modal-body">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', id: 'submitDeleteEmplacement', name: 'emplacement', text: 'Supprimer', dismiss: true}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</div>
