<form method="" class="modal fade" id="modalEditEmplacement" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier un emplacemnt"
            } %}

            <div class="modal-body modal-input container-fluid">
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="clearErrorMsg($(this))">Annuler</button>
                <button id="submitEditEmplacement" class="btn btn-success data" type="button"
                    name='id' value=''>Enregistrer</button>
            </div>
        </div>
    </div>
</form>
