<div class="form-group">
    <label class="wii-field-name">Nom du modèle*</label>
    <input type="text" class="form-control data needed" name="name" value="{{ alert_template.name }}"/>
</div>

<div class="form-group">
    <label class="wii-field-name">Type d'alerte</label>
    <select name="type" class="form-control data needed w-100" disabled>
        {% for index, type in templateTypes %}
            <option value="{{ index }}" {{ alert_template.type == index ? 'selected' }}>{{ type }}</option>
        {% endfor %}
    </select>
</div>

<div class="row template-container">
    {% if alert_template.type == constant('App\\Entity\\IOT\\AlertTemplate::MAIL') %}
        {% include('alert_template/templates/mail.html.twig') with {
            config: alert_template.config
        } %}
    {% elseif alert_template.type == constant('App\\Entity\\IOT\\AlertTemplate::PUSH') %}
        {% include('alert_template/templates/push.html.twig') with {
            config: alert_template.config
        } %}
    {% elseif alert_template.type == constant('App\\Entity\\IOT\\AlertTemplate::SMS') %}
        {% include('alert_template/templates/sms.html.twig') with {
            config: alert_template.config,
            phoneNumbers: phoneNumbers
        } %}
    {% endif %}
</div>
