{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Modèles d'alertes{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        {% if hasRight(constant('App\\Entity\\Menu::PARAM'), constant('App\\Entity\\Action::EDIT')) %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <div class="btn btn-primary btn-ripple"
                         data-toggle='modal'
                         data-target='#modalNewAlertTemplate'>
                        <i class="fa fa-plus"></i>
                        Nouveau modèle d'alerte
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table id="tableAlertTemplate" class="table w-100"></table>
            </div>
        </div>
    </div>

    {% include 'alert_template/new.html.twig' %}
    {% include 'alert_template/edit.html.twig' %}
    {% include 'alert_template/delete.html.twig' %}
    {% include 'variables_modal.html.twig' with {
        dictionary: 'ALERT_DICTIONARY'
    } %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/iot/alert-template-index.js') }}?v={{ web_version }}"></script>
{% endblock %}
