<div class="col-4">
    <label class="wii-field-name">Nom du modèle*</label>
    <input type="text" class="form-control data needed required" name="name"/>
</div>

<div class="col-8">
    <label class="wii-field-name">Type d'alerte*</label>
    <select name="type" class="form-control data needed w-100" onchange="onTemplateTypeChange($(this))" data-s2>
        {% for type in templateTypes %}
            <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select>
</div>

<div class="row template-container">
</div>
