{% if type is not null %}
    {% include 'free_field/freeFieldsEdit.html.twig' with {
        freeFieldManagementRules: type.freeFieldManagementRules|filter((rule) => rule.freeField.categorieCL.label == constant('App\\Entity\\CategorieCL::ARTICLE')),
        freeFieldValues: [],
        colType: 'col-md-6 col-12',
        requiredType: 'requiredCreate',
        actionType: 'new',
        fieldNameClass: 'wii-field-name'
    } %}
{% else %}
    <div class="wii-body-text text-center py-3">Il n'y a aucun champ libre pour la référence sélectionnée.</div>
{% endif %}
