{# templates/emails/registration.html.twig #}
<h3>Alerte : {{alerte.alerteNom}}</h3>

Bonjour une alerte à été détectée.

{# example, assuming you have a route named "alerte_index" #}
Vous pouvez voir vos autres alertes ici : <a href="{{ url('alerte_index') }}">...</a>.

Merci !

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">