<div class="modal fade" id="modalNewChauffeur" role="dialog"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau chauffeur"
            } %}

            <div class="modal-body modal-input container-fluid">

                <div class="form-group">
                    <label class="wii-field-name" for="Nom">Nom*</label>
                    <input type="text" id="nom" class="form-control data needed" name="nom" maxlength="64">
                </div>

                <div class="form-group">
                    <label class="wii-field-name" for="prenom">Prénom*</label>
                    <input type="text" id="prenom" class="form-control data needed" name="prenom" maxlength="64">
                </div>

                <div class="form-group needed">
                    <label class="wii-field-name" for="documentID">DocumentID*</label>
                    <input id="document" class="form-control data needed" name="documentID" maxlength="64">
                </div>

                <div class="form-group">
                    <label class="wii-field-name" for="transporteur">Transporteur*</label>
                    <div class="w-100">
                        <select type="text" class="form-control data ajax-autocomplete-transporteur d-block needed w-100" name="transporteur">
                        </select>
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', id: 'submitNewChauffeur', text: 'Enregistrer'}
                ],
            } %}

        </div>
    </div>
</div>
