{% import 'form.html.twig' as form %}

<div class="form-group needed">
    <label class="wii-field-name" for="nom">Nom*</label>
    <input type="text" id="nom" class="form-control data needed input" name="nom" value="{{chauffeur.nom}}"
           placeholder="Nom" maxlength="64">
</div>

<div class="form-group needed">
    <label class="wii-field-name" for="prenom">Prénom*</label>
    <input type="text" id="prenom" class="form-control data needed input" name="prenom" value="{{chauffeur.prenom}}"
           placeholder="Prenom" maxlength="64">
</div>

<div class="form-group needed">
    <label class="wii-field-name" for="documentID">DocumentID*</label>
    <input class="form-control data needed input" value="{{chauffeur.documentID}}" name="documentID" placeholder="DocumentID" maxlength="64">
</div>

<div class="form-group">
    {{ form.select('transporteur', 'Transporteur', false, {
        type: 'carrier',
        items: [{
            value: transporteur.id,
            label: transporteur.label,
            selected: true
        }]
    } ) }}
</div>
