<form method="" class="modal fade" id="modalDeleteChauffeur" role="dialog"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer le chauffeur"
            } %}

            <div class="modal-body">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', id: 'submitDeleteChauffeur', name: 'chauffeur', dismiss: true, text: 'Supprimer'}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</form>
