<form method="" class="modal fade" id="modalEditChauffeur" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier un chauffeur"
            } %}

            <div class="modal-body modal-input container-fluid">
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitEditChauffeur" type="button" name="id"
                        class="btn btn-success data">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
