<div class="lu-detail">
    <table style="--reference-color: {{ color ?? '$primary;' }};">
        <tbody>
        <tr class="lu">
            <td>
                caisse
            </td>
            <td>
                <div class="w-max-content main-lu-data row no-gutters">
                    <div class="col-4 col d-flex">
                        <div class="text-break">
                            <div class="wii-body-text w-100">Unité logistique</div>
                            <div class="wii-label">P5437865654576-4566</div>
                        </div>
                    </div>
                    <div class="col-4 col d-flex">
                        <span class="wii-icon wii-icon-iot-location h-100 mr-1"></span>
                        <div class="text-break">
                            <div class="wii-label">Emplacement</div>
                            <div >Zone de déchargement</div>
                        </div>
                    </div>
                    <div class="col-4 col d-flex">
                        <span class="wii-icon wii-icon-quantity h-100 mr-1"></span>
                        <div class="text-break">
                            <div class="wii-label">Projet</div>
                            <div>CODE78578</div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <button type="button"
                        class="btn btn-outline-primary ml-2 h-100 p-1">
                    <span class="wii-icon wii-icon-new-article"></span>
                </button>
            </td>
        </tr>
        <tr class="list-article">
            <td></td>
            <td>
                <div class="data-table-container">
                    <table id="{{ tableId }}" class="table w-100"></table>
                </div>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

