<div class="d-flex">
    {% if modifiable %}
        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
            <div>
                <div class="btn btn-col-action" data-id='{{ligneId}}' data-toggle='modal' data-target='#modalEditLigneArticle'
                     onclick="editRow($(this), Routing.generate('reception_article_edit_api', true), $('#modalEditLigneArticle'), $('#submitEditLigneArticle'), true, '.editor-container-article'),
                        clearModal('#modalEditLigneArticle')">
                    <i class='fas fa-pencil-alt'></i>
                </div>
            </div>
            <div>
                <div class="btn btn-col-action"
                     onclick="checkAndDeleteRow($(this), '#modalDeleteLigneArticle', 'ligne_recep_check_delete', '#submitDeleteLigneArticle')"
                     data-id='{{ligneId}}' data-target='#modalDeleteLigneArticle' data-toggle='modal'>
                    <i class='fas fa-trash'></i>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if showPrint %}
        <div>
            <a class="btn btn-col-action"
               target="_blank"
               href="{{ path('reception_ligne_article_bar_code_print', {reception: receptionId, ligneArticle: ligneId}) }}">
                <i class="fas fa-print"></i>
            </a>
        </div>
    {% else %}
        <div>
            <div class="btn btn-col-action"
                 onclick='openModalArticlesFromLigneArticle({{ligneId}})'>
                <i class="fas fa-list"></i>
            </div>
        </div>
    {% endif %}
</div>
