<div class="d-flex">
    {% include 'utils/action-buttons/dropdown.html.twig' with {
        actions: [
            {
                icon: "fas fa-list",
                title: "Voir mouvements de traçabilité",
                href: path('mvt_traca_index', packFilter is not empty ? {pack: packFilter} : {}),
                hasRight: isReferenceTypeLinked,
            },
            {
                icon: "wii-icon wii-icon-printer-black",
                title: "Imprimer",
                href: path('reception_ligne_article_bar_code_print', {reception: receptionId, receptionReferenceArticle: ligneId}),
                hasRight: isReferenceTypeLinked,
            },
            {
                icon: "fas fa-list",
                title: "Voir les articles",
                hasRight: isArticleTypeLinked and ligneArticleQuantity > 0,
                attributes: {
                    onclick: "openModalArticlesFromLigneArticle(" ~ ligneId ~ ")"
                }
            },
            {
                title: "Modifier",
                hasRight: modifiable and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')),
                actionOnClick: true,
                attributes: {
                    "data-id": ligneId,
                    "data-toggle": "modal",
                    "data-target": "#modalEditReceptionReferenceArticle",
                    onclick: 'editRow($(this), "' ~ path('reception_reference_article_edit_api') ~ '", $("#modalEditReceptionReferenceArticle"), $("#submitEditLigneArticle")),
                              clearModal("#modalEditReceptionReferenceArticle")',
                }
            },
            {
                title: "Supprimer",
                hasRight: modifiable and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')),
                icon: "wii-icon wii-icon-trash-black",
                attributes: {
                    "data-id": ligneId,
                    "data-target": "#modalDeleteReceptionReferenceArticle",
                    "data-toggle": "modal",
                    onclick: "checkAndDeleteRow($(this), '#modalDeleteReceptionReferenceArticle', 'reception_reference_article_check_delete', '#submitDeleteReceptionReferenceArticle')",
                }
            },
        ]
    } %}
</div>
