<div class='btn btn-xs btn-default reception-delete'
    onclick="deleteRow($(this), $('#modalDeleteReception'), $('#submitDeleteReception'))" data-id='{{ reception.id }}'
    data-target='#modalDeleteReception' data-toggle='modal'>
    <i class='fas fa-trash'></i>
</div>
<a href='{{ url }}' class='btn btn-xs btn-default command-edit'>
    <i class='fas fa-plus'></i>
    Articles
</a>