<div class="d-flex">
    {% if modifiable %}
        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
            <div>
                <div class="btn btn-col-action" data-id='{{ligneId}}' data-toggle='modal' data-target='#modalEditLigneArticle'
                     onclick="editRow($(this), Routing.generate('reception_article_edit_api', true), $('#modalEditLigneArticle'), $('#submitEditLigneArticle'), true, '.editor-container-article')">
                    <i class='fas fa-pencil-alt'></i>
                </div>
            </div>
            <div>
                <div class="btn btn-col-action"
                     onclick="checkAndDeleteRow($(this), '#modalDeleteLigneArticle', 'ligne_recep_check_delete', '#submitDeleteLigneArticle')"
                     data-id='{{ligneId}}' data-target='#modalDeleteLigneArticle' data-toggle='modal'>
                    <i class='fas fa-trash'></i>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div>
        <div class="btn btn-col-action" data-id='{{ligneId}}'  onclick='printSingleBarcode($(this))'>
            <i class="fas fa-{{type}}"></i>
        </div>
    </div>
</div>
