<div data-id='{{ reception.id }}' data-toggle='modal' data-target='#modalEditReception'
    class='btn btn-xs btn-default command-edit'
    onclick="editRow($(this), Routing.generate('reception_edit_api', true), $('#modalEditReception'), $('#submitEditReception'))">
    <i class='fas fa-pencil-alt fa-2x'></i>
</div>
<div class='btn btn-xs btn-default reception-delete'
    onclick="deleteRow($(this), $('#modalDeleteReception'), $('#submitDeleteReception'))" data-id='{{ reception.id }}'
    data-target='#modalDeleteReception' data-toggle='modal'>
    <i class='fas fa-trash fa-2x'></i>
</div>
<a href='{{ url }}' class='btn btn-xs btn-default command-edit'>
    <i class='fas fa-plus fa-2x'></i>
    Articles
</a>