<form method="" class="modal fade" id="modalFinishReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Valider <span title="la réception">' ~ ('réception.la réception' | trans) ~ '</span>'
            } %}

            <div class="modal-body">
                <span title="cette réception">{{ 'réception.cette réception'|trans }}</span> contient des <span title="articles">{{ 'réception.articles'|trans }}</span> à finir de réceptionner.<br>Êtes-vous sûr de vouloir {{ 'réception.la'|trans }} finir ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'},
                    {classes: 'btn btn-success', text: 'Valider', dismiss: true, event: "finishReception(" ~ reception.id ~ ", true, $('#finishReceptionButton'))"}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
