<div class="p-3" id="new-ref-inner-body">
    {% include 'reference_article/modalNewRefArticleContent.html.twig' %}
    <div class="error-msg p-4"></div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Annuler</button>
        <div id="submitNewRefArticleFromRecep" class="btn btn-primary btn-success" onclick="setCommentaire('.editor-container-new')">
            Enregistrer
        </div>
    </div>
</div>

