<div class="input-group">
    <input type="number" class="form-control data" name="quantiteLot" placeholder="0" min="0">
    <div class="input-group-prepend">
        <div class="input-group-text">conditionnements de</div>
    </div>
    <input type="number" class="form-control data" name="tailleLot" placeholder="0" min="0">
    <div class="input-group-prepend">
        <div class="input-group-text">unités</div>
    </div>
</div>
<br>