<form method="" class="modal fade" id="modalFinishReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Valider" ~ 'réception.le réception' | trans
            } %}

            <div class="modal-body">
                <span title="cette réception">{{ 'réception.cette réception'|trans }}</span> contient des <span title="articles">{{ 'réception.articles'|trans }}</span> à finir de réceptionner.<br>Êtes-vous sûr de vouloir {{ 'réception.la'|trans }} finir ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
                <button type="button"
                        data-dismiss="modal"
                        class="btn btn-success"
                        onclick="finishReception({{ reception.id }}, true, $('#finishReceptionButton'))">
                    Valider
                </button>
            </div>
        </div>
    </div>
</form>
