<form method="" class="modal fade" id="modalEditReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Modifier <span title="une réception">' ~ ('réception.une réception' | trans) ~ '</span>'
            } %}

            <div class="modal-body modal-input container-fluid"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {input: true, classes: 'data', name: 'receptionId', value: reception.id},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', name: 'reception', id: 'submitEditReception', text: 'Enregistrer'}
                ],
            } %}

        </div>
    </div>
</form>
