<form method="" class="modal fade" id="modalDeleteLigneArticle" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Supprimer <span title="l\'article">' ~ ("réception.l'article" | trans) ~ '</span>'
            } %}

            <div class="modal-body">

            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', dismiss: true, name: 'ligneArticle', id: 'submitDeleteLigneArticle'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
