<form method="" class="modal fade" id="modalEditReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier" ~ 'réception.une réception' | trans
            } %}

            <div class="modal-body modal-input container-fluid"></div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <input type="hidden" class="data" name="receptionId" value="{{ reception.id }}">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitEditReception" type="button" name="reception" class="btn btn-success data">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
