<form method="" class="modal fade" id="modalAddLigneArticle" role="dialog" aria-labelledby="dataModalCenterTitle"
             aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une ligne</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="clearAddRefModal()">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-11  w-100 mb-3">
                        <label for="reference">
                            {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) %}
                                Référence CEA*
                            {% else %}
                                Référence*
                            {% endif %}
                        </label>
                        <select class="ajax-autocomplete data form-control needed" onchange="articleChanged($(this))"
                                id="reference" name="referenceArticle">
                        </select>
                    </div>
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE_REF_FROM_RECEP')) %}
                    <div class="form-group col-1 row">
                        <span class="btn btn-primary m-0 align-self-end" onclick="addArticle()">
                            <i class="fa fa-plus"></i>
                        </span>
                    </div>
                    {% endif %}
                    <div id='innerNewRef' class="form-group w-100 col-12">

                    </div>
                    <div class="body-add-ref row p-3">
                        <div class="form-group col-6 emergency d-none">
                            <h1><i class="fa fa-exclamation-triangle mr-2"></i>Cette référence est en URGENCE.</h1>
                        </div>
                        <div class="form-group col-6 emergency d-none commentOverflow">
                            <h1>Commentaire de l'urgence : <span class="emergency-comment"></span></h1>
                        </div>
                        <div class="form-group col-6">
                            <label for="label">Numéro de commande d'achat*</label>
                            <input class="form-control data needed" type="text" name="commande" id="commande">
                        </div>
                        <div class="form-group col-6">
                            <label for="">Quantité à recevoir*</label>
                            <input type="number" class="form-control data needed" name="quantiteAR" id="stock" min=1>
                        </div>
                        <div class="form-group col-6">
                            <label for="">Quantité reçue</label>
                            <input type="number" class="form-control data" name="quantite" id="quantite" min=0 disabled value="0">
                        </div>
                        <div class="form-group col-6">
                            <label>Anomalie</label>
                            <label class="switch">
                                <input class="checkbox" type="checkbox" name="anomalie">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="form-group col-12">
                            <label>Commentaire</label>
                            <input id='commentaire' class="form-control data" name="commentaire" type="hidden">
                            <div class="editor-container"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button"
                        class="btn"
                        data-dismiss="modal"
                        onclick="clearModal($(this).parents('#modalAddLigneArticle'))">
                    Annuler
                </button>
                <button type="button" id="addArticleLigneSubmit" class="btn btn-success data"
                        name="reception" value="{{ reception.id }}"
                        onclick="setCommentaire('.editor-container')">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
