<form method="" class="modal fade" id="modalChoose" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conditionnement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tableArticleInner_id" class="table table-striped table-bordered w-100">
                </table>
                <div class="modal-choose">
                    <span class="btn btn-primary" onclick="addLot($(this))"><i class="fa fa-plus"></i></span>
                </div>
                {% set statutVisible = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
                <input type="hidden" class='statutVisible' name="statutVisible" value="{{statutVisible}}">
            </div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal">Fermer</div>
                <div data-dismiss="modal" id="submitConditionnement" onclick="createArticleAndBarcodes($(this))"
                    class="btn btn-success">
                    Enregistrer</div>
                {#TODO CG au clic sur enregistrer on ne veut pas forcément générer le code barre ? plutôt rôle icône imprimante ? #}
            </div>
        </div>
    </div>
</form>