<form method="" class="modal fade" id="modalDeleteReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Supprimer <span title="la réception">' ~ ('réception.la réception' | trans) ~ '</span>'
            } %}

            <div class="modal-body">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {input: true, classes: 'data', name: 'receptionId', value: reception.id},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', dismiss: true, id: 'submitDeleteReception'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
