<form class="modal fade" id="modalDeleteLitige" role="dialog" aria-hidden="true" onsubmit="return false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer le litige"
            } %}

            <div class="modal-body">
                <p>
                    Voulez-vous réellement supprimer ce litige ?
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteLitige" name='litige' data-dismiss="modal" class="btn btn-danger data">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</form>
