<form method=""
      class="modal fade"
      id="modalAddLigneArticle"
      role="dialog"
      aria-labelledby="dataModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une ligne</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true"
                          onclick="clearAddRefModal()">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <input type="hidden" class="data" name="reception" value="{{ reception.id }}"/>
                <div class="row">
                    <div class="form-group col-11 w-100 mb-3 ml-0">
                        <label for="reception-add-ligne"
                               title="référence">{{ 'reference.référence'|trans }}*</label>
                        <select class="ajax-autocomplete data form-control needed"
                                onchange="articleChanged($(this))"
                                id="reception-add-ligne"
                                name="referenceArticle">
                        </select>
                    </div>
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE_REF_FROM_RECEP')) %}
                        <div class="form-group col-1 d-flex justify-content-end">
                            <span class="btn btn-primary m-0 align-self-end"
                                  onclick="addArticle()">
                                <i class="fa fa-plus"></i>
                            </span>
                        </div>
                    {% endif %}
                    <div id='innerNewRef'
                         class="form-group w-100 col-12">

                    </div>
                </div>
                <div class="body-add-ref row">
                    <div class="container">
                    <div class="form-group col-12 emergency d-none">
                        <h1 class="my-0"><i class="fa fa-exclamation-triangle mr-2"></i>Cette référence est en URGENCE.</h1>
                        <div class="form-group commentOverflow h-100 mw-50 text-justify mw-75">
                            <p class="pl-0">Commentaire de l'urgence : <div class="emergency-comment"></div></p>
                        </div>
                    </div>
                    </div>

                    <div class="form-group col-6">
                        <label for="label">Numéro de commande d'achat*</label>
                        <input class="form-control data needed"
                               type="text"
                               name="commande"
                               id="numCommandeAchat">
                    </div>
                    <div class="form-group col-6">
                        <label for="">Quantité à recevoir*</label>
                        <input type="number"
                               class="form-control data needed"
                               name="quantiteAR"
                               min=1
                               id="quantiteAR">
                    </div>
                    <div class="form-group col-6">
                        <label for="">Quantité reçue</label>
                        <input type="number"
                               class="form-control data"
                               name="quantite"
                               min=0
                               disabled
                               value="0"
                               id="quantiteRecue">
                    </div>
                    <div class="form-group col-6 pt-4">
                        <label>Anomalie</label>
                        <label class="switch">
                            <input class="checkbox"
                                   type="checkbox"
                                   name="anomalie">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group col-12">
                        <label>Commentaire</label>
                        <div>
                            <input id='commentaire'
                                   class="form-control data"
                                   name="commentaire"
                                   type="hidden">
                            <div class="editor-container"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        onclick="clearModal($(this).parents('#modalAddLigneArticle'))">
                    Annuler
                </button>
                <button type="button"
                        id="addArticleLigneSubmit"
                        class="btn btn-primary">
                    Enregistrer
                </button>
                <button type="button"
                        id="addArticleLigneSubmitAndRedirect"
                        class="btn btn-primary d-none"
                        title="Enregistrer et réception"
                        onclick="openModalLigneReception($(this))">
                      Enregistrer et {{ 'réception.réception'|trans }}
                </button>
            </div>
        </div>
    </div>
</form>
