<p class='error-msg'>
    {{ trans('Ordre', 'Réceptions', 'Cette réception contient des articles.', false) }}<br>
    {{ trans('Ordre', 'Réceptions', 'Vous devez d\'abord les supprimer.', false) }}
</p>
