<p class='error-msg'>
    <span title="cette réception">{{ 'réception.cette réception'|trans }}</span> contient des <span title="articles">{{ 'réception.articles'|trans }}</span>.<br>
    Vous devez d'abord les supprimer.
</p>
