<div id="modalAddLigneArticle" class="modal fade" role="dialog"
      data-modal-type="new" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered"
         role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter une ligne"
            } %}

            <div class="modal-body modal-input container-fluid">
                <input type="hidden" class="data" name="reception" value="{{ reception.id }}"/>
                <div class="row">
                    <div class="form-group col-xl-6 col-12">
                        <div class="row no-gutters align-items-end">
                            <div class="col">
                                <label for="reception-add-ligne"
                                       title="référence" class="wii-field-name">{{ 'reference.référence'|trans }}*</label>
                                <select class="ajax-autocomplete w-100 data form-control needed wii-field-text"
                                        onchange="articleChanged($(this))"
                                        id="reception-add-ligne"
                                        name="referenceArticle">
                                </select>
                            </div>

                            {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE_REF_FROM_RECEP')) %}
                                <div class="col-auto pl-2">
                                    <a href="{{ path('reference_article_new_page', {from: 'reception_add_line', reception: reception.id}) }}"
                                       class="btn btn-primary m-0">
                                        <i class="fa fa-plus mr-1"></i>
                                        <span >Créer</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id='innerNewRef'
                         class="form-group w-100 col-12">
                    </div>
                </div>
                <div class="body-add-ref row">
                    <div class="container">
                        <div class="form-group col-12 emergency d-none">
                            <h1 class="my-0"><i class="fa fa-exclamation-triangle mr-2"></i>Cette référence est en URGENCE.</h1>
                            <div class="form-group commentOverflow h-100 mw-50 text-justify mw-75">
                                <p class="pl-0">Commentaire de l'urgence : <div class="emergency-comment"></div></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <label class="wii-field-name">Numéro de commande d'achat*</label>
                        <input class="form-control data needed wii-field-text"
                               type="text"
                               name="commande"
                               id="numCommandeAchat">
                    </div>
                    <div class="form-group col-6">
                        <label class="wii-field-name">Quantité à recevoir*</label>
                        <input type="number"
                               class="form-control data needed wii-field-text"
                               name="quantiteAR"
                               min=1
                               id="quantiteAR">
                    </div>
                    <div class="form-group col-6">
                        <label class="wii-field-text">Anomalie</label>
                        <label class="switch">
                            <input class="checkbox"
                                   type="checkbox"
                                   name="anomalie">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group col-12">
                        <label class="wii-field-name">Commentaire</label>
                        <div>
                            <input id='commentaire'
                                   class="form-control data"
                                   name="commentaire"
                                   type="hidden">
                            <div class="editor-container" data-wysiwyg></div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler', event: "clearModal($(this).parents('#modalAddLigneArticle'))"},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'addArticleLigneSubmit'},
                    {classes: 'btn btn-success d-none', text: 'Enregistrer et ' ~ ('réception.réception' | trans), id: 'addArticleLigneSubmitAndRedirect',
                        event: 'openModalLigneReception($(this))', title: 'Enregistrer et réception'},
                ],
            } %}

        </div>
    </div>
</div>
