<div class="form-group">
    <label for="libelle">Libellé</label>
    <input type="text" class="form-control data" name="label" id='label' value="{{article.label}}" placeholder="">
</div>
<div class="form-group col-6">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="defaultCheck1">conforme</label>
        </div>
        <select class='data form-control' name="conform" id="">
            {% if article.conform %}
            <option value="on">oui</option>
            <option value="off">non</option>
            {% else %}
            <option value="off">non</option>
            <option value="on">oui</option>
            {% endif %}
        </select>
    </div>
</div>

<div class="form-group">
    <label>Commentaire</label>
    <input id='commentaireID' class="form-control data" name="commentaire" type="hidden" value='{{article.commentaire}}'>
    <div class="editor-container" value="{{article.commentaire}}" onkeyup="setCommentaireID($(this))"> 
        {{article.commentaire|raw}}
    </div>
</div>

