<form method="" class="modal fade" id="modalChoose" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: '<span title="article">' ~ ('réception.articles' | trans) ~ '</span> de la référence'
            } %}

            <div class="modal-body">
                <table id="tableArticleInner_id" class="table w-100">
                </table>
                {% set statutVisible = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
                <input type="hidden" id="statutVisible" name="statutVisible" value="{{statutVisible}}">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
