<div class="form-group">
    <label for="libelle">Libellé</label>
    <input type="text" class="form-control data" name="label" id='label' value="{{article.label}}" placeholder="">
</div>
<div class="form-group col-6">
    <div class="input-group">
        <div class="form-group">
            <label>Anomalie</label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="anomalie">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>
<div class="input-group col-12 my-2 mb-4">
    <div class="input-group-prepend">
        <span class="input-group-text">Commentaire</span>
    </div>
    <textarea class="form-control data" name="commentaire" id='commentaire'>{{article.commentaire}}</textarea>
</div>
