{% extends 'layout.html.twig' %}

{% block title %}Réception {% endblock %}

{% block page_content %}
    <h1>Nouvelle reception</h1>
    
    <div >{{ include('reception/_form.html.twig') }}</div>
    
    <a href="{{ path('reception_index', {'history': 0}) }}" class='button btn-left'>retour</a>
{% endblock %}
