<div class="d-flex">
    <div data-toggle='modal' data-target='#modalEditFrequency'>
        <div class="btn btn-col-action" data-id='{{ frequencyId }}' data-dismiss="modal"
             onclick="editRow($(this), Routing.generate('frequency_api_edit', true), $('#modalEditFrequency'), $('#submitEditFrequency'))">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>

    <div onclick="checkAndDeleteRow($(this), '#modalDeleteFrequency', 'frequency_check_delete', '#submitDeleteFrequency')"
         data-id='{{ frequencyId }}' data-target='#modalDeleteFrequency' data-toggle='modal'>
        <div class="btn btn-col-action">
            <i class='fas fa-trash'></i>
        </div>
    </div>
</div>