<div class="d-flex">
    <div class="dropdown">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div class="d-none">
                <div class="action-on-click" data-id='{{ frequencyId }}' data-toggle='modal' data-target='#modalEditFrequency'
                     onclick="editRow($(this), Routing.generate('frequency_api_edit', true), $('#modalEditFrequency'), $('#submitEditFrequency'))">
                    <i class='fas fa-pencil-alt'></i>
                </div>
            </div>

            <div onclick="checkAndDeleteRow($(this), '#modalDeleteFrequency', 'frequency_check_delete', '#submitDeleteFrequency')"
                 data-id='{{ frequencyId }}' data-target='#modalDeleteFrequency' data-toggle='modal' class="dropdown-item">
                    <i class='fas fa-trash mr-2'></i>Supprimer
            </div>
        </div>
    </div>
</div>
