{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Inventaire{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <button type="button" class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>
                <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                    <a href="" data-toggle="modal" data-target="#modalNewCategorie" class="dropdown-item">
                        <span class="fa fa-plus mr-2"></span>Nouvelle catégorie
                    </a>
                    <a href="" data-toggle="modal" data-target="#modalNewFrequency" class="dropdown-item">
                        <span class="fa fa-plus mr-2"></span>Nouvelle fréquence
                    </a>
                    <div data-toggle="modal" data-target="#modalShowFrequencies" class="dropdown-item" data-backdrop="static" data-keyboard="false" >
                        <span class="fa fa-list mr-2"></span>Liste fréquences
                    </div>
                    <div class="dropdown-item">
                        <label for="importExcel" class="pointer" data-toggle="tootlip"
                               data-title="charger un fichier .csv avec en colonne 1 les références, en colonne 2 les catégories">
                            <span class="fas fa-folder-open mr-2"></span>Import excel
                        </label>
                        <input type="file" id="importExcel" class="d-none" onchange="importFile()">
                    </div>
                    <div onclick="downloadModele()" class="dropdown-item">
                        <span class="far fa-file-excel mr-2"></span>Modèle d'import
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="tableCategories" class="table w-100"> </table>
            </div>
        </div>
    </div>
    {% include 'inventaire_param/modalNewCategory.html.twig' %}
    {% include 'inventaire_param/modalEditCategory.html.twig' %}
    {% include 'inventaire_param/modalDeleteCategory.html.twig' %}

    {% include 'inventaire_param/modalNewFrequency.html.twig' %}
    {% include 'inventaire_param/modalShowFrequencies.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/inventaire-param.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
