<form method="" class="modal fade" id="modalNewCategorie" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Créer une catégorie"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="mb-3 form-group col-12">
                        <label for="label">Label*</label>
                        <input type="text" class="data form-control needed" name="label">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="label">Fréquence*</label>
                        <select name="frequency" class="form-control ajax-autocomplete-frequency data needed select2 w-100">
                        </select>
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewCategorie'}
                ],
            } %}

        </div>
    </div>
</form>
