<form method="" class="modal fade" id="modalNewFrequency" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Créer une fréquence"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="mb-3 form-group col-12">
                        <label for="label">Label*</label>
                        <input type="text" class="data form-control needed" name="label" id="labelFrequency">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 form-group col-12">
                        <label for="label">Nombre de mois*</label>
                        <input type="number" class="data form-control needed number-decimal" name="nbMonths" min="1" id="numberFrequency">
                    </div>
                </div>
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitNewFrequency" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
