<form method="">
    <div class="modal-body modal-input container-fluid row">
        <div class="col-12 form-group required d-none">
            <input type="text" class="form-control data needed" name="frequency" required="" value="{{ frequency.id }}">
        </div>

        <div class="col-12 form-group">
            <label for="username" class="wii-field-name">Label*</label>
            <input type="text" class="form-control data needed" name="label" required="" value="{{ frequency.label }}">
        </div>

        <div class="col-12 form-group">
            <label for="username" class="wii-field-name">Nombre de mois*</label>
            <input type="number" class="form-control data needed number-decimal" name="nbMonths" required="" min="1" value="{{ frequency.nbMonths }}">
        </div>

    </div>
</form>
