<form method="" class="modal fade" id="modalShowFrequencies" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Liste des fréquences"
            } %}

            <div class="modal-body modal-input container-fluid">
                <table id="tableFrequencies" class="table w-100">
                </table>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-success', dismiss: true, text: 'Fermer', id: 'submitNewFrequency'}
                ],
            } %}

        </div>
    </div>
</form>

    {% include 'inventaire_param/modalEditFrequency.html.twig' %}
    {% include 'inventaire_param/modalDeleteFrequency.html.twig' %}
