<div class="d-flex">
    <div class="d-none">
        <div class="action-on-click" data-id='{{ fieldId }}' data-toggle='modal' data-target='#modalEditFields'
             onclick="clearErrorMsg($('#submitEditFields')), editRow($(this), Routing.generate('fields_api_edit', true), $('#modalEditFields'), $('#submitEditFields'))">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
</div>
