{% extends 'layout.html.twig' %}

{% block title %}Paramétrage / Champs fixes{% endblock %}

{% block page_content %}

    <h1>Paramétrage des champs fixes</h1>

    <table id="tableFieldsParam" class="table table-striped table-bordered w-100">
    </table>

    {% include 'fields_param/modalEditFields.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src = "{{ asset('js/fields_param.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
