{% extends 'settings/types_and_free_fields_template.html.twig' %}

{% import 'form.html.twig' as form %}

{% block typesDescription %}
    Le système de champs libres est un fort outil de personnalisation, ce dernier permet aux administrateurs de
    l'application d'enrichir les mouvements. Vous pouvez modifier et ajouter des champs libres.
{% endblock %}


{% block typesTitle %}
    Utilisation des champs libres
{% endblock %}

{% set hideType = true %}

{% block filters %}
    <div class="d-none">
        {% set types = [{
            label: type.label,
            value: type.id,
            checked: true
        }] %}
        {{ form.switch('entity', null, false, types, {expanded: true}) }}
    </div>
{% endblock %}


{% block footer %}
    {% include 'settings/modal_edit_translations.html.twig' with {
        large: true,
    } %}
    <input type="hidden" id="free-field-categories" value="{{ [category] | json_encode }}">
{% endblock %}
