{% extends 'layout.html.twig' %}

{% block title %}New Emplacement{% endblock %}

{% block page_content %}
    <h1>Nouvelle emplacement</h1>

    {{ include('emplacement/_form.html.twig') }}

    <a href="{{ path('emplacement_index') }}"class='button btn-left'>retour</a>
{% endblock %}
