<div class="row">
    <p class="col wii-small-text">Attention : Le délimiteur est le point virgule et l'encodage UTF-8.</p>
</div>

<div class="row mt-3">
    <p class="class-12 link-to-template"></p>
</div>
