{% import 'form.html.twig' as form %}

<div class="modal fade" id="modal-edit-import" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier un import",
            } %}

            <div class="modal-body modal-input container-fluid"></div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {input: true, classes: 'data', name: 'importId'},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Sauvegarder', type: 'submit'},
                ],
            } %}
        </div>
    </div>
</div>
