<form method=""
      class="modal fade"
      id="modalNewImport"
      role="dialog"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Import d'un fichier"
            } %}

            <div class="modal-body modal-input container-fluid">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {input: true, name: 'importId', classes: 'data'},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler',
                       event: "deleteImport($(this))"},
                    {classes: 'btn btn-success', text: 'Valider', id: 'submitNewImport'}
                ],
            } %}

        </div>
    </div>
</form>
