<form class="modal fade" id="modalConfirmCancel" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Annulation de l'import"
            } %}

            <div class="modal-body">
                Voulez-vous réellement annuler cet import ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Non'},
                    {classes: 'btn btn-danger data', text: 'Oui', name: 'importId', id: 'submitCancelImport', dismiss: true}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
