<div class="frequency hourly-frequency {{ checked ? '' : 'd-none' }}">
    <div class="form-inline">
        <div class="col-12 p-2 mt-1 form-inline form-group">
            <label class="wii-field-name">Démarrer le</label>
            <input type="datetime-local"
                   class="form-control form-control-sm ml-2 frequency-data"
                   name="startDate"
                   title="Démarrer le"
                   placeholder="jj/mm/aaaa"
                   min="now"
                   value="{{ begin|date('Y-m-d\\TH:i') }}"/>
        </div>
        <div class="col-12 p-2 form-inline form-group">
            Toutes les
            <input type="number"
                   name="intervalPeriod"
                   class="form-control form-control-sm mx-2 w-px-100 frequency-data"
                   data-label="Intervalle d'heures/minutes"
                   min="1"
                   value="{{ intervalPeriod }}">
            heures
            </select>
        </div>
    </div>
</div>
