{% extends 'layout.html.twig' %}

{% block title %}Visualisation du stock{% endblock %}

{% block page_content %}

    <div class="row backgray filter-wrapper">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control">
                    <option>Zone de stockage1</option>
                    <option>Zone de stockage2</option>
                    <option>Zone de stockage3</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Rack1</option>
                    <option>Rack2</option>
                    <option>Rack3</option>
                </select>
            </div>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Référence">
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Catégorie1</option>
                    <option>Catégorie2</option>
                    <option>Catégorie3</option>
                </select>
            </div>
            <a class="btn more-filter">Plus de filtres</a>
            <a href="#" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </form>
    </div>

    <div class="row page-title">
        VISUALISATION DU STOCK
    </div>

    <div class="row btn-grp">
        <a href="#" class="button btn-left">
            <span class="fa fa-eye"></span>Visualisation 2D
        </a>
        <a href="#" class="button btn-left">
            <span class="fa fa-dollar"></span>Valorisation du stock
        </a>
    </div>

    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="ref">Réf. article</th>
                <th data-column-id="sku">SKU</th>
                <th data-column-id="libelle">Libellé</th>
                <th data-column-id="qte">Qté</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Détail</th>
            </tr>
        </thead>

        <tr>
            <td>136737541</td>
            <td>251</td>
            <td>Iphone 1</td>
            <td>41</td>
            <td></td>
        </tr>
        <tr>
            <td>136737542</td>
            <td>252</td>
            <td>Iphone 2</td>
            <td>42</td>
            <td></td>
        </tr>
        <tr>
            <td>136737543</td>
            <td>253</td>
            <td>Iphone 3</td>
            <td>43</td>
            <td></td>
        </tr>
        <tr>
            <td>136737544</td>
            <td>254</td>
            <td>Iphone 4</td>
            <td>44</td>
            <td></td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left pull-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
            <a href="#" class="button btn-left pull-right">
                <span class="fa fa-cloud-download"></span>Télécharger</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.daterange input').each(function () {
            $(this).datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});
        });

        var grid = $("#grid-data").bootgrid({
            ajax: false,
            /*
    post: function ()
    {
        return {
            id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
        };
    },
    url: "{{ path('stock') }}",
	*/
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-view\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-eye\"></span></button> "
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-view").on("click", function (e) {
                window.location.href = "{{ path('articles_affichage', {'id': 1}) }}"
            })
        });
    </script>
{% endblock %}