{% extends 'layout.html.twig' %}

{% block page_content %}
	<div class="row page-title">
		VISUALISATION DU STOCK
	</div>

    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="input-group">
                    <label class="input-group-addon">
                        Entrepôt
                    </label>
                    <select name="Ordre" class="form-control" required>
                        <option value="Préparation">Entrepôt 1</option>
                        <option value="Réception">Entrepôt 2</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    {# {% for ordre in ordres %} #}
    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Allées</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a" data-toggle="modal" data-target="#modal-visu-allee">
                                <div class="card-details">
                                    <h3>Allée 1</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 2</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 3</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 4</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 5</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 6</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 7</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 8</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 9</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 10</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 11</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 12</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 13</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 14</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 15</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Allée 16</h3>
                                </div>        
                            </a>
                        </div>
                        <a class="list-footer" href="#">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvelle allée
                        </a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Zones</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Zone 1</h3>
                                </div>        
                            </a>                            
                        </div>
                        <a class="list-footer">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvelle zone
                        </a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Quais</div>
                        <div class="list-cards workflow-sidebar">
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Quai 1</h3>
                                </div>        
                            </a>
                            <a class="card card-a">
                                <div class="card-details">
                                    <h3>Quai 2</h3>
                                </div>        
                            </a>
                        </div>
                        <a class="list-footer">
                            <span class="fa fa-plus"></span>
                            Ajouter un nouveau quai
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# {% endfor %} #}

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
    </div>

    <div id="modal-visu-allee" class="modal fade in" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">VISUALISATION DU STOCK</h1>
                </div>

                <div class="modal-body">                    
                    <div class="row">
                        <div class="workflow-wrap">
                        <div class="workflow-content">
                            <div class="list-wrapper">
                                <div class="list">
                                    <div class="list-header">Allée</div>
                                    <div class="list-cards workflow-sidebar">
                                        <a class="card card-a">
                                            <div class="card-details">
                                                <h3>Allée 1</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="workflow-wrap">
                        <div class="workflow-content">
                            <div class="list-wrapper">
                                <div class="list">
                                    <div class="list-header">Travées</div>
                                        <div class="list-cards-row workflow-sidebar-row">
                                            <a class="card card-row card-a" data-toggle="modal" data-target="#modal-visu-travee">
                                                <div class="card-details">
                                                    <h3>Travée 1</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 2</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 3</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 4</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 5</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 6</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 7</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 8</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 9</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 10</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 11</h3>
                                                </div>
                                            </a>
                                            <a class="card card-row card-a">
                                                <div class="card-details">
                                                    <h3>Travée 12</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <a class="list-footer" href="#">
                                            <span class="fa fa-plus"></span>
                                            Ajouter une nouvelle travée
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div id="modal-visu-travee" class="modal fade in" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">VISUALISATION DU STOCK</h1>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="button btn-left pull-left" data-dismiss="modal">
                            <span class="fa fa-angle-double-left"></span>Retour</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="workflow-wrap">
                        <div class="workflow-content">
                            <div class="list-wrapper">
                                <div class="list">
                                    <div class="list-header">Allée</div>
                                    <div class="list-cards workflow-sidebar">
                                        <a class="card card-a">
                                            <div class="card-details">
                                                <h3>Allée 1</h3>
                                            </div>
                                        </a>
                                    </div>
                                    <a class="list-footer" href="#">
                                        <span class="fa fa-plus"></span>
                                        Ajouter une nouvelle travée
                                    </a>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="workflow-wrap">
                            <div class="workflow-content">
                                <div class="list-wrapper-col">
                                    <div class="list">
                                        <div class="list-header">Travée</div>
                                        <div class="list-cards-row workflow-sidebar-row">
                                            <a class="card card-row-travee card-a">
                                                <div class="card-details">
                                                    <h3>Travée 1</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <a class="list-footer">
                                        </a>                                        
                                    </div>
                                </div>
                                <div class="list-wrapper-rack">
                                    <div class="list">
                                        <div class="list-header">Racks</div>
                                        <div class="list-cards-rack workflow-sidebar">
                                            <a class="card card-a">
                                                <div class="card-details">
                                                    <h3>Rack 1</h3>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-archive"></span>
                                                </div>
                                            </a>
                                            <a class="card card-a">
                                                <div class="card-details">
                                                    <h3>Rack 2</h3>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-square-o"></span>                                                    
                                                </div>
                                            </a>
                                            <a class="card card-a">
                                                <div class="card-details">
                                                    <h3>Rack 3</h3>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-square-o"></span>                                                   
                                                </div>
                                            </a>
                                            <a class="card card-a">
                                                <div class="card-details">
                                                    <h3>Rack 3</h3>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-square-o"></span>
                                                </div>
                                            </a>
                                            <a class="card card-a">
                                                <div class="card-details">
                                                    <h3>Rack 4</h3>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                </div>
                                            </a>
                                            <a class="card card-a">
                                                <div class="card-details">
                                                    <h3>Rack 4</h3>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-archive"></span>                                                    
                                                </div>
                                            </a>
                                            <a class="card card-a">
                                                <div class="card-details">
                                                    <h3>Rack 4</h3>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-archive"></span>
                                                    <span class="fa fa-square-o"></span>
                                                    <span class="fa fa-square-o"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <a class="list-footer" href="#">
                                            <span class="fa fa-plus"></span>
                                            Ajouter un nouveau rack
                                        </a>                                        
                                    </div>
                                </div>
                                <div class="list-wrapper">
                                    <div class="list">
                                        <div class="list-header">Informations Emplacement</div>
                                            <div class="list-cards-rack workflow-sidebar">
                                                <table class="table table-condensed table-hover table-striped table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <th>Réf. SKU</th>
                                                            <th>Libellé article</th>
                                                            <th>Date du dernier mouvement</th>
                                                        </tr>
                                                    </thead>
                                                    
                                                    <tr>
                                                        <td>45</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>783</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>36</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>45</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>783</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>36</td>
                                                        <td>Iphone 1</td>
                                                        <td>01/02/18</td>
                                                    </tr>
                                                                                                     
                                                </table>
                                            </div>
                                        
                                        <a class="list-footer">
                                        </a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}