<div class="d-flex">
    {% include "utils/action-buttons/dropdown.html.twig" with {
        actions: [
            {
                hasRight: hasRight(constant("App\\Entity\\Menu::PARAM"), constant("App\\Entity\\Action::EDIT")) and export.status.code == constant("App\\Entity\\ScheduledTask\\Export::STATUS_SCHEDULED"),
                title: "Modifier l'export",
                icon: "fas fa-pencil-alt",
                class: "open-modal-edit",
                attributes: {
                    "onclick" : "displayExportModal(#{ export.id })",
                },
            },
            {
                hasRight: hasRight(constant("App\\Entity\\Menu::PARAM"), constant("App\\Entity\\Action::DELETE")) and export.status.code == constant("App\\Entity\\ScheduledTask\\Export::STATUS_SCHEDULED"),
                title: "Supprimer la planification",
                icon: "wii-icon wii-icon-trash-black",
                class: "delete-production-request",
                attributes: {
                    "onclick": "cancelExport(#{ export.id })",
                },
            },
            {
                hasRight: true,
                title: "Dupliquer l'export",
                icon: "fas fa-sync-alt",
                class: "open-modal-edit",
                attributes: {
                    "onclick" : "displayExportModal(#{ export.id }, true)",
                },
            },
        ]
    } %}
    {% if export.error %}
        <span class="wii-icon wii-icon-info wii-icon-17px bg-black has-tooltip align-self-center" title="{{ export.error }}"></span>
    {% endif %}
</div>
