{% extends 'layout.html.twig' %}

{% block title %}Stock | Référence | Créer un article de référence{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-6">
        <div class="ra-box">
            <div class="header">Gestion quantité</div>
            <div class="content">
                contenu<br>
                contenu<br>
                contenu<br>
                contenu<br>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="ra-box">
            <div class="header">Gestion quantité</div>
            <div class="content">
            contenu<br>
            contenu<br>
            contenu<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
