<div class="d-flex">
    <div class="dropdown dropright">
        <div class="d-flex referenceRow">

            {% include "utils/action-buttons/dropdown.html.twig" with {
                actions: [
                    {
                        title: "voir",
                        href: path("reference_article_show_page", {id: reference_id}),
                        actionOnClick: true
                    },
                    {
                        hasRight: hasRight(constant("App\\Entity\\Menu::STOCK"), constant("App\\Entity\\Action::EDIT"))
                        or (not hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT'))
                            and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE_SHIPPING'))) ,
                        title: "Modifier",
                        icon: "fas fa-pencil-alt",
                        href: path("reference_article_edit_page", {reference: reference_id}),
                        attributes: {
                            target: "_blank",
                        },
                    },
                    {
                        title: "Voir les mouvements",
                        icon: "fas fa-list",
                        attributes: {
                            "onclick": "showItems($(this), $('#modalShowMouvements'), initDatatableMovements)",
                            "data-togggle": "tooltip",
                            "title": "mouvements de stock",
                            "data-id": reference_id,
                            "data-ref-label": reference_label,
                        },
                    },
                    {
                        hasRight: hasRight(constant("App\\Entity\\Menu::DEM"), constant("App\\Entity\\Action::DISPLAY_PURCHASE_REQUESTS")),
                        title: "Voir les demandes d'achats",
                        icon: "wii-icon wii-icon-cart",
                        attributes: {
                            "onclick": "showItems($(this), $('#modalShowPurchaseRequests'), initDatatablePurchaseRequests)",
                            "data-togggle": "tooltip",
                            "title": "mouvements de stock",
                            "data-id": reference_id,
                            "data-ref-label": reference_label,
                        },
                    },
                    {
                        title: "Recalculer les quantités",
                        icon: "fas fa-sync-alt",
                        attributes: {
                            "onclick": "updateQuantity(" ~ reference_id ~ ")",
                            "data-togggle": "modal",
                            "data-id": 'update' ~ reference_id,
                        },
                    },
                    {
                        hasRight: hasRight(constant("App\\Entity\\Menu::STOCK"), constant("App\\Entity\\Action::DELETE")) ,
                        title: "Supprimer",
                        icon: "wii-icon wii-icon-trash-black",
                        attributes: {
                            "id" : 'delete' ~ reference_id,
                            "onclick": "deleteRow($(this), $('#modalDeleteRefArticle'), $('#submitDeleteRefArticle'))",
                            "data-id": reference_id,
                            "data-target": "#modalDeleteRefArticle",
                            "data-toggle": "modal",
                        },
                    },
                ]
            } %}
            {% if active %}
                {% include 'datatable/addRefToCart.html.twig' with {reference: reference_id} %}
            {% endif %}
            {% if attachmentsLength > 0 %}
                {% include 'datatable/paperclip.html.twig' with {
                    reference: reference_id,
                    attachmentsLength: attachmentsLength
                } %}
            {% endif %}
        </div>
    </div>
</div>
