{% extends 'layout.html.twig' %}

{% block title %}Modification référence article{% endblock %}

{% block page_content %}
    <h1>Modification référence article</h1>

    {{ include('reference_article/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('reference_article_index') }}"class="btn pull-left button btn-left">Retour à la liste</a>

    {{ include('reference_article/_delete_form.html.twig') }}
{% endblock %}