{% for articleF in articles %}

{% if articleF is not empty %}
<div class="row">
    <div class="form-group col-4 w-100">
        <label for="reference">Code Fournisseur</label>
        <input class="form-control needed" type="text" value="{{articleF.fournisseur.codeReference}}" disabled>
    </div>
    <div class="form-group col-4">
        <label for="reference">Référence Article fournisseur</label>
        <input class="form-control needed" disabled type="text" value="{{articleF.reference}}">
    </div>
    <div class="form-group col-3">
        <label for="reference">Label</label>
        <input class="form-control needed" type="text" disabled value="{{articleF.label}}">
    </div>
</div>

{% endif %}

{% endfor %}
