{% set multipleObjectIndex = multipleObjectIndex is defined ? multipleObjectIndex : 0 %}

<div class="form-group col-12 ligneFournisseurArticle {{ multipleObjectIndex > 0 ? 'remove-on-clear' }}"
     data-multiple-key="frl"
     data-multiple-object-index="{{ multipleObjectIndex }}">
    <div class="row">
        <div class="form-group col-3">
            <label for="reference">Code fournisseur*</label>
            <select class="ajax-autocompleteFournisseur form-control w-100 data needed" onchange="loadAndDisplayInfos($(this))"
                name="fournisseur">
            </select>
        </div>
        <div class="form-group col-3">
            <label for="reference">Nom fournisseur*</label>
            <select class="ajax-autocompleteFournisseurLabel form-control w-100 data needed" onchange="loadAndDisplayLabels($(this))"
                    name="fournisseurLabel">
            </select>
        </div>
        <div class="form-group col-3 d-none newContent">
            <label for="reference">Ref article fournisseur*</label>
            <input class="form-control data w-100 data needed" type="text" name="referenceFournisseur">
        </div>
        <div class="form-group col-3 d-none newContent">
            <label for="reference">Label*</label>
            <input class="form-control w-100 data needed" type="text" name="labelFournisseur">
        </div>
    </div>
</div>
