{% extends 'layout.html.twig' %}

{% block title %}Référentiel / Articles de référence{% endblock %}

{% block page_content %}
<h1>Articles de référence</h1>
<div class='row btn'>
    <div  data-toggle="modal" data-target="#modalNewRefArticle"  class="button btn-left">
        <span class="fa fa-plus"></span>Nouvel article de référence
    </div>
</div>
<table id="tableRefArticle_id" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Libellé</th>
            <th>Référence</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
<div>
{% include "reference_article/modalDeleteRefArticle.html.twig" %}
</div>
{% include "reference_article/modalShowRefArticle.html.twig" %}
<div>
    {% include "reference_article/modalEditRefArticle.html.twig" %}
</div>
<div>
{% include "reference_article/modalNewRefArticle.html.twig" %}
</div>

{% endblock %}
{% block javascript %}

<<<<<<< HEAD
<script src="{{ asset('js/referenceArticle.js') }}"></script>
=======
<script src="{{asset('js/referenceArticle.js')}}"></script>
>>>>>>> 923732e82e54cfd8eef46a7bc6fda238ff2c42db

{% endblock %}
