<form method="" class="modal fade" id="modalEditRefArticle" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un article de référence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input clear container-fluid">

            </div>
            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" onclick="clearErrorMsg($(this))">Annuler</button>
                <button id="submitEditRefArticle"
                        type="button"
                        name="idRefArticle"
                        onclick="setCommentaire('.editor-container-edit')"
                        class="btn btn-success data">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
