<form method="" class="modal fade" id="modalPlusDemande" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter à une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Type de demande</label><br>
                <div class="wii-switch needed mb-2" data-title="Type de demande">
                    <input type="radio" name="type" value="livraison" content="Livraison" onclick="toggleRequestType($(this))">
                    <input type="radio" name="type" value="collecte" content="Collecte" onclick="toggleRequestType($(this))">
                    <input type="radio" name="type" value="transfert" content="Transfert" onclick="toggleRequestType($(this))">
                </div>

                <div class="plusDemandeContent d-none row"></div>
                <div class="editChampLibre d-none "></div>

                <div class='boutonCreationDemande d-none mt-4'>
                    <div id="creationDemande" class="btn btn-primary" ></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>

            </div>
            <div class="error-msg"></div>
            <div class="modal-footer d-none">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" id="submitPlusDemande" name='refArticle' value='' class="btn btn-primary data">Ajouter</button>
                <button type="button" id="submitPlusDemandeAndRedirect" class="btn btn-primary">Ajouter et aller vers demande</button>
            </div>
        </div>
    </div>
</form>
