<form method="" class="modal fade" id="modalDeleteRefArticle" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Supprimer la référence article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Voulez-vous réellement supprimer cette référence article&nbsp;?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteRefArticle" name='refArticle' value='' type="button"
                    class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
