<form method="" class="modal fade" id="modalDeleteRefArticle" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer la référence article"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette référence article&nbsp;?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteRefArticle" name='refArticle' value='' type="button"
                    class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
