<div class="modal fade" id="modalCannotDelete" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Suppression de l'article de référence"
            } %}

            <div class="modal-body">
                Cet article est lié à une collecte, une {{ trans('Demande', 'Livraison', 'Livraison', false) | lower }}, une réception ou un article fournisseur.<br>
                Vous ne pouvez donc pas le supprimer.
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
