<form method="" class="modal fade" id="modalShowRefArticle" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Article de référence"
            } %}

            <input type="hidden" class="data" id="idRefArticle" name="idRefArticle" value=''>

            <div class="modal-body modal-input clear container-fluid"></div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'}
                ],
            } %}

        </div>
    </div>
</form>
