<div id='collecteShow' class='d-none col-12'>
    <div class="form-group col-12 d-flex w-100 mb-3">
        <label for="">Mes demandes</label>
        <select name="collecte" class="form-control ajax-autocomplete-article data select2" id="">
            {% for collecte in collectes %}
                <option value="{{collecte.id}}">
                    {{collecte.numero}}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group col-12 mb-3">
    <label for="quantity">Quantité à collecter*</label>
    <input class="form-control data needed" type="number" min=1 id="quantity" name="quantity-to-pick" value="0">
</div>
