{% extends 'layout.html.twig' %}

{% block title %}ReferenceArticles{% endblock %}

{% block page_content %}
    <h1>Nouvel article de référence</h1>

    {{ include('reference_article/_form.html.twig') }}

    <a href="{{ path('reference_article_index') }}"class='button btn-left'>retour</a>
{% endblock %}