{#<div class="form-group col-6">#}
    {#<label for="">Quantité reçue</label>#}
    {#<input type="number" class="form-control data" name="quantite" id="quantite" min=0>#}
{#</div>#}
{#<div class="form-group col-6">#}
        {#<label>Anomalie</label>#}
        {#<label class="switch">#}
            {#<input class="checkbox" type="checkbox" name="anomalie">#}
            {#<span class="slider round"></span>#}
        {#</label>#}
    {#</div>#}
{#<div class="form-group col-12">#}
    {#<label>Commentaire</label>#}
    {#<input id='commentaireID' class="form-control data" name="commentaire" type="hidden">#}
    {#<div class="editor-container"></div>#}
{#</div>#}