<html>
<body>

<h2>Votre nouveau mot de passe Follow GT Stock</h2>

<p>Afin de modifier votre mot de passe, cliquez sur le lien suivant : <a href =" {{ url('change_password') }}?token={{ token }}">Modification du mot de passe</a></p>

</body>
</html>
