{% block content %}

    <div>
        <h1>Création d'un nouvel utilisateur</h1>
        <p>L'utilisateur <strong>{{ user }}</strong> vient de procéder à la création d'un compte sur l'application FollowGT.</p>
        <p>Ce compte est rattaché à l'adresse mail <strong>{{ mail }}</strong>.</p>
        <p>Actuellement, cet utilisateur ne dispose d'aucun droit. Afin de lui en attribuer, vous devrez le paramétrer dans l'application FollowGT (<em>Paramétrage/Utilisateurs</em>).</p>
        <hr>
    </div>

{% endblock %}
