<html>
<body>

<h2>Votre nouveau mot de passe Follow GT Stock</h2>

<p>Afin de modifier votre mot de passe, cliquez sur le lien suivant : {{ url('change_password?token='.{{ token}} )}} </p>
{#<p>Votre nouveau mot de passe est : {{ password }}</p>#}

</body>
</html>
