$primary :  #3353D7;
$danger : #D73353;
$title : #281A56;

body{
    background-color: white !important;
}

button{
    &:not(.home){
        $primaryLowOpacity : #3353D719;
        $dangerLowOpacity : #D733531A;

        min-width: 232px;
        height: 76px;
        &.btn-small {
            min-width: 76px;
        }

        border: 2px solid $primary;
        border-radius: 38px;
        box-shadow:0 3px 10px $primary;
        font-weight: bold;
        font-size: 25px;
        padding: 5px;
        margin-left: 3px;
        margin-right: 3px;

        &.danger{
            border: 2px solid $danger;
            box-shadow:0 3px 10px $danger;
        }

        &:not(.outline){
            color: white;
            background: $primary;

            &.danger{
                background: $danger;
            }

            &:active{
                filter: brightness(85%);
            }
        }

        &.outline{
            color: $primary;
            &.danger{
                color: $danger;
            }

            &:active{
                background: $primaryLowOpacity;
                &.danger{
                    background: $dangerLowOpacity;
                }
            }
        }

        &:active{
            transition: all .1s;
            box-shadow: none;
        }
    }

    &.home{
        width: fit-content;
        padding: 35px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        box-shadow:0 3px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        background: white;
        border: none;
        color: $title;
        font-weight: bold;
        font-size: 25px;
        max-width: 250px;

        img{
            margin: auto;
        }

        &:active{
            box-shadow:0 3px 10px rgba(0, 0, 0, 0.15);
        }
    }
}

label{
    color: black;
    font-weight: bold;
    font-size: 25px;

    input{
        $greyBorder : #CDCDCD;
        font-size: 25px;
        padding-left: 15px;
        height: 76px;
        border-radius: 10px;
        border: 2px solid $greyBorder;
        margin-top: 8px;

        &:focus-visible{
            outline: $primary solid 2px;
            box-shadow:0 3px 10px $primary;
            transition: all .2s;
        }

        &.invalid{
            border: 2px solid $danger;
            &:focus-visible{
                outline: $danger solid 2px;
            }
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            content: url("../../../../public/svg/cross-grey.svg");
            width: 20px;
            height: 20px;
            margin-right: 15px;
            cursor: pointer;
            transition: all .1s;
        }
    }

    .error{
        color: $danger;
        font-size: 17px;
        margin-top: 5px;
    }
}

.modal-dialog{
    max-width: fit-content;

    .kiosk-modal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        pointer-events: auto;
        border: none;
        outline: 0;
        background-color: white;
        border-radius: 38px;
        padding: 30px;
        width: 50vw;
        align-content: center;

        .kiosk-modal-footer{
            display: flex;
            justify-content: center;
            margin-top: 30px;

            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            padding: 0.75rem;
        }
    }
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.wave{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-content{
    max-width: 65vw ;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 75px;
    h1{
        font-family: 'Outfit', sans-serif;
        font-size: 50px;
        font-weight: bold;
        color: $title;

        &.home{
            font-size: 70px;
            text-align: center;
            line-height: 88px;
        }
    }

    p{
        font-size: 30px;
        color: black;
        text-align: center;
        line-height: 43px;
    }
}

.wave-container {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &.home {
        #wave {
            display: none;
        }
    }
    &:not(.home){
        #wave-home {
            display: none;
        }
    }

    .wave {
        fill: url(#Dégradé_);
        isolation: isolate;
        opacity: .45;

        &.home {
            fill: url(#Dégradé_home);
            opacity: 1;
        }
    }
}

.corner.top{
    img {
        height: 65px;
    }
    &.home img{
        height: 100px;
    }
}


