{% import 'form.html.twig' as form %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY'),
    field: emergency.field,
    modalType: emergency.modalType,
    elements: emergency.elements,
} %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVERS_HANDLING'),
    field: receivers.field,
    types: receivers.types,
    modalType: receivers.modalType,
    elements: receivers.elements,
} %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Contrairement aux champs libres, les champs fixes ne peuvent ni être supprimés, ni ajoutés. Vous pouvez paramétrer leur visibilité ou leur
            caractère obligatoire.
        </div>
    </div>
    <table id="table-handling-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFields">
        {% include 'datatable/main-header.html.twig' with {
            cells: 6
        } %}
    </table>
</div>
