{% set hiddenBody = templates is empty %}
{% extends 'settings/manager_template.html.twig' %}

{% import 'form.html.twig' as form %}

{% block title %}Modèles de demande{% endblock %}


{% block filterCol 'col-lg-3 col-12' %}
{% block filterColButton 'col-lg-auto col-12' %}

{% block description %}
    En lien avec les IOT, les modèles de demande permettent de venir se brancher sur un bouton connecté et ainsi de créer automatiquement une demande
    à l'appui sur le bouton.
{% endblock %}

{% block filters %}
    {{ form.select('entity', 'Modèle de la demande', false, {
        items: templates,
        inputClass: 'minw-300px',
    }) }}
    <input type="hidden" id="handling-template-type" value="{{ type }}"/>
{% endblock %}

{% block button %}
    <button class="btn btn-primary mt-1 add-entity d-flex align-items-center">
        <span class="wii-icon wii-icon-plus mr-2"></span>Ajouter un modèle de demande
    </button>
{% endblock %}
