{% extends 'layout.html.twig' %}

{% block title %}Production | liste{% endblock %}
{% block title_tooltip %}Production | liste{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersProduction.html.twig' with {
        page: 'PAGE_PRODUCTION',
        tableSelector: '#tableProductions',
        needsDateFormatting: true,
        types: types,
        statusFilter: statusFilter,
        statuses : statuses,
        typesFilter: typesFilter,
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row">
            <div class="col-12">
                <table id="tableProductions" class="table w-100" data-initial-visible="{{ initial_visible_columns }}"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('production-index') }}
    {{ encore_entry_script_tags('filters') }}
{% endblock %}
