<form method="post" action="{{ path('champs_libre_delete', {'id': champs_libre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ champs_libre.id) }}">
    <button class="btn">Delete</button>
</form>
