<div class="row">
    <div data-id='{{ idChampsLibre }}' data-toggle='modal' data-target='#modalEditChampLibre' class='col-2 champs-libre-edit'
        onclick="editRow($(this),  Routing.generate('champLibre_edit_api', true), $('#modalEditChampLibre'), $('#submitEditChampsLibre'))">
        <i class='fas fa-pencil-alt '></i>
    </div>
    <div class='champs-libre-delete col-2'
        onclick="deleteRow($(this), $('#modalDeleteChampsLibre'), $('#submitChampsLibreDelete'))"
        data-id={{ idChampsLibre }} data-target='#modalDeleteChampsLibre' data-toggle='modal'>
        <i class='fas fa-trash '></i>
    </div>
</div>