<div data-id='{{ idChampsLibre }}' data-toggle='modal' data-target='#modalEditChampLibre' class='btn btn-xs btn-default champs-libre-edit'
    onclick="editRow($(this),  Routing.generate('champLibre_edit_api', true), $('#modalEditChampLibre'), $('#submitEditChampsLibre'))">
    <i class='fas fa-pencil-alt '></i>
</div>
<div class='btn btn-xs btn-default champs-libre-delete'
    onclick="deleteRow($(this), $('#modalDeleteChampsLibre'), $('#submitChampsLibreDelete'))"
    data-id={{ idChampsLibre }} data-target='#modalDeleteChampsLibre' data-toggle='modal'>
    <i class='fas fa-trash '></i>
</div>