<div class="form-group">
    <label for="date-attendu">Label</label>
    <input type="text" class="form-control data" name="label" value="{{champLibre.label}}" required="true">
</div>
<div class="form-group">
    <label for="typage">Typage</label>
    <select class="form-control select2 data" name="typage" id='typage'>
        <option value="booleen">Oui/Non</option>
        <option value="number">Nombre</option>
        <option value="text">Text</option>
    </select>
</div>
<div class="form-group">
    <label for="date-attendu">Valeur par défaut</label>
    <input type="text" class="form-control data" name="valeur" value="{{champLibre.defaultValue}}" required="true">
</div>
</div>