{% extends 'layout.html.twig' %}

{% block title %}Création de nouveau champ libre{% endblock %}

{% block page_content %}
    <h1>Liste des champs libres pour le type {{type.label}} </h1>

    <div>
        <a href="" data-toggle="modal" data-target="#modalNewChampsLibre" class="btn btn-primary">
            <span class="fa fa-plus mr-2"></span>Nouveau Champ Libre
        </a>
    </div>
   
    <table id="tableChampslibre_id" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Label</th>
            <th>Typage</th>
            <th>Valeur par défaut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <a href="{{ path('champs_libre_index') }}" class="button btn-left">Retour</a>


    {% include "champs_libre/modalNewChampsLibre.html.twig" %}
    {% include "champs_libre/modalDeleteChampsLibre.html.twig" %}
    {% include "champs_libre/modalEditChampLibre.html.twig" %}

    {% endblock %}
    {% block javascript %}
    <script>
        let id = {{type.id}}
    </script>
    <script src={{asset('js/champsLibre.js')}}></script>
    {% endblock javascript %}
