{% set disabled = (((disabled is defined) and (disabled == true)) ? 'disabled' : '') %}
<div class="filterService m-4">
    <div class="filters filters-container row">
        <div class="col">
            <div class="row pt-2">
                {% block filters %}
                {% endblock %}
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-ripple minw-105px col-1"
                    tabindex="0"
                    onclick="saveFilters(
                    {{ page }},
                    {{ tableSelector is defined ? ("'" ~ tableSelector ~ "'") : 'undefined' }},
                    {{ callback is defined ? callback }}
                        )">
                Filtrer
                <i class="fas fa-filter ml-1"></i>
            </button>
        </div>
    </div>
</div>


