<div class="filterService filters form-row justify-content-center">
    {% block dateFilter %}
    <div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">De</div>
            </div>
            <input type="date" class="form-control" name="dateMin" id="dateMin" placeholder="Date de début">
            <div class="input-group-prepend">
                <div class="input-group-text">Au</div>
            </div>
            <input type="date" class="form-control" name="dateMax" id="dateMax" placeholder="Date de fin">
        </div>
    </div>
    {% endblock %}

    {% block moreFilters %}
        <div>
            <div class="input-group">
                <input type="text" class="form-control data" name="commande" id="commandeFilter" placeholder="N° de commande">
            </div>
        </div>
    {% endblock %}
    <div>
        <div id='{{ btnName }}' class="btn btn-primary minw-105px" tabindex="0">
            <i class="fas fa-filter mr-2"></i>
            Filtrer
        </div>
    </div>
</div>
