{% extends 'filters/filters.html.twig' %}

{% block moreFilters %}

    <div class="input-group maxw-250px">
        <select class="ajax-autocomplete-inv-entries data form-control" id="reference" name="reference"></select>
    </div>

{% endblock %}
{% block statusFilter %}
{% endblock %}
{% block typeFilter %}
{% endblock %}