{% set disabled = disabled is defined and disabled == true ? 'disabled' : '' %}
<div class="filterService filters form-row justify-content-center">
    {% block filters %}
    {% endblock %}
    <div>
        <div id='{{ btnName }}' class="btn btn-primary minw-105px" tabindex="0">
            <i class="fas fa-filter mr-2"></i>
            Filtrer
        </div>
    </div>
</div>
