{#{% extends 'filters/filters.html.twig' %}#}

{#{% block dateFilter %}{% endblock %}#}
{#{% block statusFilter %}{% endblock %}#}

{#{% block moreFilters %}#}
{#    <div>#}
{#        <div class="input-group maxw-250px">#}
{#            <select class="form-control data select2" name="limitReached" id="limitReached">#}
{#                <option></option>#}
{#            </select>#}
{#        </div>#}
{#    </div>#}

{#{% endblock %}#}
