{% extends 'filters/filters.html.twig' %}

{% block moreFilters %}

    <div>
        <div class="input-group">
            <select class="form-control data minw-150px" name="providers" id="providers" multiple="multiple" >
                {% for provider in providers %}
                    <option value="{{ provider.id }}">{{ provider.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <div class="input-group">
            <select class="form-control data minw-150px" name="carriers" id="carriers" multiple="multiple" >
                {% for carrier in carriers %}
                    <option value="{{ carrier.id }}">{{ carrier.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

{% endblock %}

{% block emplacementFilter %}
{% endblock %}