{% extends 'filters/filters.html.twig' %}

{% block emplacementFilter %}
{% endblock %}
{% block urgence %}
    <div class="urgence-filter">
        Urgence ?
        <label class="switch">
            <input class="checkbox" type="checkbox" name="urgence" id="urgence-filter">
            <span class="slider round"></span>
        </label>
    </div>
{% endblock %}