{% extends 'filters/filters.html.twig' %}

{% block moreFilters %}
    <div>
        <div class="input-group">
            <input type="text" class="form-control data" name="arrivage" id="arrivage_string" placeholder="Arrivage">
        </div>
    </div>

    <div>
        <div class="input-group">
            <input type="text" class="form-control data" name="reception" id="reception_string" placeholder="Réception">
        </div>
    </div>
{% endblock %}

{% block emplacementFilter %}
{% endblock %}

{% block statusFilter %}
{% endblock %}

{% block typeFilter %}
{% endblock %}
