{% extends 'filters/filters.html.twig' %}

{% block moreFilters %}
    <div>
        <div class="input-group minw-100px">
            <input type="text" class="form-control data cursor-default" name="colis" id="colis" placeholder="Colis">
        </div>
    </div>
{% endblock %}

{% block providerFilter %}
{% endblock %}
