<div class="modal fade" tabindex="-1" role="dialog" id="modalEditTransferRequest"
     data-modal-type="edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier la demande de transfert"
            } %}

            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <input type="hidden" class="data" name="transfer" value="{{ transfer.id }}">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" id="submitEditTransferRequest">Modifier la demande</button>
            </div>
        </div>
    </div>
</div>
