<div class="modal fade {{ edit_modal_open is defined and edit_modal_open ? 'auto-open' }}" tabindex="-1" role="dialog"
     id="modalEditTransferRequest" data-modal-type="edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{ form_start(edit_transfer) }}
            <div class="modal-header">
                <h5 class="modal-title">Modifier la demande de transfert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_widget(edit_transfer) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Modifier la demande</button>
            </div>
            {{ form_end(edit_transfer) }}
        </div>
    </div>
</div>
