<div class="modal fade" tabindex="-1" role="dialog" id="modalNewTransfer" data-modal-type="new">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Demande de transfert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="required col-12">Demandeur</label>
                    <div class="col-12">
                        <input type="text" disabled class="w-100 form-control" value="{{ app.user.username }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="required col-12">Origine</label>
                    <div class="col-12">
                        <select name="origin" required class="w-100 form-control needed data ajax-autocomplete-location"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="required col-12">Destination</label>
                    <div class="col-12">
                        <select name="destination" required="required" class="w-100 form-control needed data ajax-autocomplete-location"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12">Commentaire</label>
                    <div class="col-12">
                        <input id="comment" class="form-control data" name="comment" type="hidden"/>
                        <div class="editor-container"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" id="submitNewTransfer" class="btn btn-primary">Créer la demande</button>
            </div>
        </div>
    </div>
</div>
