{% extends 'utils/show-header.html.twig' %}

{% block showTitle ('Demande de transfert ' ~ transfer.number) %}

{% block showActions %}
    <div class="btn-group">
        {% set hasRightEdit = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
        {% set hasRightDelete = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE')) %}

        {% if hasRightEdit and transfer.order is null %}
            <button type="button"
                    onclick="validateTransfer({{ transfer.id }}, $(this))"
                    class="btn btn-primary btn-ripple split-button">
                <i class="fa fa-check mr-2 button-icon"></i>
                Valider
            </button>
        {% endif %}
        <button type="button"
                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
            {% if transfer.order is not null %}
                <a href="{{ path('transfer_order_show', {'id': transfer.order.id }) }}"
                   class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Aller vers l'ordre de transfert
                </a>
            {% endif %}
            {% if hasRightEdit and transfer.order is null %}
                <a data-id='{{ transfer.id }}'
                   onclick="editRow($(this), Routing.generate('transfer_request_api_edit', true), $('#modalEditTransferRequest'), $('#submitEditTransferRequest'), true, '#modalEditTransferRequest .editor-container-edit')"
                   data-target='#modalEditTransferRequest'
                   data-toggle='modal'
                   class="dropdown-item">
                    <i class="fa fa-pen mr-2"></i>Modifier
                </a>
            {% endif %}
            {% if hasRightDelete and transfer.order is null %}
                <a href="" onclick="deleteRow($(this), $('#modalDeleteTransfer'), $('#submitDeleteTransfer'))"
                   data-id='{{ transfer.id }}' data-target='#modalDeleteTransfer' data-toggle='modal'
                   class="dropdown-item">
                    <i class="fa fa-trash mr-2"></i>Supprimer</a>
            {% endif %}
        </div>
    </div>
{% endblock %}



