{% extends 'layout.html.twig' %}

{% block title %}Référentiel | Transporteurs{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <div class="btn-group">
                        <a class="btn btn-primary d-flex align-items-center" onclick="displayCarrierModal(), clearModal('#modalNewChauffeur')">
                            <span class="wii-icon wii-icon-plus mr-2"></span>Nouveau transporteur
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table id="tableTransporteur_id" class="table w-100"></table>
            </div>
        </div>
    </div>

    {% include "transporteur/modalTransporteur.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('carrier-index') }}
{% endblock %}
