{% extends 'base.html.twig' %}

{% block title %}New Transporteur{% endblock %}

{% block body %}
    <h1>Create new Transporteur</h1>

    {{ include('transporteur/_form.html.twig') }}

    <a href="{{ path('transporteur_index') }}">back to list</a>
{% endblock %}
