{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 wii-small-text mb-3">
            Pays positionnante au niveau de l'article pour information.<br>
            Table en saisie pour modification.
        </div>
    </div>
    <table id="nativeCountriesTable" data-table-processing="nativeCountriesTable"></table>
</div>
