<form method="" class="modal fade" id="modalDeleteTransferWithLocation" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer l'ordre de transfert"
            } %}

            <div class="modal-body">
                <div class="form-group">
                    <label class="required">Destination</label>
                    <select name="destination" required="required" class="w-100 form-control data ajax-autocomplete-location needed"></select>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger', text: 'Supprimer', name: 'transfer', id: 'submitDeleteTransferWithLocation'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
