<form method="" class="modal fade" id="modalDeleteTransferWithLocation" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer l'ordre de transfert"
            } %}

            <div class="modal-body">
                <div class="form-group">
                    <label class="required">Destination</label>
                    <select name="destination" required="required" class="w-100 form-control data ajax-autocomplete-location needed"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteTransferWithLocation" name='transfer' value='' type="button"
                    class="btn btn-danger" onclick="">Supprimer</button>
            </div>
        </div>
    </div>
</form>
