{% extends 'layout.html.twig' %}

{% block title %}Ordre | Transfert{% endblock %}

{% block page_filter %}
    {% include 'transfer/request/filters.html.twig' with {
        'page': 'PAGE_TRANSFER_ORDER',
        'tableSelector': '#tableTransferRequest',
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 wii-page-card">
        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <!-- TODO: export des transferts -->
                    <div class="btn btn-primary btn-ripple"
                         onclick="saveExportFile('get_transfer_orders_for_csv')">
                        <span class="fa fa-file-csv mr-2"></span>Exporter au format CSV
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table id="tableTransferOrders" class="table w-100"></table>
            </div>
        </div>
    </div>

    {% include 'transfer/request/new.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/transfer/order/index.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
