{% extends 'layout.html.twig' %}

{% block title %}Ordre | Transfert | Détails{% endblock %}
{% block titleLink path('transfer_order_index') %}

{% block page_content %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "transfer/order/show_header.html.twig" with {
                        modifiable: modifiable,
                        transfer: transfer,
                        showDetails: detailsConfig
                    } %}
                </div>
            </div>
        </div>
        <div class="mt-3 wii-page-card">
            <div class="row mb-2">
                <h5 class="col-auto h5">Liste des articles</h5>
            </div>
            <div class="row">
                <div class="col-12">
                    <table id="tableArticle" class="table"></table>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary" id="cannotValidate" data-target='#modalCannotValidate' data-toggle='modal' hidden></button>
    </div>

    {% include "transfer/request/article/new.html.twig" %}
    {% include "transfer/request/article/delete.html.twig" %}
    {% include "transfer/request/article/edit.html.twig" %}
    {% include "transfer/request/delete.html.twig" %}
    {% include "transfer/request/edit.html.twig" %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let id = {{ transfer.id }};
    </script>

    <script src="{{ asset('js/pages/transfer/order/show.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
