{% extends 'layout.html.twig' %}

{% block title %}Ordre | Transfert | Détails{% endblock %}
{% block titleLink path('transfer_order_index') %}

{% block page_content %}
    <input type="hidden" value="{{ order.id }}" id="transferOrderId"/>
    <input type="hidden" value="{{ order.status.code == constant('App\\Entity\\TransferOrder::TREATED') ? 1 : 0 }}" id="transferOrderIsTreated"/>
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "transfer/order/show_header.html.twig" with {
                        modifiable: modifiable,
                        order: order,
                        showDetails: detailsConfig
                    } %}
                </div>
            </div>
        </div>
        <div class="mt-3 wii-page-card">
            <div class="row mb-2">
                <h5 class="col-auto h5">Liste des articles</h5>
            </div>
            <div class="row">
                <div class="col-12">
                    <table id="tableArticle" class="table"></table>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-secondary" id="cannotValidate" data-target='#modalCannotValidate' data-toggle='modal' hidden></button>
    </div>

    {% include "transfer/order/delete.html.twig" %}
    {% include "transfer/order/deleteWithLocation.html.twig" %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transfer-order-show') }}
{% endblock %}
