<div>
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-num-arrivage" name="numArrivage" id="numArrivage" title="n° d'arrivage" placeholder="{{ "arrivage.n° d'arrivage"|trans|capitalize }}">
    </div>
</div>
