<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data select2 filter-select2" name="multipleTypes" multiple="multiple" {{ disabled }}>
                {% for type in types |sort((a, b) => a.label <=> b.label) %}
                    <option class="d-none" value="{{ type.id }}">{{ userLanguage is defined and defaultLanguage is defined ? type.labelIn(userLanguage, defaultLanguage) : type.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
