<div class="col-auto m-1 pr-0">
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-input" name="roundNumber" id="roundNumber" placeholder="N° de tournée">
    </div>
</div>
