<div class="col-auto mb-2 pr-0">
    <div class="input-group minw-100px">
        <input type="text"
               class="form-control data cursor-default filter-input filter-date-expected"
               name="expectedDate"
               id="expectedDate"
               placeholder="Date attendue  jj/mm/aaaa">
    </div>
</div>
