<div class="col-auto mb-2 pr-0">
    {% if categories is defined %}
        <div class="minw-100px">
            <div class="input-group">
                <select type="text" class="form-control data cursor-default filter-input" name="statusEntity" {{ disabled }} title="Entité">
                    <option value>Entité</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">
                            {{ category.nom }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}
</div>
