<div class="col-auto mb-2">
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-input" name="reception_string" id="reception_string" placeholder="Réceptions">
    </div>
</div>
