<div class="col-auto mb-2 select-filter pr-0">
    <div class="input-group minw-200px">
        <select class="form-control data select2 cursor-default filter-input" name="disputeNumberFilter" id="disputeNumberFilter" {{ disabled }}>
            <option>&nbsp;</option>
            {% for disputeNumber in disputeNumber %}
                <option>{{ disputeNumber }}</option>
            {% endfor %}
        </select>
    </div>
</div>
