<div class="checkbox-filter cursor-default">
    Douane ?
    <label class="switch">
        <input class="checkbox filter-checkbox" type="checkbox" name="duty" id="duty-filter">
        <span class="slider round"></span>
    </label>
</div>
