<div class="select-filter">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data filter-select2" name="sensorWrappers"
                    data-s2="sensorWrapper" multiple="multiple">
            </select>
        </div>
    </div>
</div>
