<div class="minw-150px select2-overflow">
    <div class="input-group w-100 cursor-default">
        <select class="form-control data ajax-autocomplete-user filter-user" name="users" id="utilisateur" multiple="multiple" {{ disabled }}>
        </select>
    </div>
</div>
