<div class="col-auto mb-2 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100">
            <select class="form-control data minw-200px cursor-default filter-select2" name="natures" id="natures" multiple="multiple">
                {% for nature in natures %}
                    <option class="d-none" value="{{ nature.id }}">{{ nature.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
