{% import 'form.html.twig' as form %}
{% set naturesFilter = naturesFilter ?? [] %}

<div class="col-auto minw-200px m-1 pr-0 select-filter">
    {{ form.select('natures', null, false, {
        type: '',
        multiple: true,
        placeholder: 'Natures',
        disabled: disabled is defined ? disabled : false,
        inputClass: 'minw-200px filter-select2',
        items:  natures | sort((a, b) => a.label <=> b.label) | map(nature => {
            label: nature.labelIn(userLanguage, defaultLanguage),
            value: nature.id,
            selected: nature.id in naturesFilter
        })
    }) }}
</div>
