<div class="col-auto mb-2 pr-0">
    <div class="h-100 w-450px">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text w-50px">Du</span>
            </div>
            <input type="text"
                   class="form-control cursor-default filter-date-min filter-input w-218px"
                   name="dateMin"
                   id="dateMin"
                   placeholder="jj/mm/aaaa"
                   {{ disabled }}
                   autocomplete="off"/>
            <div class="input-group-prepend">
                <span class="input-group-text w-50px">Au</span>
            </div>
            <input type="text"
                   class="form-control cursor-default filter-date-max filter-input w-218px"
                   name="dateMax"
                   id="dateMax"
                   placeholder="jj/mm/aaaa"
                   {{ disabled }}
                   autocomplete="off"/>
        </div>
    </div>
</div>
