<div class="col-auto mb-2 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data ajax-autocomplete-user filter-select2" name="utilisateurs" id="utilisateur"
                    multiple="multiple" {{ disabled }}>
            </select>
        </div>
    </div>
</div>
