
{% if referenceBarCode is not defined %}
{% set referenceBarCode  = ''%}
{% endif %}

<div class="col-auto mb-2 pr-0">
    <div class="input-group minw-100px">
        <input
                type="text"
               class="form-control data cursor-default filter-input"
               name="referenceBarCode"
               id="referenceBarCode"
               placeholder="Code Barre"
               title="Code Barre"
               value="{{ referenceBarCode }}">
    </div>
</div>
