{% import 'form.html.twig' as form %}

<div class="col-auto m-1 pr-0">
    <div class="checkbox-filter cursor-default" style="width: auto !important;">
        <div class="row no-gutters align-items-center pr-0">
            <div class="col">
                {{ label }}
            </div>
            <input class="ml-2 mr-0 checkbox filter-checkbox" type="checkbox" name="{{ name }}" id="{{ name }}-filter">
        </div>
    </div>
</div>
