<div class="col-auto mb-2">
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-input" name="commande" id="commande" placeholder="N° de commande">
    </div>
</div>
