<div class="col-auto mb-2 select-filter pr-0">
    <div class="input-group maxw-250px">
        <select class="ajax-autocomplete-dispatch data form-control filter-select2" name="dispatchNumber" {{ disabled }}></select>
    </div>
</div>
