<div class="col-auto mb-2">
    <div class="checkbox-filter cursor-default">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                Douane ?
            </div>
            <label class="switch col-auto">
                <input class="checkbox filter-checkbox" type="checkbox" name="duty" id="duty-filter">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>
