<div class="col-auto m-1 pr-0">
    <div class="input-group">
        <input type="text"
               class="form-control data cursor-default filter-input"
               name="subject"
               id="subject_string"
               title="Objet"
               placeholder="{{ trans('Demande', 'Services', 'Objet', false) }}"
                {{ disabled }}>
    </div>
</div>
