<div class="col-auto mb-2 select-filter">
    <div {{ multiple is defined ? 'class="select2-overflow"' }}>
        <div class="input-group minw-250px w-100">
            <select class="form-control data cursor-default filter-select2 ajax-autocomplete-emplacements" name="emplacement"
                    id="emplacement" {{ multiple is defined ? 'multiple' }} {{ disabled }}>
            </select>
        </div>
    </div>
</div>
