<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data ajax-autocomplete-dispute filter-select2" name="disputeNumber" id="disputeNumber-filter"
                    multiple="multiple" {{ disabled }}>
            </select>
        </div>
    </div>
</div>
