{% set title = title ?? '' %}

<div class="col-auto m-1 pr-0">
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-input"
               name="noTracking"
               id="noTracking"
            {% if disabled is defined and disabled %}
               disabled="disabled"
            {% endif %}
               title="{{ title }}"
               placeholder="{{ title }}">
    </div>
</div>
