{% import 'form.html.twig' as form %}

{% set isPreFilled = isPreFilled ?? false %}
<div class="col-auto minw-300px m-1 pr-0 select-filter">
    {{ form.select(
        name ?? 'emplacement',
        null,
        false,
        {
            type: 'location',
            placeholder: placeholder,
            multiple: multiple is defined and multiple,
            items: isPreFilled ? locationsFilter|sort((a, b) => a.label <=> b.label)|map((location) => {
                label: location.label,
                value: location.id,
                selected: true
            } ) : [],
            disabled: disabled is defined and disabled,
            inputClass : 'w-100 filter-select2'
        }
    ) }}
</div>
