<div>
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-arrivage-string" name="arrivage_string" id="arrivage_string" title="arrivage" placeholder="{{ "arrivage.arrivage"|trans }}">
    </div>
</div>
