<div class="col-auto m-1 pr-0">
    {% if alerts is defined %}
        <div class="minw-100px">
            <div class="input-group">
                <select class="form-control data cursor-default filter-input" name="alert" {{ disabled }}>
                    <option value>Alerte</option>
                    {% for alert_label, alert in alerts %}
                        <option value="{{ alert_label }}">
                            {{ alert }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}
</div>
