<div class="col-auto m-1 pr-0">
    <div class="checkbox-filter cursor-default">
        <div class="row no-gutters align-items-center">
            <div class="col">
                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Congelé') }} ?
            </div>
            <label class="switch col-auto">
                <input class="checkbox filter-checkbox" type="checkbox" name="frozen" id="frozen-filter">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>
