<div class="col-auto mb-2">
    <div class="input-group minw-100px">
        <input type="text" class="form-control data cursor-default filter-input" name="colis" id="colis" placeholder="{{"mouvement de traçabilité.Colis"|trans}}" title="Colis">
    </div>
</div>
