<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100">
            <select class="form-control data minw-200px cursor-default filter-select2"
                    name="natures"
                    id="natures"
                    multiple="multiple"
                    {{ disabled is defined ? disabled }}>
                {% for nature in natures |sort((a, b) => a.label <=> b.label) %}
                    <option class="d-none" value="{{ nature.id }}">{{ nature.labelIn(userLanguage, defaultLanguage) }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
