{% import 'form.html.twig' as form %}

<div class="col-auto m-1 pr-0">
    <div class="input-group">
        {{ form.input(name, null, false, null, {
            inputClass: 'filter-input',
            placeholder: placeholder,
        }) }}
    </div>
</div>
