<div>
    <div class="input-group minw-200px">
        <select class="form-control data select2 cursor-default filter-input" name="litigeOrigin" id="litigeOrigin" {{ disabled }}>
                <option>&nbsp;</option>
            {% for code, litigeOrigin in litigeOrigins %}
                <option value="{{ code }}">{{ litigeOrigin }}</option>
            {% endfor %}
        </select>
    </div>
</div>
