<div class="col-auto mb-2 select-filter">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default minw-250px">
            <select id="providers" name="providers" class="form-control data ajax-autocomplete-fournisseur filter-select2 min-150px"
                    multiple="multiple" {{ disabled }}>
            </select>
        </div>
    </div>
</div>
