<div>
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-reception-string" name="reception_string" id="reception_string" placeholder="Réception">
    </div>
</div>
