<div>
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-num-arrivage" name="numArrivage" id="numArrivage" placeholder="N° arrivage">
    </div>
</div>
