<div>
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-arrivage-string" name="arrivage_string" id="arrivage_string" placeholder="{{ "arrivage.arrivage"|trans|capitalize }}">
    </div>
</div>
