{% set title = title ?? '' %}

<div class="col-auto m-1 pr-0">
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-input"
               name="numTruckArrival"
               id="numTruckArrival"
               title="{{ title }}"
               placeholder="{{ title }}">
    </div>
</div>
