<div class="col-auto m-1 select-filter pr-0">
    <div>
        <div class="input-group w-100 cursor-default">
            <select class="form-control data min-150px filter-select2"
                    name="article"
                    data-s2="article"
                    data-placeholder="Article">
            </select>
        </div>
    </div>
</div>

