<div class="urgence-filter cursor-default">
    Urgence ?
    <label class="switch">
        <input class="checkbox filter-checkbox" type="checkbox" name="urgence" id="urgence-filter">
        <span class="slider round"></span>
    </label>
</div>
