<div class="minw-150px select2-overflow">
    <div class="input-group w-100 cursor-default">
        <select id="providers" name="providers" class="form-control data ajax-autocomplete-fournisseur filter-select2 min-150px" multiple="multiple" {{ disabled }}>
        </select>
    </div>
</div>
