<div class="col-auto mb-2 pr-0">
    <div class="input-group">
        <input type="text" class="form-control data cursor-default filter-input" name="numArrivage" id="numArrivage" title="n° d'arrivage" placeholder="{{ "arrivage.n° d'arrivage"|trans }}">
    </div>
</div>
