<div class="select-filter m-1">
    <div class="select2-overflow my-1">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data filter-select2" name="sensorWrappers"
                    data-s2="sensorWrapperForPairings" data-placeholder="Sélectionner un capteur..." multiple="multiple">
            </select>
        </div>
    </div>
</div>
