<div>
    <div class="input-group maxw-250px">
        <select class="form-control filter-input" name="anomaly" id="anomaly">
            <option value="">Anomalie</option>
            <option value="true">Avec anomalie</option>
            <option value="false">Sans anomalie</option>
        </select>
    </div>
</div>

<input type="text" value="" id="dateMinFilter" hidden>
<input type="text" value="" id="dateMaxFilter" hidden>
<input type="text" value="" id="anomaly" hidden>
