<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <input class="form-control data filter-input"
                    name="projectNumber"
                    placeholder="{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Numéro de projet', false) }}"/>
        </div>
    </div>
</div>

