<div class="checkbox-filter cursor-default">
    Congelé ?
    <label class="switch">
        <input class="checkbox filter-checkbox" type="checkbox" name="frozen" id="frozen-filter">
        <span class="slider round"></span>
    </label>
</div>
