<div class="checkbox-filter cursor-default">
    Urgence ?
    <label class="switch">
        <input class="checkbox filter-checkbox" type="checkbox" name="emergency" id="emergency-filter">
        <span class="slider round"></span>
    </label>
</div>
