<div class="col-auto mb-2 select-filter">
    <div class="input-group maxw-250px minw-250px">
        {# id and name will be set in js #}
        <select class="ajax-autocomplete-dem-collecte ajax-autocomplete-demande data form-control filter-demand filter-select2" {{ disabled }}>
        </select>
    </div>
</div>
