{% import 'form.html.twig' as form %}

<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        {{ form.select('carriers', null, false, {
            type: '',
            placeholder: 'Transporteur',
            labelClass: 'minw-100px',
            inputClass: 'filter-select2',
            multiple: true,
            items: carriers|map((carrier) => {
                label: carrier.label,
                value: carrier.id,
            }),
            disabled: disabled,
        }) }}
    </div>
</div>
