<div class="col-auto ml-xl-auto">
    <button class="btn btn-primary btn-ripple minw-105px submit-button"
            tabindex="0"
            onclick="filter()">
        Filtrer
        <i class="fas fa-filter ml-1"></i>
    </button>
</div>
