<div class="col-auto mb-2 select-filter">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data filter-select2" name="carriers" id="carriers" multiple="multiple">
                {% for carrier in carriers %}
                    <option value="{{ carrier.id }}">{{ carrier.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
