<div class="col-auto mb-2 pr-0">
    <div class="input-group minw-100px">
        <input type="text"
               class="form-control data cursor-default filter-input"
               name="referenceFilter"
               id="referenceFilter"
               placeholder="Référence"
               title="Référence"
               value="{{ (referenceFilter is defined and referenceFilter is not empty) ? referenceFilter }}">
    </div>
</div>
