{% set databasePersisted = databasePersisted ?? true %}
{% set disabled = disabled is defined ?: '' %}
<div class="col-auto m-1 pr-0">
    <div class="h-100 w-450px">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text w-50px d-flex justify-content-center">Du</span>
            </div>
            <input type="text"
                   class="form-control cursor-default filter-date-min {{ databasePersisted ? 'filter-input' }} w-218px"
                   name="dateMin"
                   id="dateMin"
                   placeholder="jj/mm/aaaa"
                   {{ disabled }}
                   autocomplete="off"/>
            <div class="input-group-prepend input-group-append">
                <span class="input-group-text w-50px d-flex justify-content-center">Au</span>
            </div>
            <input type="text"
                   class="form-control cursor-default filter-date-max {{ databasePersisted ? 'filter-input' }} w-218px"
                   name="dateMax"
                   id="dateMax"
                   placeholder="jj/mm/aaaa"
                   {{ disabled }}
                   autocomplete="off"/>
        </div>
    </div>
</div>
