{% import 'form.html.twig' as form %}

<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        {{ form.select(name ?? 'multipleTypes', null, false, {
            type: '',
            placeholder: placeholder ?? 'Types',
            multiple: true,
            labelClass: 'minw-100px',
            inputClass: 'filter-select2',
            disabled: disabled ?? false,
            onChange: onchange ?? false,
            items: types|map((type) => {
                label: type.label,
                value: type.id,
                selected: (filterTypes is defined and type.label in filterTypes) or (type.selected is defined and type.selected),
            }),
        }) }}
    </div>
</div>
