{% set placeholder = placeholder is defined
    ? placeholder
    : trans('Général', null, 'Zone filtre', 'Unité logistique', false) %}
{% set disabled = disabled is defined ? disabled : '' %}
<div class="col-auto m-1 pr-0">
    <div class="input-group minw-100px">
        <input type="text"
               class="form-control data cursor-default filter-input"
               name="pack"
               id="pack"
               placeholder="{{ placeholder }}"
               title="Unité logistique" {{ disabled }}>
    </div>
</div>
