<div class="col-auto mb-2">
    {% if types is defined %}
        <div class="minw-100px">
            <div class="input-group">
                <select type="text" class="form-control data cursor-default filter-input" name="type" {{ disabled }}
                        id="type">
                    <option value>Type</option>
                    {% for type in types %}
                        <option value="{{ type.label }}">
                            {{ type.label }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <input class="current-username" hidden value="{{ app.user.username }}">
        </div>
    {% endif %}
</div>
