<div class="d-flex">
    <div>
        <div class="btn btn-col-action" data-id='{{ urgence.id }}' data-target='#modalEditUrgence' data-toggle='modal'
             onclick="editRow(
                 $(this),
                 Routing.generate('urgence_edit_api', true),
                 $('#modalEditUrgence'),
                 $('#submitEditUrgence'),
                 false,
                 '.editor-container-edit',
                 false,
                 ($modal) => callbackEditFormLoading($modal, {{ urgence.buyer ? urgence.buyer.id : 'undefined' }}, {{ urgence.buyer ? ("'" ~ urgence.buyer.username ~ "'") : 'undefined' }}))">

            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
    <div class="btn btn-col-action" data-id='{{ urgence.id }}' data-target='#modalDeleteUrgence'
         data-toggle='modal'
         onclick="deleteRow($(this), $('#modalDeleteUrgence'), $('#submitDeleteUrgence'))">
        <i class='fas fa-trash'></i>
    </div>
</div>
