<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div>
                <div class="btn btn-col-action d-none action-on-click" data-id='{{ urgence.id }}' data-target='#modalEditUrgence' data-toggle='modal'
                     onclick="editRow(
                         $(this),
                         Routing.generate('urgence_edit_api', true),
                         $('#modalEditUrgence'),
                         $('#submitEditUrgence'),
                         false,
                         ($modal) => callbackEditFormLoading($modal, {{ urgence.buyer ? urgence.buyer.id : 'undefined' }}, {{ urgence.buyer ? ("'" ~ urgence.buyer.username ~ "'") : 'undefined' }}))">

                    <i class='fas fa-pencil-alt'></i>
                </div>
            </div>
            <div class="dropdown-item d-flex align-items-center" data-id='{{ urgence.id }}' data-target='#modalDeleteUrgence'
                 data-toggle='modal'
                 onclick="checkAndDeleteRow($(this), '#modalDeleteUrgence', 'urgence_check_delete', '#submitDeleteUrgence')">
                <span class="wii-icon wii-icon-trash-black mr-2"></span>Supprimer
            </div>
        </div>
    </div>
</div>
