<p class='error-msg'>
    <span title="cette urgence">{{ "urgences.cette urgence"|trans }}</span> est liée à un <span title="arrivage">{{ "arrivage.arrivage"|trans }}</span>.<br>
    Vous ne pouvez pas la supprimer.
</p>
