<form class="modal fade" id="modalConsiderPurchaseRequest">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Valider la prise en compte"
            } %}

            <div class="modal-body modal-input">
                {% if statuses is not empty %}
                    <div class="form-group row">
                        <label class="col-12">Statut*</label>
                        <div class="col-12">
                            <select class="form-control data needed "
                                    name="status"
                                    title="Statut">
                                <option value=""></option>
                                {% for status in statuses %}
                                    <option value="{{ status.id }}">{{ status.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% else %}
                    {% include 'utils/warningSelectEmpty.html.twig' with {
                        array: [],
                        warningLabel: 'Vous n\'avez pas configuré de statut en cours pour les demandes d\'achat',
                        redirectPath: path('settings_item', {
                            'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_STOCK'),
                            'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_REQUESTS'),
                            'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_PURCHASE_STATUSES'),
                        }),
                        redirectLabel: 'Aller vers la création des statuts',
                        block: true,
                        rights: {
                            menu: constant('App\\Entity\\Menu::PARAM'),
                            action: constant('App\\Entity\\Action::CREATE')
                        }
                    } %}
                {% endif %}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: statuses is not empty ? [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success submit-button', text: 'Enregistrer'}
                ] : [],
            } %}
        </div>
    </div>
</form>
