<form method="" class="modal fade" id="modalDeleteRequest" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer la demande d'achat"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette demande d'achat ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteRequest" name='request' value='' type="button" data-dismiss="modal"
                    class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
