<form method="" class="modal fade" id="modalEditPurchaseRequest" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier une demande d'achat"
            } %}

            <div class="modal-body modal-input container-fluid"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', text: 'Enregistrer', name: 'id', id: 'submitEditPurchaseRequest'}
                ],
            } %}

        </div>
    </div>
</form>
