<form method="" class="modal fade" id="modalEditPurchaseRequest" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier une demande d'achat"
            } %}

            <div class="modal-body modal-input container-fluid"></div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitEditPurchaseRequest"
                        type="button"
                        name="id"
                        class="btn btn-success data">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
