<form method="" class="modal fade" id="modalValidatePurchaseRequest" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Valider une demande d'achat"
            } %}

            <div class="modal-body modal-input">
                {% if statuses is not empty %}
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Statut*</label>
                            <div class="w-100">
                                <select name="status"
                                        class="form-control data needed select2"
                                        title="Statut">
                                    {% for status in statuses %}
                                        <option value="{{ status.id }}">{{ status.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% include 'utils/warningSelectEmpty.html.twig' with {
                        array: [],
                        warningLabel: 'Vous n\'avez pas configuré de statut à traiter pour les demandes d\'achat',
                        redirectPath: path('settings_item', {
                            'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_STOCK'),
                            'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_REQUESTS'),
                            'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_PURCHASE_STATUSES'),
                        }),
                        redirectLabel: 'Aller vers la création des statuts',
                        block: true,
                        rights: {
                            menu: constant('App\\Entity\\Menu::PARAM'),
                            action: constant('App\\Entity\\Action::CREATE')
                        }
                    } %}
                {% endif %}
            </div>

            <div class="error-msg"></div>
            {% if statuses is not empty %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                    <button id="submitValidatePurchaseRequest"
                            type="button"
                            name="id"
                            class="btn btn-success data">
                        Enregistrer
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</form>
