<div class="row">
    <div class="form-group col-12">
        <label>Statut*</label>
        <div class="w-100">
            <select name="status"
                    class="form-control data needed select2"
                    title="Statut">
                {% for status in statuses %}
                    <option value="{{ status.id }}">{{ status.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
