{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Natures de colis{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row">
            <h1 class="col align-self-start ml-2"></h1>
            <div class="col-auto mb-3">
                <a href="" data-toggle="modal" data-target="#modalNewNature" class="btn btn-primary btn-ripple">
                    <span class="fa fa-plus mr-2"></span>Ajouter nature colis
                </a>
            </div>

            <div class="col-12">
                <table id="tableNatures" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include 'nature_param/modalNewNature.html.twig' %}
    {% include 'nature_param/modalEditNature.html.twig' %}
    {% include 'nature_param/modalDeleteNature.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/nature.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
