{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Natures des colis{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <button data-toggle="modal" data-target="#modalNewNature" class="btn btn-primary btn-ripple">
                    <span class="fa fa-plus mr-2"></span>Ajouter nature colis
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="tableNatures" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    {% include 'nature_param/modalNewNature.html.twig' %}
    {% include 'nature_param/modalEditNature.html.twig' %}
    {% include 'nature_param/modalDeleteNature.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/nature.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
