<form method="">
    <div class="modal-body modal-input container-fluid row">
        <div class="col-12 form-group required d-none">
            <input type="text" class="form-control data needed" name="nature" required="" value="{{ nature.id }}">
        </div>


        <div class="form-group col-12">
            <label for="label">Label*</label>
            <input type="text" class="data form-control needed" name="label" value="{{ nature.label }}">
        </div>

        <div class="mb-3 form-group col-12">
            <label for="code">Code*</label>
            <input type="text" class="data form-control needed" name="code" value="{{ nature.code }}">
        </div>

    </div>
</form>