<form class="modal fade" id="modalEditNature" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Modifier <span title="une nature">' ~ ('natures.une nature' | trans) ~ '</span>'
            } %}

            <div class="modal-body modal-input container-fluid"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', text: 'Enregistrer', name: 'id', id: 'submitEditNature'}
                ],
            } %}

        </div>
    </div>
</form>
