<div class="d-flex">
    <div class="dropdown">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu pointer">
            <div class="dropdown-item has-tooltip" title="dupliquer l'import"
                 onclick="displayFirstModal({{ importId }})">
                <i class='fas fa-sync-alt mr-2'></i>Dupliquer l'import
            </div>
            {% if logFile is not null %}
                <a href="/uploads/attachements/{{ logFile }}" class="dropdown-item has-tooltip" title="voir le fichier de traces">
                    <i class='fas fa-search-plus mr-2'></i>Fichier Trace
                </a>
            {% endif %}
            {% if canCancel %}
                <div class="dropdown-item has-tooltip" title="annuler l'import"
                     onclick="openConfirmCancelModal({{ importId }})">
                    <i class='fas fa-times mr-2'></i>Annuler l'import
                </div>
            {% endif %}
        </div>
    </div>
</div>
