{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Import et mise à jour{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersImport.html.twig' with {
        'page': 'PAGE_IMPORT',
        'tableSelector': '#tableImport'
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if hasRight(constant('App\\Entity\\Menu::PARAM'), constant('App\\Entity\\Action::DISPLAY_IMPORT')) %}
                    <div class="btn btn-primary btn-ripple" onclick="displayFirstModal()">
                        <span class="fa fa-plus mr-2"></span>Nouvel import
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableImport" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    {% include 'import/modalNewImport.html.twig' %}
    {% include 'import/modalConfirmCancel.html.twig' %}
    {% include 'import/modalLaunchPlanifiedImport.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/import.js') }}?{{ date().timestamp }}"></script>
{% endblock %}

