<form method="" class="modal fade" id="modalNewImport" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import d'un fichier</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
            </div>

            <div class="error-msg pl-4 pb-4"></div>
            <div class="modal-footer">
                <input hidden name="importId" class="data">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewImport" type="button" class="btn btn-success">Valider
                </button>
            </div>
        </div>
    </div>
</form>
