<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre de colonne de fichier</th>
                <th>Aperçu (ligne 1)</th>
                <th>Champ Follow GT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>