<form method="" class="modal fade" id="modalNewImportConfirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body modal-input container-fluid">
                <p class="text-center">
                    Confirmez-vous l'import ?
                </p>
            </div>
{#TODO CG centraliser header footer ne mettre à jour que body#}
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewImportConfirm" type="button" name="importId" class="btn btn-success data">Valider
                </button>
            </div>
        </div>
    </div>
</form>
