.accueil-back {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-item {
    min-width: 50%;
    min-height: 40%;
}

.dashboard-ext {
    .refresh-date-container {
        position: absolute;
        top: -35px;
        right: 0;
        cursor: default;
        color: white;
    }
}

.half-height {
    height: 38vh;

    .dashboard-ext & {
        height: 41vh;
    }
}

.third-height {
    height: 31vh;
}

.home-card {
    background-color: $lightGrey;
    border-radius: 8px;
    display: flex;
    margin: 8px 0;

    .home-card-content {
        margin-bottom: 9px;
    }

    h2 {
        margin: 9px 0;
    }
}

.chart {
    height: 70%;
    width: 99%;
}

#chart-assoc {
    height: 70%;
}

#chart-arrival {
    height: 70%;
}

.fournisseurFilterContainer {
    .select2-selection {
        overflow: auto;
    }
}

.plus-btn {
    @include icon-button;

    &:hover {
        background-color: $white;

        .icon {
            background-color: $backgroundBodyColorDark;
        }
    }
}

.indicators {
    position: absolute;
    z-index: 1;
    width: 25vw;
    font-weight: bold;

    .card-body {
        padding: 0.2rem 1.2rem !important;
    }
}

.indicator-row {
    padding: 0.2rem;
    font-size: 0.8rem;

    &:hover {
        @extend .bg-primary-followgt;

        border-radius: 5px;
        color: white;
        cursor: pointer !important;
    }
}

.space {
    @media (max-height: 1800px) {
        margin-top: 1rem;
    }

    @media (min-height: 1801px) {
        margin-top: 2.1rem;
    }
}

.lh {
    line-height: 1em;
    margin-bottom: 0;
}
