@import "variables";

.score-low {
    &, &.ql-snow {
        background-color: $lightest-danger!important;
    }
}

.score-medium {
   &, &.ql-snow{
        background-color: $lightest-warning!important;
    }
}


.score-high {
    &, &.ql-snow {
        background-color: $lightest-success!important;
    }
}
