@import "variables";

#alerts-container {
    position: fixed;
    z-index: 100000;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .alert-wrapper {
        position: relative;
        margin-right: 1rem;
        margin-bottom: 1.2rem;
        padding: 12px 0 15px 20px !important;
        border-radius: 5px;
        width: 400px;

        @media (max-width: 500px) {
            width: 100vw;
            margin: 0;
            border-radius: 0;
        }

        .alert-close {
            position: absolute;
            top: 5px;
            right: 5px;

            button {
                background: none;
                border: none;
            }

            span {
                color: $white;
                font-weight: bold;
                font-size: 18px;
            }
        }

        .alert-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 90%;
            color: $white;
        }
    }
}

@each $color, $value in $alert-colors {
    .wii-alert-#{$color} {
        background-color: $value;
    }
}

