@import "variables";

$buttonConfig: (
    'primary': $primary,
    'success': $success,
    'danger': $danger
);

$outlineButtonConfig: (
    'primary': (
        'bg-color': $white,
        'color': $primary,
        'active-bg-color': #F2F3F7,
        'disabled-color': $grey
    ),
    'secondary': (
        'bg-color': transparent,
        'color': $greyDashboard,
        'active-bg-color': #E7E7E8,
        'disabled-color': $grey
    )
);

@mixin setColorLoader($color) {
    border-top-color: $color !important;
    border-bottom-color: $color !important;
    border-left-color: $color !important;
}

@mixin button-disabled($border-color, $bg-color, $color) {
    cursor: not-allowed;
    border-color: $border-color !important;
    background-color: $bg-color !important;
    color: $color !important;
    opacity: 1 !important;

    .wii-icon {
        background-color: $color !important;
    }

    svg {
        color: $color !important;
    }

    &:hover {
        box-shadow: none !important;
    }
}

@mixin simple-button($color, $disabled-color) {
    &:hover,
    &:focus {
        background-color: $color;
        border-color: $color;
        box-shadow: $buttonBoxShadow;
    }

    &:active {
        box-shadow: none !important;
    }

    &:disabled {
        @include button-disabled($grey, $grey, $disabled-color);
    }

    .wii-icon {
        background-color: $white;
    }
}

@mixin outline-button($bg-color, $color, $active-bg-color, $disabled-color) {
    background-color: $bg-color !important;
    border-color: $color;
    color: $color;

    svg {
        color: $color !important;
    }

    .wii-icon {
        background-color: $color;
    }

    &:hover,
    &:focus {
        background-color: $bg-color !important;
        border-color: $color !important;
        box-shadow: $buttonBoxShadow !important;
        color: $color !important;
    }

    &:active {
        border-color: $greyDashboard;
        background-color: $active-bg-color !important;
        box-shadow: none !important;
        color: $color !important;
    }

    &:disabled {
        @include button-disabled($grey, $bg-color, $disabled-color);
    }
}

.btn-action {
    min-width: 172px;
}

// boutons de la colonne Actions
.btn-col-action {
    background-color: $greyDark;

    &:hover {
        color: $greyDark;
    }
}

.btn-icon {
    width: 50px;
    padding: 4px !important;
    margin: 0 !important;
}

.third {
    font-size: 0.9rem;
    color: #888888;
    vertical-align: top;
    width: 100%;

    &:hover {
        color: $primary !important;
    }
}

.btn-disabled {
    background-color: $greyDark;
    border-color: $greyDark;
    pointer-events: none;
}

.btn-menu-label {
    text-decoration: none !important;

    &:focus {
        outline: 0 !important;
        box-shadow: none;
    }
}

.nav-pills .nav-link.active {
    color: $white !important;
}

.dropdown-toggle::after {
    display: none;
}

@each $name, $color in $buttonConfig {
    .btn-#{$name} {
        @include simple-button($color, $white);
    }
}

@each $name, $config in $outlineButtonConfig {
    .btn-outline-#{$name} {
        @include outline-button(
                map-get($config, 'bg-color'),
                map-get($config, 'color'),
                map-get($config, 'active-bg-color'),
                map-get($config, 'disabled-color')
        );
    }
}

.btn {
    font-weight: 600 !important;
}

.btn-silent {
    padding: 0 !important;
}

.btn-link {
    color: $black;
    text-decoration: underline;

    &:hover {
        color: $primary;
    }
}
