@import "variables";

.carousel {
    height: 100%;

    .carousel-indicators {
        z-index: 10000;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        background-color: $dark-grey;
        border-radius: 50%;

        &:not(.active) {
            opacity: 0.3;
        }
    }
}
