.carousel {
    height: 100%;

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        background-color: $greyDashboard;
        border-radius: 50%;

        &:not(.active) {
            opacity: 0.3;
        }
    }
}
