@import "variables";

$maxColumnOnRow: 12;
$maxRowOnPage: 12;
$responsive-breakpoint: map-get($grid-breakpoints, lg);

$rowNumberToDatatableHeight: (
    1: 66vh,
    2: 28vh,
    3: 12vh,
    4: 8vh
);

.dashboard-button {
    line-height: normal;
}

.refresh-date {
    &.display {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    &.external {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        float: right;
        color: $white;
        font-size: 0.8rem;
    }
}

.dashboard-settings {
    @media (max-width: $responsive-breakpoint) {
        .dashboard-row-wrapper {
            width: 97% !important;
        }
        .action-row-container {
            width: 3%;
        }
    }
    @media (min-width: $responsive-breakpoint) {
        .dashboard-row-wrapper {
            width: 98% !important;
        }
        .action-row-container {
            width: 2%;
        }
    }
}

.primary-danger {
    background-color: $orange !important;
}

.secondary-danger {
    background-color: $warning !important;
}

.dashboard-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: $responsive-breakpoint) {
        overflow: hidden;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @media (min-width: $responsive-breakpoint) {
        overflow: hidden;
        @for $rowIndex from 1 through $maxRowOnPage {
            &.dashboard-size-#{$rowIndex} .dashboard-row {
                flex: 1 1 calc(#{percentage(1 / $rowIndex)} - #{$spacer});
                max-height: calc(#{percentage(1 / $rowIndex)} - #{$spacer});

                .dataTables_scrollBody {
                    height: if(map-has-key($rowNumberToDatatableHeight, $rowIndex), map-get($rowNumberToDatatableHeight, $rowIndex), 0) !important;
                }
            }
        }
    }
}

.dashboard-row {
    display: flex;
    width: 100%;
    position: relative;

    @media (min-width: $responsive-breakpoint) {
        margin-top: map-get($spacers, 2);
        margin-bottom: map-get($spacers, 2);

        @for $columnIndex from 1 through $maxColumnOnRow {
            &[data-size="#{$columnIndex}"] > .dashboard-row-wrapper > .dashboard-component {
                flex: 1 1 calc(#{percentage(1 / $columnIndex)} - #{$spacer});
                max-width: calc(#{percentage(1 / $columnIndex)} - #{$spacer});
            }
        }
    }

    .dashboard-row-wrapper {
        display: flex;
        flex: 1;
        width: 100%;

        .dashboard-settings & {
            width: 98% !important;
        }

        @media (min-width: $responsive-breakpoint) {
            flex-direction: row;
        }

        @media (max-width: $responsive-breakpoint) {
            flex-direction: column;
        }
    }

    .action-row-container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        .icon {
            cursor: pointer;
            margin: 3px 0;
        }
    }
}

.dashboard-component-placeholder {
    background: $white;
    border-radius: 16px;
    flex: 1 1 auto;
    height: 100px;
    margin: 0 8px;

    &.not-selected {
        border: 4px solid $black;
    }

    &.selected {
        border: 4px solid $aqua;
    }

    &.not-selectable {
        border: 4px dashed $dark-grey;
        background: $light-grey;
    }
}

.dashboard-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-component {
    position: relative;
    border-radius: 8px;

    @media (max-width: $responsive-breakpoint) {
        margin-top: map-get($spacers, 1);
        margin-bottom: map-get($spacers, 1);

        .dataTables_scrollBody {
            height: 20vh;
        }
    }

    @media (min-width: $responsive-breakpoint) {
        margin-left: map-get($spacers, 2);
        margin-right: map-get($spacers, 2);

        &.dashboard-component-split-horizontally {
            display: flex;
            flex-direction: column;

            & > .dashboard-component {
                margin-left: 0;
                margin-right: 0;
                flex: 1 1 50%;
                height: calc(50% - 5px);
            }

            & > .dashboard-component:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &.dashboard-component-split-vertically {
            display: flex;
            flex-direction: row;

            & > .dashboard-component {
                margin-top: 0;
                margin-bottom: 0;
                flex: 1 1 50%;
                width: calc(50% - 5px);
            }

            & > .dashboard-component:not(:last-child) {
                margin-right: 10px;
            }
        }

        .dashboard-component-column {
            height: 100% !important;
        }
    }

    &.empty {
        background: $light-grey;
        align-items: center;
        justify-content: center;
        border: 2px dashed $dark-grey;
        display: flex;

        @media (max-width: $responsive-breakpoint) {
            display: none !important;
        }
    }

    .component-toolbox {
        max-width: 40px;
        text-align: right;
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
        @media (max-width: $responsive-breakpoint) {
            top: calc(3px + map-get($spacers, 2));
        }
    }
}

.dashboard-ext {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-box {
    @extend .wii-card;

    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    background: $white;

    .dashboard:not(.dashboard-bounce) &, &:not(a) {
        transform: none !important;
    }

    padding: 0.5rem;

    .dashboard-ext & {
        padding: 0.20rem;
    }

    &.dashboard-box-indicator > * {
        margin: auto 0;
    }

    @media (max-width: $responsive-breakpoint) {
        min-height: 30px;
        &.dashboard-box-indicator {
            min-height: 100px;
        }
    }

    @media (min-width: $responsive-breakpoint) {
        &.dashboard-box-container-title-content,
        &.dashboard-box-container-title-content-rangeButton {
            .title {
                height: 14%;
            }

            .content {
                position: relative;
            }
        }

        &.dashboard-box-container-title-content {
            .content {
                height: 86%;
            }
        }

        &.dashboard-box-container-title-content-rangeButton {
            .range-buttons {
                height: 10%;
            }

            .content {
                height: 76%;
            }
        }
    }

    .title {
        @extend .h5;
        margin-bottom: 0.3rem;
        padding: 0;
        color: $black;

        @media all and (max-width: $responsive-breakpoint) {
            font-size: 0.9rem;
        }

        .dashboard-ext & {
            font-weight: bold;
            margin-bottom: 0;
        }
    }

    .location-label {
        line-height: 1;
    }

    .points {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }

    .arrow-chart {
        color: $primary;
        font-weight: bold;
        display: inline-block;
        margin: 0 10px;
    }

    .range-buttons {
        text-align: center;

        span {
            font-size: 0.8em;
        }
    }

    .dataTables_wrapper, span {
        font-size: 0.8em;
    }

    &.dashboard-stats-container {
        .dashboard-ext & {
            padding-left: 2px;
            padding-right: 2px;

            .title {
                font-size: 1.4vw !important;
                font-weight: 600;
            }

            .dashboard-stats-counter {
                font-size: 2.6vw !important;
            }
        }

        .has-tooltip {
            font-size: .7vw;
        }

        .dashboard-stats-delay-title {
            font-weight: normal !important;
            margin-top: 0 !important;
        }

        .dashboard-stats {
            font-weight: bold;
            color: $primary;
            cursor: default;
            text-align: center;
            font-size: 1.5rem;
            line-height: 0.8;

            &.dashboard-stats-delay {
                font-size: 1.6vw;
            }

            &.dashboard-stats-counter {
                font-size: 2vw;
                word-wrap: break-word;
            }

            @media (max-width: $responsive-breakpoint) {
                &.dashboard-stats-counter {
                    font-size: 5vw;
                }
                &.dashboard-stats-delay {
                    font-size: 4vw
                }
            }

        }
    }
}

.dashboard-bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    @media (max-width: $responsive-breakpoint) {
        flex-direction: column;
    }
}

.dashboard-ext .dashboard-pagination {
    display: none;
}

.dashboard-pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    @media (max-width: $responsive-breakpoint) {
        flex-direction: column;
    }
}

.dashboard-row-selector {
    border: 1px solid $light-grey;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    width: calc(50% - 10px);
    cursor: pointer;

    &.selected {
        background-color: $light-grey;
        border-color: $medium-grey;
    }

    &:hover {
        background-color: $background;
    }
}

.dashboard-example {
    background-color: $gt-blue;
    border-radius: 3px;
    height: 15px;
    flex: 1;

    &:not(:last-child) {
        margin-right: 1px;
    }
}

.component-example-container {
    min-height: 120px;
    display: flex;

    &.graph {
        min-height: 250px;
    }

    .dashboard-box {
        min-width: 250px;
    }
}

sup {
    font-size: 10px !important;
    color: $black !important;
    font-weight: 100 !important;
    margin-right: 2px;
}

.component-type-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px rgba($dark-grey, 0.15);
    border-radius: 4px;
    margin: 0 5px;
    padding: 0 10px;
    width: 25%;
    flex-grow: 1;

    .btn.btn-light {
        background: #F2F3F7 !important;
        border-color: #F2F3F7 !important;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    .component-selector {
        position: relative;
        margin: 5px 0;

        .component-type {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 70px;
        }
    }
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

.customization-tools {
    width: 100%;

    .card-header {
        padding: 0;
    }

    .card-body {
        padding: 0;
    }

    .toggle-collapsible .btn-menu-label {
        padding-left: 0;
    }

    .toggle-collapsible::before {
        margin-top: 5px;
        margin-left: 10px;
    }
}

@mixin font-style-selector($path) {
    width: 30px;
    height: 30px;
    margin: 0 3px;

    i {
        display: inline-block;
        background: url($path) no-repeat center;
        background-size: 20px 20px;
        width: 30px;
        height: 30px;
        border: 2px solid $black;
        border-radius: 4px;
        cursor: pointer;
    }

    input:checked ~ i {
        border-color: $primary;
    }

    input {
        display: none;
    }
}

.text-bold-selector {
    @include font-style-selector('../img/bold.svg');
}

.text-italic-selector {
    @include font-style-selector('../img/italic.svg');
}

.text-underline-selector {
    @include font-style-selector('../img/underline.svg');
}

.chart-color-picker {
    margin: 5px 20% 5px 0;
}

.scroll, .dashboard-box .title {
    white-space: nowrap;
}

p.card-title {
    font-weight: bold;
}

.chart-color-picker {
    margin: 5px 20% 5px 0;
}

.chart {
    height: 70%;
    width: 99%;
}
