$maxColumnOnRow: 12;
$columnGutters: 15px;
$minimumWidth: 1300px;

.refresh-date {
    &.display {
        position: fixed;
        bottom: 0; right: 0;
    }

    &.external {
        position: absolute;
        top: 10px; right: 10px;
        font-weight: bold;
        float: right;
        color: white;
        font-size: 0.8rem;
    }
}

.dashboard-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @media not all and (max-width: $minimumWidth) {
        height: 100%;
    }

    .dashboard-row {
        display: flex;
        width: 100%;
        flex: 1;

        &:not(:first-child) {
            margin-top: 15px;
        }

        @for $columnIndex from 1 through $maxColumnOnRow {
            &.dashboard-row-size-#{$columnIndex} .dashboard-row-wrapper .dashboard-component {
                flex: 0 0 calc(#{percentage(1 / $columnIndex)} - #{$columnGutters});
                max-width: calc(#{percentage(1 / $columnIndex)} - #{$columnGutters});

                @media all and (max-width: $minimumWidth) {
                    flex: 1;
                    max-width: 100%;
                }
            }
        }

        .dashboard-row-wrapper {
            display: flex;
            width: 100%;

            @media all and (max-width: $minimumWidth) {
                flex-direction: column;
            }
        }
    }
}

.dashboard-component {
    display: flex;
    position: relative;
    border-radius: 8px;

    @media all and (max-width: $minimumWidth) {
        margin-top: $columnGutters / 2;
        margin-bottom: $columnGutters / 2;
    }

    @media not all and (max-width: $minimumWidth) {
        margin-left: $columnGutters / 2;
        margin-right: $columnGutters / 2;
    }

    &.empty {
        background: #D0D9E0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        border: 2px dashed #878d92;

        @media all and (max-width: $minimumWidth) {
            min-height: 50px;
            display: none;
        }
    }

    .component-toolbox {
        max-width: 40px;
        text-align: right;
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
    }
}

.dashboard-box {
    @extend .wii-card;

    .dashboard:not(.dashboard-bounce) &,
    &:not(a){
        transform: none !important;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 3px grey;
    position: relative;
    background: $white;
    padding: 0.5rem;

    .title {
        @extend .h5;
        margin-bottom: 0.3rem;
        padding: 0;
        color: $blackDashboard;

        .dashboard-ext & {
            font-weight: bold;
        }
    }

    .location-label {
        line-height: 1;
    }

    .points {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }

    .arrow-chart {
        color: $blueGT;
        font-weight: bold;
        display: inline-block;
        margin: 0 10px;
    }

    .range-buttons {
        text-align: center;

        span {
            font-size: 0.8em;
        }
    }

    .dataTables_wrapper, span {
        font-size: 0.8em;
    }

    &.dashboard-stats-container {
        .dashboard-ext & {
            padding-left: 2px;
            padding-right: 2px;
        }

        .dashboard-stats {
            font-weight: bold;
            color: $blueNeon;
            cursor: default;
            text-align: center;
            font-size: 2.6vw;
            line-height: 0.8;

            &.dashboard-stats-delay {
                font-size: 2.5vh;
            }

            &.dashboard-stats-counter {
                font-size: 2vw;
                word-wrap: break-word;

                .dashboard-ext & {
                    font-size: 8vh;
                }
            }

            &.dashboard-stats-label {
                font-size: 2vw;
            }
        }
    }
}

.delete-row-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.dashboard-bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    @media all and (max-width: $minimumWidth) {
        flex-direction: column;
    }
}

.dashboard-ext .dashboard-pagination {
    display: none;
}

.dashboard-pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    @media all and (max-width: $minimumWidth) {
        flex-direction: column;
    }
}

.dashboard-row-selector {
    border: 1px solid #EEE;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    width: calc(50% - 10px);
    cursor: pointer;

    &.selected {
        background-color: #EEE;
        border-color: #BBB;
    }

    &:hover {
        background-color: #F8F8F8;
    }
}

.dashboard-example {
    background-color: #130078;
    border-radius: 3px;
    height: 15px;
    flex: 1;

    &:not(:last-child) {
        margin-right: 1px;
    }
}

.component-example-container {
    min-height: 120px;
    display: flex;
    &.graph {
        min-height: 250px;
    }
}

.component-type-container {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 6px #555;
    border-radius: 4px;
    margin: 0 10px;
    padding: 0 10px;
    width: 25%;
    flex-grow: 1;

    .component-selector {
        position: relative;
        margin: 5px 0;

        .component-type {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
        }
    }
}
