@import "variables";


.dropFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    background: #F2F3F7;
    border: none;
    padding: 5px 10px;
    text-align: center;

    &.small-frame {
        height: initial !important;
        font-size: 0.8rem;
        padding: 10px;

        .click-here {
            font-size: 0.8rem;
        }
    }

    .click-here {
        background: #3353D7;
        color: white;
        margin-left: 10px;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .drop-file-hint {
        font-size: 14px !important;
    }
}

.click-here {
    cursor: pointer;
    white-space: nowrap;
}

.isWrong {
    background: #ffd8d8;
}
