@import "variables";

.dropFrame {

    &:not(&.button-only) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        border-radius: 4px;
        background: $light-blue;
        border: none;
        padding: 5px 10px;
        text-align: center;
    }

    &.small-frame {
        height: initial !important;
        font-size: 0.8rem;
        padding: 10px;
    }

    .drop-file-hint {
        font-size: 14px !important;
    }
}

.isWrong {
    background: $lightest-danger;
}
