@import 'variables';

.dropdown-menu.dropdown-follow-gt {
    & > .dropdown-item {
        &:active,
        &:hover {
            background-color: $primary;
            color: white !important;

            .wii-icon {
                background: $white;
            }

            input[type=checkbox] {
                &:checked {
                    background-color: $white;

                    &:before {
                        background-color: $primary;
                    }
                }

                &:not(:checked) {
                    border-color: $white !important;
                }
            }
        }
    }
}

.dropdown-menu {
    .dropdown-item {
        &.disabled.has-tooltip {
            pointer-events: inherit !important;
        }
    }
}
