@import 'variables';

.dropdown-menu.dropdown-follow-gt {
    & > .dropdown-item {
        &:active,
        &:hover {
            background-color: $primary;
            color: white !important;
        }
    }
}

.dropdown-menu {
    .dropdown-item {
        &.disabled.has-tooltip {
            pointer-events: inherit !important;
        }
    }
}
