@import "variables";

.filter {
    background-color: $white !important;
    color: $greyDark !important;
    border-color: $greyDark !important;

    i:hover {
        color: $red !important;
        border-color: $red !important;
    }

    span {
        overflow-wrap: break-word;
    }
}

.filters {
    > div {
        .select2-selection {
            margin: 0;
        }

        .select2-selection__placeholder {
            vertical-align: middle;
        }
    }

    .dropdown-filter {
        border: 1px solid $grey;
    }

    .date-dropdown {
        background-color: #E9ECEF;
        border-radius: 0 4px 4px 0;
        color: #6c757d !important;
        border-left: none;
        height: 100%;
    }

    .filter-dropdown-menu {
        max-height: 400px;
        overflow-y: auto;
    }

    .select-filter {
        .select2-selection__rendered {
            margin: 0 5px;
            padding: 0;
            width: calc(100% - 10px);
        }

        .input-group {
            min-width: 260px;
        }
    }

    .input-group {
        border-radius: 0.25rem;
        background-color: $white !important;
    }

    .minw-200px {
        .select2-container {
            min-width: 200px !important;
        }
    }

    .minw-300px {
        .select2-container {
            min-width: 300px !important;
        }
    }

    .minw-100px {
        .select2-container {
            min-width: 100px !important;
        }
    }

    .minw-150px {
        .select2-container {
            min-width: 150px !important;
        }
    }

    .select2-overflow {
        .select2-selection {
            overflow: auto;
        }
    }
}

.filter-input {
    width: 260px !important;

    &.disabled {
        cursor: not-allowed !important;
    }
}

.filter-select2 {
    width: 200px !important;
    max-height: 38px !important;
}

.no-filter {
    color: $black;
    font-style: italic;
}

.checkbox-filter {
    background-color: $white;
    padding: 6.5px;
    width: 260px !important;
    border: 1px solid #ced4da;
    color: $darkGrey !important;
    font-size: 0.9rem;
    border-radius: 5px;

    &.disabled {
        cursor: not-allowed !important;
    }
}

.w-50px {
    width: 50px !important;
}

.w-218px {
    width: 218px !important;
}
