@import "variables";

.filter {
    background-color: $white !important;
    color: $dark-grey !important;
    border-color: $dark-grey !important;

    i:hover {
        color: $danger !important;
        border-color: $danger !important;
    }

    span {
        overflow-wrap: break-word;
    }
}

.filters {
    > div {
        .select2-selection {
            margin: 0;
        }

        .select2-selection__placeholder {
            vertical-align: middle;
        }
    }

    .dropdown-filter {
        border: 1px solid $medium-grey;
    }

    .date-dropdown {
        background-color: $light-grey;
        border-radius: 0 4px 4px 0;
        color: $dark-grey !important;
        border-left: none;
        height: 100%;
    }

    .filter-dropdown-menu {
        max-height: 400px;
        overflow-y: auto;
    }

    .select-filter {
        .select2-selection__rendered {
            margin: 0 5px;
            padding: 0;
            width: calc(100% - 10px);
        }

        .input-group {
            min-width: 260px;
        }
    }

    .input-group {
        border-radius: 0.25rem;
        background-color: $white !important;
    }

    .minw-200px {
        .select2-container {
            min-width: 200px !important;
        }
    }

    .minw-300px {
        .select2-container {
            min-width: 300px !important;
        }
    }

    .minw-100px {
        .select2-container {
            min-width: 100px !important;
        }
    }

    .minw-150px {
        .select2-container {
            min-width: 150px !important;
        }
    }

    .select2-overflow {
        .select2-selection {
            overflow: auto;
        }
    }
}

.filter-input {
    width: 260px !important;

    &.disabled {
        cursor: not-allowed !important;
    }
}

.filter-select2 {
    width: 200px !important;
    max-height: 38px !important;
}

.no-filter {
    color: $black;
    font-style: italic;
}

.checkbox-filter {
    background-color: $white;
    padding: 6.5px;
    width: 260px !important;
    border: 1px solid $medium-grey;
    color: $dark-grey !important;
    font-size: 0.9rem;
    border-radius: 5px;

    &.disabled {
        cursor: not-allowed !important;
    }
}

.w-50px {
    width: 50px !important;
}

.w-218px {
    width: 218px !important;
}

.filter-status-multiple {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    width: 250px;
    height: 36px;
    font-weight: initial !important;
}

.filter-status-multiple-dropdown {
    min-width: 100%;
    width: min-content;
    max-height: initial !important;

    .dropdown-item {
        padding: 0.35rem 0.6rem !important;

        &:active, &:hover {
            background: $primary;
            color: white;

            input[type="checkbox"] {
                position: relative;

                &, &:before {
                    transition: all 200ms;
                }

                &:not(:checked) {
                    border: 2px solid white;
                }

                &:checked {
                    background: white;

                    &:before {
                        background-color: $primary;
                    }
                }
            }
        }
    }
}
