.fly-form {
    .toggle-button-container,
    .submit-button-container {
        display: flex;
        flex-direction: column;
        align-items: start;

        .btn {
            margin: 0;
        }
    }

    .submit-button-container {
        justify-content: center;
    }

    .toggle-button-container {
        justify-content: flex-end;
    }
}

.new-on-fly-form-container {
    display: none;
}
