@import "variables";

.attachment-item, .attachement {
    display: flex;
    align-items: center;
    width: 45%;
    border: $medium-grey solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;

    &:not(.show) {
        justify-content: space-between;
    }

    a:first-of-type {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    svg {
        color: $primary !important;
        font-size: 0.8rem;
    }
}

.types-container {
    .select2-container, .select2-selection {
        height: 100%;
    }
}

.increase-decrease-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    input {
        flex: 1 1 auto;
        margin-left: 4px;
        margin-right: 4px;
        text-align: center;
    }

    .increase, .decrease {
        background: $white;
        border: 1px solid $primary;
        border-radius: 4px;
        color: $primary;
        width: 37px;
        min-width: 37px;
        height: $input-height;

        &.decrease:before {
            content: "-";
            font-weight: bolder;
            font-size: 18px;
        }

        &.increase:before {
            content: "+";
            font-weight: bolder;
            font-size: 18px;
        }

        &:disabled {
            color: $medium-grey;
            border-color: $medium-grey;
            cursor: not-allowed;
        }
    }
}

$wii-switch-height: $input-height;

.wii-switch-compact {
    input, input + label {
        padding: 0 1px;
        font-size: 0.8rem;
    }
}

.wii-switch-small {
    .wii-switch {
        width: 100%;
    }

    input, input + label {
        padding: 0 6px !important;
        flex: 1 1 auto;
    }
}

.wii-switch {
    display: inline-flex;
    padding: 0;
    border: 1px solid $medium-grey;
    height: $wii-switch-height;
    border-radius: 4px;
    color: $black;
    background-color: $white;

    input, input + label {
        display: flex;
        border: none;
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        padding: 0 15px;
        border-radius: 0;
        color: $black;
        height: auto;
        line-height: $wii-switch-height;
        margin: -1px 0 0 !important;
        font-weight: normal;
        transition: all 200ms linear;
        font-size: 1rem;

        .wii-icon {
            display: inline-block;
            background-color: $black;
            width: 15px;
            height: 15px;
            max-height: 15px;
        }

        .wii-icon, svg {
            margin-right: 5px;
        }
    }

    input + label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:not([content]) {
        display: none;
    }

    input:not(:disabled), input:not(:disabled) + label {
        cursor: pointer;

        &:hover:not(:checked) {
            color: $white;
            background-color: $primary;

            .wii-icon {
                background: $white;
            }
        }
    }

    input:checked, input:checked + label {
        background: $primary;
        color: $white;

        .wii-icon {
            background: $white;
        }
    }

    input:before, input + label:before {
        content: attr(content);
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        text-align: center;
        padding: 0;
    }

    input:not(:first-of-type), input:not(:first-of-type) + label {
        border-left: 1px solid $medium-grey;
    }

    input:first-of-type, input:first-of-type + label {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    input:last-of-type, input:last-of-type + label {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    input:disabled {
        cursor: not-allowed;

        &:checked {
            background-color: $medium-grey;
            color: $black;
        }
    }
}

.wii-expanded-switch {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -1 * map-get($spacers, 1);
    margin-right: -1 * map-get($spacers, 1);

    input, input + label {
        display: flex;
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        padding: 0 15px;
        border-radius: 4px;
        border: 1px solid $medium-grey;
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        font-weight: normal;
        transition: all 200ms linear;
        font-size: 1rem;
        background: $white;
        color: $dark-grey;
    }

    input + label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: map-get($spacers, 1);
    }

    input:not([content]) {
        display: none;
    }

    input:not(:disabled), input:not(:disabled) + label {
        cursor: pointer;

        &:hover:not(:checked) {
            color: lighten($dark-grey, 5%);
            border-color: lighten($medium-grey, 5%);
        }
    }

    input:checked, input:checked + label {
        background: $light-blue;
        color: $primary;
        border-color: $primary;

        &:hover {
            background: lighten($light-blue, 5%) !important;
            color: lighten($primary, 5%) !important;
            border-color: lighten($primary, 5%) !important;
        }
    }

    input:before, input + label:before {
        content: attr(content);
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        text-align: center;
        padding: 0;
    }

    &:first-child {
        margin-top: 0 !important;
    }
}

.form-control, .select2-search__field, .select2-selection__placeholder {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.9rem !important;

    &:focus {
        outline: none;
    }
}

.select2-selection__placeholder {
    padding: 5px 5px;
}

.select2-selection__rendered {
    color: $black !important;
    opacity: 1; /* Firefox */
}

.select2-selection--multiple .select2-search__field {
    padding: 0 5px !important;
    min-width: 1em;
    //WIIS-7131 pas de width 100%
}

.checkbox-filter .row {
    padding: 0 5px;
}

.wii-switch-no-style {
    label {
        color: $dark-grey;
    }
}

.lite-picker {
    width: 30%;
}

.wii-radio {
    --radio-color: #{$primary};

    display: flex;
    align-items: center;

    label {
        margin-top: 0 !important;
        font-weight: normal;
    }

    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding: 2px;
        background-clip: content-box;
        border: 2px solid var(--radio-color);
        background-color: $white;
        border-radius: 50%;
        margin-right: 5px;
    }

    /* appearance for checked radiobutton */
    input[type="radio"]:checked {
        background-color: var(--radio-color);
    }
}

.wii-checkbox {
    font-weight: normal;
    display: flex;
    align-items: center;

    label {
        cursor: pointer;
    }
}

label, .wii-checkbox, .wii-radio {
    .invalid-feedback {
        display: block;
        font-size: 0.9rem;
        font-weight: normal;
        color: $danger;
    }
}

$wysiwyg-dropdown-button-size: 20px;

.wii-one-line-wysiwyg-popover {
    background-color: $white;
    position: absolute;
    z-index: 10000;
    width: 400px;
    max-width: 400px;

    @include border-radius($input-border-radius, 0);

    .ql-container {
        height: 120px !important;
    }

    .ql-editor {
        overflow-y: scroll;
    }

    .validate-button {
        position: absolute;
        right: 22px;
        bottom: 5px;

        .wii-icon {
            width: 18px;
            height: 18px;
            display: block;
            background-color: $white;
        }
    }
}

.wii-one-line-wysiwyg {
    min-width: 240px;
}

.wii-one-line-wysiwyg-wrapper {
    position: relative;

    .wii-one-line-wysiwyg {
        @extend .form-control;
        height: auto !important;
        word-break: break-word;
        min-height: $input-height;
        min-width: 240px;
    }

    &.focused,
    &.active {
        .wii-one-line-wysiwyg {
            color: $input-focus-color;
            background-color: $input-focus-bg;
            border-color: $input-focus-border-color;
            outline: 0;
        }

        .dropdown-button i {
            background-color: $primary;
        }
    }

    .dropdown-button {
        border: 0;
        background-color: transparent;
        position: absolute;
        right: 4px;
        top: calc(50% - (#{$wysiwyg-dropdown-button-size / 2}));
        cursor: pointer;
        display: flex;

        i {
            height: $wysiwyg-dropdown-button-size;
            width: $wysiwyg-dropdown-button-size;

            background-color: $medium-grey;
        }
    }
}

input.no-overflow {
    text-overflow: initial !important;
    padding-right: 5px !important;
}

.input-group-prepend {
    height: 35.59px;
}

.labelled-field label, label.labelled-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $medium-grey;
    background: $light-blue;
    border-radius: 5px;
    margin: 10px 5px 0;
    height: 40px;
    padding-left: 12px;
    color: $black;
    font-size: 1rem;

    input {
        flex: 1 1 auto;
        border: none;
        margin: 0 0 0 12px;
        height: 38px;
        border-radius: 0 5px 5px 0;
    }

    .input-tooltip {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

input[type=checkbox] {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    vertical-align: middle;
    margin-right: 0.4em;
    border: 2px solid $primary;
    border-radius: 4px;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
    cursor: pointer;

    &:disabled {
        border-color: $medium-grey;
    }

    &:not(:disabled):hover {
        border-color: $primary;
    }

    &:active:not(:disabled) {
        border-color: $primary;
    }

    &:focus {
        outline: none;
        border-color: $primary;
    }

    &:checked {
        background-color: $primary;
        box-shadow: none;
        border: none;
        padding: 2px;
    }

    &:checked:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        -webkit-mask: url('../../public/svg/check-white.svg') no-repeat center;
        mask: url('../../public/svg/check-white.svg') no-repeat center;
        background-color: $white;
    }

    &:disabled {
        border-color: $medium-grey;
        background: $light-grey;
        cursor: not-allowed !important;
    }
}

.wii-color-picker {
    width: 80px;
    padding-top: 7px;

    option {
        border-radius: 50px;
    }

    &::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
    }

    &::-webkit-color-swatch-wrapper {
        padding: 0;
        width: 18px;
        height: 18px;
    }
}
