@import "variables";

.increase-decrease-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    input {
        flex: 1 1 auto;
        margin-left: 4px;
        margin-right: 4px;
        text-align: center;
    }

    .increase, .decrease {
        background: white;
        border: 1px solid $primary;
        border-radius: 4px;
        color: $primary;
        width: 37px;
        min-width: 37px;
        height: 38px;

        &.decrease:before {
            content: "-";
            font-weight: bolder;
            font-size: 18px;
        }

        &.increase:before {
            content: "+";
            font-weight: bolder;
            font-size: 18px;
        }
    }
}

$wii-switch-height: 34px;

.wii-switch {
    display: inline-flex;
    padding: 0;
    border: 1px solid $grey;
    height: $wii-switch-height;
    border-radius: 4px;

    input, input + label {
        display: flex;
        border: none;
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        padding: 0 15px;
        border-radius: 0;
        color: $primary;
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        margin: -1px 0 0;
        font-weight: normal;
        transition: all 200ms linear;
        font-size: 1rem;

        .wii-icon {
            display:inline-block;
            background-color: $primary;
            width: 15px;
            height: 15px;
            max-height: 15px;
        }

        .wii-icon, svg {
            margin-right: 5px;
        }
    }

    input + label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:not([content]) {
        display: none;
    }

    input:not(:disabled), input:not(:disabled) + label {
        cursor: pointer;

        &:hover:not(:checked) {
            color: white;
            background-color: $primary;

            .wii-icon {
                background: $white;
            }
        }
    }

    input:checked, input:checked + label {
        background: $primary;
        color: $white;

        .wii-icon {
            background: $white;
        }
    }

    input:before, input + label:before {
        content: attr(content);
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        text-align: center;
        padding: 0;
    }

    input:not(:first-of-type), input:not(:first-of-type) + label {
        border-left: 1px solid $grey;
    }

    input:first-of-type, input:first-of-type + label {
        border-radius: 4px 0 0 4px;
    }

    input:last-of-type, input:last-of-type + label {
        border-radius: 0 4px 4px 0;
    }
}

.form-control {
    height: 38px;
}

.form-control, .select2-search__field, .select2-selection__placeholder {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.9rem !important;
}

.select2-selection__placeholder {
    padding: 5px 5px;
}

.select2-selection__rendered {
    color: black !important;
    opacity: 1; /* Firefox */
}

.select2-selection--multiple .select2-search__field {
    padding: 0 5px !important;
}

.checkbox-filter .row {
    padding: 0 5px;
}

.lite-picker {
    width: 30%;
}

.wii-radio {
    --radio-color: #{$primary};

    display: flex;
    align-items: center;

    label {
        margin-top: 0;
        font-weight: normal;
    }

    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: 15px;
        height: 15px;
        padding: 2px;
        background-clip: content-box;
        border: 2px solid var(--radio-color);
        background-color: $white;
        border-radius: 50%;
        margin-right: 5px;
    }

    /* appearance for checked radiobutton */
    input[type="radio"]:checked {
        background-color: var(--radio-color);
    }
}

.wii-checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;

    label {
        position: relative;
        min-height: 20px;
        display: block;
        padding-left: 25px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 2px 4px 4px;
            width: 15px;
            height: 15px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid $primary;
        }

        &:after {
            content: '';
            display: block;
            width: 6px;
            height: 7px;
            border-bottom: 2px solid white;
            border-left: 2px solid white;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            border-radius: 2px;
            top: 5px;
            left: 8px;
        }
    }

    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;

        &:checked ~ label{
            &:before {
                border: 2px solid $primary;
                background: $primary;
            }

            &:after {
                transform: rotate(45deg) scaleX(-1);
            }
        }

        &:focus + label::before {
            outline: 0;
        }
    }
}

label, .wii-checkbox, .wii-radio {
    .invalid-feedback {
        display: block;
        font-size: 0.9rem;
        font-weight: normal;
        color: $red;
    }
}
