@import "variables";

.increase-decrease-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    input {
        flex: 1 1 auto;
        margin-left: 4px;
        margin-right: 4px;
        text-align: center;
    }

    .increase, .decrease {
        background: white;
        border: 1px solid $primary;
        border-radius: 4px;
        color: $primary;
        width: 37px;
        min-width: 37px;
        height: 37px;

        &.decrease:before {
            content: "-";
        }

        &.increase:before {
            content: "+";
        }
    }
}

.wii-switch {
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid $primary;

    input {
        display: inline-block;
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        height: 30px;
        padding: 0 10px;
        border-radius: 4px;
        color: $darkenPrimary;
        transition: all 200ms linear;

        &:not(:disabled) {
            cursor: pointer;

            &:hover:not(:checked) {
                background-color: $darkenPrimary;
                color: white;
            }
        }

        &:checked {
            background-color: $primary;
            color: white;
        }

        &:before {
            content: attr(content);
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
    }
}

.form-control, .select2-search__field {
    border-radius: 5px;
    color: black !important;
    padding: 5px 10px;

    &::placeholder {
        color: black !important;
        opacity: 1; /* Firefox */
    }
}

.select2-search__field {
    padding: 0 5px !important;
}

.checkbox-filter .row {
    padding: 0 5px;
}

.lite-picker {
    width: 30%;
}
