@import "variables";

//uniquement pour les icônes contenues dans des tableaux (ne s'applique pas aux icônes des menus)
.table {
    .fas {
        font-size: 0.8rem;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
}

// icons Wiilog SCSS does not want \n !!
$icons: (
    "accueil": "../../public/svg/accueil.svg",
    "ask-quantity": "../../public/svg/ask-quantity.svg",
    "article": "../../public/svg/article.svg",
    "article-in-lu": "../../public/svg/article-in-lu.svg",
    "addlist": "../../public/svg/addlist.svg",
    "addref": "../../public/svg/addref.svg",
    "association": "../../public/svg/association.svg",
    "checkbox": "../../public/svg/checkbox.svg",
    "checkboxok": "../../public/svg/checkboxok.svg",
    "comment": "../../public/svg/comment.svg",
    "cross": "../../public/svg/cross.svg",
    "deco": "../../public/svg/deco.svg",
    "demande": "../../public/svg/demande.svg",
    "dotsblack": "../../public/svg/dotsblack.svg",
    "dotslines": "../../public/svg/dotslines.svg",
    "dotslists": "../../public/svg/dotslists.svg",
    "export": "../../public/svg/export.svg",
    "filtre": "../../public/svg/filtre.svg",
    "menu": "../../public/svg/menu.svg",
    "menu-achat": "../../public/svg/menu-achat.svg",
    "black-cart": "../../public/svg/black-cart.svg",
    "modif": "../../public/svg/modif.svg",
    "ordre": "../../public/svg/ordre.svg",
    "cart": "../../public/svg/cart.svg",
    "parametre": "../../public/svg/parametre.svg",
    "plusblanc": "../../public/svg/plusblanc.svg",
    "print": "../../public/svg/print.svg",
    "profiltriangle": "../../public/svg/profiltriangle.svg",
    "qualite": "../../public/svg/qualite.svg",
    "ref": "../../public/svg/ref.svg",
    "referentiel": "../../public/svg/referentiel.svg",
    "search": "../../public/svg/search.svg",
    "stock": "../../public/svg/stock.svg",
    "reference-stock": "../../public/svg/reference_article/stock.svg",
    "menu-global": "../../public/svg/settings.svg",
    "menu-stock": "../../public/svg/menu-stock.svg",
    "menu-trace": "../../public/svg/menu-trace.svg",
    "pencil": "../../public/svg/pencil.svg",
    "refresh": "../../public/svg/refresh.svg",
    "traca": "../../public/svg/traca.svg",
    "trash": "../../public/svg/trash.svg",
    "menu-delivery": "../../public/svg/menu-delivery.svg",
    "import": "../../public/svg/import.svg",
    "handling": "../../public/svg/handling.svg",
    "add": "../../public/svg/add.svg",
    "way": "../../public/svg/way.svg",
    'transfer': "../../public/svg/transfer.svg",
    'purchase': "../../public/svg/blackCart.svg",
    'wifi': "../../public/svg/wifi.svg",
    'iot': "../../public/svg/iot.svg",
    'iot-location': "../../public/svg/iot/location.svg",
    'iot-location-group': "../../public/svg/iot/location-group.svg",
    'iot-pack': "../../public/svg/iot/pack.svg",
    'pack': "../../public/svg/pack.svg",
    'iot-article': "../../public/svg/iot/article.svg",
    'iot-delivery-request': "../../public/svg/iot/delivery-request.svg",
    'iot-preparation': "../../public/svg/iot/preparation.svg",
    'iot-collect-request': "../../public/svg/iot/collect.svg",
    'iot-tracking': "../../public/svg/iot/tracking.svg",
    'iot-temperature': "../../public/svg/iot/temperature.svg",
    'iot-historic': "../../public/svg/iot/historic.svg",
    'iot-vehicle': "../../public/svg/iot/vehicle.svg",
    'pairing':"../../public/svg/pairing.svg",
    'pin':"../../public/svg/pin.svg",
    'cart-delivery': "../../public/svg/cart-delivery.svg",
    'cart-collect': "../../public/svg/cart-collect.svg",
    'cart-purchase': "../../public/svg/cart-purchase.svg",
    'plus': "../../public/svg/plus.svg",
    'check-white': "../../public/svg/check-white.svg",
    'check-black': "../../public/svg/check-black.svg",
    'wysiwyg-edit': "../../public/svg/wysiwyg-edit.svg",
    'visibility-group': "../../public/svg/visibility-group.svg",
    'menu-terminal-mobile': "../../public/svg/menu-terminal-mobile.svg",
    'menu-dashboard': "../../public/svg/menu-dashboard.svg",
    'menu-iot': "../../public/svg/menu-iot.svg",
    'menu-notification': "../../public/svg/menu-notification.svg",
    'user': "../../public/svg/user.svg",
    'menu-donnees': "../../public/svg/menu-donnees.svg",
    "menu-track": "../../public/svg/menu-track.svg",
    'transport': "../../public/svg/transport.svg",
    'calendar': "../../public/svg/calendar.svg",
    'info': "../../public/svg/information.svg",
    'printer-white': "../../public/svg/printer-white.svg",
    'calendar-creation-grey': "../../public/svg/calendar-creation-grey.svg",
    'calendar-due-black': "../../public/svg/calendar-due-black.svg",
    'arrow-left': "../../public/svg/arrow-left.svg",
    'arrow-right': "../../public/svg/arrow-right.svg",
    'double-arrow-left': "../../public/svg/double-arrow-left.svg",
    'double-arrow-right': "../../public/svg/double-arrow-right.svg",
    'plus-black': "../../public/svg/plus-black.svg",
    'printer-black': "../../public/svg/printer-black.svg",
    'transfer-black': "../../public/svg/transfer-black.svg",
    'translate-white': "../../public/svg/translate-white.svg",
    'trash-black': "../../public/svg/trash-black.svg",
    'new-article': "../../public/svg/new-article.svg",
    'calendar-preparation-black': "../../public/svg/calendar-preparation-black.svg",
    'documentation': "../../public/svg/documentation.svg",
    'document': "../../public/svg/document.svg",
    'reception-black': "../../public/svg/reception-black.svg",
    'reception-white': "../../public/svg/reception-white.svg",
    'dots': "../../public/svg/dotsblack.svg",
    'quantity': "../../public/svg/quantity.svg",
    'arrival': "../../public/svg/arrival.svg",
    'lu': "../../public/svg/UL.svg",
    'reference-article-location': "../../public/svg/reference_article/location.svg",
    'reference-article-stock': "../../public/svg/reference_article/stock.svg",
);

@each $iconName, $iconPath in $icons {
    .wii-icon.wii-icon-#{$iconName} {
        -webkit-mask: url(#{$iconPath}) no-repeat center;
        mask: url(#{$iconPath}) no-repeat center;
    }
}

$icon-sizes: 10, 13, 15, 17, 20, 25, 30, 35, 40, 45, 50;
$icon-colors: (
    primary: $primary,
    black: $black
);

@each $size in $icon-sizes {
    .wii-icon-#{$size}px {
        display: inline-block;
        width: #{$size}px;
        height: #{$size}px;
    }

    @each $key, $val in $icon-colors {
        .wii-icon-#{$size}px-#{$key} {
            display: inline-block;
            width: #{$size}px;
            height: #{$size}px;
            background: $val;
        }
    }
}

.primary-on-hover:hover {
    background: $primary;
}
