//uniquement pour les icônes contenues dans des tableaux (ne s'applique pas aux icônes des menus)
.table {
    .fas {
        font-size: 0.8rem;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
}

// icons Wiilog SCSS does not want \n !!
$icons: (
    "accueil": "../../public/svg/accueil.svg",
    "addlist": "../../public/svg/addlist.svg",
    "addref": "../../public/svg/addref.svg",
    "association": "../../public/svg/association.svg",
    "checkbox": "../../public/svg/checkbox.svg",
    "checkboxok": "../../public/svg/checkboxok.svg",
    "comment": "../../public/svg/comment.svg",
    "cross": "../../public/svg/cross.svg",
    "deco": "../../public/svg/deco.svg",
    "demande": "../../public/svg/demande.svg",
    "dotsblack": "../../public/svg/dotsblack.svg",
    "dotslines": "../../public/svg/dotslines.svg",
    "dotslists": "../../public/svg/dotslists.svg",
    "export": "../../public/svg/export.svg",
    "filtre": "../../public/svg/filtre.svg",
    "menu": "../../public/svg/menu.svg",
    "modif": "../../public/svg/modif.svg",
    "ordre": "../../public/svg/ordre.svg",
    "parametre": "../../public/svg/parametre.svg",
    "plusblanc": "../../public/svg/plusblanc.svg",
    "print": "../../public/svg/print.svg",
    "profiltriangle": "../../public/svg/profiltriangle.svg",
    "qualite": "../../public/svg/qualite.svg",
    "ref": "../../public/svg/ref.svg",
    "referentiel": "../../public/svg/referentiel.svg",
    "search": "../../public/svg/search.svg",
    "stock": "../../public/svg/stock.svg",
    "traca": "../../public/svg/traca.svg",
    "trash": "../../public/svg/trash.svg",
    "delivery": "../../public/svg/delivery.svg",
    "import": "../../public/svg/import.svg",
    "handling": "../../public/svg/handling.svg",
    "add": "../../public/svg/add.svg",
    "way": "../../public/svg/way.svg",
);

@each $iconName, $iconPath in $icons {
    .wii-icon.wii-icon-#{$iconName} {
        -webkit-mask: url(#{$iconPath}) no-repeat center;
        mask: url(#{$iconPath}) no-repeat center;
    }
}
