@import "~bootstrap/scss/variables";

.association-pane-item-container {
    &:last-child {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .association-pane-item {
        display: flex;
        flex-wrap: nowrap;
        min-height: 50px;
        color: $info;
        font-weight: bold;

        &.first-association-pane-item {
            border-radius: 10px;
            background-color: #F2F3F7;
        }

        .wii-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $info;
        }

        .right-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 auto;

            .title {
                display: block;
                font-size: 1.1rem;
            }

            .subtitle {
                font-size: 1rem;
            }
        }
    }

    .association-actions {
        position: absolute;
        right: $grid-gutter-width;
        top: 50%;
        transform: translateY(-50%);
    }

    .timeline-container {
        .timeline-row {
            display: flex;
            flex-wrap: nowrap;

            &:last-child  {
                .timeline-cell {
                    &.timeline-cell-right{
                        &:after {
                            height: 80%;
                        }
                    }
                }
            }

            .timeline-cell {
                padding: 12px;
                font-size: 15px;

                &.timeline-cell-left {
                    flex: 50%;
                    text-align: right;
                }

                &.timeline-cell-right {
                    flex: 50%;
                    text-align: left;
                    position: relative;

                    &:not(.timeline-cell-without-title):before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 5px;
                        background-color: black;
                        position: absolute;
                        top: 16px;
                        left: -4px;
                        z-index: 10;
                    }

                    &:not(.last-timeline-cell):after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        background-color: #DADADA;
                        top: 20px;
                        left: 0;
                        height: 105%;
                    }

                    &.timeline-cell-active {
                        &:before {
                            background-color: #2FC2AB;
                        }

                        .timeline-cell-title {
                            color: #2FC2AB;
                        }
                    }

                    .timeline-cell-title {
                        font-weight: bold;
                    }

                    .timeline-cell-date-prefix {
                        color: #666666;
                        font-size: 14px;
                    }
                }

                &.timeline-cell-large {
                    flex: 80%;
                    margin-left: 8%;
                }
            }
        }
    }
}
