@import "variables";

.association-pane-item-container {
    &:last-child {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    &.first-association-pane-item {
        border-radius: 10px;
        background-color: $light-blue;
        color: $primary;

        .wii-icon {
            background-color: $primary;
        }
    }

    .wii-icon {
        display: flex;
        width: 20px;
        height: 20px;
    }

    .association-pane-item {
        display: flex;
        flex-wrap: nowrap;
        min-height: 50px;
        font-weight: bold;

        .wii-icon {
            width: 30px;
            height: 30px;
        }

        .right-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 auto;

            .title {
                display: block;
                font-size: 1.1rem;
            }

            .subtitle {
                font-size: .9rem;
                color: $black;
                font-weight: normal;
            }
        }
    }

    .pairing-date-prefix {
        color: $dark-grey;
        font-size: 14px;
    }

    .timeline-container {


        .timeline-show-more-button-container + .timeline-row {
            .timeline-cell {
                &.timeline-cell-right {
                    &:after {
                        top: -20px;
                    }
                }
            }
        }

        .timeline-row {
            display: flex;
            flex-wrap: nowrap;

            &:last-child {
                .timeline-cell {
                    &.timeline-cell-right {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            .timeline-cell {
                padding: 12px;
                font-size: 15px;

                &.timeline-cell-left {
                    flex: 50%;
                    text-align: right;
                    color: $dark-grey;
                }

                &.timeline-cell-right {
                    flex: 50%;
                    text-align: left;
                    position: relative;

                    &:before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 5px;
                        background-color: $black;
                        position: absolute;
                        top: 16px;
                        left: -4px;
                        z-index: 10;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        background-color: $medium-grey;
                        top: 20px;
                        left: 0;
                        bottom: -20px;
                    }

                    &.last-timeline-cell:after {
                        //top: 20px;
                    }

                    &.timeline-cell-active {
                        &:before {
                            background-color: $success;
                        }

                        .timeline-cell-title {
                            color: $success;
                        }
                    }

                    .timeline-cell-title {
                        font-weight: bold;
                    }

                    .pairing-date-prefix {
                        font-size: 14px;
                    }
                }

                &.timeline-cell-large {
                    flex: 80%;
                    margin-left: 8%;
                }
            }
        }
    }
}
