@import "variables";

.modal {
    overflow: auto !important;
}

.error-msg, .password-error-msg, .row-error-msg {
    color: $danger;
}

.w-50 {
    .select2-container {
        width: 50% !important;
    }
}

.comment {
    height: auto;
    min-height: calc(2.25rem + 2px);
    max-height: 25vh;
    overflow: auto;
}

.input {
    border: 1px solid $medium-grey;
    border-radius: 0.25rem;

    &.disabled {
        background-color: $light-grey;
        opacity: 1;
    }
}

div {
    &.disabled {
        background-color: $light-grey;
        opacity: 1;
    }
}

option {
    &:disabled {
        background-color: $light-grey !important;
        opacity: 1;
    }
}

.formulaire {
    margin-right: 15px;
}

#new-ref-inner-body {
    border: 1px solid $black;
}

.frame {
    border: 1px solid $medium-grey;
    border-radius: 8px;
    padding: 8px;
}

.separatorDatatable {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    border: $medium-grey 1px solid;
}

.button-container {
    width: 120px;
    border: $black 1px solid;
    padding: 10px;

    button {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-color: $dark-grey;
    }
}

.submit-sensor {
    max-width: 40px;
    height: 40px;
}

.spacingTemperature {
    margin-left: 25px;
    margin-right: 25px;
}

.arrival-dispatch-packs {
    .wii-icon {
        display: block;
        width: 20px;
        height: 20px;
    }
}
