@import "variables";

.radio-btn {
    .btn {
        color: $white;
        background-color: $primary;
        border-radius: 0;
        margin: 0;
        border: 1px solid $primary;

        &.disabled:hover {
            background-color: $primary;
            color: $white;
            border: 1px solid $primary;
        }

        &:first-child {
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
        }

        &:last-child {
            border-bottom-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        &:hover:not(.disabled) {
            background-color: $primary;
            color: $white;
        }
    }

    .not-active {
        color: $primary;
        background-color: $white;

        &.disabled:hover {
            color: $primary;
            border: 1px solid $primary;
            background-color: $white;
        }
    }
}

.radio-btn {
    .btn-danger {
        border-radius: 0;
        border: 1px solid $danger;

        &.active {
            color: $white;
            background-color: $danger;
            margin: 0;

            &:hover {
                background-color: $white !important;
                color: $danger !important;
            }
        }

        &.not-active {
            color: $danger !important;
            background-color: $white;

            &:hover {
                background-color: $danger !important;
                color: $white !important;
            }
        }
    }
}
