@import "variables";

.wii-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0 solid $black;
    transition: transform .35s;

    &.request-card {
        max-height: 350px !important;
    }

    .wii-card-body {
        flex-grow: 1;
        border-radius: 5px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .card-title {
            color: $primary;
        }
    }

    .wii-card-header {
        margin-bottom: 0.5rem;

        .wii-card-icon {
            width: 30px;
        }
    }

    &:hover {
        transform: scale(1.020);
    }

    &:active {
        transform: scale(1.050);
    }
}
