.wii-card {
    border-radius: 10px;
    border: 0 solid black;
    transition: transform .35s;

    .wii-card-body {
        border-radius: 5px;
        margin-bottom: 1rem;

        .card-title {
            color: #5867dd;
        }
    }

    .wii-card-header {
        margin-bottom: 0.5rem;
        .wii-card-icon {
            width: 30px;
        }
    }

    &:hover {
        transform: scale(1.025);
    }

    &:active {
        transform: scale(1.075);
    }
}
