@import "variables";

$select-height: 36px;

.select2-container,
.select2-container .select2-selection__rendered,
.select2-container > * {
    @include font-size($input-font-size);
}

.select2-container--open .select2-selection:not(.is-invalid) {
    border-color: $primary !important;
    border-radius: 4px !important;
}

.select2-selection {
    min-height: $select-height;

    &:not(.is-invalid) {
        border: 1px solid $medium-grey !important;
    }

    &:not(.select2-selection--multiple) .select2-selection__rendered {
        line-height: $select-height !important;
    }

    &.select2-selection--single {
        height: $select-height !important;
    }

    &.select2-selection--multiple {
        min-height: $select-height;
        max-height: 60px;
        overflow-y: auto;

        .select2-selection__rendered {
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;

            .select2-selection__choice {
                display: flex;
                align-items: center;
                margin-top: 0.34rem;

                &.warning {
                    border: $orange solid 2px;
                }
            }

            .select2-search.select2-search--inline {
                margin-top: 0.1rem;
            }
        }
    }

    .select2-selection__clear {
        margin-right: 15px;
    }
}

.select2-fit-content + .select2 .select2-selection--multiple {
    max-height: none;
    overflow-y: hidden;
}

.select2-container--default {
    .select2-selection--single {
        .select2-selection__arrow {
            height: initial;
            top: 0;
            bottom: 0;
        }
    }
}

.select2-search__field:not(.filters-container .select2-search__field) {
    outline: none !important;

    &:focus {
        border-color: $primary !important;
    }
}

.select2-results__options {
    overflow-x: hidden !important;
}

.no-search .select2-search {
    display: none;
}

.select2-dropdown {
    border: 1px solid $medium-grey !important;
    border-radius: 4px !important;

    .hidden-dropdown & {
        display: none;
    }

    .disabled-dropdown-options & .select2-results__option {
        pointer-events: none;
    }
}

.new-item-container {
    display: flex;
    align-items: center;

    i, svg, span {
        width: 10px !important;
        height: 10px !important;
        margin-right: 5px;
        background: $primary !important;
    }

    b {
        font-weight: bold !important;
    }
}

.select2-results__option--highlighted .new-item-container {
    i, svg, span {
        background: $white !important;
    }
}

.select2-results__option {
    color: $black !important;

    &.select2-results__option--highlighted {
        color: $white !important;
        background: $primary !important;
    }
}

.select2-search {
    .search-prefix {
        border: 1px solid $medium-grey;
        background: $light-grey;
        color: $dark-grey;
        border-radius: 4px;
        margin-right: 3px;
        padding: 4px 6px;
        height: 30px;
    }
}

.select2-results__option[aria-disabled=true] {
    display: inline-block !important;
    background: $white !important;
}

.select2-container--disabled {
    cursor: not-allowed;
    @extend .form-control:disabled;

    .select2-selection {
        background-color: transparent !important;
    }
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none !important;
}
