.filterService {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 0 0.5rem;
}

.commentOverflow {
    height: 25vh;
    width: 120vh;
    overflow-x: hidden;
    word-wrap: break-word;
}
