@import "variables";

.filterService {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);

    &:not(.no-margin-bottom) {
        margin-bottom: 30px !important;
    }

    .filters-container {
        padding: 7px 1rem 7px 1rem;
    }
}

.commentOverflow {
    height: 25vh;
    width: 120vh;
    overflow-x: hidden;
    word-wrap: break-word;
}
