
.wii-switch {
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid $blueGT;

    input {
        display: inline-block;
        appearance: none;
        outline: 0;
        height: 30px;
        padding: 0 10px;
        border-radius: 4px;
        color: #10336b;
        transition: all 200ms linear;

        &:not(:disabled) {

            cursor: pointer;

            &:hover:not(:checked) {
                background-color: $blueButton;
                color: white;
            }
        }

        &:checked {
            background-color: $blueGT;
            color: white;
        }

        &:before {
            content: attr(content);
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
    }
}
