@import "variables";

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: $light-grey;
}

.table thead {
    background-color: $white;
    font-weight: bold;
}

.table-hover {
    thead > tr > th:hover {
        background-color: $gt-blue;
    }
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.table-auto td {
    white-space: unset !important;
}

#modalColumnVisible thead th {
    border-top: 0 !important;
}
