@import "variables";

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 21px;

    &.mini-switch {
        width: 35px;
        height: 16px;

        .slider:before {
            height: 12px;
            width: 12px;
            left: 2px;
            bottom: 2px;
        }

        input {
            &:checked + .slider:before {
                transform: translateX(19px);
            }
        }
    }

    &.d-block-switch {
        display: block;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;

        &:checked + .slider {
            background-color: $primary;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px $primary;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(21px);
            -ms-transform: translateX(21px);
            transform: translateX(21px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $medium-grey;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 2px;
            bottom: 2px;
            background-color: $white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }

        .disabled & {
            cursor: not-allowed;
        }
    }
}
