/*
 * Couleurs utilisées dans l'application Wiistock
 * Ces couleurs sont présentes dans la charte graphique, aucune
 * couleur ne doit être ajoutée ou modifiée sauf si la charte
 * graphique l'indique.
 *
 * Sharepoint : /Projets/Wiistock - Design/Charte graphique.pdf
 */

$responsive-breakpoint: 1200px;
$mobile-breakpoint: 768px;

// Possiblement écrasé par la police paramétrée
// dans les paramètres d'apparence de l'application
$default-font: "Montserrat" !default;

$black: #000000;
$dark-grey: #666666;
$medium-grey: #CBCBCB;
$light-blue: #F2F3F7;
$light-grey: #E8E8E8;
$white: #FFFFFF;
$background: #F5F5F7;

$gt-blue: #130078;
$header-left: #2E5391;
$header-right: #1B1464;

$orange: #D76433;
$warning: #EAB713;
$green: #A5D733;
$success: #2FC2AB;
$info: #33A5D7;
$aqua: #33D7D1;
$primary: #3353D7;
$purple: #6433D7;
$danger: #D73353;

$lightest-orange: lighten($orange, 40%);
$lightest-warning: lighten($warning, 40%);
$lightest-green: lighten($green, 40%);
$lightest-success: lighten($success, 40%);
$lightest-info: lighten($info, 40%);
$lightest-aqua: lighten($aqua, 40%);
$lightest-primary: lighten($primary, 40%);
$lightest-purple: lighten($purple, 40%);
$lightest-danger: lighten($danger, 40%);

$text-colors: (
    black: $black,
    grey: $dark-grey,
    light-grey: #d0d9e0,
    lightest-grey: #f5f7f6,
    white: $white,

    primary: $primary,
    success: $success,
    danger: $danger,
);

$alert-colors: (
    success: $success,
    danger: $danger,
    info: $info,
);

$btn-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-font-size: .9rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
