@import "variables";

.ql-toolbar {
    border-radius: 4px 4px 0 0;
    background: $white;
}

.ql-container {
    border-radius: 0 0 4px 4px;
    background: $white;

    &.ql-snow {
        height: 90px;
    }

    strong {
        font-weight: bold !important;
    }

    em {
        font-style: italic !important;
    }

    &.is-invalid {
        padding-right: 0;
        border-top: #dc3545 1px solid !important;
    }
}
