.ql-container {
    &.ql-snow {
        height: 90px;
    }

    strong {
        font-weight: bold !important;
    }

    em {
        font-style: italic !important;
    }

    &.is-invalid {
        padding-right: 0;
        border-top: #dc3545 1px solid !important;
    }
}
