.editor-container {
    strong {
        font-weight: bold !important;
    }

    em {
        font-style: italic !important;
    }
}

.editor-container-article.ql-container.ql-snow {
    height: 80%;
}
