@import "variables";

// Import des librairies
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~datatables.net-dt/css/jquery.dataTables.css";
@import "~datatables.net-buttons-dt/css/buttons.dataTables.css";
@import "~leaflet/dist/leaflet.css";
@import '~intl-tel-input/build/css/intlTelInput.css';
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
}

@import "collapsible";
@import "reset";
@import "fonts";
@import "details-headers";
@import "general";
@import "header";
@import "login";
@import "modals";
@import "side_menu";
@import "tables";
@import "icons";
@import "toggle_button";
@import "radio_button";
@import "service";
@import "forms";
@import "WYSIWYG";
@import "drag_and_drop";
@import "select2";
@import "buttons";
@import "dropdowns";
@import "carousel";
@import "animated-icons";
@import "request-card";
@import "dashboard";
@import "sizes";
@import "inputs";
@import "list";
@import "iot";
@import "notification";
@import "alert";
@import "sortable";

/* filters à garder après buttons */
@import "filters";
@import "fly-form";
@import "datatable";
