$color: #3353D7;
$grey: #CBCBCB;

.btn-primary {
    background: $color;
}

.ra-form {
    label {
        font-weight: bold;
        width: 100%;
        margin-top: 7px;

        .select2, .select2-container {
            font-weight: normal;
            width: 100%;
        }

        input[type="checkbox"] {
            margin-right: 7px;
            width: 15px;
            height: 15px;
        }
    }

    label.with-checkbox {
        display: flex;
        align-items: center;
        font-weight: normal;
        margin-top: 14px;
    }

    .plus-minus-field .plus, .plus-minus-field .minus {
        border-color: $color;
        color: $color;
    }

    .wii-switch {
        display: inline-flex;
        border-color: $grey;
        height: 38px;
        padding: 0;

        input[type="radio"] {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 0;
            margin: 0;

            &:before {
                padding: 0 10px;
            }

            &:first-of-type {
                border-radius: 4px 0 0 4px;
            }

            &:last-of-type {
                border-radius: 0 4px 4px 0;
            }

            &:checked {
                background: $color;
            }

            &:not(:checked) {
                color: $color;

                &:hover {
                    color: white;
                    background-color: $color;
                }
            }
        }
    }
}

.ra-column {
    width: 1200px;
    margin-top: 30px;
}

.ra-box {
    background: white;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    margin-top: 15px;

    .header {
        color: #3353D7;
        font-weight: bold;
        font-size: 18pt;
        padding: 16px 20px;
        border-bottom: 1px solid $grey;
    }

    .content {
        padding: 16px 20px;
    }
}

.ra-header {
    margin-top: 120px;
    border: #3353D7 solid 1px;
    border-radius: 5px;
    width: 450px;

    .type {
        background-color: #3353D7;
        height: 20px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 600;
    }

    .image-container {
        background-color: #F5F5F7;
        margin: 10px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    .specifications {
        margin: 10px 10px 10px 0;
    }
}

.ra-title {
    color: #3353D7;
    font-size: 30px;
    font-weight: bold;
}

.ra-subtitle {
    color: #666666;
    font-size: 22px;
    font-weight: bold;
}

.ra-field-name {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.ra-field-text {
    color: #000000;
    font-size: 24px;
}

.ra-body-text {
    color: #000000;
    font-size: 22px;
}

.ra-type {
    color: #FFFFFF;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.ra-small-text {
    color: #666666;
    font-size: 20px;
}

span.icon {
    display: flex;
    align-items: center;

    img {
        margin-right: 4px;
        width: 15px;
        max-height: 15px;
    }
}

.attachments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    background: #F2F3F7;

    button {
        margin-left: 10px;
    }
}

.delete-supplier-article {
    display: block;
    width: 100%;
    color: $color;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}

.save-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.btn-success {
    background: #2FC2AB;
    font-weight: bold;

    &:hover {
        background: #1b9b87;
    }
}

.btn-secondary {
    color: #666666;
    background: white;
    border-color: #666666;
    font-weight: bold;
}
