@import "variables";

$responsive-breakpoint: 1200px;
$blue: #3353D7;
$grey: #CBCBCB;

body {
    background-color: #F5F7F7;

    .header-container {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.select2-container {
    width: 100% !important;
}

.ra-container {
    margin-top: 60px;
}

.btn-primary {
    background: $blue;
}

.ra-form {
    margin-top: 90px !important;

    label {
        font-weight: bold;
        margin-top: 7px;

        &:not(.switch) {
            width: 100%;
        }

        .select2, .select2-container {
            font-weight: normal;
            width: 100%;
        }

        input[type="checkbox"] {
            margin-right: 7px;
            width: 20px;
            height: 20px;
            border-radius: 5px;
        }

        input,
        .select2-container {
            margin-top: 5px;
        }
    }

    label.with-checkbox {
        display: flex;
        align-items: center;
        font-weight: normal;
        margin-top: 14px;
    }

    .increase-decrease-field .increase, .increase-decrease-field .decrease {
        border-color: $blue;
        color: $blue;
    }

    .wii-switch {
        display: inline-flex;
        border-color: $grey;
        height: 38px;
        padding: 0;

        input[type="radio"] {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 0;
            margin: 0;

            &:before {
                padding: 0 10px;
            }

            &:first-of-type {
                border-radius: 4px 0 0 4px;
            }

            &:last-of-type {
                border-radius: 0 4px 4px 0;
            }

            &:checked {
                background: $blue;
            }

            &:not(:checked) {
                color: $blue;

                &:not(:disabled):hover, &:not(:disabled):focus {
                    color: white;
                    background-color: $blue;
                }
            }
        }
    }
}

.ra-column {
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media (max-width: $responsive-breakpoint) {
    .ra-column {
        width: calc(100% - 20px);
    }
}

.ra-box {
    background: white;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    margin-top: 15px;

    .type-container {
        height: 20px;
    }

    .header {
        padding: 16px 20px;
        border-bottom: 1px solid $grey;
    }

    .content {
        padding: 16px 5px;

        .box-item {
            display: grid;
        }
    }
}

.ra-form .content {
    padding: 16px 20px;
}

.ra-header {
    border: solid 1px;
    border-top: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    margin-top: 15px;

    .header-wrapper {
        background-color: #FFFFFF;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .image-container {
        background-color: #F5F5F7;
        margin: 10px;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    .specifications {
        font-size: 16px;
        margin: 10px 10px 10px 0;

        .ref {
            font-size: 20px;
        }
    }
}

.ra-dropdown {
    background-color: #FFFFFF;
    border-top: 1px solid #CBCBCB;

    .dropdown-wrapper {
        padding : 15px;
        background : #FFFFFF;
        cursor : pointer;
        display: block;

        &::after {
            float: right;
            right: 10%;
            content: "+";
            color: $blue;
            font-size: 20px;
        }

        &.open::after {
            content: "-";
        }
    }

    .slide {
        clear: both;
        width: 100%;
        height: 0;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
    }

    .slide li {
        text-align: left;
    }

    #touch {
        position: absolute;
        opacity: 0;
        max-height: 0;
    }

    #touch:checked + .slide {
        height: auto;
    }
}

.provider-label {
    background-color: #E8E8E8;
    height: 35px;
    display: flex;
    align-items: center;
}

.attachment-item, .attachement {
    display: flex;
    align-items: center;
    width: 45%;
    border: #CBCBCB solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;

    &:not(.show) {
        justify-content: space-between;
    }

    a:first-of-type {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    svg {
        color: $blue !important;
        font-size: 0.8rem;
    }
}

.ra-title {
    color: $blue;
    font-size: 18px;
    font-weight: bold;
}

.ra-subtitle {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.ra-field-name {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.ra-field-text {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}

.ra-body-text {
    color: #000000;
    font-size: 13px;
}

.ra-type {
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    height: 20px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ra-small-text {
    color: #666666;
    font-size: 12px;
}

span.icon {
    display: flex;
    align-items: center;

    img {
        margin-right: 4px;
        width: 15px;
        max-height: 15px;
    }
}

.delete-supplier-article {
    display: block;
    width: 100%;
    color: $blue;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}

.supplier-article-container {
    margin-top: 5px;
    margin-bottom: 5px;

    .delete-button-container {
        border: $blue 1px solid;
        padding: 15px 5px;
        border-radius: 5px;
    }
}

.supplier-container:last-of-type {
    border-bottom: #CBCBCB 1px solid;
    padding-bottom: 5px;
}

.save-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.btn-secondary {
    color: #666666;
    background: white;
    border-color: #666666;
    font-weight: bold;
}

.comment-container {
    background-color: #E8E8E8;

    img {
        max-width: 100%;
    }
}

.tooltip {

    .tooltip-inner {
        background: $blue !important;
    }

    .arrow:before {
        border-bottom-color: $blue !important;
        border-top-color: $blue !important;
    }
}


label[for="touch"] {
    width: 100%;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    border: 3px solid $blue;
    border-radius: 4px;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
    -webkit-border-radius: 2px;
}

input[type="checkbox"]:not(:disabled):hover {
    border-color:$blue;

}

input[type="checkbox"]:active:not(:disabled) {
    border-color:$blue;
}

input[type="checkbox"]:focus {
    outline:none;

}

input[type="checkbox"]:checked {
    border-color:$blue;
    background-color: $blue;
}

input[type="checkbox"]:checked:before {
    content: '';
    display: block;
    width: 7px;
    height: 10px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 4px;
}

.image-container {
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;

    button {
        border: none;
    }
}

.image-container-show {
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin: 10px;
}

.urgent-container {
    height: auto;
    min-height: 50px;
    padding: 10px 20px;
    background-color: #F8DDE3;
}

.isRight {
    background: #F2F3F7;
}
