@import "variables";

.dataTables_wrapper .dataTables_paginate .paginate_button {
    @extend .btn;
    @extend .btn-sm;

    &.current {
        background: $primary !important;
        border-color: $primary !important;
        color: $white !important;

        &:hover {
            color: $white !important;
        }
    }

    &:hover, &:active {
        color: $white !important;
        background: $primary !important;
        border: 1px solid $primary !important;
    }
}

.split-button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.wii-table {
    tr {
        &:hover {
            background-color: $background;
        }
    }

    th {
        .dataTables_scrollBody & {
            padding: 0 18px 0 10px !important;
        }

        .dataTables_scrollHead & {
            padding: 8px 18px 8px 10px !important;
        }
    }

    td, td > *, th, th > * {
        max-width: 20vw;
        white-space: nowrap;

        &:not(.select2-container):not(select) {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.allow-expand {
            max-width: initial;
        }

        &.no-ellipsis {
            text-overflow: initial;
        }

        img {
            max-height: 10vh;
        }
    }
}

.modal table.wii-table {
    td,
    td > *,
    th,
    th > .dataTables_scrollBody {
        max-width: initial;
        white-space: initial;
        overflow: initial;
        text-overflow: initial;
    }
}

.wii-page-card {
    border-radius: 10px;
    padding: $spacer;
    background-color: $white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 1rem;
}

.wii-page-card .wii-page-card-header,
.wii-box .wii-box-header {
    margin-bottom: 0.75rem;
    align-items: center;
}

.paginate_button {
    margin: 0 5px;
    border-radius: 0.3rem;

    a {
        border-radius: 0.3rem;
        border: none;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        color: $black !important;
    }

    &.next, &.previous {
        a {
            color: $dark-grey !important;
        }
    }

    &.active {
        box-shadow: 2px 2px 5px grey;
        border: none;

        a {
            color: $white !important;
        }
    }
}

.block-color-caption {
    display: inline-block;
    width: 40px;
    height: 20px;
}

.table-light-orange {
    background-color: $lightest-orange !important;
}

.table-light-blue {
    background-color: $lightest-primary !important;
}

.pairing-row {
    width: 20px;

    i {
        height: 20px;
        width: 20px;
    }
}

.delivery_types_cell {
    border: 1px solid;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
    margin: 5px;
}

table.DTCR_clonedTable.dataTable {
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 202;
    width: 150px !important;
}

div.DTCR_pointer {
    width: 2px;
    background-color: $primary;
    z-index: 201
}

.dataTable thead th,
.dataTable tbody td,
.dataTables_scrollHead thead th,
.dataTables_scrollBody tbody td {
    border: none;
    border-bottom: 1px solid $medium-grey !important;
}

table.dataTable.no-footer {
    border-bottom: none;
}

.focus-shadow .dataTables_scrollBody tbody tr:not(.focus-free) {
    position: relative;
    transition: box-shadow 150ms ease-in-out;

    &.focus-within, &:focus-within {
        box-shadow: 0 1px 20px lighten($black, 80%);
        z-index: 500;
    }
}

th.hideOrder {
    background-image: none !important;
}

.dt-image {
    width: 80px;
    height: 80px;
    max-width: 80px !important;
    max-height: 80px !important;
    object-fit: cover;
    border-radius: 5px;
}

.dt-type-color {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.checkbox-container {
    width: 20px;
    height: 20px;
    border-radius: 4px;

    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
}

.dataTables_filter {
    font-size: 13px !important;

    input {
        @extend .form-control;
        display: inline-block;
        width: initial !important;
        margin-left: 4px;
    }
}


.small-column {
    max-width: 130px !important;
    overflow: initial !important;
    text-overflow: initial !important;
    white-space: initial !important;
}

.icon-column {
    max-width: 30px !important;
    overflow: initial !important;
    text-overflow: initial !important;
    white-space: initial !important;
}

thead th.datatable-main-header, tbody th.datatable-main-header {
    color: $primary;
    font-size: 1.2rem;
    border-bottom: none !important;
}

table.no-border-top th {
    border-top: none !important;
}

table.no-border-top th {
    border-top: none !important;
}

.select-size {
    min-width: 100px;
}

.subentities-table {
    table-layout: fixed;
}
