.dataTables_wrapper .dataTables_paginate .paginate_button {
    @extend .btn;
    @extend .btn-sm;
    color: $blueGT !important;

    &.current {
        background: $blueGT !important;
        border-color: $blueGT !important;
        color: #fff !important;
    }

    &:hover {
        background: $lightGrey !important;
        border-color: $lightGrey !important;
        color: #1a1a1a !important;
    }
}

.split-button {
    margin-right: 2px;
}

.split-button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.wii-table {
    tr {
        &:hover {
            background-color: #f8f9fa;
        }
    }
    td,
    td > *,
    th,
    th > * {
        max-width: 20vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        img {
            max-height: 10vh;
        }
    }
}

.wii-page-card {
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    .wii-page-card-header {
        margin-bottom: 0.75rem;
        align-items: center;

        .search-input {
            margin-left: 0.5em;
            display: inline-block;
            width: auto;
        }
    }
}

.paginate_button {
    margin: 0 5px;
    border-radius: 0.3rem;

    a {
        border-radius: 0.3rem;
        border: none;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        color: #1A1A1A !important;
    }

    &.next, &.previous {
        a {
            color: #666666 !important;
        }
    }

    &.active {
        box-shadow: 2px 2px 5px grey;
        border: none;

        a {
            color: white !important;
        }
    }
}
