@import "variables";

.d-flex .main-header {
    flex: 1;
}

.header-container {
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    &.header-ext {
        padding-bottom: 0.2%;

        .page-title {
            font-size: 3vh;
        }
    }

    &:not(.header-ext) {
        @extend .bg-primary-followgt;

        padding-bottom: 60px;
    }

    .web-version {
        color: $white;
        font-size: 0.8rem;
        margin-top: -4px;
    }

    & ~ .container-fluid {
        margin-top: -60px;
    }

    .main-header {
        margin: 1rem 1.5rem 0 1.5rem;

        .header-title-link {
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }

        nav#main-nav {
            .menu-button {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 50px;
                width: 50px;

                .icon-menu {
                    background-color: $white;
                    width: 40px;
                    height: 45px;
                    display: block;
                    -webkit-mask: url("../../public/svg/menu.svg") no-repeat center;
                    -webkit-mask-size: 40px;
                    mask: url("../../public/svg/menu.svg") no-repeat center;
                    mask-size: 40px;
                }

                &:hover {
                    background-color: rgba($medium-grey, 0.2);
                }
            }

            .dropdown-menu {
                padding-right: 0.2rem;
                padding-left: 0.2rem;

                .dropdown-item {
                    display: flex;
                    align-items: center;
                    padding-top: 0.7rem;
                    padding-bottom: 0.7rem;
                    color: $dark-grey;

                    &:active,
                    &:hover,
                    &:focus,
                    &.active {
                        background: $primary !important;

                        .label, .arrow-container {
                            color: $white;
                            font-weight: bold;
                        }

                        .icon-container .wii-icon {
                            background-color: $white;
                        }
                    }

                    .arrow-container {
                        width: 10px;
                        margin-right: 4rem;
                        color: $dark-grey;
                    }

                    .label {
                        font-size: 1rem;
                        color: $dark-grey;
                        width: 115px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .icon-container {
                        display: inline-flex;
                        margin-right: 1rem;

                        .wii-icon {
                            height: 23px;
                            width: 23px;
                            background-color: $dark-grey;
                        }
                    }
                }

                .dropdown-menu-sub {
                    margin-right: 3px;

                    .dropdown-item > .label {
                        width: 235px;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    nav#main-nav {
        position: initial;

        .dropdown-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            font-family: Retroyal, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 2rem;
            padding: 0 16px;
            color: $primary;
        }

        .dropdown-menu.pointer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            border-radius: 4px;
            font-size: 1.1rem;

            .close-menu {
                background: url("../img/close-modal.svg") no-repeat;
                background-size: 20px;
                width: 20px;
                height: 20px;
                border: none;
                margin-bottom: 16px;
            }

            .dropdown-item {
                position: initial;
                top: initial;
                right: initial;
                box-shadow: initial;
                padding: 0 0 8px 0;
                margin-left: 18px;
            }

            .fa-chevron-left {
                transform: rotate(180deg);
            }

            .dropdown-menu-sub {
                position: relative;
                top: 0;
                right: 0;
                height: 50%;
                box-shadow: initial;
                padding: 0 0 8px 0;
                margin-left: 18px;
                border: none;
            }
        }
    }
}

.logo {
    height: 7vh;
}

.header-icon {
    @extend .btn;
    @include icon-button;

    &.cart {
        background-image: url("../../public/svg/cart.svg");
    }

    &.notifications {
        background-image: url("../../public/svg/notif-web.svg");
    }

    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;

    width: 50px;
    height: 45px;
    padding: 0;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .icon-figure {
        border-radius: 6px;

        &.notification-figure {
            background: red;
        }

        background: rgb(46, 194, 171);
        color: $white;
        text-align: center;
        min-width: 20px;
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        font-weight: bold;
        font-size: 0.6rem;
    }
}

.quick-plus {
    @extend .btn;
    @include icon-button;
    @include button-variant($success, $success);

    display: flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#quick-menu {
    $itemMinHeight: 35px;
    $iconMinSize: 15px;
    $itemYPadding: 0.2rem;

    .quick-menu-title {
        color: $success;
        font-weight: 100;
        font-size: 0.8rem;
        height: 40px;
        padding-top: 12px;
    }

    .quick-menu-icon {
        background-color: $black;
        min-width: $iconMinSize;
        min-height: $iconMinSize;
        display: inline-block;
    }

    & > a {
        display: block;
        padding: $itemYPadding 0.5rem;
        font-size: 0.8rem;
        height: $itemMinHeight;
        font-weight: 100;

        &:hover {
            background: $success;
            color: $white;
            cursor: pointer !important;

            & > span:first-of-type {
                background-color: $white;
            }
        }
    }
}


.user, .language-date {
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    border-radius: 30px;
    color: $white;
    line-height: 40px;
    padding-left: 1px;
    padding-right: 15px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);

        .username {
            color: $white !important;
        }
    }

    .language-date-btn {
        color: $white;
        background-color: transparent;
        border: none;
    }
}

.label-date {
    color: $black !important;
    font-size: 14px;
    font-weight: 600;
    display: inline;
}

.language-date-menu {
    line-height: 30px;
    box-shadow: 0 0 10px rgba($black, 0.55);
}

.profile-picture, .language-picture {
    display: inline-block;
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $white;
    font-size: 15px;
    font-weight: bold;
    color: $dark-grey;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
    user-select: none;
}

.language-picture {
    background-image: url("../../public/svg/flags/fr.svg"); //TOD: changer img en fonction du choix de l'utilisateur
}

.sizeLogo {
    max-height: 15vw;
    max-width: 50vw;
}
