.d-flex .main-header {
    flex: 1;
}

.header-container {
    background-repeat: no-repeat;
    padding-bottom: 1%;
    padding-left: 1rem;
    padding-right: 1rem;

    &.header-ext {
        .page-title {
            font-size: 3vh;
        }
    }

    &:not(.header-ext) {
        @extend .bg-primary-followgt;

        padding-bottom: 6%;
    }

    .web-version {
        color: white;
        bottom: 0.1vh;
        position: absolute;
        font-size: 2vh;
        right: 1vw;
    }

    & ~ .container-fluid {
        margin-top: -6%;
    }

    .main-header {
        margin: 1rem 1.5rem 0 1.5rem;

        .header-title-link {
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }

        nav#main-nav {
            .menu-button {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 50px;
                width: 50px;

                .icon-menu {
                    background-color: $white;
                    width: 40px;
                    height: 45px;
                    display: block;
                    -webkit-mask: url("../../public/svg/menu.svg") no-repeat center;
                    -webkit-mask-size: 40px;
                    mask: url("../../public/svg/menu.svg") no-repeat center;
                    mask-size: 40px;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            .dropdown-menu {
                padding-right: 0.2rem;
                padding-left: 0.2rem;

                .dropdown-item {
                    display: flex;
                    align-items: center;
                    padding-top: 0.7rem;
                    padding-bottom: 0.7rem;
                    color: $greyDashboard;

                    &:active,
                    &:hover,
                    &:focus,
                    &.active {
                        @extend .bg-primary-followgt;

                        .label, .arrow-container {
                            color: $white;
                            font-weight: bold;
                        }

                        .icon-container .wii-icon {
                            background-color: $white;
                        }
                    }

                    .arrow-container {
                        width: 10px;
                        margin-right: 4rem;
                        color: $greyDashboard;
                    }

                    .label {
                        font-size: 1rem;
                        color: $greyDashboard;
                        width: 115px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .icon-container {
                        display: inline-flex;
                        margin-right: 1rem;

                        .wii-icon {
                            height: 23px;
                            width: 23px;
                            background-color: $greyDashboard;
                        }
                    }
                }

                .dropdown-menu-sub {
                    margin-right: 3px;

                    .dropdown-item > .label {
                        width: 235px;
                    }
                }
            }
        }
    }
}

.logo {
    height: 7vh;
}

.quick-plus {
    @extend .btn;
    @include icon-button;
    @include button-variant(#2EC2AB, #2EC2AB);

    display: flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#quick-menu {
    $itemMinHeight: 35px;
    $iconMinSize: 15px;
    $itemYPadding: 0.2rem;

    .quick-menu-title {
        color: #2EC2AB;
        font-weight: 100;
        font-size: 0.8rem;
        height: 40px;
        padding-top: 12px;
    }

    .quick-menu-icon {
        background-color: $black;
        min-width: $iconMinSize;
        min-height: $iconMinSize;
        margin-top: calc((#{$itemMinHeight} - #{$iconMinSize} - #{$itemYPadding * 2}) / 2);
        display: inline-block;
    }

    & > a {
        display: block;
        padding: $itemYPadding 0.5rem;
        font-size: 0.8rem;
        min-height: $itemMinHeight;
        font-weight: 100;

        &:hover {
            background: #2EC2AB;
            color: white;
            cursor: pointer !important;

            & > span:first-of-type {
                background-color: white;
            }
        }
    }
}


.user {
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    border-radius: 30px;
    color: white;
    line-height: 40px;
    padding-left: 1px;
    padding-right: 15px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);

        span {
            color: white;
        }
    }
}

.profile-picture {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    font-size: 15px;
    font-weight: bold;
    color: $darkGrey;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
    user-select: none;
}
