@import "variables";

.notification-modal {
    .modal-dialog {
        position: absolute;
        top: 20px;
        right: 100px;
        z-index: 100000000;
        width: 500px !important;

        .modal-content {
            background: $white;
        }
    }
}
