@import "variables";

.operation-history-container {
    max-height: 800px;
    overflow-y: auto;

    .history-line {
        display: flex;
        align-items: center;

        & > * {
            flex: 1;
            padding: 12px 0;
            color: $black;

            .title-right {
                font-size: 15px;
                color: $black !important;
                border-radius: 5px;
                width: fit-content;
                margin-left: 3px;
                min-height: 30px;
                background-color: $light-blue;
                padding: 8px 10px;

                .summary {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    img {
                        margin-bottom: auto;
                        margin-top: 2px;
                    }
                }

                .comment {
                    margin-left: 30px;
                    border-left: 3px solid $medium-grey;
                    padding-left: 8px;
                    width: 80%;
                }

                .attachments {
                    margin-left: 24px;
                    padding-right: 70px;

                    .attachment-line {
                        display: flex;
                        flex-direction: column;
                    }

                    img {
                        max-width: 230px;
                    }
                }
            }
        }

        .history-content {
            position: relative;
            z-index: 1;

            .date {
                margin-left: 25px;
            }

            &:after {
                content: "";
                position: absolute;
                background-color: $white;
            }

            &.last:before {
                height: 50% !important;
            }

            &:before {
                content: "";
                position: absolute;
                background-color: $medium-grey;
                left: 20px;
                top: 16px;
                width: 2px;
                height: 100%;
                z-index: -1;
            }
        }
    }
}
