@import "variables";

[data-wii-planning] {
    .column-header-container {
        padding-left: 6px;
        padding-right: 6px;
        background-color: #f2f3f7;
        font-weight: bold;
    }
}
