{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            La page permet de paramétrer les types de réserves enregistrés sur des n° de tracking transporteur lors d'un arrivage camion.
        </div>
    </div>

    <table id="TruckArrivalReserves" class="table no-border-top w-100" data-table-processing="TruckArrivalReserves"></table>
</div>
