<div class="modal fade" id="modalNewCustomer" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau client"
            } %}

            <div class="modal-body modal-input container-fluid">
                {% include 'customer/modal/form.html.twig' with {customer: newCustomer} %}
            </div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success submit', type: 'submit', text: 'Enregistrer'}
                ],
            } %}
        </div>
    </div>
</div>
