<div class="header wii-title justify-content-between align-items-center row no-gutters py-3">
    Produits à expédier
</div>
<div class="px-3 pb-3 schedule-details">
    <table id="expectedLinesEditableTable" class="table"></table>
</div>
