{% extends 'base.html.twig' %}

{% block title %}New CommandesFournisseurs{% endblock %}

{% block body %}
    <h1>Create new CommandesFournisseurs</h1>

    {{ include('commandes_fournisseurs/_form.html.twig') }}

    <a href="{{ path('commandes_fournisseurs_index') }}">back to list</a>
{% endblock %}