<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            L'inventaire fonctionne via un système de génération automatique de missions suivant une catégorisation ABC.
        </div>
    </div>
    <table id="categoriesTable" data-table-processing="categoriesTable"></table>
</div>
<input type="hidden" id="frequency_options" value="{{ frequencyOptions | json_encode }}">
