<div class="wii-section">
    <table id="categoriesTable" data-table-processing="categoriesTable"></table>
</div>
<input type="hidden" id="frequency_options" value="{{ frequencyOptions | json_encode }}">
