<div class="wii-section">
    <div class="row">
        <p class="mb-2 ml-2 wii-describe">
            L'inventaire fonctionne via un système de génération automatique de missions suivant une catégorisation ABC.
        </p>
    </div>
    <table id="categoriesTable" data-table-processing="categoriesTable"></table>
</div>
<input type="hidden" id="frequency_options" value="{{ frequencyOptions | json_encode }}">
