<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Cela permet de déterminer qu'une catégorie de référence sera à inventorier au plus rapide, 1 fois par mois
            et au plus tard, 1 fois tous les XX mois (illimité).
        </div>
    </div>
    <table id="frequencesTable" data-table-processing="frequencesTable"></table>
</div>
