<div class="wii-section">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-12 mb-3 wii-small-text">
            La génération de mission se déclenche tous les dimanches à 23h pour les missions hebdomadaires et
            le premier dimanche du mois à 23h pour les périodicités mensuelles
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <button class="btn btn-outline-primary float-right force-missions">Forcer la génération de missions d'inventaire</button>
        </div>
    </div>

    <table id="missionRulesTable" data-table-processing="missionRulesTable"></table>
</div>
