<div class="wii-section">
    <div class="">
        <button
            class="btn btn-primary float-right d-flex justify-content-start align-items-center"
            id="addNewInventoryPlanner"
            onclick='editMissionRule($(this))'>
            <span class="wii-icon wii-icon-plus mr-2"></span>Planifier un inventaire</button>
    </div>

    <table id="missionRulesTable" data-table-processing="missionRulesTable"></table>
</div>

{{ include('settings/stock/inventaires/form/modalFormInventoryPlanner.html.twig') }}
