{% extends 'layout.html.twig' %}

{% block pageContainerClass 'd-flex justify-content-center align-items-center h-100' %}
{% block title %}Page non accessible{% endblock %}

{% block page_content %}
    <div class="text-center">
        <i class="fas fa-exclamation-circle fa-7x"></i>
        <h1 class="main-title">La page à laquelle vous souhaitez accéder n'est plus disponible</h1>

        <p>Le lien sur lequel vous avez cliqué est périmé.</p>
        <p>
            <em>Veuillez attendre un prochain email pour accéder à votre page de gestion du stock dormant.</em>
        </p>
        <p class="mt-3 btn btn-primary">
            <a href="{{ path('app_index') }}">Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}
