{# TODO template utilisé ? #}
{#{% extends 'layout.html.twig' %}#}

{#{% block title %}Nouvel utilisateur{% endblock %}#}

{#{% block page_content %}#}
    {#<h1>Ajout d'un utilisateur</h1>#}

    {# {{ include('utilisateur/_form.html.twig') }} #}

    {#<form class="needs-validation" method="POST">#}
        {#<div class="mb-3">#}
          {#<label for="username">Nom d'utilisateur</label>#}
          {#<div class="input-group">#}
            {#<div class="input-group-prepend">#}
              {#<span class="input-group-text">@</span>#}
            {#</div>#}
            {#<input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" required="">#}
          {#</div>#}
        {#</div>#}

        {#<div class="mb-3">#}
          {#<label for="email">Email</label>#}
          {#<input type="email" class="form-control" name="email" placeholder="email">#}
        {#</div>#}

        {#<div class="mb-3">#}
            {#<label for="password">Mot de passe</label>#}
            {#<input type="password" class="form-control" name="password" placeholder="Mot de passe">#}
        {#</div>#}

        {#<div class="mb-3">#}
            {#<label for="password2">Confirmer mot de passe</label>#}
            {#<input type="password" class="form-control" name="password2" placeholder="Confirmer mot de passe">#}
        {#</div>#}

        {#<hr class="mb-4">#}
        {#<button href="{{ path('utilisateur_index_create') }}" type="submit" class="btn btn-primary float-left">Créer</button>#}
        {#<a href="{{ path('utilisateur_index') }}" class="btn float-left">Voir la liste</a>#}
      {#</form>#}


{#{% endblock %}#}