<div class="row">
    <div data-id='{{ idUser }}' data-toggle='modal' data-target='#modalEditUser' class='col-4 btn-col-action'>
        <button type="button" class="btn btn-block"
        onclick="editRow($(this),  Routing.generate('user_api_edit', true), $('#modalEditUser'), $('#submitEditUser'))">
            <i class='fas fa-pencil-alt'></i>
        </button>
    </div>
    <div class='col-4 btn-col-action' onclick="deleteRow($(this), $('#modalDeleteUser'), $('#submitDeleteUser'))"
        data-id='{{ idUser }}' data-target='#modalDeleteUser' data-toggle='modal'>
        <button type="button" class="btn btn-block">
            <i class='fas fa-trash '></i>
        </button>
    </div>
</div>