<div class="row">
    <!-- <a href="{{url}}" class='col-2 type-delete'>
        <i class='fas fa-eye '></i>
    </a> -->
    <div class='col-2 type-delete' onclick="deleteRow($(this), $('#modalDeleteUser'), $('#submitDeleteUser'))"
        data-id='{{ idUser }}' data-target='#modalDeleteUser' data-toggle='modal'>
        <i class='fas fa-trash '></i>
    </div>
</div>