<div class="row">
    <div data-id='{{ idUser }}' data-toggle='modal' data-target='#modalEditUser' class='utilisateurs-edit col-3'
        onclick="editRow($(this),  Routing.generate('user_api_edit', true), $('#modalEditUser'), $('#submitEditUser'))">
        <i class='fas fa-pencil-alt'></i>
    </div>
    <div class='col-3 type-delete' onclick="deleteRow($(this), $('#modalDeleteUser'), $('#submitDeleteUser'))"
        data-id='{{ idUser }}' data-target='#modalDeleteUser' data-toggle='modal'>
        <i class='fas fa-trash '></i>
    </div>
</div>