<div class="d-flex">
    <div>
        <div class="btn btn-col-action" data-id='{{ idUser }}' data-toggle='modal' data-target='#modalEditUser'
        onclick="editRowUser($(this))">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
    <div onclick="checkAndDeleteRow($(this), '#modalDeleteUser', 'user_check_delete', '#submitDeleteUser')"
         data-id='{{ idUser }}' data-target='#modalDeleteUser' data-toggle='modal'>
        <div class="btn btn-col-action">
            <i class='fas fa-trash'></i>
        </div>
    </div>
</div>