<a href="{{url}}" class='btn btn-xs btn-default type-delete'>
    <i class='fas fa-eye '></i>
</a>
<div class='btn btn-xs btn-default type-delete'
    onclick="deleteRow($(this), $('#modalDeleteUser'), $('#submitDeleteUser'))" data-id='{{ idUser }}'
    data-target='#modalDeleteUser' data-toggle='modal'>
    <i class='fas fa-trash '></i>
</div>