{% extends 'layout.html.twig' %}

{% block title %}Paramétrage utilisateurs{% endblock %}
{% block classbody %}
    class='new-body'
{% endblock %}
{% block page_content %}
    <div class="m-4 datatable-container shadow-lg">
        <div class="row">
            <h1 class="col align-self-start ml-2">Utilisateurs</h1>
            <div class="col-auto">
                <div data-toggle="modal" data-target="#modalNewUser" class="btn btn-primary btn-ripple">
                    <span class="fa fa-plus mr-2"></span>Nouvel utilisateur
                </div>
            </div>

            <div class="col-12">
                <table id="tableUser_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include "utilisateur/modalDeleteUser.html.twig" %}
    {% include "utilisateur/modalNewUser.html.twig" %}
    {% include "utilisateur/modalEditUser.html.twig" %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/utilisateur.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
