{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Utilisateurs{% endblock %}

{% block page_content %}
    <div class="m-4 datatable-container">
        <div class="row datatable-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    <div data-toggle="modal" data-target="#modalNewUser" class="btn btn-primary btn-ripple">
                        <span class="fa fa-plus mr-2"></span>Nouvel utilisateur
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="tableUser_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include "utilisateur/modalDeleteUser.html.twig" %}
    {% include "utilisateur/modalNewUser.html.twig" %}
    {% include "utilisateur/modalEditUser.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/utilisateur.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
