<select data-user-id="{{utilisateur.id}}" onchange="editRole($(this))">
    {% if utilisateur.role == null %}
        <option value="0" selected>Aucun rôle</option>
    {% else %}
        {% for role in roles %}
            {% set selected = role.id == utilisateur.role.id ? 'selected' : '' %}
            <option value="{{ role.id }}" {{ selected }}>{{ role.label }}</option>
        {% endfor %}
    {% endif %}
</select>