<select name="{{utilisateur.id}}">
    {% if utilisateur.roles == null %}
        <option value="Aucun rôle" selected>Aucun rôle</option>
    {% else %}
        {% for role in roles %}
            {% set selected = role.value == utilisateur.roles[0] ? 'selected' : '' %}
            <option value="{{ role.value }}" {{ selected }}>{{ role.label }}</option>
        {% endfor %}
    {% endif %}
</select>