<form class="modal fade" id="modalDeleteLitige" role="dialog" aria-hidden="true" onsubmit="return false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer un litige"
            } %}

            <div class="modal-body">
                <p>
                    Voulez-vous réellement supprimer ce litige ?
                </p>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', dismiss: true, name: 'litige', id: 'submitDeleteLitige', text: 'Supprimer'}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</form>
