{% import 'form.html.twig' as form %}

{% set element = element is defined ? element %}
{% set multipleKey = {
    key: 'lines',
    index: random()
} %}
<div class="row row-type mt-2 justify-content-between">
    <div class="col-5 mr-4">
        {{ form.select('handlingType', trans('Demande', 'Services', null, 'Type'), true, {
            type: 'handlingType',
            inputClass: 'handling-type',
            labelClass: 'w-100 no-search',
            includeParams: 'input[name=alreadyDefinedTypes]',
            multipleKey: multipleKey,
            value: element ? element.type : null,
            items: element ? element.type : null,
        }) }}
    </div>
    <div class="col-5 mr-4">
        {{ form.select('user', trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Destinataires'), true, {
            type: 'user',
            multiple :true,
            inputClass: 'receivers-picker',
            multipleKey: multipleKey,
            value: element ? element.users : null,
            items: element ? element.users : null,
        }) }}
    </div>
    <div class="col-1 d-flex justify-content-end align-items-end">
        <button class='ml-4 d-flex justify-content-end align-items-center btn btn-outline-primary delete-type-row' data-id=''
                onclick="removeTypeRow($(this))">
            <i class='wii-icon wii-icon-trash text-primary'></i>
        </button>
    </div>
</div>
