{% import 'form.html.twig' as form %}

<div class="modal fade" id="modal-fixed-field-{{ modal | lower }}"
     role="dialog"
     aria-hidden="true"
     data-keyboard="false"
     data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier le paramétrage d'un champ fixe"
            } %}

            <div class="modal-body">
                <input type="hidden" name="field" value="{{ field }}"/>

                {{ form.select('elements', 'Valeurs possibles', false, {
                    type: null,
                    editable: true,
                    multiple: true,
                    items: elements,
                    placeholder: 'Ajoutez des éléments',
                }) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                    Annuler
                </button>
                <button type="submit" class="btn btn-success data submit-field-param" value="{{ field }}">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
