{% import 'form.html.twig' as form %}

{% set element = element is defined ? element %}
<div class="row row-type">
    <div class="col-5">
        {{ form.select('handlingType', trans('Demande', 'Services', null, 'Type'), true, {
            type: 'handlingType',
            inputClass: 'handling-type',
            editable: true,
            value: element ? element.label : null,
            items: element ? {(element.label): element.value} : null,
        }) }}
    </div>
    <div class="col-5">
        {{ form.select('user', trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Destinataires'), true, {
            type: 'user',
            multiple :true,
            inputClass: 'receivers-picker',
            value: element ? element.value : null,
            items: element ? element.value : null,
        }) }}
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <button class='d-flex justify-content-end align-items-end btn btn-outline-primary delete-row' data-id=''
                onclick="removeTypeRow($(this))">
            <i class='wii-icon wii-icon-trash text-primary'></i>
        </button>
    </div>
</div>
