{# Ne pas supprimer ce fichier même à la fin du devis, ça servira #}
{# toujours pour la création de paramétrages dans le futur        #}

<section>Non développé</section>
Créer le fichier <span class="font-weight-bold">{{ page }}</span> pour modifier l'affichage
