{% import 'form.html.twig' as form %}

<div class="wii-section-title my-3">Fréquence</div>
<div class="row frequencies mt-3">

    {{ form.radio('frequency', null, required is defined ? required : false, [
        {label: 'Une fois', value: constant('App\\Entity\\ScheduleRule::ONCE'), checked: frequency == constant('App\\Entity\\ScheduleRule::ONCE')},
        {label: 'Chaque heure', value: constant('App\\Entity\\ScheduleRule::HOURLY'), checked: frequency == constant('App\\Entity\\ScheduleRule::HOURLY')},
        {label: 'Chaque jour', value: constant('App\\Entity\\ScheduleRule::DAILY'), checked: frequency == constant('App\\Entity\\ScheduleRule::DAILY')},
        {label: 'Chaque semaine', value: constant('App\\Entity\\ScheduleRule::WEEKLY'), checked: frequency == constant('App\\Entity\\ScheduleRule::WEEKLY')},
        {label: 'Chaque mois', value: constant('App\\Entity\\ScheduleRule::MONTHLY'), checked: frequency == constant('App\\Entity\\ScheduleRule::MONTHLY')}
    ], {
        containerClass: 'col-4 frequencies-container',
        onChange: 'toggleFrequencyInput($(this))'
    }) }}
    <div class="col-8 frequency-content {{ frequency ? '' : 'd-none' }}">
        {% include '/planner/frequencies/once.html.twig' with {begin, checked: frequency == constant('App\\Entity\\ScheduleRule::ONCE') } %}
        {% include '/planner/frequencies/hourly.html.twig' with {begin, intervalPeriod, checked: frequency == constant('App\\Entity\\ScheduleRule::HOURLY')} %}
        {% include '/planner/frequencies/daily.html.twig' with {begin, period, intervalTime, checked: frequency == constant('App\\Entity\\ScheduleRule::DAILY')} %}
        {% include '/planner/frequencies/weekly.html.twig' with {begin, period, intervalTime, weekDays, checked: frequency == constant('App\\Entity\\ScheduleRule::WEEKLY')} %}
        {% include '/planner/frequencies/monthly.html.twig' with {begin, months, monthDays, intervalTime, checked: frequency == constant('App\\Entity\\ScheduleRule::MONTHLY')} %}
    </div>
</div>
