@import "@styles/variables";

.history-container {
    overflow: hidden;
    padding: 0 10px !important;

    thead {
        display: none !important;
    }

    .dataTables_wrapper {
        width: auto !important;
    }
    table.wii-table tr {
        background-color: #00000000 !important;

        &:last-child {
            td {
                .history-line:not(.first-history-line) {
                    .history-line-left-content {
                        div:last-child {
                            &:before {
                                position: absolute;
                                bottom: 0;
                                right: 50%;
                                transform: translateX(50%);
                                content: '';
                                width: 0;
                                height: 0;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                                border-top: 7px solid $primary;
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }
        }

        &:first-child {
            td {
                .history-line:not(.last-history-line) {
                    .history-line-left-content {
                        div:last-child {
                            &:after {
                                position: absolute;
                                top: 0;
                                right: 50%;
                                transform: translateX(50%);
                                content: '';
                                width: 0;
                                height: 0;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                                border-bottom: 7px solid $primary;
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }
        }

        td {
            padding: 0 !important;
            border: none !important;
        }
    }


    .history-line {
        height: fit-content !important;
        max-width: none !important;
        margin: 0 !important;

        .title-left {
            text-wrap: wrap;
            overflow-wrap: anywhere;
            padding: 10px 15px;
        }

        .history-text-overflow {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            padding-right: 10px;
        }

        .history-line-left-content {
            overflow: auto;
            max-width: 50%;
            justify-content: space-between;

            .small-text {
                font-size: 10px;
            }
        }

        .history-line-right-content {

            display: flex;
            flex-direction: column;
            align-items: baseline;

            &.current {
                &:after {
                    top: 50%;

                }
                &:before {
                    height: 50%;
                    background: linear-gradient(0deg, $primary, $success);
                }
            }

            &:not(.current) {
                &:before {
                    top: 0;
                }
            }

            &.first-history-line {
                &:before {
                    top: -50%;
                }
            }

            &.current.first-history-line {
                &:before {
                    opacity: 0;
                }
            }


            &:before {
                background-color: $primary !important;
            }

            .message-container {
                font-size: 15px;
                padding: 5px 15px 5px 10px;
                color: $black !important;
                border-radius: 15px;
                margin-left: 3px;
                width: fit-content;
                border: 3px solid;
                text-wrap: wrap;
                overflow-wrap: anywhere;
                max-height: 250px;
                overflow-y: auto;
                background-color: $white;

                &.past {
                    border-color: rgba(51, 83, 215, 0.1);
                }

                &.current {
                    border-color: rgba(47, 194, 171, 0.1);

                    &:after {
                        top: 0 !important;
                    }
                }
            }
        }
    }
}

:not(.filter-input ).form-control, .select2-search__field, .select2-selection__placeholder {
    border-radius: 5px!important;
    padding: 5px 15px!important;
}
