<div class="modal fade" id="add-dashboard-modal" tabindex="-1" role="dialog" aria-labelledby="add-dashboard-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter un dashboard"
            } %}

            <div class="modal-body">
                <div class="form-group">
                    <label for="add-dashboard-name" class="form-control-label">Nom du dashboard*</label>
                    <input type="text" id="add-dashboard-name" name="add-dashboard-name" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success add-dashboard-modal-submit">Ajouter</button>
            </div>
        </div>
    </div>
</div>
