<div class="modal fade" id="add-row-modal" tabindex="-1" role="dialog" aria-labelledby="add-row-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-row-label">Ajouter une ligne</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for columns in range(1, 6) %}
                        <div class="dashboard-row-selector" data-columns="{{ columns }}">
                            {{ columns }} colonne{{ columns != 1 ? 's' }}
                            <div class="d-flex">
                                {% for i in range(1, columns) %}
                                    <div class="dashboard-example"></div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="new-row-columns-count">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary add-row-modal-submit" data-dismiss="modal" disabled>Ajouter</button>
            </div>
        </div>
    </div>
</div>
