<div class="modal fade" id="add-dashboard-modal" tabindex="-1" role="dialog" aria-labelledby="add-dashboard-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-dashboard-label">Ajouter un dashboard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="add-dashboard-name" class="form-control-label">Nom du dashboard*</label>
                    <input type="text" id="add-dashboard-name" name="add-dashboard-name" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary add-dashboard-modal-submit">Ajouter</button>
            </div>
        </div>
    </div>
</div>
