<div class="modal fade" id="add-row-modal" tabindex="-1" role="dialog" aria-labelledby="add-row-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter une ligne"
            } %}

            <div class="modal-body">
                <div class="row">
                    {% for columns in range(1, 6) %}
                        <div class="dashboard-row-selector" data-columns="{{ columns }}">
                            {{ columns }} colonne{{ columns != 1 ? 's' }}
                            <div class="d-flex">
                                {% for i in range(1, columns) %}
                                    <div class="dashboard-example"></div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="new-row-columns-count">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'},
                    {classes: 'btn btn-success add-row-modal-submit', dismiss: true, text: 'Ajouter', disabled: true}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
