<div class="modal fade" id="choose-components-modal" tabindex="-1" role="dialog" aria-labelledby="choose-components-label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier la ligne"
            } %}

            <div class="modal-body">
                <div class="col-12">Sélectionner les composants à conserver</div>
                <div class="dashboard-row flex-fill row">
                    <div class="dashboard-row-wrapper col-12 mt-2 pl-1">
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'},
                    {classes: 'btn btn-success', text: 'Valider', type: 'submit'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
