<div class="modal fade" id="delete-dashboard-modal" tabindex="-1" role="dialog" aria-labelledby="delete-dashboard-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer le dashboard"
            } %}

            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer le dashboard "<span class="delete-dashboard-name"></span>" ?

                <input type="hidden" name="delete-dashboard-index">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger" onclick="onConfirmPageDeleted()">Supprimer</button>
            </div>
        </div>
    </div>
</div>
