<div class="modal fade" id="delete-dashboard-modal" tabindex="-1" role="dialog" aria-labelledby="delete-dashboard-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer le dashboard"
            } %}

            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer le dashboard "<span class="delete-dashboard-name"></span>" ?

                <input type="hidden" name="delete-dashboard-index">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'},
                    {classes: 'btn btn-danger', text: 'Supprimer', event: 'onConfirmPageDeleted()'}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</div>
