<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Une erreur est survenue"
            } %}

            <div class="modal-body text-danger bold">
                Une erreur est survenue lors de l'enregistrement. Les modifications apportées aux
                dashboards ont été sauvegardées dans un fichier à joindre dans votre demande
                de support.

                <input type="hidden" name="error-context">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'},
                    {classes: 'btn btn-success download-trace', text: "Télécharger le fichier d'erreur"}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
