<div class="modal fade" id="rename-dashboard-modal" tabindex="-1" role="dialog" aria-labelledby="rename-dashboard-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Renommer le dashboard"
            } %}

            <div class="modal-body">
                <div class="form-group">
                    <label for="rename-dashboard-name" class="form-control-label">Nom du dashboard*</label>
                    <input type="text" id="rename-dashboard-name" name="rename-dashboard-name" class="form-control">
                </div>

                <input type="hidden" name="rename-dashboard-index" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success rename-dashboard-modal-submit">Renommer</button>
            </div>
        </div>
    </div>
</div>
