<div class="modal-header">
    <h5 class="modal-title wii-title">Supprimer le modèle de demande</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body modal-input container-fluid">
    <div class="row">
        <div class="col-12">
            {% if request_template.triggerActions is not empty %}
                Ce modèle de demande est utilisé par un ou plusieurs actionneurs, vous ne pouvez pas le supprimer.
            {% else %}
                Vous êtes sur le point de supprimer le modèle de demande <strong>{{ request_template.name }}</strong>.
            {% endif %}
        </div>
    </div>
</div>
<div class="error-msg"></div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
    {% if request_template.triggerActions is empty %}
        <button id="submitDeleteRequestTemplate" name="id" value="{{ request_template.id }}" class="btn btn-danger data">Supprimer</button>
    {% endif %}
</div>
