<div class="form-group">
    <label>Nom du modèle*</label>
    <input type="text" class="form-control data needed" name="name" value="{{ request_template.name }}"/>
</div>

<div class="form-group">
    <label>Type de demande*</label>
    <input name="type" class="form-control data needed w-100" value="{{ request_template.type.label }}" disabled>
</div>

{# TODO 4455: handling request template #}
{# TODO 4456: handling request template #}
{# TODO 4457: handling request template #}
