{% set template = template is defined and template ? template : '' %}
{% set config = config is defined and config is not empty ? config : [] %}

<div class="col-12 form-group mt-1">
    <label class="mb-2">Texte notification*</label>
    <textarea name="content"
              style="resize: none"
              rows="6"
              class="form-control data needed">{{ config ? config['content'] }}</textarea>
</div>

{% set image = config and config['image'] is defined ? config['image'] : '' %}
<div class="col-12 d-flex align-items-center mt-4">
    <label class="col-2 pl-0">Image de notification</label>
    <img src="{{ image ? app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ image : '' }}"
         id="preview-mail-image" alt="Logo choisi" height="50px" class="{{ image ? '' : 'd-none' }} mr-2"/>

    <button class="btn btn-primary" onclick="$('#upload-mail-image').click();">
        <i class='fas fa-pencil-alt'></i>
    </button>
    <button class="btn btn-danger ml-2" onclick="$('#preview-mail-image').display(true); $('#upload-mail-image').val(null);">
        <i class='fas fa-trash'></i>
    </button>
    <input type="file" name="image" class="data-file" id="upload-mail-image" accept="image/png, image/jpeg, image/jpg" hidden>
</div>

