<form method="post" action="{{ path('alerte_delete', {'id': alerte.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la réception ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alerte.id) }}">
    <button class="button">Supprimer</button>
</form>
