<div class="row">
    <div class='col-4 btn-col-action' data-id='{{ alerteId }}' data-target='#modalEditAlerte' data-toggle='modal'>
        <button type="button" class="btn btn-block"
        onclick="editRow($(this), Routing.generate('alerte_api_edit', true), $('#modalEditAlerte'), $('#submitEditAlerte'))">
            <i class='fas fa-pencil-alt'></i>
        </button>
    </div>
    <div class='col-4 btn-col-action'>
        <button type="button" class="btn btn-block"
        onclick="deleteRow($(this), $('#modalDeleteAlerte'), $('#submitDeleteAlerte'))"
        data-id='{{ alerteId }}' data-target='#modalDeleteAlerte' data-toggle='modal'>
            <i class='fas fa-trash'></i>
        </button>
    </div>
</div>