{% extends 'layout.html.twig' %}

{% block title %}Modifier une alerte{% endblock %}

{% block page_content %}
    <h1>Modification alerte</h1>

    {{ include('alerte/_form.html.twig') }}
    <div class="d-flex">
        <a class="btn" href="{{ path('alerte_index') }}">Retour</a>
        <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
        {{ include('alerte/_delete_form.html.twig') }}
    </div>
{% endblock %}
