{% extends 'layout.html.twig' %}

{% block title %}Paramétrage alertes{% endblock %}

{% block page_content %}
    <h1>Mes alertes</h1>
    <table id="table_id" class="table table-striped table-bordered w-100">
    <a class="btn btn-secondary" href="{{ path('alerte_new') }}">Nouvelle alerte</a>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Code</th>
                <th>Seuil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>
   
{% endblock %}
{% block javascript %}

<script>
    var table = $('#table_id').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        ajax: "{{path('alerte_api')}}",
        columns: [
            { "data": 'Nom' },
            { "data": 'Code' },
            { "data": 'Seuil' },
            { "data": 'Actions'},
        ],
    });
</script>

{% endblock %}