{% extends 'layout.html.twig' %}

{% block title %}Paramétrage alertes{% endblock %}

{% block page_content %}
<h1>Mes alertes</h1>

<div class='row'>
    <a href="" data-toggle="modal" data-target="#modalNewAlerte"
        onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete')),  ajaxAutoUserInit($('.ajax-autocomplete-user'))"
        class="btn btn-primary">
        <span class="fa fa-plus mr-2"></span>Nouvelle alerte
    </a>
    <a href="{{path('check')}}" class="btn btn-primary">
        Vérifier les alertes
    </a>
</div>

<table id="tableAlerte_id" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Code</th>
            <th>Article Référence</th>
            <th>Quantité en stock</th>
            <th>Seuil limite</th>
            <th>Seuil</th>
            <th>Utilisateur</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>

{% include "alerte/modalDeleteAlerte.html.twig" %}

{% include "alerte/modalEditAlerte.html.twig" %}

{% include "alerte/modalNewAlerte.html.twig" %}

{% endblock %}

{% block javascript %}
<script src="{{ asset('js/alerte.js') }}"></script>
{% endblock %}