{% extends 'layout.html.twig' %}

{% block title %}Nouvelle Alerte{% endblock %}

{% block page_content %}
    <h1>Création d'une alerte</h1>

    {{ include('alerte/_form.html.twig') }}

    <a class="btn" href="{{ path('alerte_index') }}">Voir la liste</a>
{% endblock %}
