<label for="dropfile">Pièces jointes</label>
<div id="dropfile" class="dropFrame justify-content-md-center" data-arrivage-id="{{ arrivage is defined ? arrivage.id : '' }}" data-litige-id="{{ litige is defined ? litige.id : '' }}"
     ondragenter="dragEnterDiv(event, $(this))"
     ondragover="dragOverDiv(event, $(this))"
     ondragleave="dragLeaveDiv(event, $(this))"
     ondrop="dropOnDiv(event, $(this))">
    {% if isNew == true %}
        <p>Faites glisser vos pièces jointes ou <span onclick="openFENew()" class="pointer"><i class="fa fa-folder-open" ></i> cliquez ici</span>
            <input id="fileInputNew" type="file" name="files[]" multiple class="d-none" onchange="uploadFE($(this))">
        </p>
    {% else %}
        <p>Faites glisser vos pièces jointes ou <span onclick="openFEEdit()" class="pointer"><i class="fa fa-folder-open" ></i> cliquez ici</span>
            <input id="fileInput" type="file" name="files[]" multiple class="d-none" onchange="uploadFE($(this))">
        </p>
    {% endif %}
</div>

{% if isNew != true %}
    {% for pj in attachements %}
        {% set pjName = pj.fileName %}
        {% set originalName = pj.originalName %}
        {% include 'arrivage/attachementLine.html.twig' %}
    {% endfor %}
{% endif %}