{% if isNew == true %}
    <label for="dropfile">Pièces jointes</label>
    <div id="dropfileNew" class="dropFrame justify-content-md-center"
         ondragenter="dragEnterDiv(event, $(this))"
         ondragover="dragOverDiv(event, $(this))"
         ondragleave="dragLeaveDiv(event, $(this))"
         ondrop="dropNewOnDiv(event, $(this))">
        <p>Faites glisser vos pièces jointes ou <span onclick="openFENew()" class="pointer"><i class="fa fa-folder-open" ></i> cliquez ici</span></p>
        <input id="fileInputNew" type="file" name="files[]" multiple class="d-none" onchange="uploadFENew()">
    </div>
{% else %}
    <label for="dropfile">Pièces jointes</label>
    <div id="dropfile" class="dropFrame justify-content-md-center" data-arrivage-id="{{ arrivage.id }}"
         ondragenter="dragEnterDiv(event, $(this))"
         ondragover="dragOverDiv(event, $(this))"
         ondragleave="dragLeaveDiv(event, $(this))"
         ondrop="dropOnDiv(event, $(this))">
        <p>Faites glisser vos pièces jointes ou <span onclick="openFENew()" class="pointer"><i class="fa fa-folder-open" ></i> cliquez ici</span></p>
        <input id="fileInputNew" type="file" name="files[]" multiple class="d-none" onchange="uploadFENew()">
    </div>

    {% for pj in arrivage.piecesJointes %}
        {% include 'arrivage/attachementLine.html.twig' %}
    {% endfor %}
{% endif %}