{% if isNew == true %}
    <label for="dropfile">Pièces jointes</label>
    <div id="dropfileNew" class="dropFrame justify-content-md-center"
         ondragenter="dragEnterDiv(event, $(this))"
         ondragover="dragOverDiv(event, $(this))"
         ondragleave="dragLeaveDiv(event, $(this))"
         ondrop="dropNewOnDiv(event, $(this))">
        <p>Faites glisser vos pièces jointes ou <span onclick="openFENew()" class="pointer"><i class="fa fa-folder-open" ></i> cliquez ici</span>
            <input id="fileInputNew" type="file" name="files[]" multiple class="d-none" onchange="uploadFENew($(this))">
        </p>
    </div>
{% else %}
    <label for="dropfile">Pièces jointes</label>
    <div id="dropfile" class="dropFrame justify-content-md-center" data-litige-id="{{ litige.id }}"
         ondragenter="dragEnterDiv(event, $(this))"
         ondragover="dragOverDiv(event, $(this))"
         ondragleave="dragLeaveDiv(event, $(this))"
         ondrop="dropOnDiv(event, $(this))">
        <p>Faites glisser vos pièces jointes ou <span onclick="openFE()" class="pointer"><i class="fa fa-folder-open" ></i> cliquez ici</span></p>
        <input id="fileInput" type="file" name="files[]" multiple class="d-none" onchange="uploadFE($(this))">
    </div>

    {% for pj in attachements %}
        {% set pjName = pj.fileName %}
        {% set originalName = pj.originalName %}
        {% include 'arrivage/attachementLine.html.twig' %}
    {% endfor %}

{% endif %}