<label for="dropfile">Pièces jointes</label>
<div id="dropfile" class="dropFrame justify-content-md-center" data-arrivage-id="{{ arrivage is defined ? arrivage.id : '' }}" data-litige-id="{{ litige is defined ? litige.id : '' }}"
     ondragenter="dragEnterDiv(event, $(this))"
     ondragover="dragOverDiv(event, $(this))"
     ondragleave="dragLeaveDiv(event, $(this))"
     ondrop="dropOnDiv(event, $(this))">
    {% set text = text is not defined ? 'Faites glisser vos pièces jointes' : text %}
    <p>{{ text }} ou <span onclick="openFE($(this))" class="pointer"><i class="fa fa-folder-open" ></i> cliquez ici</span>
        <input type="file" name="files[]" {{ unique is defined and unique ? 'multiple' }} class="d-none fileInput" onchange="uploadFE($(this))">
    </p>
</div>

{% if isNew != true %}
    {% for pj in attachements %}
        {% set pjName = pj.fileName %}
        {% set originalName = pj.originalName %}
        {% include 'arrivage/attachementLine.html.twig' %}
    {% endfor %}
{% endif %}
