{% if isNew is defined %}
    <label for="dropfile">Pièces jointes</label>
        <div id="dropfile" class="dropFrame row justify-content-md-center"
             ondragenter="dragEnterDiv(event, $(this))"
             ondragover="dragOverDiv(event, $(this))"
             ondragleave="dragLeaveDiv(event, $(this))"
             ondrop="dropNewOnDiv(event, $(this))">
            <p class="col-12">Faites glisser vos pièces jointes ici.</p>
            <div class="btn btn-primary justify-content-md-center ">Ou cliquez</div>
        </div>
{% else %}
    <label for="dropfile">Pièces jointes</label>
    <div id="dropfile" class="dropFrame row justify-content-md-center" data-arrivage-id="{{ arrivage.id }}"
         ondragenter="dragEnterDiv(event, $(this))"
         ondragover="dragOverDiv(event, $(this))"
         ondragleave="dragLeaveDiv(event, $(this))"
         ondrop="dropOnDiv(event, $(this))">
        <p class="col-12">Faites glisser vos pièces jointes ici.</p>
        <div class="btn btn-primary justify-content-md-center ">Ou cliquez</div>
    </div>

    {% for pj in arrivage.piecesJointes %}
        {% include 'arrivage/attachementLine.html.twig' %}
    {% endfor %}
{% endif %}