<div class="d-flex">
    <div>
        <div class="btn btn-col-action" data-id='{{ litigeId }}' data-toggle='modal' data-target='#modalEditLitige'
             onclick="editRow($(this), Routing.generate('litige_api_edit', true), $('#modalEditLitige'), $('#submitEditLitige'))">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
</div>