<div class="d-flex">
    <a class="btn btn-col-action"
       href="{{ path('print_arrivage_single_colis_bar_codes', {arrivage: arrivageId, colis: colisId}) }}">
        <i class='fas fa-print'></i>
    </a>
</div>
