<div class="d-flex">
    <div class="dropdown">
        <a href="#"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
            {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
        </a>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item"
                data-id='{{ arrivage.id }}'
                data-target='#modalListColis' data-toggle='modal'
                onclick="listColis($(this))">
                <i class=' mr-2 fas fa-print'></i>Imprimer
            </a>
        </div>
    </div>
    {#    <a href='{{ url }}'>#}
    {#            <div class="btn btn-col-action">#}
    {#                <i class='fas fa-eye'></i>#}
    {#            </div>#}
    {#        </a>#}

    {#        <div data-id='{{ arrivage.id }}' data-target='#modalListColis' data-toggle='modal' class='btn btn-col-action'#}
    {#             onclick="listColis($(this))">#}
    {#            <i class='fas fa-print'></i>#}
    {#        </div>#}
</div>
