<div class="d-flex">
    <a class="btn btn-col-action"
       href="{{ path('print_arrivage_bar_codes', {arrivage: arrivageId, colisId: colisId, printArrivage: 1, printColis: 1}) }}">
        <i class='fas fa-print'></i>
    </a>
</div>
