<div class="d-flex">
    <div class="dropdown">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <a href='{{ url }}' class="d-none action-on-click">
                Voir
            </a>
            <a href="#" class="dropdown-item"
                data-id='{{ arrivage.id }}'
                data-target='#modalListColis' data-toggle='modal'
                onclick="listColis($(this))">
                <i class=' mr-2 fas fa-print'></i>Imprimer
            </a>
        </div>
    </div>
</div>
