<div class="d-flex">
    <div class="dropdown">
        <a href="#"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
            <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px"/>
        </a>
        <div class="dropdown-menu pointer">
            {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::EDIT')) %}
                <a class="dropdown-item"
                   data-toggle='modal'
                   data-target='#modalEditLitige'
                   onclick="editRowLitigeArrivage($(this), openTableHisto, {{ arrivageId }}, {{ litigeId }})">
                    <i class='fas fa-pencil-alt mr-2'></i>Modifier
                </a>
            {% endif %}
            {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::DELETE')) %}
                <a onclick="deleteRow($(this), $('#modalDeleteLitige'), $('#submitDeleteLitige'))"
                   class="dropdown-item"
                   data-id='{{ litigeId }}' data-target='#modalDeleteLitige' data-toggle='modal'>
                    <i class='fas fa-trash mr-2'></i>Supprimer
                </a>
            {% endif %}
        </div>
    </div>
</div>
