<label for="dropfile">Pièces jointes</label>
<div id="dropfile" class="dropFrame" data-arrivage-id="{{ arrivage.id }}"
            ondragenter="dragEnterDiv(event, $(this))"
            ondragover="dragOverDiv(event, $(this))"
            ondragleave="dragLeaveDiv(event, $(this))"
            ondrop="dropOnDiv(event, $(this))">Faites glisser vos pièces jointes ici.
</div>