<label for="dropfile">Pièces jointes</label>
<div id="dropfile" class="dropFrame" data-id="{{ arrivage. }}"
            ondragenter="dragEnterDiv(event, $(this))"
            ondragover="dragOverDiv(event, $(this))"
            ondragleave="dragLeaveDiv(event, $(this))"
            ondrop="dropOnDiv(event, $(this))">Faites glisser votre pièce jointe ici.
</div>