<form class="modal fade" id="modalNewLitige" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Nouveau litige"
            } %}

            <div class="modal-body modal-input container-fluid"></div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitNewLitige" type="button" class="btn btn-success">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
