<form method="" class="modal fade" id="modalEditLitige" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier le litige"
            } %}

            <div class="modal-body modal-input container-fluid"></div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitEditLitige" class="btn btn-success data"
                        name='id' type="button" value =''>Enregistrer</button>
            </div>
        </div>
    </div>
</form>
