<div class="form-group">
    <label for="litigeType">Type de litige :</label> {{ arrivage.litige.type.label }}
</div>

<div class="form-group">
    <label for="commentaire">Commentaire</label>
    <div class="form-control no-padding">{{ arrivage.litige.commentaire|raw }}</div>
</div>

<div class="form-group">
    {% include 'arrivage/attachements.html.twig' %}

</div>

{% set checked = (arrivage.statut.nom == 'traité par acheteur') ? 'checked' : '' %}

<div class="form-group text-right">
    litige traité
    <label class="switch">
        <input class="checkbox" type="checkbox" {{ checked }} name="statutAcheteur">
        <span class="slider round"></span>
    </label>
</div>
