<form method="" class="modal fade" id="modalListColis" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Liste des UL générés'),
            } %}

            <div class="modal-body container-fluid">
            </div>
            {%  include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Fermer')}
                ],
                hideErrorContainer: true
            } %}
        </div>
    </div>
</form>
