<h1 class="text-center">Arrivage n° {{ arrivage.numeroArrivage }} <i class='fas fa-print pointer' onclick="getDataAndPrintLabels('{{ arrivage.numeroArrivage }}')"></i></h1>

<table class="table table-striped table-bordered w-100">
    <tr>
        <th>N° colis</th>
        <th class="text-center">Impression <i class='fas fa-print'></i></th>
    </tr>
    {% for colis in arrivage.colis %}
        <tr>
            <td>{{ colis.code }}</td>
            <td class="text-center">
                <i class='fas fa-print' onclick="getDataAndPrintLabels('{{ colis.code }}')"></i>
            </td>
        </tr>
    {% endfor %}
</table>