<form class="modal fade" id="modalNewLitige" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau litige"
            } %}

            <div class="modal-body modal-input container-fluid"></div>

            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {id: 'submitNewLitige' , classes: 'btn btn-success', text: 'Enregistrer'}
                ],
            } %}

        </div>
    </div>
</form>
