<form method="" class="modal fade" id="modalDeleteArrivage" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer l'arrivage"
            } %}

            <div class="modal-body">
                {{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Voulez-vous réellement supprimer cet arrivage ?') }}
                <span class="d-none hasLitige red">{{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', '(attention, un litige a été créé sur cet arrivage : il sera également supprimé)') }}</span>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {id: 'submitDeleteArrivage', name: 'arrivage', dismiss: true, classes: 'btn btn-danger data', text: trans('Général', null, 'Modale', 'Supprimer')}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</form>
