<div class="modal fade modalDeleteEntity" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
{#              where title ??? #}
            {% include('utils/modal/header.html.twig') with {
                title: ""
            } %}

{#            <div class="modal-header">#}
{#                <h5 class="modal-title"></h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
            <div class="modal-body">
                <div class="spinner-container d-flex justify-content-center">
                    <div class="spinner-border sizeLoader mini-loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="message-container d-none"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button class="btn btn-danger submit-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>
