<div class="modal fade modalDeleteEntity" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') %}
            <div class="modal-body">
                <div class="spinner-container d-flex justify-content-center">
                    <div class="spinner-border sizeLoader mini-loader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="message-container d-none"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button class="btn btn-danger submit-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>
