<input type="hidden"
       data-id=""
       data-target='#modalEditUser'
       data-toggle='modal'
       onclick="editRowUser($(this))"
       class="d-none open-modal-edit"/>

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Pour ajouter un utilisateur, vous pouvez soit le créer dans ce menu, soit les importer en masse, ou alors demander aux personnes de créer
            un compte sur la page de connexion de l'application.
            Vous devez ensuite rattacher à l'utilisateur un rôle afin qu'il puisse accéder aux fonctionnalités de l'application.
        </div>
    </div>
    <div class="row wii-box-header">
        <div class="col-auto ml-auto">
            <div class="btn-group">
                <div data-toggle="modal"
                     data-target="#modalNewUser"
                     class="btn btn-primary d-flex align-items-center">
                    <span class="wii-icon wii-icon-plus mr-2"></span>Nouvel utilisateur
                </div>

                <button type="button"
                        class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>
                <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                    <a class="dropdown-item pointer"
                       href="{{ path('export_csv_user') }}">
                        <i class="fa fa-file-csv mr-2"></i>
                        Exporter au format CSV
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="table-users" class="table w-100">
            </table>
        </div>
    </div>
</div>

{% include 'settings/utilisateurs/utilisateurs/new.html.twig' with {newUser: newUser, languages, dateFormats} %}
{% include 'settings/utilisateurs/utilisateurs/edit.html.twig' %}
{% include 'settings/utilisateurs/utilisateurs/delete.html.twig' %}
