{% if modifiable %}
    
<div class="row">
    <div class='col-3' onclick="deleteRow($(this), $('#modalDeleteArticle'), $('#submitDeleteArticle'))" 
    data-target='#modalDeleteArticle' data-toggle='modal' data-id='{{ article.id }}'>
    <i class='fas fa-trash'></i>
</div>
</div>
{% endif %}
