<div class="d-none">
    {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_COLL')) %}
        <a href="{{ url }}"
           class="d-none action-on-click">
            <div class="btn btn-col-action">
                <i class='fas fa-eye'></i>
            </div>
        </a>
    {% endif %}
</div>
