<div class='btn btn-xs btn-default article-edit' onclick='editRow($(this))' data-toggle='modal'
    data-target='#modalModifyArticle' data-quantity='{{ article.quantiteCollectee }}' data-name='{{ article.nom }}'
    data-id='{{ article.id }}'>
    <i class='fas fa-pencil-alt fa-2x'></i>
</div>

<div class='article-delete' onclick='deleteRow($(this))' data-id='{{ article.id }}'>
    <i class='fas fa-trash fa-2x'></i>
</div>