{% extends 'layout.html.twig' %}

{% block title %}Edit Collecte{% endblock %}

{% block page_content %}
    <h1>Edit Collecte</h1>

    {{ include('collecte/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('collecte_index') }}"class="btn float-left">retour à la liste</a>

    {{ include('collecte/_delete_form.html.twig') }}
{% endblock %}
