{% extends 'layout.html.twig' %}

{% block title %}Demandes de collecte{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersDemands.html.twig' with {
        'page': 'PAGE_DEM_COLLECTE',
        'tableSelector': '#tableCollecte_id',
        'callback': 'callbackSaveFilter'
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 datatable-container shadow-lg">
        <div class="row">
            <h1 class="col align-self-start ml-2">Demandes de collecte</h1>
            <div class='col-auto'>
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                    <a href="" data-toggle="modal" data-target="#modalNewCollecte" class="btn btn-primary btn-ripple"
                       onclick='initNewCollecteEditor("#modalNewCollecte"), clearModal("#modalNewCollecte")'>
                        <span class="fa fa-plus mr-2"></span>Nouvelle collecte
                    </a>
                {% endif %}
            </div>
            <div class="col-12">
                <table id="tableCollecte_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    {% include "collecte/modalNewCollecte.html.twig" %}
    {% include "collecte/modalEditCollecte.html.twig" %}
    {% include "collecte/modalDeleteCollecte.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let id = 0;
    </script>
    <script src="{{ asset('js/collecte.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
