{% extends 'layout.html.twig' %}

{% block title %}Demandes de collecte{% endblock %}

{% block page_content %}

    {% block page_filter %}
        {% include 'filters/filtersDemands.html.twig' with {
            'page': 'PAGE_DEM_COLLECTE',
            'tableSelector': '#tableCollecte_id',
            'callback': 'callbackSaveFilter'
        } %}
    {% endblock %}
    <div class="col-12">
        <h1>Demandes de collecte</h1>
    </div>
    <div class='col-12'>
        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
            <a href="" data-toggle="modal" data-target="#modalNewCollecte" class="btn btn-primary"
               onclick='initNewCollecteEditor("#modalNewCollecte"), clearModal("#modalNewCollecte")'>
                <span class="fa fa-plus mr-2"></span>Nouvelle collecte
            </a>
        {% endif %}
    </div>

    <div class="col-12">
        <table id="tableCollecte_id" class="table table-striped table-bordered w-100">
        </table>
    </div>
    {% include "collecte/modalNewCollecte.html.twig" %}
    {% include "collecte/modalEditCollecte.html.twig" %}
    {% include "collecte/modalDeleteCollecte.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let id = 0;
    </script>
    <script src="{{ asset('js/collecte.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
