<form class="form-group">
    <div class="mb-3">
        <label for="code">Code article</label>
        <select class="form-control select2" id="code" name="code">
            <option value="">Choisir un code article...</option>
            {%  for article in articles %}
                <option value="{{ article.id }}" data-quantity="{{ article.quantite }}">{{ article.nom }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <div class="form-row">
            <label for="quantity">Quantité</label>
            <input class="form-control" type="number" min=0 id="quantity" name="quantity" value="">
        </div>
    </div>
</form>
