<!-- Modale Modification de quantité à collecter d'un article -->
<div method="" class="modal fade" id="modalEditArticle" role="dialog" aria-labelledby="modalModifyArticleTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier la quantité"
            } %}

            <div class="modal-body"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {id: 'submitEditArticle', classes: 'save btn btn-success', name: 'collecteRef', text: 'Valider'}
                ],
            } %}

        </div>
    </div>
</div>
