<form method="" class="modal fade" id="modalDeleteCollecte" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer la collecte"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette collecte ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', id: 'submitDeleteCollecte', dismiss: true, name: 'collecte', text: 'Supprimer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
