<!-- Modale Ajout d'article -->
<div method="" class="modal fade" id="modalNewArticle" role="dialog" aria-labelledby="modalAddArticleTitle"
    aria-hidden="true" data-collecte-id="{{ collecte.id }}">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter un article"
            } %}

            <div class="modal-body modal-input container-fluid">
                <form class="row">
                    <div class="form-group col-12 mb-3 w-100">
                        <label for="reference" title="référence">
                            {{ 'reference.référence'|trans }}*
                        </label>
                        <select class="ajax-autocomplete data form-control needed"
                            onchange="ajaxGetCollecteArticle($(this), {{ collecte.id }})" id="reference" name="referenceArticle">
                        </select>
                    </div>
                    <div id='selection' class="col-12 clear p-0">

                    </div>
                    <div id='editNewArticle' class="col-12 clear">

                    </div>
                </form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                classes: 'd-none',
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', text: 'Ajouter', id: 'submitNewArticle', name: 'collecte',
                       value: collecte.id}
                ],
            } %}

        </div>
    </div>
</div>
