<!-- Modale Modification de quantité à collecter d'un article -->
<div method="" class="modal fade" id="modalEditArticle" role="dialog" aria-labelledby="modalModifyArticleTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier la quantité"
            } %}

            <div class="modal-body"></div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <div class="btn btn-outline-secondary" data-dismiss="modal">Annuler</div>
                <div id="submitEditArticle" class="save btn btn-success" name="collecteRef" value="">Valider</div>
            </div>
        </div>
    </div>
</div>
