<form method="" class="modal fade" id="modalCannotValidate" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Valider la demande"
            } %}

            <div class="modal-body">
                Cette demande ne contient aucun article.<br>
                Veuillez en ajouter avant de la valider.
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
