<div class="form-group col-12 d-flex  mb-3">
    <label for="quantity-to-collect">Quantité à collecter*</label>
    <input class="form-control data needed" type="number" min=1 id="quantity-to-collect" name="quantity-to-pick" value="0">
</div>
