<div class="form-group col-12 d-flex  mb-3">
    <label for="quantity">Quantité</label>
    <input class="form-control data" type="number" min=0 id="quantity" name="quantitie" value="">
</div>
{% if modifieRefArticle %}
    {% include "reference_article/modalEditRefArticleContent.html.twig" %}
{% endif %}