<div class="form-group w-100 mt-2">
    <label for="code">Code article*</label>
    <select class="form-control ajax-autocomplete-article data select2" id="article" onchange="ajaxEditArticle($(this))" name="article">
        <option value="">choisir un article</option>
        {% for article in articles %}
            <option value="{{article.id}}">{{article.barCode}}</option>
        {% endfor %}
    </select>
</div>
