{% extends 'layout.html.twig' %}

{% block title %}Demande de collecte{% endblock %}

{% block page_content %}
<h1>Demande de collecte n° {{ collecte.numero }}</h1>
<div class="zone-entete row">
    {% include "collecte/enteteCollecte.html.twig" %}
</div>

<table id="tableArticle_id" class="table table-striped" data-collecte-id="{{ collecte.id }}">
    <thead>
        <tr>
            <th>Référence CEA</th>
            <th>Libellé</th>
            <th>Emplacement</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{% include "collecte/modalNewArticle.html.twig" %}
{% include "collecte/modalDeleteArticle.html.twig" %}
{% include "collecte/modalEditArticle.html.twig" %}

{% include "collecte/modalDeleteCollecte.html.twig" %}
{% include "collecte/modalEditCollecte.html.twig" %}

{% endblock %}

{% block javascript %}
<script>
    let id = {{ collecte.id }};
</script>
<script src="{{asset('js/collecte.js')}}"></script>

{% endblock %}