{% extends 'layout.html.twig' %}

{% block pageContainerClass 'd-flex justify-content-center align-items-center h-100' %}
{% block title %}Accès refusé{% endblock %}

{% block page_content %}
        <div class="text-center">
            <i class="fas fa-exclamation-triangle fa-7x"></i>
            <h1 class="main-title">{{ app.user.username|capitalize }}, vous n'avez pas l'autorisation d'accéder à cette page.</h1>

            <p>Vous ne disposez pas des droits nécessaires pour accéder à cette page.</p>
            <p>
                <em>Veuillez contacter votre administrateur si vous souhaitez modifier vos droits d'accès.</em>
            </p>
            <p class="mt-3 btn btn-primary">
                <a href="{{ path('accueil') }}">Retour à l'accueil</a>
            </p>
        </div>
{% endblock %}
