{% extends 'base.html.twig' %}

{% block title %}Site en maintenance{% endblock %}

{% block classbody %}
    class='new-body'
{% endblock %}

{% block body %}
    <div class="alert-danger">
        SITE EN MAINTENANCE. MERCI DE PATIENTER.
    </div>
{% endblock %}
