{% extends 'base.html.twig' %}

{% block title %}Site en maintenance{% endblock %}

{% block classbody %}
style='background-image: url({{asset('img/GTXBackAccueil2red.png')}})'
class='accueil-back'
{% endblock  %}

{% block body %}
    <div class="alert-danger">
        SITE EN MAINTENANCE. MERCI DE PATIENTER.
    </div>
{% endblock %}
