<form method="" class="modal fade" id="modalNoUser" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mot de passse oublié</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cette adresse mail n'est liée à aucun compte connu de l'application.<br>
                Veuillez vous créer un compte.
            </div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal">Fermer</div>
            </div>
        </div>
    </div>
</form>