{% extends 'layout.html.twig' %}

{% block body %}
    <div class="header-container d-flex {{ app_environment }}">
        {% include 'header.html.twig' with {
            withOnlyLogo: 1
        } %}
    </div>
{% endblock %}
