<div class="blocIndicators d-inline-block">
    <div class="plus-btn btnIndicators" data-toggle="collapse" data-target="#indicators"
         aria-expanded="false" aria-controls="indicators">
        <span class="icon"></span>
    </div>
    <div class="collapse indicators">
        <div class="card card-body">
            {% include 'accueil/dashboardIndicatorsList.html.twig' %}
        </div>
    </div>
</div>
