<div class="row">
    <p class="col-12 white">
        Dashboard | RÉCEPTION ADMINISTRATIVE
    </p>
</div>
<div class="row mt-4">
    <div class="col-8">
        <div class="dashboard-box-wrapper">
            <div class="dashboard-box">
                <div class="row">
                    <div class="col-8">
                        <p class="title">
                            Entrées à effectuer<br>
                        </p>
                        <canvas id="chartFirstForAdmin" width="300" height="90"></canvas>
                    </div>
                    <div class="col-4 text-center align-self-center">
                        <p class="title">
                            Nombres de lignes restantes à traiter :
                        </p>
                        <p class="title">
                            <strong id="totalForChart1"></strong>
                            {#                {{ totalForChart1 }}#}
                        </p>
                        <p class="title">
                            Prochain bac/palette à traiter :
                        </p>
                        <p class="title">
                            <strong id="empForChart1"></strong>
                            {#                {{ empForChart1 }}#}
                        </p>
                    </div>
                </div>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 dashboard-box-wrapper align-self-center">
        <div class="dashboard-box">
            <h4 class="title">
                Nombres d'urgences restantes à recevoir : <strong id="urgenceCountCount"></strong>
            </h4>
            <h4 class="title">
                Nombres d'urgences restantes à traiter (<span id="enCoursUrgenceLabel"></span>) : <strong id="enCoursUrgenceCount"></strong>
            </h4>
            <h4 class="title">
                Nombres de lignes en litiges (<span id="enCoursLitigeLabel"></span>) : <strong id="enCoursLitigeCount"></strong>
            </h4>
            <h4 class="title">
                Nombres de colis en attente de dédouanement (<span id="enCoursClearanceLabel"></span>) : <strong id="enCoursClearanceCount"></strong>
            </h4>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <div class="dashboard-box-wrapper">
            <div class="dashboard-box">
                <div class="row">
                    <div class="col-8">
                        <p class="title">
                            Entrées à effectuer<br>
                        </p>
                        <canvas id="chartSecondForAdmin" width="300" height="90"></canvas>
                    </div>
                    <div class="col-4 text-center align-self-center">
                        <p class="title">
                            Nombres de lignes restantes à traiter :
                        </p>
                        <p class="title">
                            <strong id="totalForChart2"></strong>
                            {#                {{ totalForChart1 }}#}
                        </p>
                        <p class="title">
                            Prochain palette à traiter :
                        </p>
                        <p class="title">
                            <strong id="empForChart2"></strong>
                            {#                {{ empForChart1 }}#}
                        </p>
                    </div>
                </div>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
            </div>
        </div>
    </div>
</div>
