<div class="row">
    <p class="col-12 white">
        Dashboard | RÉCEPTION QUAI
    </p>
</div>
<div class="row mt-2">
    <div class="col-10 row">
        <div class="col-7 dashboard-box-wrapper third-height">
            <div class="dashboard-box">
                <p class="title">
                    Arrivages quotidiens<br>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <div class="h-100">
                    <canvas id="chartDailyArrival" width="300" height="90"></canvas>
                </div>
            </div>
        </div>
        <div class="col-5 dashboard-box-wrapper third-height">
            <div class="dashboard-box">
                <p class="title">
                    Arrivages hebdomadaires<br>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <div class="h-100">
                    <canvas id="chartWeeklyArrival" width="300" height="90"></canvas>
                </div>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="encours-dock-box" class="dashboard-box text-center">
                <p>Colis restant à traiter<br>
                    (<span class="location-label">-</span>)<br>
                    <span class="figure counter">-</span>
                </p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="encours-clearance-box-dock" class="dashboard-box text-center">
                <p>Colis en attente dédouanement<br>
                    (<span class="location-label">-</span>)<br>
                    <span class="figure counter">-</span>
                </p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="encours-cleared-box" class="dashboard-box text-center">
                <p>Colis dédouanés et dispo<br>
                    (<span class="location-label">-</span>)<br>
                    <span class="figure counter">-</span>
                </p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="remaining-urgences-box-dock" class="dashboard-box text-center">
                <p>Urgences restantes à recevoir<br>
                    <span class="figure red counter">-</span>
                </p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height align-self-center">
            <div id="encours-dropzone-box" class="dashboard-box text-center">
                <p>Colis à déposer en Drop Zones<br>
                    (<span class="location-label">-</span>)<br>
                    <span class="figure counter">-</span>
                </p>
            </div>
        </div>
        <div class="col-9 dashboard-box-wrapper third-height">
            <div class="dashboard-box">
                <p class="title">
                    Nombre de colis distribués en Dropzone<br>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <div class="h-100">
                    <canvas id="chartColis" width="300" height="90"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="title">
                    Suivi des transporteurs<br>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <div class="little-font" id="statistics-arrival-carriers"></div>
            </div>
        </div>
    </div>
</div>
