<div class="row">
    <p class="col-12 white">
        Dashboard | RÉCEPTION ADMINISTRATIVE
    </p>
</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="row">
            <div class="col-8 dashboard-box-wrapper third-height">
                <div class="dashboard-box">
                    <p class="title">
                        Entrées à effectuer
                        {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
                            Composant
                        {% endif %}
                    </p>
                    <div class="points">
                        {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                    </div>
                    <div class="h-100">
                        <canvas id="chartFirstForAdmin" width="300" height="90"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-4 align-self-center">
                <div class="m-1">
                    <div class="dashboard-box-wrapper side-panels">
                        <div class="dashboard-box text-center">
                            <p>
                                Nombres de lignes restantes à traiter
                            </p>
                            <p class="little-font">
                                <strong id="totalForChart1" class="figure"></strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="dashboard-box-wrapper side-panels">
                        <div class="dashboard-box text-center">
                            <p>
                                Prochain emplacement à traiter
                            </p>
                            <p class="little-font">
                                <strong id="empForChart1" class="figure"></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-8 dashboard-box-wrapper third-height">
                <div class="dashboard-box">
                    <p class="title">
                        Entrées à effectuer
                        {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
                            Méca
                        {% endif %}
                    </p>
                    <div class="points">
                        {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                    </div>
                    <div class="h-100">
                        <canvas id="chartSecondForAdmin" width="300" height="90"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-4 align-self-center">
                <div class="m-1">
                    <div class="dashboard-box-wrapper side-panels">
                        <div class="dashboard-box text-center">
                            <p>
                                Nombres de lignes restantes à traiter
                            </p>
                            <p class="little-font">
                                <strong id="totalForChart2" class="figure"></strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-1">
                    <div class="dashboard-box-wrapper side-panels">
                        <div class="dashboard-box text-center">
                            <p>
                                Prochain emplacement à traiter
                            </p>
                            <p class="little-font">
                                <strong id="empForChart2" class="figure"></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3">
        <div class="dashboard-box-wrapper fourth-height m-1">
            <div id="remaining-urgences-box-admin" class="dashboard-box text-center">
                <p>
                    Urgences restantes à recevoir<br>
                    <span class="figure red counter">-</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="dashboard-box-wrapper fourth-height m-1">
            <div id="encours-urgence-box" class="dashboard-box text-center">
                <p>
                    Urgences restantes à traiter<br>
                    (<span class="location-label">-</span>)<br>
                    <span class="figure counter">-</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="dashboard-box-wrapper fourth-height m-1">
            <div id="encours-litige-box" class="dashboard-box text-center">
                <p>
                    Lignes en litiges<br>
                    (<span class="location-label">-</span>)<br>
                    <span class="figure counter">-</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="dashboard-box-wrapper fourth-height m-1">
            <div id="encours-clearance-box-admin" class="dashboard-box text-center">
                <p>
                    Colis en attente de dédouanement<br>
                    (<span class="location-label">-</span>)<br>
                    <span class="figure counter">-</span>
                </p>
            </div>
        </div>
    </div>
</div>
