<input type="hidden" class="page-title" value="Dashboard | MONITORING EMBALLAGE"/>

<div class="row no-gutters {{ not isDashboardExt ? 'mt-2' }}">
    <div class="col mr-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging1">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging2">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter {{ isDashboardExt ? 'medium-font' : 'small' }}"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging3">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging4">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col ml-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center" id="packagingTotal">
                <p class="text-center title mt-1">
                    Nombre total d'OF à traiter<br/>(hors urgences)
                </p>
                <div class="align-items-center mb-2">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters mt-2">
    <div class="col mr-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging5">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging6">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging7">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging8">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col ml-2">
        <div class="dashboard-box-container third-row-height">
            <div class="dashboard-box dashboard-stats-container text-center" id="packagingUrgence">
                <p class="text-center title mt-1">
                    Nombre d'OF
                </p>
                <div class="location-label ellipsis subtitle"></div>
                <div class="align-items-center mb-3">
                    <p class="dashboard-stats dashboard-stats-counter red"></p>
                </div>
                <p class="text-center title dashboard-stats-delay-title">
                    A traiter sous :
                </p>
                <div class="align-items-center">
                    <p class="dashboard-stats dashboard-stats-delay"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters mt-2">
    <div class="col-auto mr-2"
         style="width: calc(100% - (100% - 64px) / 5 - 2 * 8px) !important">
        <div class="dashboard-box-container third-height">
            <div class="dashboard-box">
                <p class="title ">OF traités</p>
                <div class="h-100">
                    <canvas id="chartTreatedPacks" width="300" height="90"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col ml-2">
        <div class="row h-100">
            <div class="col-12">
                <div class="dashboard-box-container fourth-row-height pb-1">
                    <div class="dashboard-box dashboard-stats-container text-center" id="packagingRPA">
                        <p class="text-center title mt-1">
                            Nombre d'OF
                        </p>
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mt-1">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="dashboard-box-container fourth-row-height pt-1">
                    <div class="dashboard-box dashboard-stats-container text-center" id="packagingLitige">
                        <p class="text-center title mt-1">
                            Nombre d'OF
                        </p>
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mt-1">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
