{% extends 'base.html.twig' %}

{% block classbody %}
    class='new-body'
{% endblock  %}

{% block body %}
<div class="wrapper pl-0 degrade">
    <div class="container-fluid justify-content-between">
        <input type="hidden" id="isDashboardExt" value="1"/>
        {% if page == 'quai' %}
            {% include 'accueil/dashboardDockReception.html.twig' with { 'isDashboardExt': 1 } %}
        {% elseif page == 'admin' %}
            {% include 'accueil/dashboardAdminReception.html.twig' with { 'isDashboardExt': 1 } %}
        {% endif %}
        <div class="row">
            <div class="col-12 little-font text-right fixed-bottom z-index-back">
                Actualisé le <span class="refreshDate">{{ "now"|date("d/m/Y à H:i", "Europe/Paris") }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src = "{{ asset('js/dashboard.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
