<input type="hidden" class="page-title" value="Dashboard | EMBALLAGE"/>


<div class="row no-gutters">
    <div class="col-md-10 d-flex flex-column">
        <div class="row no-gutters flex-fill">
            <div class="col mr-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging1">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging2">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter {{ isDashboardExt ? 'medium-font' : 'small' }}"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging3">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging4">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging5">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters flex-fill mt-2">
            <div class="col mr-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging6">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging7">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging8">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging9">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-2">
                <div class="dashboard-box-container third-row-height">
                    <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging10">
                        <div class="location-label ellipsis subtitle"></div>
                        <div class="align-items-center mb-3">
                            <p class="dashboard-stats dashboard-stats-counter"></p>
                        </div>
                        <p class="text-center title dashboard-stats-delay-title">
                            A traiter sous :
                        </p>
                        <div class="align-items-center">
                            <p class="dashboard-stats dashboard-stats-delay"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters {{ isDashboardExt ? 'third-height' : 'half-height' }} mt-2">
            <div class="col pr-2">
                <div class="dashboard-box-container h-100">
                    <div class="dashboard-box">
                        <p class="title ">OF traités</p>
                        <div class="h-100">
                            <canvas id="chartTreatedPacks" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row no-gutters">
            <div class="dashboard-box-container fourth-row-height w-100">
                <div class="dashboard-box dashboard-stats-container text-center" id="packagingTotal">
                    <p class="text-center title mt-1">
                        Nombre total d'OF à traiter<br/>(hors urgences)
                    </p>
                    <div class="align-items-center mb-2">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-2">
            <div class="dashboard-box-container multi-line-box w-100">
                <div class="dashboard-box dashboard-stats-container text-center" id="packagingUrgence">
                    <div class="location-label ellipsis subtitle"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter red"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-2">
            <div class="dashboard-box-container fourth-row-height w-100">
                <div class="dashboard-box dashboard-stats-container text-center" id="packagingRPA">
                    <div class="location-label ellipsis subtitle"></div>
                    <div class="align-items-center mt-1">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-2">
            <div class="dashboard-box-container fourth-row-height w-100">
                <div class="dashboard-box dashboard-stats-container text-center" id="packagingLitige">
                    <div class="location-label ellipsis subtitle"></div>
                    <div class="align-items-center mt-1">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-2">
            <div class="dashboard-box-container fourth-row-height w-100">
                <div class="dashboard-box dashboard-stats-container text-center" id="packagingKitting">
                    <div class="location-label ellipsis subtitle"></div>
                    <div class="align-items-center mt-1">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
