<div class="row">
    <p class="text-center">
        Monitoring Réception Quai
    </p>
</div>
<div class="row">
    <div class="col-10 row">
        <div class="col-7 dashboard-box-wrapper">
            <div class="dashboard-box p-3">
                <h4 class="bold mb-2">Arrivages quotidiens</h4>
                <canvas id="chartDailyArrival" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="col-5 dashboard-box-wrapper">
            <div class="dashboard-box p-3">
                <h4 class="bold mb-2">Arrivages hebdomadaires</h4>
                <canvas id="chartWeeklyArrival" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="figure">18</p>
                <p>colis restants à traiter sur le quai (ESC ARG)</p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="figure">11</p>
                <p>colis en attente de dédouanement (MAD DOUANES)</p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="figure">11</p>
                <p>colis dédouanés et disponibles (DOUANES OK)</p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="figure">1</p>
                <p>urgences restant à recevoir</p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="figure">23</p>
                <p>colis à distribuer en Drop Zones (CHARIOT COLIS)</p>
            </div>
        </div>
        <div class="col-9 dashboard-box-wrapper">
            <div class="dashboard-box p-3">
                <h4 class="bold mb-2">Colis</h4>
                <canvas id="chartColis" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <div class="col-2 dashboard-box-wrapper">
        Suivi transporteurs
    </div>
</div>
