<div class="row{% if isDashboardExt %} align-items-end{% endif %}">
    {% if isDashboardExt %}
        <div class="col-auto">
            <img src="{{ asset('img/followGTwhite.svg') }}" alt="Logo" height="140px">
        </div>
    {% endif %}
    <div class="white col {{ isDashboardExt ? 'ext-title-font' }}">
        <p class="lh-1">{{title}}</p>
    </div>
</div>
