{% extends 'layout.html.twig' %}

{% block classbody %}
{#    style='background-image: url({{ asset('img/GTXBackAccueil2red.png') }})'#}
{#    class='accueil-back'#}
{% endblock %}

{% block page_content %}
    <div id="carouselIndicators" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-9 row mt-2 ml-0">
                        {% include 'accueil/dashboard.html.twig' %}
                    </div>
                    <div class="col-3 mt-2" id="dashboardLinks">
                        {% include 'accueil/dashboardLinks.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div></div>
            </div>
            <div class="carousel-item">
                <div></div>
            </div>
        </div>
    </div>

    {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) %}
        {% include "accueil/linkToAddArticleForm.html.twig" %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const id = 0;
    </script>
    <script src = "{{ asset('js/dashboard.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
