{% extends 'layout.html.twig' %}

{% block classbody %}
{#    style='background-image: url({{ asset('img/GTXBackAccueil2red.png') }})'#}
{#    class='accueil-back'#}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-9 row dashboard-container mt-2">
            {% include 'accueil/dashboard.html.twig' %}
        </div>
        <div class="col-3 mt-2">
            {% include 'accueil/dashboardLinks.html.twig' %}
        </div>
    </div>

    {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) %}
        {% include "accueil/linkToAddArticleForm.html.twig" %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const id = 0;
    </script>
    <script src="{{ asset('js/accueil.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
