{% extends 'layout.html.twig' %}

{% block classbody %}
style='background-image: url({{asset('img/GTXBackAccueil2red.png')}})'
class='accueil-back'
{% endblock %}

{% block page_content %}
<div class="row ">
    <div class="col-3">
        {# <div class='row'>
            <div href="" data-toggle="modal" data-target="#modalNewDemande" class="btn btn-primary">
                <span class="fa fa-plus mr-2"></span>Nouvelle demande
            </div> #}
        </div>
    </div>
    <div class="text-center offset-6 col-1 alerte">
        <p>Alertes de seuil</p>
        <a href="{{path('alerte_index')}}">
            <span class="fa fa-warning fa-2x"></span><br>
            <p class="alert-nb">{{nbAlerte}}</p>
        </a>
    </div>
</div>

{% include "demande/modalNewDemande.html.twig" %}

{% endblock %}
{% block javascript %}
<script>
    const id = 0;
</script>
<script src="{{ asset('js/demande-livraison.js')}}"></script>
{% endblock %}