{% extends 'layout.html.twig' %}

{% block classbody %}
style='background-image: url({{asset('img/GTXBackAccueil2red.png')}})'
class='accueil-back'
{% endblock %}

{% block page_content %}
<div class="row ">
        <div class="square align-self-end col">
            <div class="text-center square-content">
                <h2 style="color:white">Alertes de seuil</h2>
                <a href={{path('alerte_index')}} class="fa fa-warning">
                    <div class="marker">{{nbAlerte}}</div>
                </a>
 
        </div>
    </div>
</div>
{% endblock %}