{% extends 'layout.html.twig' %}

{% block wrapperClass 'd-flex flex-column' %}
{% block pageContainerClass 'flex-grow-1 p-0' %}

{% block title %}Dashboard | RÉCEPTION ARRIVAGE{% endblock %}

{% block page_content %}
    {% if hasRight(constant('App\\Entity\\Menu::ACCUEIL'), constant('App\\Entity\\Action::DISPLAY_INDI')) %}
        <div class="spinner-grow dashboard-spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div id="carouselIndicators" class="carousel slide">
            <ol class="carousel-indicators d-none">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner h-100">
                <div class="carousel-item active d-none" id="arrivalDashboard">
                    {% include 'accueil/dashboardArrival.html.twig' %}
                </div>
                <div class="carousel-item" id="dockDashboard">
                    {% include 'accueil/dashboardDockReception.html.twig' with { 'isDashboardExt': 0 } %}
                </div>
                <div class="carousel-item" id="adminDashboard">
                    {% include 'accueil/dashboardAdminReception.html.twig' with { 'isDashboardExt': 0 } %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 little-font text-right fixed-bottom z-index-back">
                    Actualisé le <span class="refreshDate">{{ "now"|date("d/m/Y à H:i", "Europe/Paris") }}</span>
                </div>
            </div>
        </div>
    {% endif %}

    {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) %}
        {% include "accueil/linkToAddArticleForm.html.twig" %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
