{# CE FICHIER EST A SUPPRIMER SUITE A L'INTEGRATION DES CARTES DANS LE TEMPLATE APPROPRIE #}

<div class="row m-4">
    {% include 'accueil/request-card.html.twig' with
        {
            requestOnClick: 'cardClicked()',
            estimatedFinishTime: '12:00 - 14:15',
            requestStatus: 'Livraison à traiter',
            requestBodyTitle: '16 articles - type de livraison',
            requestLocation: 'MP51 - Poly',
            requestNumber: 'D-20070001',
            requestDate: '27 juil. (13:30)',
            requestUser: 'B. Coste',
            cardColor: 'white',
            bodyColor: 'lightGrey',
            topRightIcon: 'fa-box',
            progress: '25',
            progressBarColor: '#2ec2ab',
            progressBarBGColor: 'lightGrey'
        } %}
    {% include 'accueil/request-card.html.twig' with
        {
            requestOnClick: 'cardClicked()',
            estimatedFinishTime: '12:00 - 14:15',
            requestStatus: 'Brouillon',
            requestBodyTitle: '16 articles - type de livraison',
            requestLocation: 'MP51 - Poly',
            requestNumber: 'D-20070001',
            requestDate: '27 juil. (13:30)',
            requestUser: 'B. Coste',
            cardColor: 'lightGrey',
            bodyColor: 'white',
            topRightIcon: 'fa-box',
            progress: '0',
            progressBarColor: '#2ec2ab',
            progressBarBGColor: 'white'
        } %}
</div>
