<form method="post" action="{{ path('sous_categories_vehicules_delete', {'id': sous_categories_vehicule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sous_categories_vehicule.id) }}">
    <button class="btn">Delete</button>
</form>
