{% extends 'layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block page_content %}

    <div class="row backgray filter-wrapper">
        <div class="input-group">
            <label class="input-group-addon">
                Catégorie
            </label>
            <select class="form-control">
                <option>Catégorie1</option>
                <option>Catégorie2</option>
                <option>Catégorie3</option>
            </select>
        </div>
        <div class="form-group">
            <input type="search" class="form-control" placeholder="Référence">
        </div>
        <a class="btn more-filter">Plus de filtres</a>
        <a href="#" class="button btn-right">
            Filtrer<span class="fa fa-angle-double-right"></span></a>
    </div>

    <div class="row page-title">
        REFERENTIEL ARTICLES
    </div>

    <div class="row btn-grp">
        <button class="button btn-left">
            <span class="fa fa-upload"></span>Importer
        </button>
        <a href="{{ path('references_articles_create') }}" class="button btn-left">
            <span class="fa fa-plus"></span>Ajouter un article
        </a>
    </div>

    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="libelle">Libellé</th>
                <th data-column-id="reference">Référence</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
                {% for item in articles %}   
                <tr>
                    <td>{{item.libelle}}</td>
                    <td>{{item.reference}}</td>
                    <td> </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>


    <!-- Modal Confirmation-->
    <div id="supprModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-warning"></span>
                        Suppression</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
                    <form>
                        <button type="submit" class="btn btn-success btn-block">

                            Oui</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left pull-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var grid = $("#grid-data").bootgrid({
            rowCount: [
                10, 25, 50, -1
            ],
            ajax: false,
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-pencil\"></span></button> " + "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function (e) {
                let url ="{{ path('articles_edit', {'id': 'edit_id'}) }}";
                let id = $(this).attr("data-row-id");
                url = url.replace("edit_id", id);
                window.location.href = url;
            }),
            grid.find(".command-delete").on("click", function (e) {
                $("#supprModal").modal();
            })
        });
    </script>
{% endblock %}