<div class="mb-2 bg-white d-flex flex-row w-100 allow-expand">
    {% include 'pack/utils/packItemListTemplate.html.twig' with {
        header: {
            data: {
                'pack-id': pack.id,
            },
            sideLabel: pack.nature,
            color: pack.color,
            content: [
                {label: 'Unité logistique', value: pack.code, bold: 'label'},
                {label: 'Quantité', value: pack.quantity , bold: 'label'}
            ] | merge(pack.elapsedTime ? [{label: 'Délai de traitement', value: pack.elapsedTime, bold: 'label'}] : []),
        },
    } %}
</div>
