{% set truckArrival = truckArrival ?? null %}

{% if truckArrival %}
    <a href="{{ path('arrivage_show', {'id': truckArrival.id}) }}">
        <u>{{ truckArrival.noTracking }}</u>
    </a>
{% endif %}
