<form method="" class="modal fade" id="modalDeletePack" role="dialog" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Supprimer la référence article'
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer ce colis ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {input: true, classes: arrivage is defined ? 'data', name: 'arrivage', value: arrivage is defined ? arrivage.id},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', name: 'pack', id: 'submitDeletePack'}
                ],
            } %}
        </div>
    </div>
</form>
