{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | Unités Logistiques | Détails{% endblock %}

{% block page_content %}
    <div class="details-page-container d-flex justify-content-center align-content-center">
        <div class="row wii-column">
            <div class="col-12 col-md-6">
                <div class="details-page-header d-flex flex-column">
                    <div class="wii-type"></div>
                    <div class="d-flex header-wrapper">
                    </div>
                </div>
                <div class="wii-box mt-3">
                    <div class="header wii-title">Description</div>
                    <div class="content"></div>
                </div>
                <div class="wii-box mt-3">
                    <div class="header wii-title">Champs libres</div>
                    <div class="content"></div>
                </div>
                <div class="wii-box">
                    <div class="header wii-title">Contenu unité logistique</div>
                    <div class="content"></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="wii-box">
                    <div class="header wii-title">Historique de traçabilité</div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
