<form method="post" action="{{ path('references_fournisseurs_delete', {'id': references_fournisseur.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la référence fournisseur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ references_fournisseur.id) }}">
    <button class="btn">Delete</button>
</form>