{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        {% set values = setting_value("DISPATCH_OVERCONSUMPTION_BILL_TYPE_AND_STATUS")|split(';') %}
        <div class="col-12">
            <span>Génération bon de surconsommation pour type</span>
            <div class="d-inline-block w-100px">
                {{ form.select("DISPATCH_OVERCONSUMPTION_BILL_TYPE", null, false, {
                    items: types,
                    value: values[0] ?? '',
                }) }}
            </div>
            <span>passe {{ 'acheminement.acheminement'|trans }} au statut</span>
            <div class="d-inline-block w-100px">
                {{ form.select("DISPATCH_OVERCONSUMPTION_BILL_STATUS", null, false, {
                    items: statuses,
                    value: values[1] ?? '',
                    labelClass: 'd-inline-block w-100px',
                }) }}
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            {{ form.image(setting('FILE_OVERCONSUMPTION_LOGO'), 'Logo du bon de surconsommation', false, setting_value('FILE_OVERCONSUMPTION_LOGO'), {
                formats: 'image/png, image/jpeg, image/jpg'
            }) }}
        </div>
    </div>
</div>
