{% import 'form.html.twig' as form %}

{# Dispatch fixed field settings #}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\Fields\\FixedFieldStandard::FIELD_CODE_EMERGENCY'),
    field: emergency.field,
    elementsType: emergency.elementsType,
    elements: emergency.elements,
    fixedFieldType: constant('App\\Entity\\Fields\\FixedFieldByType::FIELD_TYPE'),
} %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\Fields\\FixedFieldStandard::FIELD_CODE_BUSINESS_UNIT'),
    field: businessUnit.field,
    elementsType: businessUnit.elementsType,
    elements: businessUnit.elements,
    fixedFieldType: constant('App\\Entity\\Fields\\FixedFieldByType::FIELD_TYPE'),
} %}

{# Dispatch logistic unit fixed field settings #}

{% for field, values in dispatchLogisticUnitFixedFields %}
    {% include 'settings/fixed_field_elements.html.twig' with {
        modal: field,
        field: values.field,
        elementsType: businessUnit.elementsType,
        elements: values.elements,
        fixedFieldType: constant('App\\Entity\\Fields\\SubLinefixedField::FIELD_TYPE'),
    } %}
{% endfor %}

<div class="row p-3">
    <div class="col-12 mb-3 wii-small-text">
        Contrairement aux champs libres, les champs fixes ne peuvent ni être supprimés, ni ajoutés. Vous pouvez
        paramétrer leur visibilité ou leur caractère obligatoire.
    </div>
</div>

<div class="wii-section-title">Entête</div>
<div class="row p-3 typeChoice">
    <div class="col-12 mb-3 wii-small-text">
        {% block filters %}
            {{ form.switch('type', null, false, types, {expanded: true}) }}
        {% endblock %}
    </div>
</div>

<div class="wii-section">
    <table id="table-dispatch-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFieldsByType">
        {% include 'datatable/main-header.html.twig' with {
            needsFilterColumn: false,
            cells: 5
        } %}

    </table>
</div>

<div class="wii-section-title mt-3">Unités logistiques</div>
<div class="wii-section">
    <table id="table-dispatch-addition-fixed-fields" class="table no-border-top w-100" data-table-processing="subFixedFields">
        {% include 'datatable/addition-table-header.html.twig' with {
            cells: 3
        } %}
    </table>
</div>
