{% import 'form.html.twig' as form %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY'),
    field: emergency.field,
    elements: emergency.elements,
} %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT'),
    field: businessUnit.field,
    elements: businessUnit.elements,
} %}

<div class="wii-section">
    <table id="table-dispatch-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFields">
        {% include 'datatable/main-header.html.twig' with {
            cells: 6
        } %}
    </table>
</div>
