<div class="form-group">
    <label for="Nom">
        Nom*
    </label>
    <input type="text"
           class="form-control data needed"
           name="label"
           value="{{ visibilityGroup.label }}">
</div>
<div class="form-group">
    <label for="codeReference">
        Description*
    </label>
    <input type="text"
           class="form-control data needed"
           name="description"
           value="{{ visibilityGroup.description }}">
</div>

{% if visibilityGroup.id %}
    <div class="form-group">
        <label>Actif ?</label>
        <label class="switch ml-2">
            <input class="checkbox data needed" type="checkbox" {{ visibilityGroup.active ? 'checked' }} name="active">
            <span class="slider round"></span>
        </label>
    </div>
{% endif %}
