<div class="d-flex">
    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_ORDRE_COLL')) %}
        <a href='{{ url.show }}'>
            <div class="btn btn-col-action">
                <i class='fas fa-eye'></i>
            </div>
        </a>
    {% endif %}
</div>