<form class="modal fade" id="modalNewSensorPairing" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Associer un capteur"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-md-4 col-12">
                        <label>Capteur*</label>
                        <div class="w-100">
                            <select class="form-control data input" name="sensorWrapper" data-s2="sensorWithoutPairing" data-placeholder="Sélectionner un capteur..."
                                    onchange="onDeviceChanged($(this))">
                            </select>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center my-auto">
                        <label>OU</label>
                    </div>
                    <div class="form-group col-md-4 col-12">
                        <label>Code capteur*</label>
                        <div class="w-100">
                            <select class="form-control data" name="sensor" data-s2="sensorCodeWithoutPairing" data-placeholder="Sélectionner un code capteur..."
                                    onchange="onDeviceChanged($(this))">
                            </select>
                        </div>
                    </div>
                </div>
                <p class="font-italic">Le capteur sera dissocié automatiquement à la fin de la collecte</p>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {input: true, classes: 'data', name: 'orderId', value: collecte.id},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', text: 'Enregistrer', id: 'submitNewSensorPairing'}
                ],
            } %}

        </div>
    </div>
</form>
