<form method="" class="modal fade" id="modalDeleteOrdreCollecte" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer l'ordre de collecte"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cet ordre de collecte ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {input: true, classes: 'data', name: 'collecte', value: collecte.id},
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', dismiss: true, name: 'collecte',
                          id: 'submitDeleteOrdreCollecte'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</form>
