<form method="" class="modal fade" id="modalFinishCollecte" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Choisissez un point de dépose"
            } %}

            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Code barre</th>
                        <th>Point de dépose</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                {% include 'utils/modal/footer.html.twig' with {
                    elements: [
                        {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                        {classes: 'btn btn-success', text: 'Finir la collecte', id: 'submitFinishCollecte'}
                    ],
                } %}

            </div>
        </div>
    </div>
</form>
