{% extends 'utils/show-header.html.twig' %}

{% block showTitle ('Ordre de collecte n°' ~ collecte.numero) %}

{% block showActions %}
    <div class="btn-group">
        {% set hasRightDemandeCollecte = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_COLL')) %}
        {% set hasRightDeleteOrdre = (not finished and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE'))) %}
        {% set hasRightFinish = (not finished and ((collecte.utilisateur is null) or collecte.utilisateur.id == app.user.id)) %}

        {% if hasRightFinish %}
            <button class="btn btn-primary btn-ripple {{ ( hasRightDemandeCollecte or hasRightDeleteOrdre )? 'split-button' }}"
                    {% if collecte.demandeCollecte ? collecte.demandeCollecte.stock : false %}
                        onclick="ajaxAutoCompleteEmplacementInit($('.ajax-autocompleteEmplacement')), checkIfRowSelected(openLocationModal)"
                    {% else %}
                        onclick="checkIfRowSelected(() => finishCollecte($(this), true))"
                    {% endif %}>
                <i class='fas fa-check mr-2 button-icon'></i>
                Finir la collecte
            </button>
        {% endif %}
        {% if (hasRightDemandeCollecte or hasRightDeleteOrdre) %}
            <button type="button"
                    class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="fa fa-angle-down"></span>
            </button>
            <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                {% if hasRightDemandeCollecte %}
                    <a href="{{ path('collecte_show', {'id': collecte.demandeCollecte.id }) }}"
                       class="dropdown-item">
                        <i class="fas fa-external-link-alt mr-2"></i>
                        Aller vers la demande de collecte
                    </a>
                    <button onclick="printCollecteBarCodes()" class="dropdown-item pointer">
                        <i class='fas fa-print print-button'></i> Imprimer les étiquettes
                    </button>
                {% endif %}
                {% if hasRightDeleteOrdre %}
                    <a href="" onclick="deleteRow($(this), $('#modalDeleteOrdreCollecte'), $('#submitDeleteOrdreCollecte'))"
                       data-id='{{ collecte.id }}' data-target='#modalDeleteOrdreCollecte' data-toggle='modal'
                       class="dropdown-item">
                        <i class='fas fa-trash mr-2'></i>
                        Supprimer
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
