{% if not emptyLines %}
    {% for line in lines %}
        {% set logisticUnit = line.pack ?? null %}
        {% include 'pack/utils/packItemListTemplate.html.twig' with {
            header: logisticUnit and logisticUnit.packId is not null
                ? {
                    data: {
                        'pack-id': logisticUnit.packId,
                    },
                    sideLabel: logisticUnit.nature,
                    color: logisticUnit.color,
                    content: [
                        {label: 'Unité logistique', value: logisticUnit.code, bold: 'value'},
                        {label: 'Emplacement', value: logisticUnit.location, bold: 'label'},
                        {label: "Nombre d'articles demandé", value: logisticUnit.currentQuantity ~ "/" ~ logisticUnit.totalQuantity, bold: 'label'},
                    ],
                },
            content: line.articles,
            action: logisticUnit
                ? {
                    icon: 'wii-icon wii-icon-trash-black',
                    onclick: "removeLogisticUnitLine($(this), " ~ logisticUnit.packId ~ ")",
                }
        } %}
    {% endfor %}
{% else %}
    <div class="text-center">Il n'y a aucune ligne sur cette demande de lvraison</div>
{% endif %}
