{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Types{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <button data-toggle="modal" data-target="#modalNewType" class="btn btn-primary btn-ripple" onclick="initNewTypeModal();">
                    <span class="fa fa-plus mr-2"></span>Nouveau type
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableTypes" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include 'types/modalNewType.html.twig' %}
    {% include 'types/modalEditType.html.twig' %}
    {% include 'types/modalDeleteType.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/types-param.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
