{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | types{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row">
            <h1 class="col align-self-start ml-2"></h1>
            <div class="col-auto mb-3">
                <a href="" data-toggle="modal" data-target="#modalNewType" class="btn btn-primary btn-ripple">
                    <span class="fa fa-plus mr-2"></span>Nouveau type
                </a>
            </div>

            <div class="col-12">
                <table id="tableTypes" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include 'types/modalNewType.html.twig' %}
    {% include 'types/modalEditType.html.twig' %}
    {% include 'types/modalDeleteType.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/types-param.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
