<form method="" class="modal fade" id="modalNewType" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="mb-3 form-group col-12">
                        <label for="category">Catégorie*</label>
                        <select name="category" id="frequencies" class="data form-control needed" onchange="typeSelectChange($(this), $('#modalNewType'))">
                            <option placeholder="" disabled value="" selected></option>
                            {% for category in categories %}
                                <option value="{{ category.id }}"
                                        data-needs-default-locations="{{ category.label == constant('App\\Entity\\CategoryType::DEMANDE_DISPATCH') }}"
                                        data-needs-send-mail="{{ category.label == constant('App\\Entity\\CategoryType::DEMANDE_LIVRAISON') }}">
                                    {{ category.label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 form-group col-12">
                        <label for="label">Label*</label>
                        <input type="text" class="data form-control needed" name="label">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="label">Description</label>
                        <input type="text" class="data form-control" name="description">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group d-none send-mail">
                        <label>Envoi de mails au demandeur ?</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="sendMail">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group d-none needs-default-locations">
                        <label for="prise">Emplacement de prise par défaut</label>
                        <select name="prise" class="form-control data ajax-autocomplete-location d-block location-prise w-100" id="prise">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group d-none needs-default-locations">
                        <label for="depose">Emplacement de dépose par défaut</label>
                        <select name="depose" class="form-control data ajax-autocomplete-location d-block location-prise w-100" id="depose">
                        </select>
                    </div>
                </div>
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewType" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
