<form method="post" action="{{ path('demandes_approvisionnements_delete', {'id': demandes_approvisionnement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demandes_approvisionnement.id) }}">
    <button class="btn">Delete</button>
</form>