{% extends 'base.html.twig' %}

{% block title %}New DemandesApprovisionnements{% endblock %}

{% block body %}
    <h1>Create new DemandesApprovisionnements</h1>

    {{ include('demandes_approvisionnements/_form.html.twig') }}

    <a href="{{ path('demandes_approvisionnements_index') }}">back to list</a>
{% endblock %}