{% extends 'dashboard/component_type/content/base_form.html.twig' %}

{% block content %}
<div class="row">
    <div class="form-group col-12">
        <label class="wii-field-name">Transporteurs</label>
        <select class="ajax-autocomplete-carrier data form-control w-100"
                name="carriers"
                multiple
                title="Transporteurs">
            {% for carrier in values.carriers %}
                <option value="{{ carrier.id }}" selected>{{ carrier.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}
