{% extends 'dashboard/component_type/content/base_form.html.twig' %}

{% block content %}
<div class="row">
    <div class="form-group col-6">
        <label>Transporteurs*</label>
        <select class="ajax-autocomplete-carrier data form-control w-100 needed"
                name="carriers"
                multiple
                title="Transporteurs">
            {% for carrier in carriers %}
                <option value="{{ carrier.id }}" selected>{{ carrier.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}
