<div class="row form-group">
    <div class="col-12">
        <label>Transporteurs*</label>
    </div>
    <div class="col-12">
        <select class="ajax-autocomplete-transporteur data form-control w-100 needed"
                name="carrier"
                multiple
                title="Transporteurs">
        </select>
    </div>
</div>

<div class="row form-group">
    <div class="col-12">
        <label>Titre*</label>
    </div>
    <div class="col-12">
        <input class="data form-control w-100 needed"
               name="title"
               type="text"
               title="Titre du composant"/>
    </div>
</div>

<div class="row form-group">
    <div class="col-12">
        <label>Infobulle</label>
    </div>
    <div class="col-12">
        <input class="data form-control w-100 needed"
               name="tooltip"
               type="text"
               title="Infobulle du composant"/>
    </div>
</div>


