<div class="customization-tools">
    <div id="accordion" class="customization-tools-accordion">
        <div class="card my-3">
            <div class="card-header" id="headingOneBackgroundColor">
                <h5 class="toggle-collapsible"
                    data-toggle="collapse"
                    data-target="#collapseBackgroundColor"
                    aria-expanded='false'
                    aria-controls="collapseBackgroundColor">
                    <div class="btn btn-link btn-menu-label">
                        <span>Couleur fond composant</span>
                    </div>
                </h5>
            </div>
            <div id="collapseBackgroundColor" class="collapse" aria-labelledby="headingOneBackgroundColor"
                 data-parent="#accordion">
                <div class="card-body">
                    <input type="color" class="data form-control needed" name="backgroundColor" value="{{ values.backgroundColor ?? '#FFFFFF' }}">
                </div>
            </div>
        </div>
    </div>
    {% if componentType.exampleValues.chartData is defined %}
        <div id="accordion" class="customization-tools-accordion color-picker-accordion">
            <div class="card my-3">
                <div class="card-header" id="headingOneChartColor">
                    <h5 class="toggle-collapsible"
                        data-toggle="collapse"
                        data-target="#collapseChartColor"
                        aria-expanded='false'
                        aria-controls="collapseChartColor">
                        <div class="btn btn-link btn-menu-label">
                            <span>Couleur graphique</span>
                        </div>
                    </h5>
                </div>
                <div id="collapseChartColor" class="collapse" aria-labelledby="headingOneChartColor"
                     data-parent="#accordion">
                    <div class="card-body chart-color-pickers">{#
                        <input type="color" class="data form-control needed" name="chartColor" value="{{ values.chartColor ?? '#FFFFFF' }}">#}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if componentType.meterKey == constant('App\\Entity\\Dashboard\\ComponentType::PENDING_REQUESTS') %}
        <div id="accordion" class="customization-tools-accordion">
            <div class="card my-3">
                <div class="card-header" id="headingOneCardBackgroundColor">
                    <h5 class="toggle-collapsible"
                        data-toggle="collapse"
                        data-target="#collapseCardBackgroundColor"
                        aria-expanded='false'
                        aria-controls="collapseCardBackgroundColor">
                        <div class="btn btn-link btn-menu-label">
                            <span>Couleur fond étiquette</span>
                        </div>
                    </h5>
                </div>
                <div id="collapseCardBackgroundColor" class="collapse" aria-labelledby="headingOneCardBackgroundColor"
                     data-parent="#accordion">
                    <div class="card-body">
                        <input type="color" class="data form-control needed" name="cardBackgroundColor"
                               value="{{ values.cardBackgroundColor ?? '#FFFFFF' }}">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
