<div id="text-accordion" class="customization-tools-accordion">
    <div class="card my-3">
        <div class="card-header" id="headingOneBackgroundColor">
            <h5 class="toggle-collapsible"
                data-toggle="collapse"
                data-target="#collapse-text"
                aria-expanded='false'
                aria-controls="collapse-text">
                <div class="btn btn-link btn-menu-label">
                    <span>Taille et couleurs de texte</span>
                </div>
            </h5>
        </div>
        <div id="collapse-text" class="collapse" aria-labelledby="headingOneBackgroundColor" data-parent="#text-accordion">
            <div class="card-body component-numbering">
            </div>
        </div>
    </div>
</div>
