<div id="text-accordion" class="customization-tools-accordion">
    <div class="card my-3">
        <div class="card-header" id="headingOneBackgroundColor">
            <h5 class="toggle-collapsible"
                data-toggle="collapse"
                data-target="#collapse-text"
                aria-expanded='false'
                aria-controls="collapse-text">
                <div class="btn btn-link btn-menu-label">
                    <span>Police et couleurs de texte</span>
                </div>
            </h5>
        </div>
        <div id="collapse-text" class="collapse" aria-labelledby="headingOneBackgroundColor" data-parent="#text-accordion">
            <div class="card-body">
                {% for i in 0..lines %}
                    <div class="d-flex">
                        <input type="number" class="data form-control needed w-px-50" name="fontSize" value="{{ values.fontSize ?? '#FFFFFF' }}">
                        <input type="color" class="data form-control needed w-px-50" name="textColor" value="{{ values.textColor ?? '#FFFFFF' }}">
                        <input type="checkbox" name="textBold" class="data">
                        <input type="checkbox" name="textItalic" class="data">
                        <input type="checkbox" name="textUnderline" class="data">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
