{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateurs{% endblock %}

{% block body %}
    <h1>Edit Utilisateurs</h1>

    {{ include('utilisateurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('utilisateurs_index') }}">back to list</a>

    {{ include('utilisateurs/_delete_form.html.twig') }}
{% endblock %}