{% extends 'base.html.twig' %}

{% block title %}New Utilisateurs{% endblock %}

{% block body %}
    <h1>Create new Utilisateurs</h1>

    {{ include('utilisateurs/_form.html.twig') }}

    <a href="{{ path('utilisateurs_index') }}">back to list</a>
{% endblock %}