{% extends 'layout.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block page_content %}

<h1>Articles</h1>
<table id="table_id" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th id="Statut">Statut</th>
            <th id="Conformité">Conformité</th>
            <th id="Reférence article">Référence article</th>
            <th id="position">Position</th>
            <th id="destination">Destination</th>
            <th id="Quantite" data-sortable="false">Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block javascript %}

<script>
    var table = $('#table_id').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        ajax:{ 
            "url": "{{path('articles_api')}}",
            "type": "POST"
        }, 
        
        columns:
        [
            { "data": 'Nom' },
            { "data": 'Statut' },
            { "data": 'Conformité' },
            { "data": 'Reférence article' },
            { "data": 'Position' },
            { "data": 'Destination' },
            { "data": 'Quantité' },
            { "data": 'Actions' }
        ],
    });
</script>

{% endblock %}