<div class="d-flex">
    {% if path is not null %}
        {% set pathParams = (pathParams is defined ? pathParams : {}) %}
        <a href="{{ path(path, pathParams) }}" target="_blank">
            <i class='fas fa-share-square mr-2'></i>{{ from }}
        </a>
    {% elseif from is not null %}
        {{ from }}
    {% endif %}
</div>
