<div class="d-flex">
    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::DELETE')) %}
        <div data-id='{{ mvt.id }}' data-target='#modalDeleteMvtStock' data-toggle='modal'
             class='btn btn-col-action'
             onclick="deleteRow($(this), $('#modalDeleteMvtStock'), $('#submitDeleteMvtStock'))">
            <i class='fas fa-trash'></i>
        </div>
    {% endif %}
    {% if orderPath is not null %}
        <a href="{{ path(orderPath, {'id': orderId}) }}" target="_blank">
            <div data-id='{{ mvt.id }}' class='btn btn-col-action'>
                <i class='fas fa-network-wired'></i>
            </div>
        </a>
    {% endif %}
</div>