{% extends 'layout.html.twig' %}

{% block title %}Stock | Mouvements de stock{% endblock %}
{% block page_filter %}
    {% include 'filters/filtersMouvementStock.html.twig' with {
        'page': 'PAGE_MVT_STOCK',
        'tableSelector': '#tableMvts'
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 datatable-container">
        {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')) %}
            <div class="row datatable-header">
                <div class="col-auto ml-auto">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-ripple" onclick="generateCSV('get_mouvements_stock_for_csv', 'mvts-stock')">
                            <span class="fa fa-file-csv mr-2"></span>Exporter au format CSV
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table id="tableMvts" class="table w-100"></table>
            </div>
        </div>
    </div>
    {% include "mouvement_stock/modalDeleteMvtStock.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mouvement_stock.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
