{% extends 'layout.html.twig' %}

{% block title %}Mouvements de stock{% endblock %}

{% block page_content %}

    {% block page_filter %}
        {% include 'filters/filtersMouvementStock.html.twig' with {
            'page': 'PAGE_MVT_STOCK',
            'tableSelector': '#tableMvts'
        } %}
    {% endblock %}
    <div class="col-12">
        <h1>Mouvements de stock</h1>
    </div>

    <div class="col-12">
        {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')) %}
        <div class="btn btn-primary" onclick="generateCSV('get_mouvements_stock_for_csv', 'mvts-stock')">
            <span class="fa fa-file-csv mr-2"></span>Exporter au format CSV
        </div>
        {% endif %}
    </div>

    <div class="d-none justify-content-center" id="spinner">
        <div class="spinner-border sizeLoader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="col-12 mt-5">
        <table id="tableMvts" class="table table-striped table-bordered w-100">
        </table>
    </div>
    {% include "mouvement_stock/modalDeleteMvtStock.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mouvement_stock.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
