{% extends 'layout.html.twig' %}

{% block title %}Stock | Mouvements de stock{% endblock %}
{% block page_filter %}
    {% include 'filters/filtersMouvementStock.html.twig' with {
        'page': 'PAGE_MVT_STOCK',
        'tableSelector': '#tableMvts'
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
                        <button type="button"
                                data-toggle="modal"
                                data-target="#modalNewMvtStock"
                                class="btn btn-primary split-button btn-ripple"
                                onclick="clearModal('#modalNewMvtStock'), resetNewModal($('#modalNewMvtStock'))">
                            <span class="fa fa-plus mr-2"></span>
                            Nouveau mouvement
                        </button>
                    {% endif %}
                    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')) %}
                        <button type="button"
                                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                            <button type="button"
                                    class="dropdown-item pointer"
                                    onclick="generateCSV('get_mouvements_stock_for_csv', 'mvts-stock')">
                                <span class="fa fa-file-csv mr-2"></span>
                                Exporter au format CSV
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableMvts"
                       class="table w-100"></table>
            </div>
        </div>
    </div>
    {% include "mouvement_stock/modalDeleteMvtStock.html.twig" %}
    {% include "mouvement_stock/modalNewMvtStock.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mouvement_stock.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
