{% extends 'layout.html.twig' %}

{% block title %}Stock | Mouvements de stock{% endblock %}
{% block page_filter %}
    {% include 'filters/filtersMouvementStock.html.twig' with {
        'page': 'PAGE_MVT_STOCK',
        'tableSelector': '#tableMvts'
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                        {% include "utils/action-buttons/header-buttons.html.twig" with {
                            actions: [
                                {
                                    hasRight: hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE')),
                                    title: "Nouveau mouvement",
                                    icon: "wii-icon wii-icon-plus",
                                    attributes: {
                                    "data-toggle": "modal",
                                    "data-target": "#modalNewMvtStock",
                                    },
                                },
                                {
                                    hasRight: hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')),
                                    title: "Exporter au format CSV",
                                    icon: "fa fa-file-csv",
                                    attributes: {
                                    "onclick": "saveExportFile('get_stock_movements_csv')"
                                    },
                                },
                                {
                                    hasRight: hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')),
                                    title: "Gestion des colonnes",
                                    icon: "fas fa-cog",
                                    attributes: {
                                    "data-toggle": "modal",
                                    "data-target": "#modalFieldModes",
                                    },
                                }
                            ]
                        } %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableMvts"
                       class="table w-100"></table>
            </div>
        </div>
    </div>
    {% include "mouvement_stock/modalNewMvtStock.html.twig" %}
    {% include "utils/fields-modes.html.twig" with {
        fields,
        table: 'tableMvts',
        page: 'stockMovement',
        config: {
            columns: [
                {
                    label: "Visible",
                    type: "checkbox",
                    name: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE'),
                },
            ],
        }
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stock-movement-index') }}
{% endblock %}
