<form method="" class="modal fade" id="modalDeleteMvtStock" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer le mouvement"
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer ce mouvement ?
            </div>
            <div class="error-msg px-3"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteMvtStock" name='mvt' type="button"
                    class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
