{% extends 'base.html.twig' %}

{% block title %}Edit DemandesTransferts{% endblock %}

{% block body %}
    <h1>Edit DemandesTransferts</h1>

    {{ include('demandes_transferts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('demandes_transferts_index') }}">back to list</a>

    {{ include('demandes_transferts/_delete_form.html.twig') }}
{% endblock %}