<form method="post" action="{{ path('references_articles_delete', {'id': references_article.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la référence article ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ references_article.id) }}">
    <button class="btn button-danger button pull-right btn-left">Supprimer</button>
</form>