{% extends 'layout.html.twig' %}

{% block title %}Edit ReferencesArticles{% endblock %}

{% block page_content %}
    <h1>Edit ReferencesArticles</h1>

    {{ include('references_articles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('references_articles_index') }}"class="btn pull-left button btn-left">retour à la liste</a>

    {{ include('references_articles/_delete_form.html.twig') }}
{% endblock %}