{% extends 'layout.html.twig' %}

<<<<<<< HEAD
{% block title %}Modification référence article{% endblock %}

{% block page_content %}
    <h1>Modification référence article</h1>
=======
{% block title %}ReferencesArticles{% endblock %}

{% block page_content %}
    <h1>References Articles</h1>
>>>>>>> f130a6784d885e61994e583584528815c20afecf

    {{ include('references_articles/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('references_articles_index') }}"class="btn pull-left button btn-left">Retour à la liste</a>

    {{ include('references_articles/_delete_form.html.twig') }}
{% endblock %}