$primary: #3353D7;
$danger: #D73353;
$title: #281A56;

body {
    background-color: white !important;
}

.wrapper button{
    $primaryLowOpacity : #3353D719;
    $dangerLowOpacity : #D733531A;

    min-width: 232px;
    height: 76px;
    &.btn-small {
        min-width: 76px;
    }

    border: 2px solid $primary;
    border-radius: 38px;
    box-shadow:0 3px 10px $primary;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;

    &.danger {
        border: 2px solid $danger;
        box-shadow:0 3px 10px $danger;
    }

    &:not(.outline) {
        color: white;
        background: $primary;

        &.danger{
            background: $danger;
        }

        &:active{
            filter: brightness(85%);
        }
    }

    &.outline {
        color: $primary;
        &.danger{
            color: $danger;
        }

        &:active {
            &:not(.keep-background) {
                background: $primaryLowOpacity;
            }

            &.keep-background {
                filter: brightness(85%);
            }

            &.danger {
                background: $dangerLowOpacity;
            }
        }
    }

    &:active {
        transition: all .3s;
        box-shadow: none;
    }
}

label {
    color: black;
    font-weight: bold;
    font-size: 25px;

    input {
        $greyBorder: #CDCDCD;
        font-size: 25px;
        padding-left: 15px;
        height: 76px;
        border-radius: 10px;
        border: 2px solid $greyBorder;
        margin-top: 8px;

        &:focus-visible {
            outline: $primary solid 2px;
            box-shadow: 0 3px 10px $primary;
            transition: all .2s;
        }

        &.invalid {
            border: 2px solid $danger;

            &:focus-visible {
                outline: $danger solid 2px;
            }
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            content: url("../../../public/svg/cross-grey.svg");
            width: 20px;
            height: 20px;
            margin-right: 15px;
            cursor: pointer;
            transition: all .1s;
        }
    }

    .error {
        color: $danger;
        font-size: 17px;
        margin-top: 5px;
    }
}

.modal-dialog {
    max-width: fit-content;

    .kiosk-modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        pointer-events: auto;
        border: none;
        outline: 0;
        background-color: white;
        border-radius: 38px;
        padding: 25px;
        width: 50vw;
        align-content: center;

        .kiosk-modal-footer {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            padding: 0.75rem;
        }
    }

    .modal-title {
        text-align: center;
        font-size: 30px;
        color: #3353D7;
        font-weight: bold;
    }

    .content{
        max-width: 640px;
        margin: auto;
    }
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page-content {
    max-width: 65vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-top: 130px;

    h1 {
        font-family: 'Outfit', sans-serif;
        font-size: 50px;
        font-weight: bold;
        color: $title;

        &.home {
            font-size: 70px;
            text-align: center;
            line-height: 88px;
            padding: 0 140px;
        }
    }

    p {
        font-size: 30px;
        color: black;
        text-align: center;
        line-height: 43px;
        padding: 30px 140px;
    }

    a {
        width: fit-content;
        padding: 25px 35px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        box-shadow:0 3px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        background: white;
        border: none;
        color: $title;
        font-weight: bold;
        font-size: 25px;
        max-width: 290px;

        span {
            line-height: 30px;
        }

        img {
            margin: auto;
        }

        &:active {
            box-shadow:0 3px 10px rgba(0, 0, 0, 0.15);
        }
    }
}

.wave-container {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;

    .wave {
        background-image: url("../../../public/svg/kiosk/wave.svg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .45;
        width: 100%;
        height: 80%;

        &.home {
            background-image: url("../../../public/svg/kiosk/wave-home.svg");
            height: 100%;
            opacity: 1;
        }
    }
}

.corner.top {
    img {
        height: 65px;
    }

    &.home img {
        height: 100px;
    }
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.timeline-container {
    span {

    }
}

.field-small {
    font-family: "Myriad pro";
    font-size: 20px;
    color: black;
}

.field-name {
    font-family: "Myriad pro";
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.field-text{
    font-family: "Myriad pro";
    font-size: 25px;
    color: black;
    line-height: 35px;
}

.info {
    padding: 15px;
    border: solid 2px $primary;
    border-radius: 10px;

    &::after {
        content: url("../../../public/svg/information.svg"); // TODO : mettre info fond blanc
        display: block;
        width: 25px;
        position: absolute;
        top: -10px;
        left: 3px;
    }
}

.bordered-image {
    border: 2px solid #CDCDCD;
    border-radius: 10px;
    padding: 10px;
}



