@import "../variables";

body {
    background-color: $background;

    .header-container {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.ra-container {
    margin-top: 60px;
}

.ra-header {
    border: solid 1px;
    border-top: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    margin-top: 15px;

    .header-wrapper {
        background-color: $white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .image-container {
        background-color: $background;
        margin: 10px;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    .specifications {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 16px;
        margin: 10px 10px 10px 0;

        .ref {
            font-size: 20px;
        }
    }
}

.ra-dropdown {
    background-color: $white;
    border-top: 1px solid $medium-grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .dropdown-wrapper {
        padding: 15px;
        cursor: pointer;
        display: block;

        &::after {
            float: right;
            right: 10%;
            content: "+";
            color: $primary;
            font-size: 20px;
        }

        &.open::after {
            content: "-";
        }
    }

    .slide {
        clear: both;
        width: 100%;
        height: 0;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
    }

    .slide li {
        text-align: left;
    }

    #touch {
        position: absolute;
        opacity: 0;
        max-height: 0;
    }

    #touch:checked + .slide {
        height: auto;
    }
}

.provider-label {
    background-color: $light-grey;
    height: 35px;
    display: flex;
    align-items: center;
}

span.icon {
    display: flex;
    align-items: center;

    img {
        margin-right: 4px;
        width: 15px;
        max-height: 15px;
    }
}

.delete-supplier-article {
    display: block;
    width: 100%;
    color: $primary;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}

.supplier-article-container {
    margin-top: 5px;
    margin-bottom: 5px;

    .delete-button-container {
        border: $primary 1px solid;
        padding: 15px 5px;
        border-radius: 5px;
    }
}

.supplier-container {
    margin-left: -16px;
    margin-right: -16px;
}

.supplier-container:last-of-type {
    border-bottom: $medium-grey 1px solid;
    padding-bottom: 5px;
}

.save-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.tooltip {

    .tooltip-inner {
        background: $primary !important;
    }

    .arrow:before {
        border-bottom-color: $primary !important;
        border-top-color: $primary !important;
    }
}


label[for="touch"] {
    width: 100%;
}

input[type="checkbox"] {
    margin-bottom: 0.4em;
}

.image-container {
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;

    button {
        border: none;
    }
}

.image-container-show {
    height: 150px;
    min-width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    margin: 10px;
}

.urgent-container {
    height: auto;
    min-height: 50px;
    padding: 10px 20px;
    background-color: $lightest-danger;
}

.isRight {
    background: $light-blue;
}

.reference-status {
    background-color: $lightest-success;
    padding: 5px 12px;
    border-radius: 5px;
}
