@import "../variables";

.settings-menu {
    width: 1100px;
    margin: auto;

    .settings-category {
        display: flex;
        flex-direction: row;

        .wii-icon {
            min-width: 20px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-color: $primary;
        }

        .settings-menus {
            flex: 1 1 auto;

            .title {
                font-size: 1.3rem;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .settings-item {
                display: inline-block;
                width: 49%;
                font-size: 0.9rem;
                color: $dark-grey;
                vertical-align: top;

                &.full-size {
                    width: 100%;
                }

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

.settings {
    min-height: 80vh;
    padding: 0 20px;

    .wii-box {
        border-radius: 10px;
    }

    aside {
        .settings-item {
            display: flex;
            justify-content: space-between;
            font-size: 1.1rem;
            font-weight: 600;
            padding: 20px;
            border-bottom: 1px solid $medium-grey;
            cursor: pointer;

            &.selected {
                color: $primary;
                background: $background;

                &::after {
                    transform: rotate(0deg);
                }
            }

            &:first-child {
                border-radius: 10px 10px 0 0;
            }

            &::after {
                display: block;
                width: 20px;
                height: 20px;
                min-width: 20px;
                background-image: url("../../../public/svg/arrow.svg");
                background-repeat: no-repeat;
                transform: rotate(90deg);
                margin-right: 5px;
                content: "";
            }
        }
    }

    main {
        flex: 1 1 auto;

        .wii-box {
            .wii-section {
                &:not(.collapsible),
                &.collapsible.expanded {
                    padding: #{$grid-gutter-width * 0.6} #{$grid-gutter-width};
                }

                &.collapsible {
                    padding: 0;
                }
            }
        }

        .save {
            display: flex;
            margin-top: 10px;
            justify-content: flex-end;
            width: 100%;
        }
    }

}

.language-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $medium-grey;
    background: $light-blue;
    border-radius: 5px;
    padding: 9px;
    margin: 0 5px;

    img {
        margin-right: 10px;
    }
}

.delete-association-line {
    padding: 9px;
}

textarea {
    resize: none;
}

.alert-title {
    font-size: 16px;
    margin-top: 10px;
    margin-right: -$grid-gutter-width;
    margin-left: -$grid-gutter-width;
}

.hide-arrow {
    .phone-number {
        border: none;
        background-color: transparent;
        padding-left: 40px !important;
    }

    .iti__arrow {
        display: none;
    }
}

.select-flag{
    margin-top: 5px;
    height: 35.58px;
    border: 1px solid #ced4da;
    &.is-invalid {
        border-color: $danger !important;
    }
}

.dropdown-menu.dropdown-menu-wide {
    min-width: 100%;
    text-align: center;
}

.flag{
    width: 25px;
    height: 25px;
    margin: 3px;

    &.select:hover {
        cursor: pointer;
        border: 1px solid $primary;
        padding:2px;
    }
}

.menu {
    &.selected{
        border-bottom: 2px solid $black;
        font-weight: bold;
    }
}

.tooltip-logo{
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.tooltip-input{
    border-right: none;
}

.input-group-tooltip{
    border : 1px solid $medium-grey;
    border-left: none;
    height: revert;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: flex;
    align-items: center;
}

.tooltip-inner {
    text-align: left;
}

.tooltip-wide .tooltip.bottom, .tooltip-inner  {
    max-width: none;
}

.modalDialogEditTranslations {
    @media (max-width: $responsive-breakpoint) {
        width: calc(100% - 20px);
    }
}

.edit-translation-wrapper {
    padding: 0rem !important;
}

.status-translation {
    &.border-bottom {
        border-bottom: 1px solid $medium-grey;
    }
    padding: 10px 1rem 13px 1rem;
}

.delete-type-row {
    height: 35px;
}
