@import "../variables";

.transport-details {
    .content {
        padding: 15px 30px;

        &.bordered {
            border-top: 1px solid $grey;
        }
    }

    .header {
        display: flex;
        align-items: center;
        background-color: #F2F3F7;
        padding: 5px 15px;
        border: none !important;

        &.timeline {
            background-color: #CCF0EB !important;
        }
    }
}
