{% extends 'layout.html.twig' %}

{% block title %}Alerte{% endblock %}

{% block page_content %}
    <h1>
        Alerte
    </h1>
    <table id="tableAlerte_id" class="table table-striped table-bordered w-100">
    </table>
{% endblock %}
{% block javascript %}

<script src = "{{ asset('js/alerte.js') }}?{{ date().timestamp }}"></script>

{% endblock %}