{% extends 'layout.html.twig' %}

{% block title %}Stock | Alertes{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersAlerte.html.twig' with {
        page: 'PAGE_ALERTE',
        tableSelector: '#tableAlerte'
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row">
            <div class="col-12">
                <table id="tableAlerte" class="table w-100">
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/alert.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
