{% extends 'layout.html.twig' %}

{% block title %}Alertes{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersAlerte.html.twig' with {'page': 'PAGE_ALERTE', tableSelector: '#tableAlerte_id'} %}
{% endblock %}

{% block page_content %}
    <h1>
        Liste des alertes
    </h1>
    <table id="tableAlerte_id" class="table table-striped table-bordered w-100">
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src = "{{ asset('js/alert.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
