{% import 'form.html.twig' as form %}

<div class="wii-section">
    <table id="table-reception-free-fields" data-table-processing="freeFields" data-type="{{ type.id }}" data-category="{{ constant('App\\Entity\\CategoryType::RECEPTION') }}"></table>

    <input type="hidden" name="default-value-template" value="{{ form.switch('defaultValue', null, false, [
        {label: 'Oui', value: '1'},
        {label: 'Non', value: '0'},
        {label: 'Aucune', value: null, checked: true},
    ]) | json_encode }}">
</div>
