{% extends 'settings/types_and_free_fields_template.html.twig' %}

{% import 'form.html.twig' as form %}

{% set hideType = true %}

{% block typesDescription %}
    Les champs libres permettent de personnaliser votre application à votre contexte d'utilisation
{% endblock %}

{% block typesTitle %}
    Utilisation des champs libres
{% endblock %}

{% block filters %}
    <div class="d-none">
        {% set types = [{
            label: type.label,
            value: type.id,
            checked: true
        }] %}
        {{ form.switch('entity', null, false, types, {expanded: true}) }}
    </div>
{% endblock %}


{% block footer %}
    <input type="hidden" id="free-field-categories" value="{{ [category] | json_encode }}">
{% endblock %}
