{% import 'form.html.twig' as form %}

<div class="sub-content">
    <table id="table-reception-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFields">
        {% include 'datatable/main-header.html.twig' with {
            cells: 6
        } %}
    </table>
</div>
