<div class="sub-content">
    <div class="row wii-page-card-header">
        <div class="col-auto ml-auto">
            {% if can_edit %}
                <button class="btn btn-primary d-none add-row-button">
                    <span class="fa fa-plus mr-2"></span>Ajouter des statuts
                </button>
            {% endif %}
        </div>
    </div>

    <table id="table-statuts-litige-reception" data-table-processing="statutsLitigeReception"></table>
    <input type="hidden" id="statut_state_options" value="{{ optionsSelect | json_encode }}">
</div>
