{% import 'form.html.twig' as form %}

<div class="sub-content">
    <div class="row">
        <div class="col-12">
            {% set location = setting_value('DEFAULT_LOCATION_RECEPTION', 'App\\Entity\\Emplacement') %}

            {{ form.select(setting('DEFAULT_LOCATION_RECEPTION'), "Emplacement de réception par défaut", false, {
                labelClass: 'wii-field-name',
                value: location.id,
                items: [{
                    value: location.id,
                    text: location.label,
                }],
                type: 'location'
            }) }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <label class="wii-field-name">Renommer les statuts de réception</label>
            <div class="d-flex flex-wrap">
                {% for status in receptionStatuses %}
                    {% set classes = loop.index % 2 != 0 ? 'mb-2 w-50 pr-3' : 'mb-2 w-50' %}
                    {{ form.input(status.code, status.code, false, status.nom, {
                        inline: true,
                        groupClass: classes
                    }) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
