<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Le statut est fait pour paramétrer un workflow, soit les étapes successives permettant d'aller vers la
            résolution d'un litige. Vous pouvez modifier et ajouter des statuts.
        </div>
    </div>
    <div class="row wii-page-card-header">
        <div class="col-auto ml-auto">
            {% if can_edit %}
                <div class="add-row">
                    <button class="btn btn-primary d-none add-row-button d-flex align-items-center">
                        <span class="wii-icon wii-icon-plus mr-2"></span>Ajouter des statuts
                    </button>
                </div>
                <div class="translate-labels d-none">
                    <button class="translate-labels-button btn btn-primary d-flex align-items-center">
                        <span class="wii-icon wii-icon-translate-white mr-2 wh-18px"></span>Traduction des libellés
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <table id="reception-dispute-statuses-table" data-table-processing="genericStatuses"></table>
    <input type="hidden" name="status-state-options" value="{{ optionsSelect | json_encode }}">
</div>
{% include 'settings/modal_edit_translations.html.twig' %}
