<div class="wii-section">
    <div class="row">
        <p class="mb-2 ml-2 wii-describe">
        Un type est une classification de vos entités
        </p>
    </div>
    <table id="table-types-litige" data-table-processing="typesLitigeTable"></table>
</div>
