<div class="modal fade" id="modalAddArticle" role="dialog" aria-labelledby="modalAddArticleTitle"
    aria-hidden="true" data-transfer-id="{{ transfer.id }}">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter un article"
            } %}

            <div class="modal-body modal-input container-fluid">
                <form class="row">
                    <div class="form-group col-12 mb-3 w-100">
                        <label class="wii-field-name" for="add-article-reference" title="référence">
                            {{ trans('Stock', 'Réceptions', 'référence', false) }}*
                        </label>
                        <select class="ajax-autocomplete form-control data needed" name="reference"
                            onchange="onReferenceChange($(this))" id="add-article-reference">
                        </select>
                    </div>
                    <div id="add-article-code-selector" class="col-12 clear"></div>
                </form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', text: 'Ajouter', value: transfer.id, name: 'transfer', id: 'submitAddArticle'}
                ],
            } %}

        </div>
    </div>
</div>
