<div class="modal fade" id="modalEditPairingEnd" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Modifier fin association"
            } %}

            <div class="modal-body modal-input container-fluid pb-0">
                <div class="form-group">
                    <label>Date de fin d'association*</label>
                    <input type="datetime-local" class="form-control data needed" name="end"/>
                </div>
            </div>

            <input type="hidden" class="form-control data needed" name="id"/>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <div id="submitEditPairingEnd" class="btn btn-success">Enregistrer</div>
            </div>
        </div>
    </div>
</div>
