<div class="modal fade" id="modalEditPairingEnd" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier fin association"
            } %}

            <div class="modal-body modal-input container-fluid pb-0">
                <div class="form-group">
                    <label class="wii-field-name">Date de fin d'association*</label>
                    <input type="datetime-local" class="form-control data needed" name="end"/>
                </div>
            </div>

            <input type="hidden" class="form-control data needed" name="id"/>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitEditPairingEnd'}
                ],
            } %}

        </div>
    </div>
</div>
