<div class="modal fade" id="modalEditGroup" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier le groupe"
            } %}

            <div class="modal-body modal-input"></div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitEditGroup"
                        type="button"
                        name="id"
                        class="btn btn-success data">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
