<div class="modal fade" id="modalEditGroup" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Modifier le groupe")
            } %}

            <div class="modal-body modal-input"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success data', text: trans('Général', null, 'Modale', 'Enregistrer'), name: 'id', id: 'submitEditGroup'}
                ],
            } %}

        </div>
    </div>
</div>
