<div class="modal fade" id="modalUngroup" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Dégrouper'
            } %}

            <div class="modal-body modal-input"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data', text: 'Dégrouper', name: 'id', id:'submitUngroup'}
                ],
            } %}

        </div>
    </div>
</div>
