<form>
    <div class="row">
        <div class="col-12">
            {% set packs = group.children | map(pack => pack.code) | join(',') %}
            {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Vous êtes sur le point de dégrouper le groupe {1}. Les colis suivant seront déposés sur l'emplacement sélectionné : {2}.", {
                '1': "<strong>" ~  (group.code)  ~ "</strong>",
                '2': "<strong>" ~  (packs)  ~ "</strong>",
            }) }}

        </div>
    </div>
    <div class="row mt-2">
        <div class="form-group col-12">
            <label class="wii-field-name">{{ trans('Traçabilité', "Mouvements", 'Emplacement de dépose') }}</label>
            <select class="ajax-autocomplete-location-edit data form-control w-100 needed"
                    name="location" title="Emplacement de dépose">
            </select>
        </div>
    </div>
</form>
