{% import 'form.html.twig' as form %}

<form>
    <div class="row">
        <div class="col-12">
            {% set packs = group.content | map(pack => pack.code) | join(',') %}
            {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Vous êtes sur le point de dégrouper le groupe {1}. Les unités logistiques suivantes seront déposées sur l'emplacement sélectionné : {2}.", {
                '1': "<strong>" ~  (group.code)  ~ "</strong>",
                '2': "<strong>" ~  (packs)  ~ "</strong>",
            }) }}

        </div>
    </div>
    <div class="row mt-2">
        {{ form.hidden('id', group.id) }}
        <div class="form-group col-12">
            {{ form.select('location', trans('Traçabilité', "Mouvements", 'Emplacement de dépose'), true, {
                type: 'location'
            }) }}
        </div>
    </div>
</form>
