{% import 'form.html.twig' as form %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT'),
    field: businessUnit.field,
    elements: businessUnit.elements,
} %}

<div class="wii-section">
    <div class="row">
        <p class="ml-2 mb-2 wii-describe">
            Contrairement aux champs libres, les champs fixes ne peuvent ni être supprimés, ni ajoutés. Vous pouvez paramétrer leur visibilité et
            leur caractère obligatoire.
        </p>
    </div>
    <table id="table-arrival-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFields">
        {% include 'datatable/main-header.html.twig' with {
            cells: 6
        } %}
    </table>
</div>
