{% import 'form.html.twig' as form %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT'),
    field: businessUnit.field,
    elements: businessUnit.elements,
} %}

<table id="table-arrival-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFields">
    <thead>
    <tr style="border-bottom: none">
        <th class="datatable-main-header"></th>
        <th class="datatable-main-header" colspan="2">Formulaire de création</th>
        <th class="datatable-main-header" colspan="2">Formulaire d'édition</th>
        <th class="datatable-main-header" colspan="2">Sur les filtres</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
</table>
