<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Un type est une classification de vos entités.
        </div>
    </div>
    <div class="row wii-page-card-header">
        <div class="col-auto ml-auto">
            {% if can_edit %}
                <div class="translate-labels d-none">
                    <button class="translate-labels-button btn btn-primary d-flex align-items-center">
                        <span class="wii-icon wii-icon-translate-white mr-2 wh-18px"></span>Traduction des libellés
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <table id="table-types-litige" data-table-processing="typesLitigeTable"></table>
</div>
{% include 'settings/modal_edit_translations.html.twig' %}
