<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-describe">
            Un type est une classification de vos entités.
        </div>
    </div>
    <table id="table-types-litige" data-table-processing="typesLitigeTable"></table>
</div>
