<div class="row">
    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
        <div  class='col-4 btn-col-action' data-target='#modalEditArticleFournisseur' data-toggle='modal'>
            <button type="button" class="btn btn-block" data-id='{{ id }}'
            onclick="editRow($(this), Routing.generate('article_fournisseur_api_edit', true), $('#modalEditArticleFournisseur'), $('#submitEditArticleFournisseur'))">
                <i class='fas fa-pencil-alt'></i>
            </button>
        </div>
    {% endif %}
    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::DELETE')) %}
        <div class='col-4 btn-col-action' data-target='#modalDeleteArticleFournisseur' data-toggle='modal'>
            <button type="button" class="btn btn-block" data-id="{{ id }}"
                onclick="deleteRow($(this), $('#modalDeleteArticleFournisseur'), $('#submitDeleteArticleFournisseur'))">
                <i class='fas fa-trash'></i>
            </button>
        </div>
    {% endif %}
</div>