{% extends 'layout.html.twig' %}

{% block title %}Stock | Articles fournisseurs {% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE')) %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <button type="button"
                            data-toggle="modal"
                            data-target="#modalNewArticleFournisseur"
                            onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete')), ajaxAutoFournisseurInit($('.ajax-autocomplete-fournisseur')), clearModal($('#modalNewArticleFournisseur'))"
                            class="btn btn-primary btn-ripple">
                        <span class="fa fa-plus mr-2"></span>Nouvel article fournisseur
                    </button>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table id="tableArticleFournisseur" class="table w-100"></table>
            </div>
        </div>
    </div>

    {% include "article_fournisseur/modalDeleteArticleFournisseur.html.twig" %}
    {% include "article_fournisseur/modalEditArticleFournisseur.html.twig" %}
    {% include "article_fournisseur/modalNewArticleFournisseur.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/article-fournisseur.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
