{% extends 'layout.html.twig' %}

{% block title %}Référentiel / Articles fournisseurs {% endblock %}
{% block classbody %}
    class='new-body'
{% endblock %}
{% block page_content %}
    <div class="m-4 datatable-container shadow-lg">
        <div class="row">
            <h1 class="col align-self-start ml-2">Articles fournisseurs</h1>
            <div class="col-auto">
                <button type="button" data-toggle="modal" data-target="#modalNewArticleFournisseur"
                   onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete')), ajaxAutoFournisseurInit($('.ajax-autocomplete-fournisseur'))"
                   class="btn btn-primary btn-ripple">
                    <span class="fa fa-plus mr-2"></span>Nouvel article fournisseur
                </button>
            </div>
        </div>

        <div class="col-12">
            <table id="tableArticleFournisseur" class="table w-100">
            </table>
        </div>
    </div>
    <div>
        {% include "article_fournisseur/modalDeleteArticleFournisseur.html.twig" %}
    </div>
    <div>
        {% include "article_fournisseur/modalEditArticleFournisseur.html.twig" %}
    </div>
    <div>
        {% include "article_fournisseur/modalNewArticleFournisseur.html.twig" %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/article-fournisseur.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
