{% extends 'layout.html.twig' %}

{% block title %}Référentiel / Articles fournisseurs {% endblock %}

{% block page_content %}
<h1>Articles fournisseurs</h1>

<div class="row ">
    <a href="" data-toggle="modal" data-target="#modalNewArticleFournisseur"
        onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete')), ajaxAutoFournisseurInit($('.ajax-autocomplete-fournisseur'))" class="btn btn-primary">
        <span class="fa fa-plus mr-2"></span>Nouvel article fournisseur
    </a>
</div>

<table id="tableArticleFournisseur" class="table table-striped table-bordered w-100">
</table>

<div>
    {% include "article_fournisseur/modalDeleteArticleFournisseur.html.twig" %}
</div>
<div>
    {% include "article_fournisseur/modalEditArticleFournisseur.html.twig" %}
</div>
<div>
    {% include "article_fournisseur/modalNewArticleFournisseur.html.twig" %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/article-fournisseur.js')}}?{{ date().timestamp }}"> </script>
{% endblock %}
