<form method="" class="modal fade" id="modalEditArticleFournisseur" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un article fournisseur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">

            </div>
            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <div id="submitEditArticleFournisseur" type="button" class="btn btn-success" name='id'>Enregistrer</div>
            </div>
        </div>
    </div>
</form>