{% extends 'layout.html.twig' %}

{% block title %}Modification catégorie{% endblock %}

{% block page_content %}
    <h1>MODIFICATION CATEGORIE</h1>

    <div class="quick-form">
    {{ include('categories_vehicules/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

    <a href="{{ path ('parc_parametrage') }}" class="button btn-left pull-left">
        <span class="fa fa-angle-double-left"></span>Retour</a>
{% endblock %}
