<form method="" class="modal fade" id="modalNewAlerteExpiry" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle alerte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="form-group w-100">
                    <label>Référence</label>
                    <select name="reference" class="form-control ajax-autocomplete data needed" onchange="clearErrorMsg($(this)), checkboxOff($(this))">
                    </select>
                </div>

                <div class="form-group">
                    <label for="allRef">Sur toutes les références</label>
                    <label class="switch">
                        <input type="checkbox" name="allRef" class="checkbox data" onchange="clearErrorMsg($(this)), toggleNeededRef($(this))">
                        <span class="slider round"></span>
                    </label>
                </div>

                <label class="mt-3">L'alerte doit se lancer : </label>
                <div class="form-group">
                    <div class="input-group">
                        <label hidden>Délai avant alerte</label>
                        <input type="number" min="0" class="form-control data needed" name="nbPeriods" value="0">
                        <select class="form-control data needed" name="period">
                            <option value="jour">jours</option>
                            <option value="semaine">semaines</option>
                            <option value="mois">mois</option>
                        </select>
                        <div class="label p-2">avant la date de péremption.</div>
                    </div>
                </div>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal">Annuler</div>
                <div id="submitNewAlerteExpiry" class="btn btn-success">Enregistrer</div>
            </div>
        </div>
    </div>
</form>