{% extends 'base.html.twig' %}

{% block title %}Edit Travees{% endblock %}

{% block body %}
    <h1>Edit Travees</h1>

    {{ include('travees/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('travees_index') }}">back to list</a>

    {{ include('travees/_delete_form.html.twig') }}
{% endblock %}