{% if lines is not empty %}
    {% for line in lines %}
        {% set logisticUnit = line.pack ?? null %}
        {% include 'pack/utils/packItemListTemplate.html.twig' with {
            header: logisticUnit and logisticUnit.packId is not null
                ? {
                    data: {
                        'pack-id': logisticUnit.packId,
                    },
                    sideLabel: logisticUnit.nature,
                    color: logisticUnit.color,
                    content: [
                        {label: 'Unité logistique', value: logisticUnit.code, bold: 'value'},
                        {label: 'Emplacement', value: logisticUnit.location, bold: 'label'},
                        {label: 'Quantité', value: logisticUnit.quantity, bold: 'label'},
                        {actions: [{
                            title: 'Voir',
                            icon: 'fas fa-eye',
                            attributes: {
                                "data-id": logisticUnit.packId,
                                "data-target": "#modalEditPack",
                                "data-toggle": "modal",
                                onclick: "editRow($(this), Routing.generate('pack_edit_api', true), $('#modalEditPack'), $('#submitEditPack'), false, () => initializeHistoryTables(" ~ logisticUnit.packId ~"))",
                            },
                        }, {
                            title: 'Imprimer',
                            icon: 'wii-icon wii-icon-printer-black',
                            attributes: {
                                onclick: "printLogisticUnit(" ~ logisticUnit.packId ~ ")",
                            },
                        }]}
                    ],
                    actionOnClick: not logisticUnit.alreadyTreated ? "treatLine($(this));",
                    classes: not logisticUnit.alreadyTreated ? "pointer" : "treated-line"
                },
            content: line.articles,
            action: logisticUnit
            ? [{
                icon: 'wii-icon wii-icon-trash-black',
                datatarget: "#modalDeleteArticle",
                onclick: "removeLogisticUnitLine(" ~ logisticUnit.packId ~ ", 'unit')",
            }, ]
        } %}
    {% endfor %}
{% else %}
    <div class="text-center">Il n'y a aucune ligne sur cette préparation</div>
{% endif %}
