@import "../../variables";

.preparations {
    background-color: #F2F3F7;
    border-radius: 8px;
    padding: 4px;
    height: 565px;
    overflow-y: auto;
    overflow-x: hidden;
}

.preparation-card {
    .wii-icon {
        width: 20px;
        height: 20px;
        display: block;
    }
    .date {
        font-weight: 600;
    }
    .expected-date {
        color: $black;
        .wii-icon {
            background-color: $black;
        }
    }
    .creation-date {
        color: #666;
        .wii-icon {
            background-color: #666;
        }
    }
}
