@import "../../variables";

#modalLaunchPreparation {
    .preparations-container {
        background-color: $light-blue;
        border-radius: 8px;
        padding: 4px;
        height: 565px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        align-content: flex-start;
        align-items: flex-start;

        .preparation-card,
        .placeholder-container {
            max-width: 205px;
        }
    }

    .launch-preparation-date-filters {
        font-size: 14px;

        .date-from-container,
        .date-to-container, {
            width: auto !important;
        }

        .date-from-container .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .date-from-container .form-control,
        .date-to-container .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.preparation-card {
    .wii-icon {
        width: 20px;
        height: 20px;
        display: block;
    }

    .date {
        font-weight: 600;
    }

    .expected-date {
        color: $black;

        .wii-icon {
            background-color: $black;
        }
    }

    .creation-date {
        color: $dark-grey;

        .wii-icon {
            background-color: $dark-grey;
        }
    }
}

$wii-switch-height: $input-height;
.planning-switch {
    .red-filter input[type=checkbox] {
        &:not(:disabled), &:not(:disabled) + label {
            &:hover:not(:checked) {
                color: lighten($zero, 5%);
                border-color: lighten($orange, 5%);
            }
        }

        &:checked, &:checked + label {
            background: rgba(215, 100, 51, 0.15);
            border-color: $orange;

            &:hover {
                background: lighten($light-blue, 5%) !important;
                color: lighten($zero, 5%) !important;
                border-color: lighten($orange, 5%) !important;
            }
        }

        &, & + label {
            border: 1px solid $orange;
            background: white;
            color: $zero;
        }
    }

    .green-filter input[type=checkbox] {
        &:not(:disabled), &:not(:disabled) + label {
            &:hover:not(:checked) {
                color: lighten($zero, 5%);
                border-color: lighten($green, 5%);
            }
        }

        &:checked, &:checked + label {
            background: rgba(165, 215, 51, 0.15);
            color: $zero;
            border-color: $green;

            &:hover {
                background: lighten($light-blue, 5%) !important;
                color: lighten($zero, 5%) !important;
                border-color: lighten($green, 5%) !important;
            }
        }

        &, & + label {
            border: 1px solid $green;
            background: white;
            color: $zero;
        }
    }

    .purple-filter input[type=checkbox] {
        &:not(:disabled), &:not(:disabled) + label {
            &:hover:not(:checked) {
                color: lighten($zero, 5%);
                border-color: lighten($purple, 5%);
            }
        }

        &:checked, &:checked + label {
            background: rgba(100, 51, 215, 0.15);
            color: $zero;
            border-color: $purple;

            &:hover {
                background: lighten($light-blue, 5%) !important;
                color: lighten($zero, 5%) !important;
                border-color: lighten($purple, 5%) !important;
            }
        }

        &, & + label {
            border: 1px solid $purple;
            background: white;
            color: $zero;
        }
    }

    .grey-filter input[type=checkbox] {
        &:not(:disabled), &:not(:disabled) + label {
            &:hover:not(:checked) {
                color: lighten($zero, 5%);
                border-color: lighten($dark-grey, 5%);
            }
        }

        &:checked, &:checked + label {
            background: rgba(227, 227, 227, 0.7);
            color: $zero;
            border-color: $dark-grey;

            &:hover {
                background: lighten($light-blue, 5%) !important;
                color: lighten($zero, 5%) !important;
                border-color: lighten($dark-grey, 5%) !important;
            }
        }

        &, & + label {
            border: 1px solid $dark-grey;
            background: white;
            color: $zero;
        }
    }

    input:not(:disabled), input:not(:disabled) + label {
        cursor: pointer;
    }

    input, input + label {
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        padding: 0 15px;
        border-radius: 4px;
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        font-weight: normal;
        transition: all 200ms linear;
        font-size: 1rem;
        margin: 0 1px 0 1px !important;
    }

    input:not(:disabled), input:not(:disabled) + label {
        cursor: pointer;

        &:hover:not(:checked) {
            color: lighten($dark-grey, 5%);
            border-color: lighten($white, 5%);
        }

    }

    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;

    div {
        padding: 0 5px 0 5px;
    }

    input + label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: map-get($spacers, 1);
    }

    input:not([content]) {
        display: none;
    }

    input:before, input + label:before {
        content: attr(content);
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        text-align: center;
        padding: 0;
    }

    &:first-child {
        margin-top: 0 !important;
    }
}
