<div class="modal fade" id="modalNewFournisseur" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau fournisseur"
            } %}

            <div class="modal-body modal-input container-fluid">
                {% include "fournisseur/modal/form.html.twig" with {
                    supplier
                }%}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewFournisseur'}
                ],
            } %}

        </div>
    </div>
</div>
