{% extends 'layout.html.twig' %}

{% block title %}Demandes de manutention{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersDemands.html.twig' with {
        'page': 'PAGE_MANUT',
        'tableSelector': '#tableManutention_id',
        'callback': 'callbackSaveFilter'
    } %}
{% endblock %}

{% block page_content %}
    <h1>Demandes de manutention</h1>

    <div class="row">
        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
            <a href="" data-toggle="modal" data-target="#modalNewManutention" class="btn btn-primary"
               onclick='initNewManutentionEditor("#modalNewManutention")'>
                <span class="fa fa-plus mr-2"></span>Nouvelle demande
            </a>
        {% endif %}
        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
            <div class="btn btn-primary" onclick="generateCSV('get_manutentions_for_csv', 'manutentions')">
                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
            </div>
        {% endif %}
    </div>

    <div>
        <table id="tableManutention_id" class="table table-striped table-bordered w-100">
        </table>
    </div>
    {% include "manutention/modalDeleteManutention.html.twig" %}
    {% include "manutention/modalEditManutention.html.twig" %}

    {% include "manutention/modalNewManutention.html.twig" %}
    {% include "manutention/modalShowManutention.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/manutention.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
