<form method=""
      class="modal fade"
      id="modalNewManutention"
      role="dialog"
      aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLongTitle">
                    Nouvelle demande de manutention
                </h5>

                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">

                <div class="form-group">
                    <label for="Objet">
                        Objet*
                    </label>
                    <input type="text"
                           id="libelle"
                           class="form-control data needed"
                           name="Libelle"
                           maxlength="64">
                </div>

                <div class="form-group">
                    <label for="demandeur">
                        Demandeur
                    </label>
                    <select type="text"
                            class="demandeur form-control data needed"
                            name="demandeur"
                            disabled>
                        <option value="{{app.user.id}}">
                            {{ app.user.username }}
                        </option>
                    </select>
                </div>

                <div class="form-group needed">
                    <label for="source">
                        Chargement*
                    </label>
                    <input class="form-control data needed"
                           name="source"
                           id="source">
                </div>

                <div class="form-group needed">
                    <label for="destination">
                        Déchargement*
                    </label>
                    <input class="form-control data needed"
                           name="destination"
                           id="destination">
                </div>

                <div class="form-group">
                    <label for="date-attendue">
                        Date attendue*
                    </label>
                    <input class="form-control data needed"
                           type="datetime-local"
                           name="date-attendue"
                           id="date-attendue"
                           min="{{ 'now' | date('Y-m-d') }}">
                </div>

                <div class="form-group">
                    <label for="commentaire">
                        Commentaire
                    </label>
                    <input id="commentaire"
                           class="commentaire form-control data"
                           name="commentaire"
                           type="hidden">
                    <div class="editor-container-new">
                    </div>
                </div>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button"
                        class="btn"
                        data-dismiss="modal">
                    Annuler
                </button>
                <button id="submitNewManutention"
                        type="button"
                        class="btn btn-success"
                        onclick="setCommentaire('.editor-container-new')">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
