<button class="link-like d-flex ml-3 has-tooltip" title="Ajouter au panier" data-reference="{{ reference }}" onclick="addReferenceToCart($(this))">
    <img src="{{ asset('svg/black-cart.svg') }}" alt="Panier" height="20px" width="20px"/>
</button>
