<a href="#"
   class="d-flex ml-3"
   data-reference="{{ reference }}"
   onclick="addReferenceToCart($(this))">
    <img alt="Actions" src="{{ asset('svg/black-cart.svg') }}" height="20px" width="20px"/>
</a>
