<a href="#"
   class="d-flex"
   data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="false">
    <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px"/>
</a>
