{% extends 'base.html.twig' %}

{% block body %}
    <div id="alerts">
        <div class="alert alert-danger text-center d-none" onclick="this.style.display='none';">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <span class="error-msg"></span>
        </div>

        <div class="alert alert-success text-center d-none" onclick="this.style.display='none';">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <span class="confirm-msg"></span>
        </div>
    </div>

    <div class="wrapper {% block wrapperClass '' %}">
        <div class="header-wrapper">
            {% include 'header.html.twig' with {title: block('title') is defined ? block('title')} %}
            {% block page_filter %}{% endblock %}
        </div>
        <div class="container-fluid {% block pageContainerClass '' %}">

            {% block page_content %}{% endblock %}

            {% include 'alert/modal-alert.html.twig' %}
        </div>
    </div>

{% endblock %}
