{% extends 'base.html.twig' %}

{% block body %}
    <input type="hidden" id="BARCODE_VALID_REGEX" value="{{ constant("App\\Service\\SettingsService::CHARACTER_VALID_REGEX")|e('html') }}">
    <div class="wrapper {% block wrapperClass '' %}">
        <div class="header-container {{ app_context }}">

            {% include 'warning-header.html.twig' %}

            {% include 'header.html.twig' with {
                title: block('title') is defined ? block('title'),
                title_tooltip: block('title_tooltip') is defined ? block('title_tooltip'),
                subtitle: block('subtitle') is defined ? block('subtitle'),
                titleLink: block('titleLink') is defined ? block('titleLink'),
                external: external is defined and external
            } %}
        </div>
        <div class="container-fluid {% block pageContainerClass '' %}">
            {% block page_filter %}{% endblock %}
            {% block page_content %}{% endblock %}

            {% include 'utils/modal-alert/modal-alert.html.twig' %}
            {% include 'take-picture.html.twig' %}
        </div>
    </div>

    {% include 'alerts-container.html.twig' %}
{% endblock %}
