{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper {% block wrapperClass '' %}">
        <div class="header-container">
            {% include 'header.html.twig' with {
                title: block('title') is defined ? block('title'),
                title_tooltip: block('title_tooltip') is defined ? block('title_tooltip'),
                subtitle: block('subtitle') is defined ? block('subtitle'),
                titleLink: block('titleLink') is defined ? block('titleLink')
            } %}
            {% block page_filter %}{% endblock %}
        </div>
        <div class="container-fluid {% block pageContainerClass '' %}">

            {% block page_content %}{% endblock %}

            {% include 'utils/modal-alert/modal-alert.html.twig' %}
        </div>
    </div>

    <div id="alerts-container"></div>
    {% set flashbagDanger = app.session.flashbag.get('danger') %}
    {% set flashbagSuccess = app.session.flashbag.get('success') %}
    {% set flashbag = flashbagDanger is not empty ? flashbagDanger : flashbagSuccess %}
    {% if flashbag is not empty %}
        <input type="hidden"
               value="{{ flashbag|json_encode }}"
               id="alerts-flashbag"
               data-color="{{ flashbagDanger is not empty ? 'danger' : 'success' }}"/>
    {% endif %}
    {% include 'utils/alert.html.twig' with {show: false} %}

{% endblock %}
