<div class="modal fade" id="{{ id ?? 'variablesModal' }}" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dictionnaire des variables</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                {% for variable, description in constant('App\\Service\\VariableService::' ~ dictionary) %}
                    @{{ variable }} : {{ description }}{% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
