{% import 'form.html.twig' as form %}

{% set user_message_config = setting_value('USER_MESSAGE_CONFIG') is not empty ? setting_value('USER_MESSAGE_CONFIG') : false %}
{% if user_message_config %}
    {% set user_message_config = user_message_config | json_decode %}
{% endif %}
{% set color_user_message = user_message_config and user_message_config.color is not empty ? user_message_config.color : false %}
{% set message_user_message = user_message_config and user_message_config.message is not empty ? user_message_config.message : false %}

{% if color_user_message and message_user_message %}
    <div class="row justify-content-center align-items-center banner-warning-header d-none"
         style="background-color: {{ color_user_message }}">
        <div class="col text-center">
            <div class="text-white bold p-2">{{ message_user_message }}</div>
        </div>
        <div class="col-auto">
            <button type="button"
                    class="close btn-warning-header px-2"
                    data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    {{ form.hidden('warning-header-hash', user_message_config.messageHash) }}
{% endif %}

{% block javascripts %}
    {{ encore_entry_script_tags('warning-header') }}
{% endblock %}
