{% set warning_header = setting_value('WARNING_HEADER') is not empty ? setting_value('WARNING_HEADER') : false %}
{% if warning_header %}
    {% set warning_header = warning_header | json_decode %}
{% endif %}
{% set color_warning_header_message = warning_header and warning_header.color is not empty ? warning_header.color : false %}
{% set message_warning_header_message = warning_header and warning_header.message is not empty ? warning_header.message : false %}

    {% if color_warning_header_message %}
        <div class="d-none align-items-center p-3 text-center banner-warning-header-message" style="background-color: {{ color_warning_header_message }}">
            <span class="text-white bold w-100">
                {{ message_warning_header_message }}
            </span>
            <button type="button" class="btn btn-sm btn-outline-dark btn-warning-header-message">
                <i class="fas fa-times"></i>
            </button>
        </div>
    {% endif %}

{% block javascripts %}
    {{ encore_entry_script_tags('warning-header-message') }}
{% endblock %}
