{% extends 'base.html.twig' %}

{% block title %}Edit Historiques{% endblock %}

{% block body %}
    <h1>Edit Historiques</h1>

    {{ include('historiques/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('historiques_index') }}">back to list</a>

    {{ include('historiques/_delete_form.html.twig') }}
{% endblock %}