{% extends 'layout.html.twig' %}

{% block title %}Historique des transferts{% endblock %}

{% block page_content %}

    <div class="row backgray filter-wrapper">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control">
                    <option>Site1</option>
                    <option>Site2</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Emplacement1</option>
                    <option>Emplacement2</option>
                </select>
            </div>

            <div class="input-group daterange">
                <div class="input-group-addon">De</div>
                <input type="text" class="form-control">
                <div class="input-group-addon">à</div>
                <input type="text" class="form-control">
            </div>
            <a class="btn more-filter">Plus de filtres</a>
            <a href="#" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </form>
    </div>

    <div class="row page-title">
        Historique des transferts
    </div>

    <div class="row legende">
        <span class="arrow-entree">
            <span class="fa fa-angle-right"></span>Entrées</span>
        <span class="arrow-sortie">
            <span class="fa fa-angle-left"></span>Sorties</span>
        <span class="line-interne">
            <span class="fa fa-minus"></span>Transferts</span>
    </div>

    <div class="row historique-wrapper">
        <table class="table-histo table table-condensed table-hover">
            <thead>
                <tr class="line-list">
                    <th>Légende</th>
                    <th>Article</th>
                    <th>Référence</th>
                    <th>Position</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <div class="loader">Chargement...</div>
            <tbody id="content">
                <tr class="date-list">
                    <td>
                        12/05/18
                    </td>
                </tr>

                <tr class="line-list">
                    <td class="fa fa-angle-right"></td>
                    <td>Article1</td>
                    <td>Ref154646464</td>
                    <td>Pos1</td>
                    <td>Statut</td>
                </tr>
                <tr class="line-list">
                    <td class="fa fa-minus"></td>
                    <td>Article2</td>
                    <td>Ref2</td>
                    <td>Pos2</td>
                    <td>Statut</td>
                </tr>

                <tr class="date-list">
                    <td>
                        10/05/18
                    </td>
                </tr>
                <tr class="line-list">
                    <td class="fa fa-angle-left"></td>
                    <td>Article1464</td>
                    <td>Ref154646464</td>
                    <td>Pos1</td>
                    <td>Statut</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="button btn-left pull-right">
                <span class="fa fa fa-download"></span>Exporter</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.daterange input').each(function () {
            $(this).datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});
        });

        /**
        * infiniteScroll
        */
        var offset = 0;
        var max = 2;
        var deviceAgent = navigator.userAgent.toLowerCase();
        var agentID = deviceAgent.match(/(iphone|ipod|ipad)/);

        $(window).data('ajaxready', true);
        // $('.loader').show();
        infiniteScroll();
        $(window).scroll(function () {
            infiniteScroll();
        });

        function infiniteScroll() {
            if ($(window).data('ajaxready') == false) 
                return;
            
            if (($(window).scrollTop() + $(window).height()) == $(document).height() || agentID && ($(window).scrollTop() + $(window).height()) + 150 > $(document).height()) {
                $(window).data('ajaxready', false);

               $('.loader').fadeIn(400);
                $.ajax({
                    url: "{{ path('article_more') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "offset": offset,
                        "max": max
                    },
                    success: function (data) {
                        if (data.length > 2) {
                            $('.loader').fadeIn(400);
                            displayArticle(data);
                            offset += max;
                            $(window).data('ajaxready', true);
                        }
                    }
                }).done(function () {
                    $('.loader').fadeOut(400);
                });
            }
        };

        function displayArticle(data) {

        }
    </script>
{% endblock %}