{% extends 'layout.html.twig' %}

{% block title %}Modification{% endblock %}

{% block page_content %}
    <h1>Edit Receptions</h1>

    {{ include('receptions/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('receptions/_delete_form.html.twig') }}

    <a href={{path("receptions_index", {'history': 0})}} class="btn pull-left button btn-left">retour à la liste</a>

   
{% endblock %}
