{% extends 'layout.html.twig' %}

{% block title %}WiiStock{% endblock %}

{% block page_content %}
    <h1>Nouvelle reception</h1>
    
    <div >{{ include('receptions/_form.html.twig') }}</div>
    
    <a href="{{ path('receptions_index') }}" class='button btn-left'>retour</a>
{% endblock %}
