{% extends 'base.html.twig' %}

{% block title %}New Receptions{% endblock %}

{% block body %}
    <h1>Create new Receptions</h1>

    {{ include('receptions/_form.html.twig') }}

    <a href="{{ path('receptions_index') }}">back to list</a>
{% endblock %}