{% set truckArrival = truckArrival ?? null %}

{% if truckArrival %}
    <div class="d-flex">
        <a href="{{ path("truck_arrival_show", {"id": truckArrival.id}) }}">
            <i class="fas fa-share-square mr-2"></i>{{ truckArrival.number }}
        </a>
    </div>
{% endif %}
