<div class="row">
    {% if hasRight(constant('App\\Entity\\Menu::PREPA'), constant('App\\Entity\\Action::LIST')) %}
        <a href='{{ url.show }}' class="col-3">
            <i class='fas fa-eye'></i>
        </a>
    {% endif %}
</div>