<div class="row">
    {% if hasRight(constant('App\\Entity\\Menu::PREPA'), constant('App\\Entity\\Action::LIST')) %}
        <a href='{{ url.show }}' class='col-4 btn-col-action'>
            <button type="button" class="btn btn-block">
                <i class='fas fa-eye'></i>
            </button>
        </a>
    {% endif %}
</div>