<div class="row">
    <div class='article-delete col-3'
    onclick="deleteRow($(this), $('#modalDeleteArticle'), $('#submitDeleteArticle'))" data-id='{{ articleId }}'
    data-target='#modalDeleteArticle' data-toggle='modal'>
    <i class='fas fa-trash'></i>
</div>
</div>