{% import 'form.html.twig' as form %}
<div class="modal fade" id="modalEditPreparation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier la préparation"
            } %}

            <div class="modal-body modal-input container-fluid">
                {% set expectedAtValue = preparation.expectedAt ? preparation.expectedAt|date('Y-m-d') %}
                {{ form.input('expectedAt', 'Date de préparation', true, expectedAtValue, {
                    type: 'date',
                    min: 'now' | date('Y-m-d'),
                }) }}
                <input type="hidden" class="data" name="id" value="{{ preparation ? preparation.id }}">
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', type: 'submit'}
                ],
            } %}

        </div>
    </div>
</div>
