{% extends 'layout.html.twig' %}

{% block title %}Ordres de préparation{% endblock %}

{% block page_content %}
<h1>Ordres de préparation</h1>
<table id="table_id" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
{% endblock %}

{% block javascript %}
<script>let = id; 
</script>
<script src="{{ asset('js/preparation.js') }}"></script>
{% endblock %}