<form method="" class="modal fade" id="modalNewArticle" role="dialog"
    aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">

                <div class="mb-3">
                    <label for="article">Article</label>
                    <select class="data form-control select2" name="article"  value=""
                        required="true">
                        {% for article in articles %}
                        <option value="{{ article.id }}">{{ article.reference }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewArticle" name="preparation" value="{{preparation.id}}" type="button" data-dismiss="modal"
                    class="btn data btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
