<div class="mb-3 form-group">
    <label for="quantite">Quantité*</label>
    <input type="number" class="data form-control needed" name="quantite" id="quantite"
        value="{{ quantity }}" min="0" max="{{ max }}">
    <input hidden class="data" name="isRef" value="{{ isRef }}">
</div>
