{% import 'form.html.twig' as form %}
<div class="modal fade" role="dialog" id="modalLaunchPreparation">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Lancement des préparations"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="col-12">
                        <span class="wii-field-name">Période de lancement</span>
                    </div>
                    <div class="col-12 my-1">
                        <div class="input-group launch-preparation-date-filters">
                            <div class="input-group-prepend">
                                <span class="input-group-text w-50px d-flex justify-content-center">Du</span>
                            </div>
                            {{ form.input('dateFrom', null, true, "now"|date('Y-m-d'), {
                                type: 'date',
                                min: "now"|date('Y-m-d'),
                                labelClass: "date-from-container",
                            }) }}
                            <div class="input-group-prepend input-group-append">
                                <span class="input-group-text w-50px d-flex justify-content-center">Au</span>
                            </div>
                            {{ form.input('dateTo', null, true, "now" | date_modify('+4 day') | date('Y-m-d'), {
                                type: 'date',
                                labelClass: "date-to-container",
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="row modal-content-wrapper mt-2">

                </div>
                <div class="quantities-information-container d-none">
                    <span class="ps-2 bold">Manque quantité sur : </span>
                    <div class="quantities-information"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success check-stock-button" data-launch-preparations="0" disabled>
                    <span class="d-flex align-items-center">
                        <span class="wii-icon wii-icon-check-white mr-2"></span>
                        <span>Vérifier le stock</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

