<form method="" class="modal fade" id="modalDeletePreparation" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {% include 'utils/modal/header.html.twig' with {
                    title: "Supprimer la préparation"
                } %}

                <div class="modal-body">
                    Voulez-vous réellement supprimer cette préparation ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                    <a href="{{path('preparation_delete', {'preparation': preparation.id}) }}"
                    id="submitDeletePreparation" name='article' value=''
                        class="btn btn-danger data">Supprimer</a>
                </div>
            </div>
        </div>
    </form>
