<form method="POST"
      action="{{ path('preparation_finish', {'idPrepa': preparation.id}) }}"
      class="modal fade" id="modalSubmitPreparation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Valider la préparation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters align-items-center">
                    <label class="col-6" for="article">Emplacement de préparation</label>
                    <select class="col-6 data form-control select2"
                            value=""
                            required="true"
                            name="emplacement"
                            id="preparation-emplacement">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn"
                        data-dismiss="modal">
                    Annuler
                </button>
                <button id="submitPreparationButton"
                        name='mvt'
                        class="btn btn-primary data">
                    Valider
                </button>
            </div>
        </div>
    </div>
</form>
