<form method="" class="modal fade" id="modalDeletePreparation" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {% include 'utils/modal/header.html.twig' with {
                    title: "Supprimer la préparation"
                } %}

                <div class="modal-body">
                    Voulez-vous réellement supprimer cette préparation ?
                </div>
                {% include 'utils/modal/footer.html.twig' with {
                    elements: [
                        {input: true, name: 'preparation', value: preparation.id},
                        {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                        {classes: 'btn btn-danger data submit', text: 'Supprimer'}
                    ],
                    renderErrorContainer: false
                } %}

            </div>
        </div>
    </form>
