{% extends 'layout.html.twig' %}

{% block title %}Ordre | Préparation - Planning{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('preparation-planning') }}
{% endblock %}

{% block page_filter %}
    {% include 'preparation/planning_filters.html.twig' with {
        page: 'PAGE_PREPARATION_PLANNING',
        marginClass: 'm-0 m-md-4',
    } %}
{% endblock %}

{% block pageContainerClass 'd-flex flex-fill flex-column' %}
{% block page_content %}
    <div class="mx-4 wii-page-card flex-fill" style="margin-top: -15px">
        <div data-wii-planning="preparation_planning_api" class="preparation-planning"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('preparation-planning') }}
{% endblock %}
