<div class="col-md-5 col-12">
    <label>Préparation(s) disponible(s) au lancement : <span class="available-preparations-counter"></span></label>
    <div class="row preparations available-preparations">
        {% for preparation in preparations %}
            <div class="col-4 px-0 preparation-card-container">
                {% include 'preparation/planning_card.html.twig' with {
                    preparation: preparation,
                    color: 'orange'
                }%}
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-2 d-flex flex-column mt-4">
    <button class="btn btn-primary ml-auto add-all h-50 w-100">Lancer tout</button>
    <button class="btn btn-outline-primary ml-auto remove-all h-50 w-100">Remettre tout</button>
</div>
<div class="col-md-5 col-12">
    <label>Préparation(s) à lancer : <span class="assigned-preparations-counter">0</span></label>
    <div class="row preparations assigned-preparations">

    </div>
</div>
