{% extends 'layout.html.twig' %}

{% block title %}Ordre | Préparation | Détails{% endblock %}
{% block titleLink path('preparation_index') %}

{% block page_content %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include 'preparation/preparation-show-header.html.twig' with {
                        preparation: preparation,
                        isPrepaEditable: isPrepaEditable,
                        demande: demande,
                        livraison: livraison,
                        showDetails: headerConfig
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="wii-page-card">
                    <div class="row mb-2">
                        <h5 class="col-auto h5">Liste des articles</h5>
                    </div>
                    <table id="tableArticle_id" class="table w-100"></table>
                </div>
            </div>
        </div>
    </div>

    <input hidden id="prepa-id" value="{{ preparation.id }}">

    {% include 'preparation/modalDeleteArticle.html.twig' %}
    {% include 'preparation/modalNewArticle.html.twig' %}
    {% include 'preparation/modalDeletePreparation.html.twig' %}
    {% include 'emplacement/modal-select-location.html.twig' with {type: 'validate-preparation'} %}
    {% include 'preparation/modalEditLigneArticle.html.twig' %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}

    <div id="splittingContent">
        {% include 'preparation/modalSplitting.html.twig' with {'index' : 0, 'reference' : '', 'articles' : [], 'quantite' : 0, 'referenceId' : ''} %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/preparation.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
