{% extends 'layout.html.twig' %}

{% block title %}Workflow{% endblock %}

{% block page_content %}

    <div class="row backgray">
        <a href="#" class="button btn-right">
            Filtrer<span class="fa fa-angle-double-right"></span></a>
    </div>

    {# {% for ordre in ordres %} #}
    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Ordre</div>
                        <div class="list-cards workflow-sidebar">
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Préparations</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backblue"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                        </div>
                        <a class="list-footer" href="#">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvel ordre
                        </a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">En cours de traîtement</div>
                        <div class="list-cards workflow-sidebar">
                            <div class="card">
                                <div class="card-details">
                                    <h3>Sortie</h3>
                                    <h4>12/06/2018</h4>
                                    <span class="gommette backviolet"></span>
                                    <span class="card-name">Le Fur</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                        </div>
                        <a class="list-footer"></a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Traitées</div>
                        <div class="list-cards workflow-sidebar">
                            <div class="card">
                                <div class="card-details">
                                    <h3>Entrée</h3>
                                    <h4>23/01/2018</h4>
                                    <span class="gommette backgreen"></span>
                                    <span class="card-name">Couffinhal</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                        </div>
                        <a class="list-footer"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# {% endfor %} #}

    <div class="row">
        <div class="col-md-4">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
        <div class="col-md-8">
            <a href="#" class="button btn-right">
                Liste des réceptions<span class="fa fa-angle-double-right"></span></a>
            <a href="#" class="button btn-right">
                Liste des préparations<span class="fa fa-angle-double-right"></span></a>
        </div>
    </div>

{% endblock %}