{% extends 'layout.html.twig' %}

{% block title %}Workflow{% endblock %}

{% block page_content %}

    <div class="row backgray filter-wrapper">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control">
                    <option>Entrée</option>
                    <option>Sortie</option>
                    <option>Transfert</option>
                    <option>Préparation</option>
                    <option>Réception</option>
                </select>
            </div>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Auteur">
            </div>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Référence">
            </div>
            <div class="input-group daterange">
                <div class="input-group-addon">De</div>
                <input type="text" class="form-control">
                <div class="input-group-addon">à</div>
                <input type="text" class="form-control">
            </div>
            <a class="btn more-filter">Plus de filtres</a>
            <a href="#" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </form>
    </div>

    <div class="row page-title">
        WORKFLOW ORDRES
    </div>

    {# {% for ordre in ordres %} #}
    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Ordre</div>
                        <div class="list-cards workflow-sidebar">
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Préparations</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backblue"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                            <div class="card">
                                <div class="card-details">
                                    <h3>Transfert</h3>
                                    <h4>01/11/2018</h4>
                                    <span class="gommette backorange"></span>
                                    <span class="card-name">Renon</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                        </div>
                        <a class="list-footer" href="#">
                            <span class="fa fa-plus"></span>
                            Ajouter une nouvel ordre
                        </a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">En cours de traîtement</div>
                        <div class="list-cards workflow-sidebar">
                            <div class="card">
                                <div class="card-details">
                                    <h3>Sortie</h3>
                                    <h4>12/06/2018</h4>
                                    <span class="gommette backviolet"></span>
                                    <span class="card-name">Le Fur</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                        </div>
                        <a class="list-footer"></a>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Traités</div>
                        <div class="list-cards workflow-sidebar">
                            <div class="card">
                                <div class="card-details">
                                    <h3>Entrée</h3>
                                    <h4>23/01/2018</h4>
                                    <span class="gommette backgreen"></span>
                                    <span class="card-name">Couffinhal</span>
                                </div>
                                <a class="arrow-open fa fa-angle-double-right"></a>
                            </div>
                        </div>
                        <a class="list-footer"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# {% endfor %} #}

    <!-- Modal -->
    <div id="visuModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="fa fa-thumb-tack"></span>
                        Transfert</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <form class="form-inline">
                            <p>Voulez-traiter la demande ?</p>
                            <div class="form-group">
                                <button class="btn btn-danger btn-block danger">
                                    <span class="fa fa-times"></span>
                                    Refuser</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">
                                    <span class="fa fa-check"></span>
                                    Valider</button>
                            </div>
                        </form>
                    </div>

                    <div class="progress-state">
                        <ul class="progress-indicator custom-complex">
                            <li class="completed">
                                <a href="#">
                                    <span class="bubble"></span>
                                    <i class="fa fa-check-circle"></i>
                                    Validé
                                </a>
                            </li>
                            <li class="completed">
                                <a href="#">
                                    <span class="bubble"></span>
                                    <i class="fa fa-check-circle"></i>
                                    En cours de traîtement
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="bubble"></span>
                                    Terminé
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form class="info-ordre">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="well list-box">
                                    <legend class="well-legend">Informations article(s)</legend>

                                    <p>Articles 1</p>
                                    <div class="input-group form-group">
                                        <label class="input-group-addon">
                                            Type
                                        </label>
                                        <select class="form-control">
                                            <option>Iphone X</option>
                                            <option>Iphone 5</option>
                                            <option>Iphone 1</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group">
                                        <label class="input-group-addon">
                                            Référence
                                        </label>
                                        <input value="" class="form-control" placeholder="Référence">
                                    </div>

                                    <ul class="list-group">
                                        <label>
                                            Emplacement
                                        </label>
                                        <li class="list-group-item">Allée 1</li>
                                        <li class="list-group-item">Travée 4</li>
                                        <li class="list-group-item">Rack 2</li>
                                    </ul>
                                    <p>Articles 2</p>
                                    <div class="input-group form-group">
                                        <label class="input-group-addon">
                                            Type
                                        </label>
                                        <select class="form-control">
                                            <option>Iphone X</option>
                                            <option>Iphone 5</option>
                                            <option>Iphone 1</option>
                                        </select>
                                    </div>
                                    <div class="input-group form-group">
                                        <label class="input-group-addon">
                                            Référence
                                        </label>
                                        <input value="" class="form-control" placeholder="Référence">
                                    </div>

                                    <ul class="list-group">
                                        <label>
                                            Emplacement
                                        </label>
                                        <li class="list-group-item">Allée 1</li>
                                        <li class="list-group-item">Travée 4</li>
                                        <li class="list-group-item">Rack 2</li>
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="well list-box">
                                    <legend class="well-legend">Client</legend>

                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <input value="Mr." class="form-control" placeholder="Sexe">
                                        </div>
                                        <div class="col-md-5">
                                            <input value="Léo" class="form-control" placeholder="Prénom">
                                        </div>
                                        <div class="col-md-5">
                                            <input value="Couffinhal" class="form-control" placeholder="Nom">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="inputAdresse">Adresse</label>
                                            <input value="2-4 Rue Sainte-Catherine" id="inputAdresse" class="form-control" placeholder="1234 Main St">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label for="inputAdresse">Zip</label>
                                            <input value="33000" class="form-control" id="inputZip" placeholder="Zip">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="inputAdresse">Ville</label>
                                            <input value="Bordeaux" class="form-control" id="inputCity" placeholder="Ville">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group input-group">
                                                <label class="input-group-addon">
                                                    @
                                                </label>
                                                <input type="email" value="leo.couffinhal@wiilog.fr" class="form-control" id="inputEmail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group input-group">
                                                <label class="input-group-addon">
                                                    <span class="fa fa-phone"></span>
                                                </label>
                                                <input type="text" value="06.00.00.00.00" class="form-control" id="inputPhone">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="well list-box">
                                <legend class="well-legend">Actions</legend>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-group">
                                                <label>
                                                    Emplacement initial article 1
                                                </label>
                                                <li class="list-group-item">Allée 1</li>
                                                <li class="list-group-item">Travée 4</li>
                                                <li class="list-group-item">Rack 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="arrowed">
                                                <div class="arrow-6"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <ul class="list-group">
                                                <label>
                                                    Emplacement final article 1
                                                </label>
                                                <li class="list-group-item">Allée 1</li>
                                                <li class="list-group-item">Travée 4</li>
                                                <li class="list-group-item">Rack 2</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row more-actions">
                                        <div class="col-md-5">
                                            <ul class="list-group">
                                                <label>
                                                    Emplacement initial article 2
                                                </label>
                                                <li class="list-group-item">Allée 1</li>
                                                <li class="list-group-item">Travée 4</li>
                                                <li class="list-group-item">Rack 2</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="arrowed">
                                                <div class="arrow-6"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <ul class="list-group">
                                                <label>
                                                    Emplacement final article 2
                                                </label>
                                                <li class="list-group-item">Allée 1</li>
                                                <li class="list-group-item">Travée 4</li>
                                                <li class="list-group-item">Rack 2</li>
                                            </ul>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
                        Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
        <div class="col-md-8">
            <a href="#" class="button btn-right">
                Liste des réceptions<span class="fa fa-angle-double-right"></span></a>
            <a href="#" class="button btn-right">
                Liste des préparations<span class="fa fa-angle-double-right"></span></a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.daterange input').each(function () {
            $(this).datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});
        });
        $(".arrow-open").on("click", function (e) {
            $("#visuModal").modal();
        });
        $('#visuModal').on('show', function () { //TODO
            var id = $(this).data('id'),
                removeBtn = $(this).find('.danger');
            removeBtn.attr('href', removeBtn.attr('href').replace(/(&|\?)ref=\d*/, '$1ref=' + id));
        });
    </script>
{% endblock %}