{% extends 'layout.html.twig' %}

{% block page_content %}

    <div class="row backgray">
        <a href="#" class="button btn-right">
            Filtrer<span class="fa fa-angle-double-right"></span></a>
    </div>

    {# {% for ordre in ordres %} #}

    <div class="workflow-wrap">
        <div class="workflow-content">
            <div class="board-canvas">
            <h1>Ordre</h1>
            <div class="workflow-sidebar">
                {# {% if ordre.statut == "A traiter" %} #}
                <div class="vignette">
                    <span class="gommette backviolet"></span>
                    <p>Couffinhal</p>
                    <h3>Sortie</h3>
                    <a class="arrow-open fa fa-angle-double-right"></a>
                </div>
            </div>

            <h1>En cours de traîtement</h1>

            <div class="workflow-sidebar"></div>

            <h1>Traitrés</h1>

            <div class="workflow-sidebar"></div>

            {# {% endfor %} #}
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
        <div class="col-md-8">
            <a href="#" class="button btn-right">
                Liste des réceptions<span class="fa fa-angle-double-right"></span></a>
            <a href="#" class="button btn-right">
                Liste des préparations<span class="fa fa-angle-double-right"></span></a>
        </div>
    </div>

{% endblock %}