
{% import 'form.html.twig' as form %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\Fields\\FixedFieldStandard::FIELD_CODE_EMERGENCY'),
    field: emergency.field,
    elementsType: emergency.elementsType,
    elements: emergency.elements,
    fixedFieldType: constant('App\\Entity\\Fields\\FixedFieldByType::FIELD_TYPE'),
} %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\Fields\\FixedFieldEnum::expectedAt').name,
    field: expectedAt.field,
    elementsType: expectedAt.elementsType,
    elements: expectedAt.elements,
    fixedFieldType: constant('App\\Entity\\Fields\\FixedFieldByType::FIELD_TYPE'),
    types : types,
    category : category,
    productionTypesCount : productionTypesCount,
} %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Contrairement aux champs libres, les champs fixes ne peuvent ni être supprimés, ni ajoutés. Vous pouvez paramétrer leur visibilité et
            leur caractère obligatoire.
        </div>
    </div>
    <div class="wii-section-title">Entête</div>
    <div class="row p-3 typeChoice">
        <div class="col-12 mb-3 wii-small-text">
            {% block filters %}
                {{ form.switch('type', null, false, types, {expanded: true}) }}
            {% endblock %}
        </div>
    </div>
    <table id="table-production-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFieldsByType">
        {% include 'datatable/main-header.html.twig' with {
            cells: 5,
            needsFilterColumn: false,
        } %}
    </table>
</div>

