{% if dispatch.statut and dispatch.statut.draft %}
    {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::MANAGE_PACK')) %}
        <button class="btn btn-silent delete-pack-row d-flex" data-id="{{ dispatchPack ? dispatchPack.id }}">
            <i class="wii-icon wii-icon-trash text-primary"></i>
        </button>
    {% endif %}
{% else %}
    {% if dispatchPack and dispatchPack.pack.arrivage %}
        <a href="{{ path('arrivage_show', {id: dispatchPack.pack.arrivage.id}) }}">
            <i class="fas fa-exchange-alt" title="Arrivage lié N°{{ dispatchPack.pack.arrivage.numeroArrivage }}"></i>
        </a>
    {% endif %}
{% endif %}
