<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <button onclick="printSingleTicket($(this))" class="dropdown-item pointer d-flex align-items-center print-pack-row" data-id="{{ dispatchPack ? dispatchPack.pack.id }}">
                <i class="wii-icon wii-icon-printer-black text-primary mr-2"></i>
                {{ trans('Traçabilité', 'Arrivages UL', 'Divers', 'Impression') }}
            </button>
            {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::MANAGE_PACK')) %}
                <button onclick="deletePackRow($(this))" class="dropdown-item pointer d-flex align-items-center delete-pack-row" data-id="{{ dispatchPack ? dispatchPack.id }}">
                    <i class="wii-icon wii-icon-trash-black text-primary mr-2"></i>
                    Supprimer
                </button>
            {% endif %}

        </div>
    </div>
</div>
