<form method="" class="modal fade" id="modalEditDispatch" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Demande', 'Acheminements', 'Divers', 'Modifier un acheminement')
            } %}

            <div class="modal-body modal-input container-fluid"></div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success data', text: trans('Général', null, 'Modale', 'Enregistrer'), name: 'id', id: 'submitEditDispatch'}
                ],
            } %}

        </div>
    </div>
</form>
