<div class="modal fade" id="modalDeletePack" role="dialog" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Supprimer la ligne"
            } %}

            <div class="modal-body">
                <span>Voulez-vous vraiment supprimer la ligne ?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeletePack" name="pack" type="button" data-dismiss="modal"
                        class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</div>
