<form class="modal fade" id="modalValidateDispatch">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Valider la demande"
            } %}

            <div class="modal-body modal-input">
                {% if untreatedStatus is not empty %}
                    <div class="form-group row">
                        <label class="wii-field-name col-12">Statut*</label>
                        <div class="col-12">
                            <select class="form-control data needed "
                                    name="status"
                                    title="Statut">
                                <option value=""></option>
                                {% for status in untreatedStatus %}
                                    <option value="{{ status.id }}">{{ status.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% else %}
                    {% include 'utils/warningSelectEmpty.html.twig' with {
                        array: [],
                        warningLabel: 'Vous n\'avez pas configuré de statut à traiter pour ce ' ~ ('acheminement.type d\'acheminement'|trans),
                        redirectPath: path('settings_item', {
                            'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_TRACING'),
                            'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_DISPATCHES'),
                            'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_STATUSES'),
                        }),
                        redirectLabel: 'Aller vers la création des statuts',
                        block: true,
                        rights: {
                            menu: constant('App\\Entity\\Menu::PARAM'),
                            action: constant('App\\Entity\\Action::CREATE')
                        }
                    } %}
                {% endif %}
            </div>

            {% if untreatedStatus is not empty %}
                {% include 'utils/modal/footer.html.twig' with {
                    elements: [
                        {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                        {classes: 'btn btn-success submit-button', text: 'Enregistrer'}
                    ],
                } %}

            {% endif %}
        </div>
    </div>
</form>
