<form method="" class="modal fade" id="modalDeleteDispatch" role="dialog" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: 'Supprimer la <span title="demande d\'acheminement">' ~ ('acheminement.demande d\'acheminement'|trans) ~ '</span>'
            } %}

            <div class="modal-body">
                Voulez-vous réellement supprimer cette <span title="demande d'acheminement">{{ 'acheminement.demande d\'acheminement'|trans }}</span> ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', id: 'submitDeleteDispatch', name: 'dispatch', value: dispatch.id, dismiss: true}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</form>
