<form class="modal fade" id="modalValidateDispatch">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Demande', 'Acheminements', 'Détails acheminement - Entête', 'Valider la demande', false)
            } %}

            <div class="modal-body modal-input">
                {% if untreatedStatus is not empty %}
                    <div class="form-group row">
                        <label class="wii-field-name col-12">{{ trans('Demande', 'Général', 'Statut', false) }}*</label>
                        <div class="col-12">
                            <select class="form-control data needed "
                                    name="status"
                                    title="Statut">
                                <option value=""></option>
                                {% for status in untreatedStatus %}
                                    <option value="{{ status.id }}">{{ status.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% else %}
                    {% include 'utils/warningSelectEmpty.html.twig' with {
                        array: [],
                        warningLabel: trans('Demande', 'Acheminements', 'Général', "Vous n'avez pas configuré de statut {1} pour ce type d'acheminement", {
                            '1': 'a traiter'
                        }),
                        redirectPath: path('settings_item', {
                            'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_TRACING'),
                            'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_DISPATCHES'),
                            'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_STATUSES'),
                        }),
                        redirectLabel: trans('Demande', 'Général', 'Aller vers la création des statuts'),
                        block: true,
                        rights: {
                            menu: constant('App\\Entity\\Menu::PARAM'),
                            action: constant('App\\Entity\\Action::CREATE')
                        }
                    } %}
                {% endif %}
            </div>

            {% if untreatedStatus is not empty %}
                {% include 'utils/modal/footer.html.twig' with {
                    elements: [
                        {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                        {classes: 'btn btn-success submit-button', text: trans('Général', null, 'Modale', 'Enregistrer')}
                    ],
                } %}

            {% endif %}
        </div>
    </div>
</form>
