<form method="" class="modal fade" id="modalPrintDeliveryNote" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Création modification BL"
            } %}

            <div class="modal-body modal-input"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success submit', text: 'Enregistrer'}
                ],
            } %}

        </div>
    </div>
</form>
