<div class="modal fade" data-modal-type="new" id="modalNewDispatch" aria-labelledby="dataModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Demande', 'Acheminements', 'Général', "Nouvelle demande d'acheminement")
            } %}

            <div class="modal-body modal-input container-fluid">
                {% include 'dispatch/forms/form.html.twig' %}
            </div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: 'submit'},
                ],
            } %}
        </div>
    </div>
</div>
