{% set template = template is defined and template ? template : '' %}
{% set config = config is defined and config is not empty ? config : [] %}
<div class="col-12">
    <div class="row">
        <div class="col-md-4 col-12 form-group">
            <label class="wii-field-name mb-2">Nom du modèle*</label>
            <input type="text" class="form-control data needed required" name="name"/>
        </div>
    </div>
</div>
<div class="col-md-4 col-12 form-group">
    <label class="wii-field-name mb-2">Texte notification*</label>
    <textarea name="content"
              style="resize: none"
              rows="6"
              class="form-control data needed">{{ config ? config['content'] }}</textarea>
</div>

{% set image = config and config['image'] is defined ? config['image'] : '' %}
<div class="col-md-4 col-12 d-flex flex-column">
    <label class="wii-field-name mb-2">Image de notification</label>
    <img src="{{ image ? app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ image : '' }}"
         id="preview-mail-image" alt="Logo choisi" height="50px" class="{{ image ? '' : 'd-none' }} mr-2"/>

    <div>
        <button class="btn btn-primary" onclick="$('#upload-mail-image').click();">
            <i class='fas fa-pencil-alt'></i>
        </button>
        <button class="btn btn-danger ml-2 delete-button d-none h-100" onclick="$('#preview-mail-image').display(true); $(this).addClass('d-none');">
            <span class="wii-icon wii-icon-trash"></span>
        </button>
    </div>
    <input type="file" name="image" class="data-file" id="upload-mail-image" accept="image/png, image/jpeg, image/jpg" hidden>
</div>

