<div class="modal fade" id="modalDeleteZone" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Supprimer la zone"
            } %}

            <div class="modal-body modal-input">

            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', id: 'dismissDeleteZone' , dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', id: 'submitDeleteZone', text: 'Supprimer', name: 'id', type: 'submit'}
                ],
            } %}

        </div>
    </div>
</div>
