<div class="form-group">
    {% if zone.locations is not empty %}
        Êtes-vous sûr de vouloir supprimer cette zone ? Elle est liée à {{ zone.locations.count }} emplacements.
    {% else %}
        Êtes-vous sûr de vouloir supprimer cette zone ?
    {% endif %}
</div>
