{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Pour gérer le bon <span class="do-not-click-me-several-times user-select-none">encodage</span> des caractères spéciaux sur les fichiers exportés.
        </div>
        <div class="col-4">
            {{ form.select(setting('USES_UTF8'), "Encodage des exports CSV", false, {
                items: setting('ENCODING_VALUES'),
                value: setting_value('USES_UTF8'),
            }) }}
        </div>
    </div>
</div>

{% include 'utils/easterEgg.html.twig' %}
