{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-describe">
            Pour gérer le bon encodage des caractères spéciaux sur les fichiers exportés.
        </div>
        <div class="col-4">
            {{ form.select(setting('USES_UTF8'), " Encodage des exports CSV", false, {
                labelClass: "wii-field-name",
                items:setting('ENCODING_VALUES'),
                value: setting_value('USES_UTF8'),
            }) }}
        </div>
    </div>
</div>

<div class="wii-section-title">Export Stock</div>

<div class="wii-section">
    <p>
        Les <span class="do-not-click-me-several-times user-select-none">références</span> et articles exportés sont seulement ceux avec le groupe de visibilité rattaché à l'utilisateur.
    </p>

    <div class="d-flex">
        <p class="mt-4 bold col-2 px-0">Références</p>
        <div class="btn btn-primary mt-3"
             onclick="saveExportFile('export_references', false)">
            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
        </div>
    </div>

    <div class="d-flex">
        <p class="mt-4 bold col-2 px-0">Articles</p>
        <div class="btn btn-primary mt-3"
             onclick="saveExportFile('export_articles', false)">
            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
        </div>
    </div>
</div>
{% include 'exports/easterEgg.html.twig' %}
