<div class="wii-section">
    <div class="row">
        <div class="col-auto">
            <label for="importExcel" class="pointer btn btn-primary" data-toggle="tootlip"
                   data-title="charger un fichier .csv avec en colonne 1 les références, en colonne 2 les catégories">
                <span class="fas fa-folder-open mr-2"></span>Import excel
            </label>
            <input type="file" id="importExcel" class="d-none" onchange="importInventoryFile()">
        </div>
        <div class="col-auto">
            <a href="/modele/modeleImportCategorie.csv"
               class="btn btn-outline-primary">
                Modèle d'import
            </a>
        </div>
    </div>
</div>
