<div class="sub-content">
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-primary d-flex align-items-center"
                    data-title="charger un fichier .csv avec en colonne 1 les références, en colonne 2 les catégories">
                <i class="wii-icon wii-icon-plus mr-2"></i>Import excel
                <input type="file" id="importExcel" class="d-none" onchange="importInventoryFile()">
            </button>
        </div>
        <div class="col-auto">
            <a href="/modele/modeleImportCategorie.csv"
               class="btn btn-outline-primary">
                Modèle d'import
            </a>
        </div>
    </div>
</div>
