<div class="wii-page-card">
    <div class="row wii-page-card-header">
        <div class="">
            <label
                for="importExcel"
                class="btn btn-primary"
                data-title="charger un fichier .csv avec en colonne 1 les références, en colonne 2 les catégories">
                <span class="fas fa-folder-open mr-2"></span>Import excel
                <input type="file" id="importExcel" class="d-none" onchange="importFile()">
            </label>
        </div>
        <button onclick="downloadModele()" class="btn btn-outline-primary mx-3">
            <span class="far fa-file-excel mr-2"></span>Modèle d'import
        </button>
    </div>
</div>
