<div class="w-100">
    {% include 'filters/filtersImport.html.twig' with {
        'page': 'PAGE_IMPORT',
        'tableSelector': '#tableImport',
        marginClass: 'mt-15px',
    } %}
    <div class="wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn btn-primary d-flex align-items-center"
                     onclick="displayFirstModal()">
                    <span class="wii-icon wii-icon-plus mr-2"></span>
                    Ajouter un import
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableImport" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    {% include 'settings/donnees/import/modalNewImport.html.twig' %}
    {% include 'settings/donnees/import/modalConfirmCancel.html.twig' %}
    {% include 'settings/donnees/import/modalLaunchPlanifiedImport.html.twig' %}
</div>
