<div class="d-flex">
    <div>
        <a class="btn btn-col-action"
           href="{{ path('print_acheminement_state_sheet', {acheminement: acheminement.id}) }}"
           target="_blank">
            <i class='fas fa-print'></i>
        </a>
    </div>
    <div>
        <div class="btn btn-col-action" data-id='{{ acheminement.id }}' data-target='#modalEditAcheminements' data-toggle='modal'
             onclick="editRow($(this), Routing.generate('acheminement_edit_api', true), $('#modalEditAcheminements'), $('#submitEditAcheminements'), true)">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
    <div>
        <div class="btn btn-col-action" data-id='{{ acheminement.id }}' data-target='#modalDeleteAcheminements' data-toggle='modal'
             onclick="deleteRow($(this), $('#modalDeleteAcheminements'), $('#submitDeleteAcheminements'))">
            <i class='fas fa-trash'></i>
        </div>
    </div>
</div>
