<div class="d-flex">
    <div class="d-none">
        {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::DISPLAY_ACHE')) %}
            <a href="{{ url }}"
               class="d-none action-on-click">
                <div class="btn btn-col-action">
                    <i class='fas fa-eye'></i>
                </div>
            </a>
        {% endif %}
    </div>
</div>
