{% extends 'layout.html.twig' %}

{% block title %}Acheminements{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersAcheminements.html.twig' with {
        'page': 'PAGE_ACHEMINEMENTS',
        'tableSelector': '#tableAcheminement'
    } %}
{% endblock %}

{% block page_content %}
    <h1>Acheminements</h1>

    <div class="row">
        {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
            <a href="" data-toggle="modal" data-target="#modalNewAcheminements" class="btn btn-primary" onclick="newModal(Routing.generate('acheminements_new_api', true), $('#modalNewAcheminements'))">
                <span class="fa fa-plus mr-2"></span>Nouvel acheminement
            </a>
        {% endif %}
    </div>

    <div>
        <table id="tableAcheminement" class="table table-striped table-bordered w-100">
        </table>
    </div>
    <div hidden id="barcodes"></div>
    <div id="barcode"></div>
    {% include "acheminements/modalNewAcheminements.html.twig" %}
    {% include "acheminements/modalEditAcheminements.html.twig" %}
    {% include "acheminements/modalDeleteAcheminements.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/acheminements.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
