<div>
    <div class="form-header">

    </div>
    <div class="form-content">
        <div class="timeline-container">

        </div>
        <div>
            <div class="reference-container"></div>
            <div class="manager-container"></div>
            <div class="other-informations-container"></div>
            <div class="article-container"></div>
            <div class="summary-container"></div>
        </div>
    </div>
</div>
