{% extends 'kiosk/layout.thml.twig' %}

{% block title %} Borne | Formulaire {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('kiosk') }}
{% endblock %}

{% block page_content %}
    <div>
        <h1 class="form-header">
            Entrée de stock
        </h1>
        <div class="form-content">
            <div class="timeline-container">
                <span class="wii-field-text">Référence</span>
                <span class="wii-field-text">Demandeur et suiveur</span>
                <span class="wii-field-text">Autres informations</span>
                <span class="current wii-field-text">Article</span>
                <span class="future wii-field-text">Récapitulatif</span>
            </div>
            <div>
                <div class="reference-container"></div>
                <div class="manager-container"></div>
                <div class="other-informations-container"></div>
                <div class="article-container"></div>
                <div class="summary-container"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('kiosk') }}
{% endblock %}
