{% extends 'base.html.twig' %}

{% block body %}
    <input type="hidden" id="BARCODE_VALID_REGEX" value="{{ constant("App\\Service\\SettingsService::CHARACTER_VALID_REGEX")|e('html') }}">
    <div class="wrapper {% block wrapperClass '' %}">
        <div class="container-fluid {% block pageContainerClass '' %}">

            {% block page_content %}{% endblock %}

        </div>
    </div>

{% endblock %}
