<div class="modal" id="modal-waiting" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="kiosk-modal-content">
            <div class="modal-body my-5">
                <div class="m-auto w-fit-content pb-5">
                    <div class="spinner-border waiting-modal-spinner" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="mt-4 content field-text text-center" id="stock-error-message">
                    {{ message }}
                </div>
            </div>
        </div>
    </div>
</div>
