{% extends 'layout.html.twig' %}

{% block title %}Demande | {{ 'services.Service'|trans }}{% endblock %}
{% block title_tooltip %}Demande | Service{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersDemands.html.twig' with {
        page: 'PAGE_HAND',
        tableSelector: '#tableHandling_id',
        callback: 'callbackSaveFilter',
        emergency: true
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
                    <div class="btn-group">
                        <div class="btn btn-primary btn-ripple" onclick="saveExportFile('get_handlings_for_csv', false)">
                            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableHandling_id" class="table w-100"></table>
            </div>
        </div>
    </div>
    {% include "handling/modalDeleteHandling.html.twig" %}
    {% include "handling/modalEditHandling.html.twig" %}
    {% include "handling/modalNewHandling.html.twig" with modalNewConfig %}
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/pages/handling.js') }}?{{ app_last_cache_clear }}"></script>
    {% endblock %}
