{% extends 'layout.html.twig' %}

{% block title %}Demande | {{ 'services.Service'|trans }}{% endblock %}
{% block title_tooltip %}Demande | Service{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersDemands.html.twig' with {
        page: 'PAGE_HAND',
        tableSelector: '#tableHandling_id',
        callback: 'callbackSaveFilter',
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
                    <div class="btn-group">
                        <div class="btn btn-primary btn-ripple split-button"
                             data-toggle="modal"
                             data-target="#modalNewHandling"
                             onclick='initNewHandlingEditor("#modalNewHandling")'>
                            <span class="fa fa-plus mr-2"></span>Nouvelle demande
                        </div>
                        <button type="button"
                                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                            <div class="dropdown-item" onclick="saveExportFile('get_handlings_for_csv', false)">
                                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
                        <div class="btn btn-primary btn-ripple" onclick="saveExportFile('get_handlings_for_csv', false)">
                            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                        </div>
                    {% endif %}
                    {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                        <a href="" data-toggle="modal" data-target="#modalNewHandling" class="btn btn-primary btn-ripple"
                           onclick='initNewHandlingEditor("#modalNewHandling")'>
                            <span class="fa fa-plus mr-2"></span>Nouvelle demande
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableHandling_id" class="table w-100"></table>
            </div>
        </div>
    </div>
    {% include "handling/modalDeleteHandling.html.twig" %}
    {% include "handling/modalEditHandling.html.twig" %}
    {% include "handling/modalNewHandling.html.twig" with modalNewConfig %}
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/handling.js') }}?{{ date().timestamp }}"></script>
    {% endblock %}
