<form method="" class="modal fade" id="modalDeleteHandling" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: '<span title="Supprimer la demande de service">' ~ ('services.Supprimer la demande de service' | trans) ~ '</span>'
            } %}

            <div class="modal-body">
                {{ 'services.Voulez-vous réellement supprimer cette demande de service'|trans }} ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitDeleteHandling" name='handling' value='' type="button" data-dismiss="modal"
                    class="btn btn-danger data">Supprimer</button>
            </div>
        </div>
    </div>
</form>
