{% import 'form.html.twig' as form %}

<form method="" class="modal fade" id="modalEditStatut" role="dialog" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: '<span title="Modier le statut">' ~ ('Modier le statut' | trans) ~ '</span>'
            } %}
            <div class="modal-body modal-input container-fluid">
                {{ form.select('statut', "Statut", true, {
                    items: status,
                    type : null,
                    search : false,
                    labelOptions: {
                        removeAsterisk: true
                    }
                }) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitEditStatut" name='handling' value='{{ handling.id }}' type="button" data-dismiss="modal"
                    class="btn btn-success data">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
