{% import 'form.html.twig' as form %}

<div class="modal fade" id="modalEditStatut" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Demande', 'Services', 'Modale et détails', 'Changer de statut')
            } %}
            <div class="modal-body modal-input container-fluid">
                {{ form.select('statut', trans('Demande', 'Services', 'Modale et détails', 'Statut'), true, {
                    items: statuses,
                    value: currentStatus.id,
                    type : null,
                    search : false,
                    labelOptions: {
                        removeAsterisk: true
                    }
                }) }}
            </div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success data', text: trans('Général', null, 'Modale', 'Enregistrer'), dismiss: true, value: handling.id, name: 'handling', id: 'submitEditStatut'}
                ],
                hideErrorContainer: true,
            } %}
        </div>
    </div>
</div>
