<form method="" class="modal fade" id="modalDeleteHandling" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: '<span title="Supprimer la demande de service">' ~ trans('Demande', 'Services', 'Supprimer la demande de service', false) ~ '</span>'
            } %}

            <div class="modal-body">
                {{ trans('Demande', 'Services', 'Voulez-vous réellement supprimer cette demande de service', false) }} ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger data', text: 'Supprimer', id: 'submitDeleteHandling', name: 'handling', dismiss: true}
                ],
                renderErrorContainer: false
            } %}

        </div>
    </div>
</form>
