<div class="d-flex">
    <div class="d-none">
        <div class="action-on-click" data-id='{{ dayId }}' data-toggle='modal' data-target='#modalEditDays'
             onclick="clearErrorMsg($('#submitEditDays')), editRow($(this), Routing.generate('days_api_edit', true), $('#modalEditDays'), $('#submitEditDays'))">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
</div>
