{% extends 'layout.html.twig' %}

{% block title %}Paramétrage global{% endblock %}

{% block page_content %}
    <div class="row mt-4">
        {% include 'parametrage_global/paramLabels.html.twig' %}
    </div>

    <div class="row">
        {% include 'parametrage_global/paramexportCsv.html.twig' %}
    </div>

    <div class="row">
        {% include 'parametrage_global/paramPrefixDemands.html.twig' %}
    </div>

    <div class="row">
        {% include 'parametrage_global/paramMailServer.html.twig' %}
    </div>

    <div class="row">
        {% include 'parametrage_global/paramReceptions.html.twig' with paramReceptions %}
    </div>

    <div class="row">
        {% include 'parametrage_global/paramArrivages.html.twig' %}
    </div>

    <div class="row">
        {% include 'parametrage_global/modalEditDays.html.twig' %}
    </div>

    <div class="row">
        {% include 'parametrage_global/paramTranslations.html.twig' with paramTranslations %}
    </div>

    <div class="row">
        {% include 'parametrage_global/paramDashboard.html.twig' with paramDashboard %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/parametrage-global.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
