{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Paramétrage global{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row mt-4">
            {% include 'parametrage_global/labelSettings.html.twig' %}
        </div>

        <div class="row">
            {% include 'parametrage_global/documentSettings.html.twig' with documentSettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/CSVExportSettings.html.twig' %}
        </div>

        <div class="row">
            {% include 'parametrage_global/requestPrefixSettings.html.twig' %}
        </div>

        <div class="row">
            {% include 'parametrage_global/deliveryRequestSettings.html.twig' with deliverySettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/mailServerSettings.html.twig' %}
        </div>

        <div class="row">
            {% include 'parametrage_global/receptionSettings.html.twig' with receptionSettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/arrivalSettings.html.twig' with arrivalSettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/dispatchSettings.html.twig' with dispatchSettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/handlingSettings.html.twig' with handlingSettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/stockSettings.html.twig' with stockSettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/modalEditDays.html.twig' %}
        </div>

        <div class="row">
            {% include 'parametrage_global/translationSettings.html.twig' with translationSettings %}
        </div>

        <div class="row">
            {% include 'parametrage_global/appearanceSettings.html.twig' %}
        </div>

        <div class="row">
            {% include 'parametrage_global/trackingMovementSettings.html.twig' %}
        </div>

        <div class="row">
            {% include 'parametrage_global/workFreeDaysSettings.html.twig' %}
        </div>

        {% if isClientChangeAllowed %}
            <div class="row">
                {% include 'parametrage_global/clientSettings.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/parametrage-global.js') }}?v={{ web_version }}"></script>
{% endblock %}
