<a data-toggle="collapse" href="#menuDisplay" role="button" aria-expanded="false"
   aria-controls="menuDisplay" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">Affichage des menus<i class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
</a>

<div class="collapse col-12 row mx-auto" id="menuDisplay">
    {% for menu, submenus in menusConfig %}
    <div class="col-4 p-2">
        <div class="frame">
            <div class="row">
                <div class="col-auto">
                    <p class="bold">Menu {{ menu|capitalize }}</p>
                </div>
            </div>
            {% for submenu, display in submenus %}
            <div class="mb-2 ml-2">
                <label class="switch mr-2">
                    <input class="checkbox" type="checkbox" {{ display ? 'checked' : '' }} name="{{ menu~'/'~submenu }}">
                    <span class="slider round"></span>
                </label>
                {{ submenu|capitalize }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
