<a data-toggle="collapse" href="#paramArrivage" role="button" aria-expanded="false"
   aria-controls="paramArrivage" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">
        Paramétrage arrivage
        <i class="fas fa-arrow-alt-circle-down ml-2"></i>
    </h1>
</a>
<div class="collapse col-12" id="paramArrivage">
    <div class="row p-3">
        {% set checked = (redirect ? 'checked' : '') %}
        <label class="switch">
            <input type="checkbox" class="checkbox col-3" {{ checked }} name="param-create-demande-livraison"
                   onchange="updateToggledParam($(this), '{{ path('active_desactive_redirection') }}')">
            <span class="slider round"></span>
        </label>
        <label class="pl-1" for="param-create-demande-livraison">Redirection vers l'arrivage créé</label>
    </div>
</div>
