{% if array is empty %}
    <div class="row align-items-center justify-content-center mb-3">
        <div class="col-auto">
            <span title="{{ title is defined ? title }}">
                <i class='fas fa-warning'></i>
                {{ warningLabel }}
            </span>
        </div>
        <div class="col-auto">
            <a href="{{ redirectPath }}" class="btn btn-sm btn-primary">
                <i class='fa fa-directions mr-2'></i> {{ redirectLabel }}
            </a>
        </div>
    </div>
{% endif %}
