<div class="modal fade" id="modalEasterEgg" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Un cookie"
            } %}

            <div class="d-flex justify-content-center align-items-center" style="height: 250px;">
                <div class="spinning-cookie"></div>
            </div>
        </div>
    </div>
</div>
