{% set containerClass = containerClass is defined and containerClass ? containerClass %}
{% set wrapperClass = wrapperClass is defined and wrapperClass ? wrapperClass %}

{% if freeFields | length > 0 %}
    {% if containerClass %}<div class="{{ containerClass }}">{% endif %}
    {% include 'utils/data-index.html.twig' with {
        data: freeFields|map((freeField) => {
            label: freeField.labelIn(language_service.getCurrentUserLanguageSlug, language_service.defaultSlug) ?: freeField.label,
            value: (values[freeField.id] ?? (freeField.defaultValue ?? ''))
                | format_helper('freeField', freeField, needsDateFormatting is defined and needsDateFormatting ? app.user : null)
        }),
        wrapperClass: wrapperClass
    } %}
    {% if containerClass %}</div>{% endif %}
{% else %}
    <div class="text-center ml-3 py-3">
        <span class="wii-small-text"
              title="{{ emptyTitle is defined ? emptyTitle }}">
            {{ emptyLabel }}
        </span>
    </div>
{% endif %}
