{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12">
            {{ form.checkbox(setting('PREPARATION_DISPLAY_ARTICLES_WITHOUT_MANUAL'), "Afficher l'écran de suggestion d'article sans sélection manuelle de l'article", false, setting_value('PREPARATION_DISPLAY_ARTICLES_WITHOUT_MANUAL')) }}
        </div>
    </div>
</div>
