<div class="d-flex">
    <div data-id='{{ fournisseurId }}' data-target='#modalEditFournisseur' data-toggle='modal' class='command-edit'
        onclick="editRow($(this), Routing.generate('fournisseur_edit_api', true), $('#modalEditFournisseur'), $('#submitEditFournisseur'))">
        <i class='fas fa-pencil-alt '></i>
    </div>
    <div class='fournisseur-delete'
        onclick="deleteRow($(this), $('#modalDeleteFournisseur'), $('#submitDeleteFournisseur'))"
        data-id='{{ fournisseurId }}' data-target='#modalDeleteFournisseur' data-toggle='modal'>
        <i class='fas fa-trash '></i>
    </div>
</div>