<div class="row">
    <div data-id='{{ fournisseurId }}' data-target='#modalEditFournisseur' data-toggle='modal' class='col-2 command-edit'
        onclick="editRow($(this), Routing.generate('fournisseur_edit_api', true), $('#modalEditFournisseur'), $('#submitEditFournisseur'))">
        <i class='fas fa-pencil-alt '></i>
    </div>
    <div class='fournisseur-delete col-2'
        onclick="deleteRow($(this), $('#modalDeleteFournisseur'), $('#submitDeleteFournisseur'))"
        data-id='{{ fournisseurId }}' data-target='#modalDeleteFournisseur' data-toggle='modal'>
        <i class='fas fa-trash '></i>
    </div>
</div>