<div class="d-flex">
    <div class="dropdown dropright {{ not hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::DELETE')) ? 'd-none' }}">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu pointer">
            {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::EDIT')) %}
                <div class="d-none">
                    <div class="action-on-click" data-id='{{ fournisseurId }}' data-target='#modalEditFournisseur' data-toggle='modal'
                         onclick="editRow($(this), Routing.generate('fournisseur_api_edit', true), $('#modalEditFournisseur'), $('#submitEditFournisseur'))">
                        <i class='fas fa-pencil-alt '></i>
                    </div>
                </div>
            {% endif %}
            {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::DELETE')) %}
                <div>
                    <div class="dropdown-item"
                         onclick="checkAndDeleteRow($(this), '#modalDeleteFournisseur', 'fournisseur_check_delete', '#submitDeleteFournisseur')"
                         data-id='{{ fournisseurId }}' data-target='#modalDeleteFournisseur' data-toggle='modal'>
                        <i class='fas fa-trash mr-2'></i>Supprimer
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
