<div class="row">
    <div data-id='{{ fournisseurId }}' data-target='#modalEditFournisseur' data-toggle='modal' class='command-edit col-3'
        onclick="editRow($(this), Routing.generate('fournisseur_api_edit', true), $('#modalEditFournisseur'), $('#submitEditFournisseur'))">
        <i class='fas fa-pencil-alt '></i>
    </div>
    <div class='fournisseur-delete col-3'
        onclick="checkAndDeleteRow($(this))"
        data-id='{{ fournisseurId }}' data-target='#modalDeleteFournisseur' data-toggle='modal'>
        <i class='fas fa-trash '></i>
    </div>
</div>