 {% extends 'layout.html.twig' %}

{% block title %}Référentiel / Fournisseurs{% endblock %}

{% block page_content %}
<h1>Fournisseurs</h1>

<div class="row ">

    {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
        <a href="" data-toggle="modal" data-target="#modalNewFournisseur" class="btn btn-primary float-left">
            <span class="fa fa-plus mr-2"></span>Nouveau Fournisseur
        </a>
    {% endif %}
</div>

<table id="tableFournisseur_id" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Code de référence</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


{% include "fournisseur/modalDeleteFournisseur.html.twig" %}
{% include "fournisseur/modalEditFournisseur.html.twig" %}
{% include "fournisseur/modalNewFournisseur.html.twig" %}




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fournisseur.js')}}?{{ date().timestamp }}"> </script>
{% endblock %}

