<div class="form-group col-6">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Nom</label>
        </div>
        <input class="form-control data" type="text" value='{{fournisseur.nom}}' name="nom" id="nom">
    </div>
</div>
<div class="form-group col-6">
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Code de référence</label>
        </div>
        <input class="form-control data" type="text" value='{{fournisseur.codeReference}}' name="CodeReference"
            id="CodeReference">
    </div>
</div>