<div class="modal fade" id="modalNewFournisseur" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau fournisseur"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label class="wii-field-name">Nom*</label>
                    <input type="text" class="form-control data needed" name="name">
                </div>

                <div class="form-group">
                    <label class="wii-field-name">Code de référence*</label>
                    <input type="text" class="form-control data needed" name="code">
                </div>

                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <input class="checkbox data" type="checkbox" name="possibleCustoms">
                        <span class="font-size-mini pointer ml-2 wii-field-text"
                              onclick="$(this).closest('div').find('.checkbox').click();">Possible douane</span>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <input class="checkbox data" type="checkbox" name="urgent">
                        <span class="font-size-mini pointer ml-2 wii-field-text"
                              onclick="$(this).closest('div').find('.checkbox').click();">Urgent</span>
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewFournisseur'}
                ],
            } %}

        </div>
    </div>
</div>
