<div class="modal fade modal-delete-line" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="delivery-station-modal-content">
            <div class="modal-body">
                {% include 'utils/modal-alert/warning-bookmark.html.twig' with {
                    'show': true,
                } %}
                <div class="mt-4 content field-text text-center ">
                    Voulez-vous supprimer cette référence de votre demande de livraison ?<br>
                    <span class="reminder"></span>
                </div>

                <div class="content field-text text-center last-reference mt-3 d-none">
                    <span class="wii-icon wii-icon-info wii-icon-20px bg-black mr-2"></span>
                    <span>
                        Il s'agit de la dernière référence présente dans la demande. Si vous confirmez, vous serez redirigé à la page d'accueil.
                    </span>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'outline', dismiss: true, text: 'Annuler'},
                    {classes: 'submit', dismiss: true, text: 'Supprimer'},
                ],
                renderErrorContainer: false
            } %}
        </div>
    </div>
</div>
