<div class="modal fade" id="modal-information" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="kiosk-modal-content">
            <div class="modal-body">
                {% include 'utils/modal-alert/question-bookmark.html.twig' %}
                <div class="mt-4 content field-text text-center" id="stock-error-message">
                    {{ setting_value('INFORMATION_MESSAGE') }}
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                kiosk : true,
                elements: [
                    {classes: 'outline', dismiss: true, text: 'Fermer'},
                ],
                renderErrorContainer: false
            } %}
        </div>
    </div>
</div>
