<div class="modal fade modal-generic" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="kiosk-modal-content">
            <div class="modal-body">
                {% include 'utils/modal-alert/warning-bookmark.html.twig' with {
                    'show': true,
                } %}
                <div class="mt-4 content field-text text-center error-message"></div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'outline', dismiss: true, text: 'Fermer'},
                    {classes: 'd-none submit', dismiss: true, text: 'Abandonner'},
                ],
                renderErrorContainer: false
            } %}
        </div>
    </div>
</div>
