<div class="d-flex">
    <div data-toggle='modal' data-target='#modalEditType'>
        <div class="btn btn-col-action" data-id='{{ idType }}'
        onclick="editRow($(this),  Routing.generate('type_api_edit', true), $('#modalEditType'), $('#submitEditType'))">
            <i class='fas fa-pencil-alt '></i>
        </div>
    </div>
    <div>
        <div class="btn btn-col-action"
        onclick="deleteRow($(this), $('#modalDeleteType'), $('#submitDeleteType'))"
        data-id='{{ idType }}' data-target='#modalDeleteType' data-toggle='modal'>
            <i class='fas fa-trash '></i>
        </div>
    </div>
    <div>
        <a href={{urlChampsLibre}}>
            <div class="btn btn-col-action">
                <i class='fas fa-eye'></i>
            </div>
        </a>
    </div>
</div>