<div class="row">
    <div data-toggle='modal' data-target='#modalEditChampLibre' class='col-4 btn-col-action'>
        <button type="button" class="btn btn-block" data-id='{{ idChampsLibre }}'
        onclick="editRow($(this),  Routing.generate('champ_libre_api_edit', true), $('#modalEditChampLibre'), $('#submitEditChampsLibre'))">
            <i class='fas fa-pencil-alt'></i>
        </button>
    </div>
    <div class='col-4 btn-col-action'>
        <button type="button" class="btn btn-block"
        onclick="deleteRow($(this), $('#modalDeleteChampsLibre'), $('#submitChampsLibreDelete'))"
        data-id={{ idChampsLibre }} data-target='#modalDeleteChampsLibre' data-toggle='modal'>
            <i class='fas fa-trash'></i>
        </button>
    </div>
</div>