<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div class="d-none">
                <div class="action-on-click"
                     data-id='{{ idType }}'
                     data-toggle='modal'
                     data-target='#modalEditType'
                     onclick="editRow($(this),  Routing.generate('type_api_edit', true), $('#modalEditType'), $('#submitEditType'))">
                    <i class='fas fa-pencil-alt '></i>
                </div>
            </div>
            <a href="{{ urlChampLibre }}"
               class="dropdown-item">
                <i class='fas fa-eye mr-2'></i>
                Voir
            </a>
            <div class="dropdown-item"
                 onclick="deleteType($(this))"
                 data-id='{{ idType }}'
                 data-target='#modalDeleteType'
                 data-toggle='modal'>
                <i class='fas fa-trash mr-2'></i>
                Supprimer
            </div>
        </div>
    </div>
</div>
