<div class="d-flex">
    <div>
        <div class="btn btn-col-action" data-id='{{ idChampLibre }}' data-toggle='modal' data-target='#modalEditChampLibre'
             onclick="editRow($(this),  Routing.generate('champ_libre_api_edit', true), $('#modalEditChampLibre'), $('#submitEditChampLibre'), false, '', false, () => {defaultValueForTypage($('#modalEditChampLibre .typageModif'))})">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
    <div>
        <div class="btn btn-col-action"
             onclick="deleteRow($(this), $('#modalDeleteChampLibre'), $('#submitChampLibreDelete'))"
             data-id={{ idChampLibre }} data-target='#modalDeleteChampLibre' data-toggle='modal'>
            <i class='fas fa-trash'></i>
        </div>
    </div>
</div>
