<div class="d-flex">
    <div data-toggle='modal' data-target='#modalEditChampLibre'>
        <div class="btn btn-col-action" data-id='{{ idChampsLibre }}'
             onclick="editRow($(this),  Routing.generate('champ_libre_api_edit', true), $('#modalEditChampLibre'), $('#submitEditChampsLibre'))">
            <i class='fas fa-pencil-alt'></i>
        </div>
    </div>
    <div>
        <div class="btn btn-col-action"
             onclick="deleteRow($(this), $('#modalDeleteChampsLibre'), $('#submitChampsLibreDelete'))"
             data-id={{ idChampsLibre }} data-target='#modalDeleteChampsLibre' data-toggle='modal'>
            <i class='fas fa-trash'></i>
        </div>
    </div>
</div>