{% extends 'layout.html.twig' %}

{% block title %}Champs Libre{% endblock %}

{% block page_content %}
    <div class="m-4 datatable-container shadow-lg">
        <div class="row">
            <h1 class="col align-self-start ml-2">Groupes de Champs libres</h1>
            <div class="col-auto">
                <a href="{{ path('types_param_index') }}" class="btn btn-primary btn-ripple">
                    <span class="fa fa-plus mr-2"></span>Aller vers la création d'un type
                </a>
            </div>

            <div class="col-12">
                <table id="tableType_id" class="table -table w-100">
                </table>
            </div>
        </div>
    </div>


    {% include "champ_libre/modalNewType.html.twig" %}
    {% include "champ_libre/modalDeleteType.html.twig" %}
    {% include "champ_libre/modalEditType.html.twig" %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let id;
    </script>

    <script src="{{ asset('js/champLibre.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
