<div class="form-group">
    <label for="date-attendu">Label</label>
    <input type="text" class="form-control data" name="label" value="{{champLibre.label}}" required="true">
</div>
<div class="form-group">
    <label for="typage">Typage</label>
    <select class="form-control select2 data" name="typage" id='typageModif' onchange="changeType(this)">
        {% if champLibre.typage == "booleen" %}
        <option value="booleen">Oui/Non</option>
        {% endif %}
        {% if champLibre.typage == "number" %}
        <option value="number">Nombre</option>
        {% endif %}
        {% if champLibre.typage == "text" %}
        <option value="text">Texte</option>
        {% endif %}
        {% if champLibre.typage == "list" %}
        <option value="list">Liste</option>
        {% endif %}
        {% if champLibre.typage != "booleen" %}
        <option value="booleen">Oui/Non</option>
        {% endif %}
        {% if champLibre.typage != "number" %}
        <option value="number">Nombre</option>
        {% endif %}
        {% if champLibre.typage != "text" %}
        <option value="text">Texte</option>
        {% endif %}
        {% if champLibre.typage != "list" %}
        <option value="list">Liste</option>
        {% endif %}
    </select>
</div>

<div id="infos">
    {% include "champ_libre/modalEditChampLibreInfo.html.twig" %}
</div>