{% extends 'base.html.twig' %}

{% block title %}Edit CategoriesVehicules{% endblock %}

{% block body %}
    <h1>Edit CategoriesVehicules</h1>

    {{ include('categories_vehicules/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categories_vehicules_index') }}">back to list</a>

    {{ include('categories_vehicules/_delete_form.html.twig') }}
{% endblock %}
