{% set external = external is defined and external %}

{% macro navigationHeaderButtons(external, token = null) %}
    <div class="col-auto">
        <button class="btn btn-outline-primary today-date mr-0 h-100"
                disabled
                data-loader-color="black">
            Aujourd'hui
        </button>
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-primary decrement-date mr-0 h-100 d-flex align-items-center has-tooltip"
                data-loader-color="black"
                title="Semaine précédente">
            <i class="wii-icon wii-icon-arrow-left wii-icon-15px"></i>
        </button>
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-primary increment-date h-100 d-flex align-items-center has-tooltip"
                data-loader-color="black"
                title="Semaine suivante">
            <i class="wii-icon wii-icon-arrow-right wii-icon-15px"></i>
        </button>
    </div>

    {% if not external %}
        <div class="col-auto ml-auto">
            {% include "utils/action-buttons/header-buttons.html.twig" with {
                actions: [
                    {
                        hasRight: not external,
                        title: "Lien externe",
                        icon: "fas fa-external-link-alt",
                        href: path('production_request_planning_external', {token}),
                    },
                    {
                        title: "Gestion des champs",
                        icon: "fa fa-cog",
                        attributes: {
                        "data-toggle": "modal",
                        "data-target": "#modalFieldsModes",
                    },
                    }
                ]
            } %}
        </div>

    {% endif %}
{% endmacro %}

{% macro previousWeekSideButton(external) %}
    <div class="previous-week pointer d-none">
        <img class="has-tooltip"
            {% if not external %}
                title="Glisser-déposer une carte pour passer à la semaine précédente."
            {% else %}
                title="Semaine précédente"
            {% endif %}
            src="{{ asset("svg/arrow-left.svg") }}"
            width="30"
        >
    </div>
{% endmacro %}

{% macro nextWeekSideButton(external) %}
    <div class="next-week pointer d-none">
        <img class="has-tooltip"
            {% if not external %}
                title="Glisser-déposer une carte pour passer à la semaine suivante."
            {% else %}
                title="Semaine suivante"
            {% endif %}
            src="{{ asset("svg/arrow.svg") }}"
            width="30"
        >
    </div>
{% endmacro %}
