<form class="modal fade" id="modalNewVehicle" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Nouveau véhicule"
            } %}

            <div class="modal-body modal-input container-fluid">
                {% include 'vehicle/modal/form.html.twig' with {vehicle: newVehicle} %}
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success submit">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
