{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Dashboards{% endblock %}

{% block pageContainerClass 'full-page' %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto">
                <button class="btn btn-primary btn-ripple">
                    <i class="fas fa-plus mr-2"></i> Ajouter une ligne<br>
                    <small style="display:block;font-size:0.8rem;margin-top:-5px;">(6 lignes max)</small>
                </button>
            </div>
            <div class="col-auto ml-auto d-flex">
                <div class="dropdown dropright mr-2">
                    <button class="btn btn-primary btn-ripple" data-toggle="dropdown">
                        Affichage externe <i class="fas fa-caret-down ml-1"></i>
                    </button>

                    <div class="dropdown-menu dropdown-follow-gt pointer">
                        <a class="dropdown-item">
                            <i class="fas fa-external-link-alt"></i> Dashboard "Nom de dashboard"
                        </a>
                        <a class="dropdown-item">
                            <i class="fas fa-external-link-alt"></i> Dashboard "Nom de dashboard"
                        </a>
                        <a class="dropdown-item">
                            <i class="fas fa-external-link-alt"></i> Dashboard "Nom de dashboard"
                        </a>
                        <a class="dropdown-item">
                            <i class="fas fa-external-link-alt"></i> Dashboard "Nom de dashboard"
                        </a>
                    </div>
                </div>
                <button class="btn btn-primary btn-ripple">
                    <span class="fa fa-check mr-2"></span> Enregistrer
                </button>
            </div>
        </div>
        <div class="dashboard">
            {% for i in range(1, random(6)) %} {# placeholder #}
                <div class="dashboard-row"></div>
            {% endfor %}
        </div>
        <div class="dashboard-selector">
            {% for i in range(1, random(2, 4)) %} {# placeholder #}
                <div class="d-flex align-items-center mr-3">
                    <a href="#{{ i }}">Dashboard {{ i }}</a>
                    <div class="dropdown dropright ml-1">
                        <span class="badge badge-primary square-sm" data-toggle="dropdown">
                            <i class="fas fa-pen"></i>
                        </span>

                        <div class="dropdown-menu dropdown-follow-gt pointer">
                            <a class="dropdown-item">
                                <i class="fas fa-edit"></i> Renommer
                            </a>
                            <a class="dropdown-item">
                                <i class="fas fa-trash"></i> Supprimer
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <button class="btn btn-primary btn-ripple">
                <span class="fa fa-plus mr-2"></span> Ajouter un dashboard
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
