{% import 'form.html.twig' as form %}

<div class="row">
    <div class="form-group col-12">
        {{ form.select('pack', trans('Traçabilité', 'Général', 'Unités logistiques'), true, {
            type: '',
            editableTokenSeparator: ' ',
            multiple: true,
            editable: true,
        }) }}
        <div class="warning-message wii-warning-text mt-2" hidden>
            Les unités logistiques scannées ne sont pas réellement présentes sur cet emplacement de prise.
        </div>
    </div>
    <div class="form-group col-12">
        {{ form.select(isPickMovement ? 'emplacement-prise' : 'emplacement', trans('Traçabilité', 'Général', 'Emplacement', false), true, {
            type: 'location',
        }) }}
    </div>

    {% include 'tracking_movement/form/fieldQuantity.html.twig' %}

    {% if isPickMovement %}
        <div class="form-group col-12">
            {{ form.input('manualDelayStart', 'Début de délai manuel', false, null, {
                type: 'date',
            }) }}
        </div>
    {% endif %}

    {{ form.hidden('is-mass', 1)}}
</div>

