<p class="attachement">
    <input class="data" type="hidden" name="savedFiles[]" value="{{ pj.id }}">
    <a target="_blank" href="{{ pj.fullPath is defined and pj.fullPath is not null ? pj.fullPath : '/uploads/attachements/' ~ pjName }}"
       download="{{ attachment.originalName }}">
        <i class="fa fa-file mr-2"></i>{{ originalName }}
    </a>
    {% if canRemove is not defined or canRemove == true %}
        <i class="fa fa-times red pointer" onclick="removeAttachment($(this))"></i>
    {% endif %}
</p>
