{% extends 'base.html.twig' %}

{% block title %}New Groupes{% endblock %}

{% block body %}
    <h1>Create new Groupes</h1>

    {{ include('groupes/_form.html.twig') }}

    <a href="{{ path('groupes_index') }}">back to list</a>
{% endblock %}