{% macro variablesSection(section, fields) %}
    <div class="w-100 my-2">
        <div class="wii-field-name">{{ section }}</div>
        {% for variable, description in fields %}
            <div>
                <span class="wii-body-text text-primary">{{ '${' ~ variable ~ '}' }}</span>&nbsp;:
                <span class="wii-body-text">{{ description }}</span>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
