{% extends 'layout.html.twig' %}

{% block page_content %}

    <div class="row backgray accueil">
        <div class="square">
            <div class="text-center square-content">
                <h1>Activités</h1>
            </div>
        </div>
        <div class="square">
            <div class="text-center square-content">
                <h1>Demandes</h1>
                <a class="fa fa-bell">
                    <div class="circle"></div>
                    <div class="marker">999</div>
                </a>
            </div>
        </div>
        <div class="square">
            <div class="text-center square-content">
                <h1>Alertes de seuil</h1>
                <a href={{path('alerte_index')}} class="fa fa-warning">
                    <div class="marker">{{nbAlerte.1}}</div>
                </a>
            </div>
        </div>
    </div>
 
{% endblock %}

