{% extends 'base.html.twig' %}

{% block title %}New Demandes{% endblock %}

{% block body %}
    <h1>Create new Demandes</h1>

    {{ include('demandes/_form.html.twig') }}

    <a href="{{ path('demandes_index') }}">back to list</a>
{% endblock %}