{% extends 'layout.html.twig' %}

{% block pageContainerClass 'd-flex justify-content-center align-items-center h-100' %}
{% block title %}Erreur interne{% endblock %}

{% block page_content %}
    <div class="text-center">
        <i class="fas fa-question-circle fa-7x"></i>
        <h1 class="main-title">Une erreur est survenue</h1>

        <strong>Erreur 500</strong>
        <p>Une erreur est survenue au sein de l'application lors de votre dernière action.</p>
        <p>
            <em>Si le problème se reproduit, n'hésitez pas à contacter l'équipe technique <strong>Wiilog</strong> au 07 61 46 37 41.</em>
        </p>
        <p class="mt-3 btn btn-primary">
            <a href="{{ path('accueil') }}">Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}
