{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

    <div id="app">
        <div class="error-wrapper">
            {# <h1 class="glitch" data-text="ERREUR 404">ERREUR 404</h1> #}
            <h1 class="glitch-2">ERREUR 404</h1>
            <div class="sub">PAGE NON TROUVÉE !</div>
            <div class="em">La page que vous recherchez semble introuvable.</div>
            <a href="{{ path('check_last_login') }}">Retour</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"></script>
{% endblock %}