<div class="row">
    <div data-id='{{ articleId }}' data-toggle='modal' data-target='#modalEditArticle'
         class='col-2 command-edit'
         onclick="editRow($(this), Routing.generate('reception_article_edit_api', true), $('#modalEditArticle'), $('#submitEditArticle'))">
        <i class='fas fa-pencil-alt'></i>
    </div>
</div>
