<a href='{{ url.edit }}' class='btn btn-xs btn-default command-edit'>
    <i class='fas fa-pencil-alt fa-2x'></i>
</a>

<a href='{{ url.show }}' class='btn btn-xs btn-default command-edit'>
    <i class='fas fa-eye fa-2x'></i>
</a>