{% extends 'layout.html.twig' %}

{% block title %}Stock / Articles{% endblock %}

{% block page_content %}

<h1>Articles</h1>
<div class='d-flex justify-content-end'>
    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
    <div data-toggle="modal" data-target="#modalNewArticle" class="btn btn-action btn-primary"
        onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete'), 'article'), clearNewArticleContent($('#submitNewArticle'))">
        <i class="fa fa-plus mr-2"></i>Nouvel article
    </div>
    {% endif %}
        <div data-toggle="modal" id="printTag" class="btn btn-disabled printButton"
             onclick="getDataAndPrintLabels()">
            <i class="fas fa-print"></i> Imprimer les étiquettes
        </div>
</div>

<input type="hidden" id="listArticleIdToPrint">

    <div id="alerts">
        <div class="alert alert-danger text-center d-none">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <span class="error-msg"></span>
        </div>
    </div>

<table id="tableArticle_id" class="table table-striped table-bordered w-100">
</table>

{% set statutVisible = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
<input type="hidden" class='statutVisible' name="statutVisible" value="{{statutVisible}}">

<button class="btn" id="cannotGenerate" data-target='#modalCannotGenerate' data-toggle='modal' hidden></button>
{% include "article/modalModifyArticle.html.twig" %}
{% include "article/modalShowArticle.html.twig" %}
{% include "article/modalNewArticle.html.twig" %}
{% include "article/modalDeleteArticle.html.twig" %}
{% include "dimensions_etiquettes/modalNoParamsEtiquettes.html.twig" %}
<div class="d-none" id="barcodes"></div>

{% endblock %}

{% block javascript %}

<script src="{{ asset('js/article.js') }}?{{ date().timestamp }}"></script>

{% endblock %}