{% extends 'layout.html.twig' %}

{% block title %}Stock / Articles{% endblock %}

{% block page_content %}

<h1>Articles</h1>
<button class="btn" id="cannotDeleteArticle" data-target='#modalCannotDeleteArticle' data-toggle='modal' hidden></button>
<div class='d-flex justify-content-end'>
    <div data-toggle="modal" data-target="#modalNewArticle" class="btn btn-action btn-primary"
        onclick=" ajaxAutoFournisseurInit($('.ajax-autocompleteFournisseur')),ajaxAutoRefArticleInit($('.ajax-autocomplete')), clearNewContent($('#submitNewArticle'))">
        <i class="fa fa-plus mr-2"></i>Nouvel article
    </div>
</div>
<table id="tableArticle_id" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Référence</th>
            <th>Statut</th>
            <th>Libellé</th>
            <th>Référence article</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

{% include "article/modalModifyArticle.html.twig" %}
{% include "article/modalNewArticle.html.twig" %}
{% include "article/modalDeleteArticle.html.twig" %}
{% include "article/modalCantDeleteArticle.html.twig" %}


{% endblock %}

{% block javascript %}

<script src="{{ asset('js/article.js') }}"></script>

{% endblock %}