{% extends 'layout.html.twig' %}

{% block title %}Stock / Articles{% endblock %}

{% block page_content %}



<h1>Articles</h1>
<button class="btn" id="cannotDeleteArticle" data-target='#modalCannotDeleteArticle' data-toggle='modal' hidden></button>
<div class='d-flex justify-content-end'>
    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
    <div data-toggle="modal" data-target="#modalNewArticle" class="btn btn-action btn-primary"
        onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete')), clearNewContent($('#submitNewArticle'))">
        <i class="fa fa-plus mr-2"></i>Nouvel article
    </div>
    {% endif %}
</div>
<table id="tableArticle_id" class="table table-striped table-bordered w-100">
  
    <thead>
        <tr>
            <th>Référence</th>
            <th>Statut</th>
            <th>Libellé</th>
            <th>Référence article</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
    
</table>
    {% set statutVisible = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
    <input type="hidden" class='statutVisible' name="statutVisible" value="{{statutVisible}}">
<button class="btn" id="cannotGenerate" data-target='#modalCannotGenerate' data-toggle='modal' hidden></button>
{% include "article/modalModifyArticle.html.twig" %}
{% include "article/modalNewArticle.html.twig" %}
{% include "article/modalDeleteArticle.html.twig" %}
{% include "article/modalCantDeleteArticle.html.twig" %}
{% include "reception/modalNoParamsEtiquettes.html.twig" %}
<div class="d-none" id="barcodes"></div>

{% endblock %}

{% block javascript %}

<script src="{{ asset('js/article.js') }}?{{ date().timestamp }}"></script>

{% endblock %}