<div class="modal fade" id="modalShowArticle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Détail de l'article"
            } %}

            <div class="modal-body" id='modalShowAlerteContent'>

            </div>

            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Fermer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
