<form method="" class="modal fade" data-modal-type="new" id="modalNewArticle" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvel Article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <form class="row ">
                    <div class="col-12">
                        <div class="form-group w-100">
                            <label for="reference" title="référence">
                                {{ 'reference.référence'|trans }}*
                            </label>
                            <select class="ajax-autocomplete data form-control needed"
                                onchange="ajaxGetFournisseurByRefArticle($(this))" id="referenceCEA" name="refArticle">
                            </select>
                        </div>
                    </div>
                    <div class="col-12 d-none" id="fournisseur">
                        <div class="form-group w-100">
                            <label for="fournisseur">Fournisseur*</label>
                            <select class="data form-control needed" onchange="getArticleFournisseur()" id="fournisseurID"
                                name="fournisseur">
                            </select>
                        </div>
                    </div>
                    <div id='newContent' class="col-12">

                    </div>
                </form>
            </div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button"
                        id="submitNewArticle"
                        class="btn btn-primary data"
                        onclick="resetNewArticle($('#fournisseurAdd'))">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
