<!-- Modale Modification de quantité à collecter d'un article -->
<div method="" class="modal fade" id="modalModify" role="dialog" aria-labelledby="modalModifyArticleTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier la réception</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <div class="mb-3">
                        <label>Article</label>
                        <div class="nom"></div>
                    </div>

                    <div class="mb-3">
                        <div class="form-row">
                            <label for="statut">Statut</label>
                            <select class="select2">
                            <option class="statut data" name="statut"></option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-row">
                            <label for="date">Référence article</label>
                            <input class="form-control date data" type="date" min=0 id="date" name="date" value="">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-row">
                            <label for="dateAttendu">Emplacement</label>
                            <input class="form-control dateAttendu data" type="date" id="dateAttendu" name="dateAttendu" value="">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-row">
                            <label for="fournisseur">Destination</label>
                            <input class="form-control fournisseur data" type="text" min=0 id="fournisseur" name="fournisseur" value="">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-row">
                            <label for="fournisseur">Quantité</label>
                            <input class="form-control fournisseur data" type="text" min=0 id="fournisseur" name="fournisseur" value="">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <div class="btn btn-secondary" data-dismiss="modal">Annuler</div>
                <div id="modifySubmit" class="save btn btn-success" data-dismiss="modal">Valider</div>
            </div>
        </div>
    </div>
</div>