@import "../../variables";

.card-content {
    height: content-box;
}

.details {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

.wii-box {
    box-shadow: none;
}

.planning-card-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom-border {
    height: 60vh;
}

.card-container {
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.orderCardHover {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 992px) {
    .planning-card {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .planning-card {
        width: 100%;
    }
}

// Les boutons
$wii-switch-height: $input-height;
.planning-switch {
    [value=to-assign] {
        &:not(:disabled), &:not(:disabled) + label {
            &:hover:not(:checked) {
                color: lighten($black, 5%);
                border-color: lighten($orange, 5%);
            }
        }

        &:checked, &:checked + label {
            background: rgba(215, 100, 51, 0.15);
            border-color: $orange;

            &:hover {
                background: lighten($light-blue, 5%) !important;
                color: lighten($black, 5%) !important;
                border-color: lighten($orange, 5%) !important;
            }
        }

        &, & + label {
            border: 1px solid $orange;
            background: $white;
            color: $black;
        }
    }

    [value=assigned] {
        &:not(:disabled), &:not(:disabled) + label {
            &:hover:not(:checked) {
                color: lighten($black, 5%);
                border-color: lighten($green, 5%);
            }
        }

        &:checked, &:checked + label {
            background: rgba(165, 215, 51, 0.15);
            color: $black;
            border-color: $green;

            &:hover {
                background: lighten($light-blue, 5%) !important;
                color: lighten($black, 5%) !important;
                border-color: lighten($green, 5%) !important;
            }
        }

        &, & + label {
            border: 1px solid $green;
            background: $white;
            color: $black;
        }
    }

    [value=ongoing] {
        &:not(:disabled), &:not(:disabled) + label {
            &:hover:not(:checked) {
                color: lighten($black, 5%);
                border-color: lighten($purple, 5%);
            }
        }

        &:checked, &:checked + label {
            background: rgba(100, 51, 215, 0.15);
            color: $black;
            border-color: $purple;

            &:hover {
                background: lighten($light-blue, 5%) !important;
                color: lighten($black, 5%) !important;
                border-color: lighten($purple, 5%) !important;
            }
        }

        &, & + label {
            border: 1px solid $purple;
            background: $white;
            color: $black;
        }
    }

    input:not(:disabled), input:not(:disabled) + label {
        cursor: pointer;
    }

    input, input + label {
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        padding: 0 15px;
        border-radius: 4px;
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        font-weight: normal;
        transition: all 200ms linear;
        font-size: 1rem;
        margin: 0 1px 0 1px !important;
    }

    input:not(:disabled), input:not(:disabled) + label {
        cursor: pointer;

        &:hover:not(:checked) {
            color: lighten($dark-grey, 5%);
            border-color: lighten($white, 5%);
        }

    }

    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;

    div {
        padding: 0 5px 0 5px;
    }

    input + label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: map-get($spacers, 1);
    }

    input:not([content]) {
        display: none;
    }

    input:before, input + label:before {
        content: attr(content);
        height: $wii-switch-height;
        line-height: $wii-switch-height;
        text-align: center;
        padding: 0;
    }

    &:first-child {
        margin-top: 0 !important;
    }
}

.transport-planning {
    .sub-planning-column {
        display: flex;

        &:first-child {
            padding-right: .13rem;
        }

        &:last-child {
            padding-left: .13rem;
        }
    }

    .planning-card {
        .transport-type {
            padding: 3px 7px;
            margin-top: 7px;
            background-color: $white;
            border-radius: 4px;
            display: flex;
            align-items: center;
            width: fit-content;
            word-break: break-all;

            img {
                margin-right: 3px;
            }
        }
    }
}

.plan-round-option > * {
    display: inline-flex;
    height: 36px;
    width: auto !important;
    justify-content: center;
    align-items: center;

    &:not(.wii-radio-container) {
        min-width: 150px;
    }

    &.wii-radio-container {
        margin-right: 7px;
    }
}
