{% if entityPath is not null %}
    <a href="{{ path(entityPath, {'id': entityId}) }}"
       class="d-inline-flex align-items-center"
       onclick="event.stopPropagation()"
       target="_blank">
        <i class='fas fa-share-square mr-2'></i>
        <span class="flex-fill">
            <span>{{ fromLabel|trans }}</span>
            <br/>
            <span>{{ from|replace({'-': '&#8209;'})|raw }}</span>
        </span>
    </a>
{% elseif from is not null %}
    <span>{{ from }}</span>
{% endif %}
