<div class="d-inline-flex">
    {% include "utils/action-buttons/dropdown.html.twig" with {
        actions: [
            {
                title: trans('Général', '', 'Modale', 'Détails'),
                icon: "fas fa-eye",
                attributes: {
                    "data-id": mvt.id,
                    "data-target": "#modalShowMvtTraca",
                    "data-toggle": "modal",
                    "onclick": "showRow($(this), Routing.generate('mvt_traca_show', true), $('#modalShowMvtTraca'))",
                },
            },
            {
                hasRight: hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')),
                title: trans('Général', '', 'Modale', 'Modifier'),
                icon: "fas fa-pencil-alt",
                class: "d-none action-on-click",
                attributes: {
                    "data-id": mvt.id,
                    "data-target": "#modalEditMvtTraca",
                    "data-toggle": "modal",
                    "onclick": "editRow($(this), Routing.generate('tracking_movement_api_edit', true), $('#modalEditMvtTraca'), $('#submitEditMvtTraca'), false, initDatePickers)",
                },
            },
            {
                hasRight: hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::DELETE')),
                title: trans('Général', '', 'Modale', 'Supprimer'),
                icon: "wii-icon wii-icon-trash-black",
                attributes: {
                    "data-id": mvt.id,
                    "data-target": "#modalDeleteMvtTraca",
                    "data-toggle": "modal",
                    "onclick": "deleteRow($(this), $('#modalDeleteMvtTraca'), $('#submitDeleteMvtTraca'))",
                },
            }
        ]
    } %}

    {% if attachmentsLength > 0 %}
        {% include 'datatable/paperclip.html.twig' with {
            mvt: mvt.id,
            attachmentsLength: attachmentsLength
        } %}
    {% endif %}

</div>


