<form method="" class="modal fade" id="modalNewMvtTraca" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Nouveau mouvement</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            {% if isSafran %}
                                <div class="col-12">
                                    {% include 'mouvement_traca/newMassMvtTraca.html.twig' %}
                                </div>
                            {% else %}
                                <div class="form-group col-12">
                                    <label for="datetime">Date*</label>
                                    <input type="datetime-local" class="form-control data datetime needed no-clear"
                                           id="datetime"
                                           name="datetime">
                                </div>
                                <div class="form-group col-12">
                                    <label for="operator my-auto mr-2">Opérateur*</label>
                                    <select name="operator"
                                            class="form-control ajax-autocomplete-user data needed operator no-clear w-100">
                                    </select>
                                    <input hidden
                                           name="logged-user"
                                           data-username="{{ app.user.username }}"
                                           data-id="{{ app.user.id }}"/>
                                </div>
                                <div class="form-group col-12">
                                    <label for="type">Action*</label>
                                    <select class="form-control data needed w-100"
                                            id="type"
                                            name="type"
                                            onchange="switchMvtCreationType($(this))">
                                        <option disabled selected></option>
                                        {% for statut in statuts %}
                                            <option value="{{ statut.id }}">{{ statut.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="more-body-new-mvt-traca col-12">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="form-group col-12 h-fit-content">
                                <label for="commentaire">Commentaire</label>
                                <input id="commentaire" class="commentaire form-control data" name="commentaire"
                                       type="hidden">
                                <div class="editor-container-new"></div>
                            </div>
                            <div class="form-group col-12">
                                <div>
                                    {% include 'attachment/attachment.html.twig' with {'isNew' : true} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="toggle-collapsible expanded">Champs libres</span>
                <div class="collapsible expanded free-fields-container">
                    {% include 'free_field/freeFieldsViewing.html.twig' with {
                        freeFields: champsLibres,
                        freeFieldValues: [],
                        colType: 'col-md-4 col-12',
                        requiredType: 'requiredCreate',
                        actionType: 'new'
                    } %}
                </div>
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewMvtTraca" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
