<div class="row">
    <div class="form-group col-12">
        <label for="parent" title="Colis contenant" class="wii-field-name">Colis contenant*</label>
        <input type="text" class="form-control data needed" id="parent" name="parent">
    </div>

    <div class="form-group col-12">
        <label for="colis" title="Colis" class="wii-field-name">{{"mouvement de traçabilité.Colis"|trans}}*</label>
        <select class="form-control data needed select2-free select2-fit-content w-100"
                name="colis"
                multiple="multiple"
                title="{{ "mouvement de traçabilité.Colis"|trans }}">
        </select>
    </div>

    <input value="1" name="is-group" class="data" hidden/>
</div>
