{% import 'form.html.twig' as form %}

<div class="row">
    <div class="form-group col-12">
        {{ form.select('pack', trans('Traçabilité', 'Général', 'Unités logistiques'), true, {
            type: '',
            editableTokenSeparator: ' ',
            multiple: true,
            editable: true,
        }) }}
        <div class="warning-message wii-warning-text mt-2" hidden>
            Les unités logistiques scannées ne sont pas réellement présentes sur cet emplacement de prise.
        </div>
    </div>
    <div class="form-group col-12">
        <label class="my-auto mr-2 wii-field-name">{{ trans('Traçabilité', 'Général', 'Emplacement', false) }}*</label>
        <select name="emplacement" class="form-control ajax-autocomplete-location data needed w-100">
        </select>
    </div>

    {% include 'tracking_movement/form/fieldQuantity.html.twig' %}

    <input value="1" name="is-mass" class="data" hidden/>
</div>
