<div class="row">
    <div class="form-group col-12">
        <label for="colis" title="Colis">{{"mouvement de traçabilité.Colis"|trans}}*</label>
        <input type="text" class="form-control data needed" id="colis" name="colis">
    </div>

    <div class="form-group col-12">
        <label class="my-auto mr-2">Emplacement*</label>
        <select name="emplacement" class="form-control ajax-autocomplete-location data needed">
        </select>
    </div>

    {% include 'mouvement_traca/trackingMovementQuantity.html.twig' %}

    <input value="0" name="is-mass" class="data" hidden/>
</div>
