{% set value = quantity is defined ? quantity : 1 %}
<div class="form-group col-12">
    <label>Quantité*</label>
    <input type="number"
           name="quantity"
           title="Quantité"
           min="1"
           step="1"
           value="{{ value }}"
           data-init ="{{ value }}"
           class="form-control data needed needs-default"/>
</div>
