{% import 'form.html.twig' as form %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVER_DEMANDE'),
    field: receiver.field,
    modalType: receiver.modalType,
    elements: receiver.elements,
} %}

{% include 'settings/fixed_field_elements.html.twig' with {
    modal: constant('App\\Entity\\FieldsParam::FIELD_CODE_TYPE_DEMANDE'),
    field: type.field,
    modalType: type.modalType,
    elements: type.elements,
} %}

<div class="row p-3">
    <div class="col-12 mb-2 wii-small-text">
        Contrairement aux champs libres, les champs fixes ne peuvent ni être supprimés, ni ajoutés. Vous pouvez
        paramétrer leur visibilité ou leur caractère obligatoire.
    </div>
</div>

<div class="wii-section-title">Entête</div>
<div class="wii-section">
    <table id="table-demande-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFields">
        {% include 'datatable/main-header.html.twig' with {
            cells: 6
        } %}
    </table>
</div>

<div class="wii-section-title mt-3">Références/Articles</div>
<div class="wii-section">
    <table id="table-demande-addition-fixed-fields" class="table no-border-top w-100" data-table-processing="fixedFields">
        {% include 'datatable/addition-table-header.html.twig' with {
            cells: 6
        } %}
    </table>
</div>
