{% import 'form.html.twig' as form %}

<div class="row sub-content">
    <div class="col-12">
        {{ form.checkbox(setting('MANAGE_LOCATION_COLLECTE_DROPDOWN_LIST'), 'Gérer le champ "Destination" en liste déroulante', false, setting_value('MANAGE_LOCATION_COLLECTE_DROPDOWN_LIST')) }}
    </div>
</div>
