{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12">
            {{ form.checkbox(setting('MANAGE_LOCATION_COLLECTE_DROPDOWN_LIST'), 'Gérer le champ "Point de collecte" en liste déroulante', false, setting_value('MANAGE_LOCATION_COLLECTE_DROPDOWN_LIST')) }}
        </div>
    </div>
</div>
