{% import 'form.html.twig' as form %}
<div class="wii-section">
    <div class="row">
        <p class="mb-2 ml-2 wii-describe">
            En lien avec les IOT, les modèles de demande permettent de venir se brancher sur un bouton connecté et ainsi
            de créer automatiquement une demande à l'appui sur un bouton.
            Vous pouvez ajouter les références qui feront parties de ce modèle de demande.
        </p>
    </div>
</div>
