<div class="wii-section">
    <div class="row wii-page-card-header">
        <div class="col-auto ml-auto">
            <button class="btn btn-primary d-flex align-items-center"
                    onclick='openFormPurchaseRequestPlanner($(this))'>
                <span class="wii-icon wii-icon-plus mr-2"></span>
                Planifier un achat
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="purchasesRulesTable" data-table-processing="purchasesTable"></table>
        </div>
    </div>
</div>

{{ include('settings/stock/demandes/purchase-request-planner/modalFormPurchaseRequestPlanner.html.twig') }}
