<div>
    <button class='btn btn-silent delete-row' data-id='{{ purchaseRequestScheduleRule }}'>
        <i class='wii-icon wii-icon-trash text-primary'></i>
    </button>
    <button
        class='btn btn-silent action-on-click'
        data-id='{$mission->getId()}'
        onclick=''>
    </button>
</div>
