<div>
    <button class='btn btn-silent delete-row delete-purchase-request-schedule-rule' data-id='{{ purchaseRequestPlan.id }}'>
        <i class='wii-icon wii-icon-trash text-primary'></i>
    </button>
    <button
        class='btn btn-silent action-on-click'
        data-id='{{ purchaseRequestPlan.id }}'
        onclick='openFormPurchaseRequestPlanner($(this))'>
    </button>
</div>
