<div class="wii-section">
    <div class="row">
        <p class="col-12 mb-3 wii-small-text">
            Le statut est fait pour paramétrer un workflow, soit les étapes successives permettant d'aller vers
            la validation de l'achat, voire la création d'un attendu de réception. Vous pouvez modifier et ajouter des statuts
        </p>
    </div>
    <div class="row wii-page-card-header">
        <div class="col-auto ml-auto">
            {% if can_edit %}
                <button class="btn btn-primary d-none add-row-button d-flex align-items-center">
                    <span class="wii-icon wii-icon-plus mr-2"></span>Ajouter
                </button>
            {% endif %}
        </div>
    </div>

    <table id="purchase-request-statuses-table" data-table-processing="genericStatuses"></table>
    <input type="hidden" name="status-state-options" value="{{ optionsSelect | json_encode }}">
</div>
