{% extends 'layout.html.twig' %}

{% block title %}Fournisseurs index{% endblock %}

{% block page_content %}
<h1>Fournisseurs</h1>

<div class='row btn'>
    <a href={{ path('fournisseurs_new') }} class="button btn-left">
        <span class="fa fa-plus"></span>Nouveau Fournisseur
    </a>
</div>

<table  id="table_id" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Code de réference</th>
            <th>actions</th>
        </tr>
    </thead>

</table>
{% endblock %}

{% block javascript %}
<script>
    var table = $('#table_id').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        ajax: "{{path('fournisseur_api')}}",
        columns: [
            { "data": 'Nom' },
            { "data": 'Code de réference' },
            { "data": 'actions' },

        ],
       
    });
    
</script>


{% endblock %}