<div class="modal fade"
     id="modalComponentTypeSecondStep"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter un composant"
            } %}

            <div class="modal-body">
                <form class="content"></form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements:
                [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', type: 'submit', text: 'Enregistrer'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
