<form method="" class="modal fade" id="modalDeleteTransportRequest" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
{#            Where title ?????#}
            {% include('utils/modal/header.html.twig') with {
                title: ""
            } %}

{#            <div class="modal-header">#}
{#                <h5 class="modal-title wii-title"></h5>#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
{#            </div>#}
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button name='request' type="button"
                        class="btn btn-danger data confirm">Supprimer</button>
            </div>
        </div>
    </div>
</form>
