<div class="modal fade" role="dialog" id="modalNewTransportRequest" data-modal-type="new">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title wii-title">Demande de transport</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'transport/request/form.html.twig' with {
                    request: newRequest,
                    types: types,
                    natures: natures,
                    temperatures: temperatures,
                } %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
