<div class="modal fade" role="dialog" id="modalTransportRequestPacking">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Colisage"
            } %}

            <div class="modal-body">

            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Imprimer', type: 'submit'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
