<mjml>
    <mj-head>
        <mj-attributes>
            <mj-class name="mjclass" font-size="30px"/>
        </mj-attributes>
        <mj-style inline="inline">
            .purple-text { color: #1AB394; }
        </mj-style>
    </mj-head>
    <mj-body>
        <mj-section background-color="white">
            <mj-column>
                <mj-include path="logo-gtlogistics.mjml.twig"/>
                <mj-table>
                    <tr>
                        <td class="container" width="600"></td>
                    </tr>
                    <tr>
                        <td class="content-wrap">
                            {% if title is defined %}
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block">
                            <h3>{{ title }}</h3>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>
                            {% block content %} {% endblock %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            L'équipe GT Logistics
                        </td>
                    </tr>
                    <tr>
                        {% if urlSuffix is not defined %} {% set urlSuffix = '' %} {% endif %}
                    </tr>
                </mj-table>
                <mj-text>
                    {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
                        <p>PS : En cas de changement de Drop Zone, merci de nous avertir pour que nous puissions mettre à jour la base de données.
                            Ecrivez-nous aux adresses suivantes : j.amengual@gt-logistics.fr, s.marion@gt-logistics.fr
                        </p>
                    {% endif %}
                </mj-text>
                <mj-button background-color="#130078">
                    <a class="purple-text" href="{{ app.request.getSchemeAndHttpHost() }}/{{ urlSuffix }}">
                        {% if buttonText is defined %}
                            {{ buttonText }}
                        {% else %}
                            Cliquez ici pour accéder à Follow GT
                        {% endif %}
                    </a>
                </mj-button>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
