<mjml>
    <mj-head>
        <mj-attributes>
            <mj-class name="email-title" color="#212b35" font-weight="bold" font-size="18px"/>
            <mj-class name="email-content" font-size="15px"/>
            <mj-class name="button-followgt" background-color="#130078" color="white"/>
        </mj-attributes>
        <mj-style inline="inline">
            .button-followgt a {
            text-decoration: none;
            color: white
            }
        </mj-style>
    </mj-head>
    <mj-body>
        <mj-section background-color="white" full-width="full-width">
            <mj-column>
                <mj-include path="logo-gtlogistics.mjml.twig"/>
                {% if title is defined %}
                    <mj-text mj-class="email-title">{{ title }}</mj-text>
                {% endif %}
                <mj-text mj-class="email-content">
                    {% block content %}{% endblock %}
                </mj-text>
                <mj-text mj-class="email-content">
                    L'équipe GT Logistics
                </mj-text>
                <mj-text>
                    {% block postScriptum %}{% endblock %}
                </mj-text>
                <mj-button css-class="button-followgt" mj-class="button-followgt">
                    {% if urlSuffix is not defined %} {% set urlSuffix = '' %} {% endif %}
                    <a href="{{ app.request.getSchemeAndHttpHost() }}/{{ urlSuffix }}">
                        {% if buttonText is defined %}
                            {{ buttonText }}
                        {% else %}
                            Cliquez ici pour accéder à Follow GT
                        {% endif %}
                    </a>
                </mj-button>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
