{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | Arrivage camion | Détails{% endblock %}
{% block title_tooltip %}Traçabilité | Arrivage camion | Détails{% endblock %}
{% block titleLink path('truck_arrival_index') %}

{% block page_content %}
    <input type="hidden" id="truckArrivalId" value="{{ truckArrival.id }}"/>

    <div class="p-3">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "truck_arrival/truck-arrival-show-header.html.twig" with {
                        truckArrival: truckArrival,
                        showDetails: showDetails,
                    }%}
                </div>

            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-6">
                <div class="wii-box">
                    <div class="header wii-title d-flex justify-content-between">
                        <span>Liste des numéro de tracking</span>
                        <span class="wii-field-text">Nombre de n° de tracking associé :</span>
                    </div>
                    <div class="content">

                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="wii-box">
                    <div class="header wii-title">
                        <span>Gestion des réserves</span>
                    </div>
                    <div class="content">

                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include "truck_arrival/modalDeleteTruckArrival.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('truck-arrival-show') }}
{% endblock %}
