{#
    {
        id:
        size:
        header: {
        }
        footer: {
        }
    }
#}

<div class="modal fade {{ class ?? null }}" id="{{ id ?? null }}" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered {{ size ?? '' }}" role="document">
        <div class="modal-content">
            {% if header %}
                {% include 'utils/modal/header.html.twig' with header %}
            {% endif %}
            <div class="modal-body container-fluid">
            </div>
            {% if footer %}
                {%  include 'utils/modal/footer.html.twig' with footer %}
            {% endif %}
        </div>
    </div>
</div>
