<div class="modal fade"
     id="modalDeleteSensorWrapper"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Confirmation de suppression"
            } %}

            <div class="modal-body">
                <input type="hidden"
                       value=""
                       name="id"
                       class="data"/>
                Voulez-vous réellement supprimer cet approvisionnement de capteur ?
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-danger submit-button data', text: 'Supprimer'},
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
