<div class="modal fade"
     id="modalEditSensorWrapper"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Provisionner un capteur"
            } %}

            <div class="modal-body"></div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="submit-button btn btn-success data" name="id" value="">Valider</button>
            </div>
        </div>
    </div>
</div>
