<div class="modal fade"
     id="modalEditSensorWrapper"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Provisionner un capteur"
            } %}

            <div class="modal-body"></div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data submit-button', name: 'id', text: 'Valider'}
                ],
            } %}

        </div>
    </div>
</div>
