{% extends 'layout.html.twig' %}

{% block title %}IoT | Capteurs{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        {% if hasRight(constant('App\\Entity\\Menu::IOT'), constant('App\\Entity\\Action::CREATE')) %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <div class="btn btn-primary btn-ripple"
                         onclick="sensorWrapperProvision()">
                        <span class="fa fa-file-csv mr-2"></span>Provisionner un capteur
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table id="tableSensorWrapper" class="table w-100"></table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/iot/sensor-wrapper-index.js') }}?v={{ web_version }}"></script>
{% endblock %}
