{% extends 'base.html.twig' %}

{% block title %}Edit Ordres{% endblock %}

{% block body %}
    <h1>Edit Ordres</h1>

    {{ include('ordres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ordres_index') }}">back to list</a>

    {{ include('ordres/_delete_form.html.twig') }}
{% endblock %}